<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
		 <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 2 > </a>  relatório 1º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat.2-rel1.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Colesterol ainda é um assunto polêmico e rodeado de mitos, mesmo depois de tantos anos sendo estudado, ainda é motivo de divisão entre profissionais da saúde.</p>
			<p>O objetivo destes relatórios é esclarecer para você leitor, de forma simples e compreensível, o que a boa ciência nos mostra com estudos de alto nível de evidência científica. Ao ler todos os relatórios, você estará entendendo de forma integral a grande verdade sobre o colesterol. Afinal, ele é ou não é um vilão?</p>
			<p>Reuni para você <b>informações valiosas</b> sobre o assunto e as reproduzi de forma que você possa entender e passar para seus familiares.</p>
			<p>Para começar, preciso que você entenda que no mundo da ciência existem bons e maus cientistas. Isso é normal de todo âmbito profissional, certo? Podemos encontrar bons e maus profissionais em qualquer área.</p>
			<p>Porém, maus cientistas podem simplesmente acabar com a saúde de uma geração por conduzir e apresentar estudos tendenciosos e de metodologia duvidosa.</p>
			<h4>Bons Cientistas x Maus Cientistas</h4>
			<p>Como falei anteriormente, no meio científico existe bons e maus cientistas. Para diferenciá-los criei um esquema para você entender melhor:</p>
			<h4>Bons Cientistas</h4>
			<p>• Conduzem o estudo de forma imparcial e adequada;</p>
			<p>• São avessos a financiamentos com interesses comerciais;</p>
			<p>• Levantam uma hipótese, sem induzir o resultado;</p>
			<p>• Publicam o estudo integralmente.</p>
			<h4>Maus Cientistas</h4>
			<p>• Aceitam financiamentos com fins lucrativos e comerciais;</p>
			<p>• Conduzem o estudo de forma tendenciosa, de acordo com seus interesses ou interesses comerciais;</p>
			<p>• Levantam uma hipótese e induzem o resultado para comprová-la;</p>
			<p>• Publicam apenas o que lhe é interessante no estudo.</p>
			<p>Acredite: estamos repletos de maus cientistas conduzindo estudos de acordo com interesses pessoais, apenas para alimentar seu ego, ou de acordo com interesses comerciais, para enriquecer ainda mais a Indústria.</p>
			<p>É preciso estar atento a isso para que não sejamos enganados. Muitas pessoas não têm conhecimento desta informação e não sabem diferenciar estudos.</p>
			<p>Na realidade, o problema está muito mais enraizado do que parece. Muitos profissionais da área da saúde também não sabem diferenciar estudos e acabam reproduzindo informações erradas ou distorcidas para seus pacientes. Isto tem consequências gravíssimas, e falaremos sobre elas no segundo relatório</p>
			<p>Saber diferenciar estudos e entender o peso de cada tipo de estudo é básico e ao mesmo tempo muito importante para compreender as demais informações que serão passadas neste presente relatório. Por isso, vou mostrar para você de forma clara e simples, para que você e sua família possam entender como diferenciar estudos.</p>
			<p>Ao ler e entender este relatório saiba que você estará à frente de muitos profissionais da saúde que não tem ideia de como fazer isso!</p>
			<p>Então vamos entender?</p>
			<h4>Entendendo Níveis de Evidência Científica</h4>
			<p>A necessidade de utilizar boas evidências no manejo de doenças e na prática clínica é primordial para tratar ou prevenir doenças com maior eficácia.</p>
			<p>Por isso, é preciso estabelecer o que são evidências científicas, quais são elas e qual é o peso de cada uma. Entenda:<b> evidências científicas não são todas iguais.</b> Cada uma tem seu nível e peso. E com o objetivo de tornar a prática médica mais eficaz e respaldada, foi criada a Medicina Baseada em Evidências, chamaremos de MBE.</p>
			<p>A MBE nada mais é do que um elo entre as evidências científicas e a prática clínica. São utilizadas provas científicas existentes e disponíveis de boa validade para aplicação de seus resultados. Ou seja, um bom profissional deve estar respaldado com boas referências e suas práticas clínicas devem ser baseadas em evidências.</p>
			<p>Como disse anteriormente, há estudos com impactos diferentes e isto é caracterizado por uma hierarquia. Esta hierarquia mede o nível de confiabilidade do estudo.</p>
			<p>Abaixo falarei sobre as principais e mais comuns no meio científico:</p>
			<h4>Opinião de Especialista ou Opinião Pessoal</h4>
			<p>Na verdade, não podemos chamar este tipo de prática de estudo. Mas este é de fato o nível mais baixo de evidência, se colocado como um tipo de estudo.</p>
			<p>Opinião de profissionais, especialistas, mesmo que seja um profissional com um vasto currículo e títulos acadêmicos, é caracterizada por opinião pessoal e no meio científico não tem nenhuma validade ou confiabilidade. Ou seja, não há nenhum peso científico.</p>
			<p>Contudo, quando não há nenhum dado sequer sobre o assunto na literatura, aceita-se a opinião de um profissional especialista como uma evidência temporária.</p>
			<h4>Relato de Caso</h4>
			<p>Trata-se de uma série de casos com objetivo de extrair dados estatísticos sobre determinada doença ou circunstância. Ou seja, não tem poder afirmativo, serve apenas levantamento de dados, como por exemplo, a idade média e sexo de pessoas com determinado tipo de doença.</p>
			<p>Ou seja, podemos dizer que é apenas um informativo.</p>
			<h4>Estudos de Caso-controle</h4>
			<p>Este é caracterizado por um estudo aplicado em um grupo de pessoas e o pesquisador compara com outro grupo de pessoas que não têm a doença.</p>
			<h4>Estudos Ecológicos</h4>
			<p>Comparam populações com diferentes características. Ou seja, focaliza na comparação de grupos ou população de uma área geográfica definida.</p>
			<h4>Estudos de Coorte</h4>
			<p>Neste tipo de estudo, se obtém dados através de questionários e exames, de um grande número de pessoas, e os acompanha por vários anos com o intuito de identificar quem desenvolve doenças, de forma a identificar possíveis fatores de risco no passado.</p>
			<h4>Ensaio Clínico Randomizado</p>
			<p>Esta metodologia consiste em “sortear” um grande número de pessoas de forma aleatória para dois ou mais grupos. Em geral, um grupo é submetido à intervenção em questão, seja um medicamento, dieta ou um único alimento e o outro grupo é chamado de grupo-controle, fica isento da intervenção.</p>
			<p>Este sorteio garante que os grupos sejam semelhantes em tudo, exceto na intervenção testada. Este estudo é o único capaz de sugerir relações de causa e efeito.</p>
			<h4>Revisão Sistemática de Ensaios Clínicos Randomizados</h4>
			<p>Por fim, o mais alto nível de evidência científica, chamado de nível 1A segundo a classificação do Oxford Centre for Evidence-Based Medicine.</p>
			<p>Este tipo de estudo consiste em reunir e revisar de forma sistemática os ensaios clínicos randomizados com objetivo de reduzir possibilidades de erros. Assim, esta revisão ou metanálise, combina todos os dados de ensaios clínicos de um mesmo tema. Isto a confere um peso superior a qualquer outro nível de evidência científica.</p>
			<p>Temos muitas metanálises que comprovam a NÃO relação de consumo de gorduras saturadas e aumento do colesterol com o risco de doença cardiovascular, falaremos sobre estes estudos no próximo relatório.</p>
			<p>Portanto, é importante saber diferenciar fontes e referências científicas. Saber diferenciar o peso de cada uma e basear-se em referências de maior peso. Esse é o primeiro passo rumo à ciência da verdade, livre de informações tendenciosas e distorcidas.</p>
	
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>A História Por Trás do Mito</h4>
			<p>Agora que já estabelecemos o que são e quais são os níveis de evidência científica, podemos ir adiante.</p>
			<p>Você sabia que o grande mito do colesterol ser o vilão da saúde foi levantado e sustentado devido a um estudo tendencioso e mal conduzido feito por um cientista extremamente vaidoso?</p>
			<p>Lembre-se que para ser um mau cientista, antes mesmo de obter-se resultado, ele já conduz o estudo de maneira que o resultado seja o que ele espera. E foi assim que aconteceu com os estudos sobre o colesterol em meados dos anos 70.</p>
			<p><b>Ancel Keys</b> é o nome do cientista responsável por ter disseminado um dos maiores, se não<b> O MAIOR ERRO </b>na nutrição.</p>
			<p>Este foi o bioquímico responsável pela difamação das gorduras saturadas nos anos 70, depois de ter realizado um estudo de evidência duvidosa e tendenciosa. O problema deste estudo é que ele foi realizado para afirmar uma hipótese já pré-estabelecida por ele, assim como expliquei anteriormente, ele foi um mau cientista.</p>
			<p>A sua teoria era de que:</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-29.png"></div>
			<p>Inicialmente causou um impacto e muitos outros cientistas tentaram derrubar esta teoria. Porém, sua teoria foi intensificada quando interesses de políticos, indústrias alimentícias e agronegócio foram envolvidos.</p>
			<p>Com isso, diretrizes nutricionais foram estabelecidas por um grupo de jornalistas e advogados (não deveriam ser profissionais da saúde?) e assim surgiu a Pirâmide Alimentar (falaremos sobre ela mais adiante).</p>
			<p>Era de grande interesse político e econômico que no lugar das gorduras, fossem incluídos cereais como trigo, por exemplo. A produção aumentou, a indústria do açúcar enriqueceu e financiou estudos também fraudulentos que pudessem amenizar o estrago que ela tem feito na saúde da população mundial.</p>
			<p>Gorduras naturais (saturadas) foram substituídas por óleos vegetais poli-insaturados, como o de soja (uma grande indústria que inclusive é responsável por grande parte da poluição mundial), óleo de milho, de girassol, de algodão, óleo de canola e margarina. Todos estes óleos são altamente inflamatórios e estes sim podem aumentar o risco cardiovascular se consumidos diariamente, como ocorre na maioria dos lares.</p>
			<p>Assim, com estudos fraudulentos e interesses políticos, o mundo ocidental adoeceu com as diretrizes nutricionais. Pessoas estão diabéticas, hipertensas, obesas e sofrendo diversas outras doenças do século como Alzheimer, AVC, infartos...</p>
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<p>No relatório seguinte falaremos mais sobre as consequências graves deste estudo mal conduzido e falaremos também sobre os dados assustadores da saúde pública no mundo depois destas diretrizes nutricionais.</p>
	
		</div>
	</div>
		<!-- fim modulos -->
		

  <div class="row">
	  <div class="col s12 center">
		
		  <h4>VÍDEO - RELATÓRIO 2</h4>    
	  <div class="video-container">
       <iframe src="https://player.vimeo.com/video/210315811" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
		<div class="espaco"><br></div>  
		<h4>PODCAST - RELATÓRIO 2F</h4>      
     
		
 </div>		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




		<!-- CSS files -->
		{% if (env == 'development') %}
		{% for file in assets.main.css_drcv_rel %}
		<link rel="stylesheet" href="{{ file }}">
		{% endfor %}
		{% endif %}

		{% if (env == 'production') %}
		<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
		<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
		<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
		<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
		{% endif %}

		<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


		<!-- JS files -->
		{% if (env == 'development') %}
		{% for file in assets.main.js %}
		<script type="text/javascript" src="{{file}}"></script>
		{% endfor %}
		{% for file in assets.main.drcv_relatoriojs %}
		<script type="text/javascript" src="{{file}}"></script>
		{% endfor %}
		{% endif %}

		{% if (env == 'production') %}
		<script type="text/javascript" src="/build/js/main.min.js"></script>
		<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

		<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
		<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
		<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
		<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
		<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
		<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
		<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
		{% endif %}


	

<body>
</body>
</html>
