<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
         <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 2 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat2-rel2.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Toda ação tem uma reação. Afinal de contas, conduzir estudos de forma errada e duvidosa só poderia ter ocasionado consequências devastadoras e até mortais. Como diretrizes nutricionais que teriam objetivo de melhorar e manter a saúde da população, na verdade está fazendo o inverso?</p>
			<p>Neste relatório você poderá entender o que dizem nossas atuais diretrizes e quais foram as consequências disso tudo na saúde pública do Brasil. Mas antes, vamos recapitular o que vimos no relatório anterior.</p>
			<p>No relatório I, “O Início de Tudo”, você pôde aprender a identificar e diferenciar bons e maus cientistas. Você pôde observar a importância da Medicina Baseada em Evidências e pôde ver que cada estudo tem um peso e uma hierarquia que deve ser respeitada.</p>
			<p>A partir disso, eu expliquei para você os principais tipos de estudos e como eles são feitos, ou seja, a metodologia de cada um. De forma clara e objetiva, agora você sabe o quão importante é entender um pouco de ciência e saber ser crítico ao analisar um estudo.</p>
			<p>Você também pôde saber como começou o mito do colesterol e gorduras saturadas e como ocorreu sua abominação das diretrizes nutricionais e alimentação mundial.</p>
			<p>Neste presente relatório, vamos falar sobre o que aconteceu com a saúde da população mundial depois disso. Discutiremos também sobre as diretrizes nutricionais brasileiras e sobre a pirâmide alimentar.</p>
			<p>Infelizmente a ciência é um negócio. Estudos são financiados por grandes indústrias alimentícias e farmacêuticas que querem publicar resultados tendenciosos que fomentam seus interesses.</p>
			<p>E foi exatamente isto que aconteceu em meados dos anos 80. Políticos e jornalistas se uniram para estabelecer o maior erro nutricional de todos os tempos: a Pirâmide Alimentar.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-28.png" ></div>
			<p>a Pirâmide Alimentar foi criada por políticos e jornalistas e não por médicos e nutricionistas. Faço este questionamento a você: Como pessoas que não são da área da saúde podem estabelecer diretrizes nutricionais que foram perpetuadas e são seguidas até os dias de hoje? Estas pessoas não estudaram a saúde humana, não entendem como o corpo funciona e não sabem como prevenir ou tratar doenças. O único interesse destas pessoas era o lucro.</p>
			<p>Foram eliminados alimentos que já estavam presentes na alimentação humana desde os tempos em que vivíamos nas cavernas, por puro interesse comercial, uma vez que quem levou adiante a ideia inicial desta diretriz foi o Departamento de Agricultura dos Estados Unidos.</p>
			<p>Observe a base da pirâmide que representa a maior parte do que dizem que devemos ingerir durante o dia. Ela é composta por carboidratos que são representados por massas, pães, batatas, biscoitos, grãos e cereais. O recomendado é que seja ingerida de 5 a 9 porções ao dia deste grupo de alimentos, o que significa que a maior parte da sua ingestão diária deve ser através de carboidratos.</p>
			<p>Logo a seguir, vegetais e frutas se encontram em menor porção, 4-5 porções e 3-5 porções respectivamente. Após, vêm os laticínios e proteínas, que são recomendados em no máximo 1 a 2 porções, a mesma quantidade que açúcares, doces, e óleos vegetais.</p>
			<h4>Veja com seus próprios olhos:</h4>
			<p>Como podemos considerar esta uma alimentação equilibrada se mais da metade deve vir de carboidratos, e se igualaram a porção de proteínas com açúcares e óleos industrializados?</p>
			<p>Você também pode observar que as gorduras saturadas foram excluídas. Estas gorduras que ocorrem de forma natural nos alimentos foram substituídas por gorduras feitas pela indústria. Óleo de soja, canola, milho, girassol, algodão... Todos precisam passar por processos físicos e químicos para serem extraídos de forma artificial destes alimentos. Alguns são inclusive geneticamente modificados, como a canola e a soja.</p>
			<p>A boa e velha manteiga foi substituída pela margarina, gordura vegetal hidrogenada e rica em gorduras trans, uma gordura altamente perigosa para a saúde cardiovascular.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-piramide-alimentar-3.png" ></div>

		</div>
	</div>
		<!-- fim modulos -->
				<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   <p>Assim se deu o que chamo de “abominação das gorduras saturadas”. As pessoas até hoje têm medo deste tipo de gordura e sempre que ouvem sobre ela, associa com algo maléfico à saúde. Uma associação totalmente equivocada e que mais adiante vou mostrar isto para você.</p>
		   <p>Agora, observe o gráfico abaixo. Ele mostra como a recomendação das diretrizes nutricionais fez com que houvesse aumento na obesidade a ponto dela se tornar hoje uma <b>epidemia mundial.</b></p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/grafico-001-1.png" ></div>	
		   <p>Veja como à medida que a ingestão de gorduras foi diminuindo com o passar dos anos, proporcionalmente a porcentagem de pessoas acima do peso foi aumentando.</p>
		   <p>Além disso, nosso país conta com 50% da população com obesidade e sobrepeso e 16 milhões de diabéticos. Ambas as enfermidades causadas principalmente devido à má alimentação, que hoje é rica em farinhas refinadas, óleos vegetais e alimentos processados.</p>
		   <p>E não paramos por aí. A mortalidade por doenças cardiovasculares aumentou assim como o número de pessoas que sofrem com hipertensão, AVC e infartos. No Brasil, 30% das mortes são devido a doenças cardiovasculares, o que coloca nosso país entre os 10 países com maior índice de mortes por este motivo.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-27.png"></div>	
		   <p>E mesmo assim, evitar gorduras naturais tornou-se um dogma e aliado a isto, houve um aumento absurdo na produção e venda de medicamentos para diminuir o colesterol sanguíneo. Médicos e mais médicos prescrevem estatinas se constatam que o colesterol do paciente está alto (veremos sobre colesterol sanguíneo mais adiante).</p>
			<p>O que quero que você entenda agora é que as diretrizes atuais estão adoecendo nossa população cada vez mais. Mas não é só isso, as diretrizes para pessoas já adoecidas também estão totalmente equivocadas.</p>
			<p>Um exemplo disto é a diretriz nutricional para pessoas diabéticas. Para você entender melhor, diabéticos são pessoas que têm dificuldade ou não metabolizam a glicose, com isto, ela fica circulante no sangue aumentando a glicemia (glicose sanguínea) e ocasionando diversas complicações como cegueira, problemas renais, cardiovasculares e etc.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
				<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   <p>A Sociedade Brasileira de Diabetes provavelmente ignorou este fato e recomenda para diabéticos que 45 a 60% de sua alimentação diária seja composta por carboidratos. Ou seja, farinhas, massas, cereais, raízes... Tudo isto também deve estar em maior quantidade na alimentação de um diabético, mesmo que o problema dele seja metabólico, relacionado justamente a este macronutriente. Pois carboidratos são absorvidos como açúcar, independente de sua fonte, eles viram açúcar em nosso organismo.</p>
		   <p>Dizer a um diabético para se alimentar de carboidratos em mais da metade de sua ingestão diária é o mesmo que dizer para uma pessoa com intolerância à lactose consumir mais leite em sua rotina alimentar. É o mesmo que dizer para um celíaco (alérgico ao glúten), consumir mais trigo em suas refeições.</p>
		   <p>No entanto, a recomendação nutricional para pessoas com intolerância ou alergia a algum nutriente é de excluir este nutriente de sua alimentação. Menos para os diabéticos. Eles possuem intolerância a glicose, mas são orientados a comer de<b> 45% a 60% de carboidratos diariamente!</b></p>
		   <p>Ainda nesta diretriz, há uma recomendação de limitar o consumo de gorduras saturadas e colesterol. Dois nutrientes que, bioquimicamente falando, não causam impacto algum na glicose sanguínea e cientificamente falando, também não causam doenças cardiovasculares. Observe abaixo a tabela retirada da diretriz da Sociedade Brasileira de Diabetes.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/quadro-001.png"></div>
			<p>Eu lhe pergunto: Para onde estamos caminhando com toda essa informação equivocada?</p>
			<p>Você está sendo privilegiado em ter acesso a essas informações esclarecedoras. Mas existe boa parte da população que não têm esta mesma oportunidade. Como ficará a saúde destas pessoas?</p>
			<p>Agora você pode perceber que se seguirmos exatamente o que os grandes órgãos de saúde que regem nosso país preconizam, ficaremos adoecidos e as doenças que já existem serão agravadas.</p>
			<p>Por isso eu digo que a informação correta e verdadeira pode salvar vidas.</p>
			<p>No próximo relatório explicarei com clareza o que é colesterol e quais são suas funções no organismo humano. Também vou lhe apresentar os estudos que comprovam que não há relação de consumo de gorduras saturadas e colesterol com doenças cardíacas. E ensinarei a você como interpretar seus exames da maneira correta e atualizada.</p>
			
			
		</div>
	</div>
		<!-- fim modulos -->
		
		
	
  <div class="row">
	  <div class="col s12 center">
		
		  <h4>VÍDEO - RELATÓRIO 2</h4>    
	  <div class="video-container">
     <iframe src="https://player.vimeo.com/video/210323229" width="640" height="480" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

      </div>
		  
	  </div>
		
 </div>		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>





<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	
	

<body>
</body>
</html>
