<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 2 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat2-rel3.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		  <p>Até agora nós podemos ver como começou todo o mito do colesterol e a abominação da gordura saturada. Vimos também quais foram as reais consequências de tudo isso.</p>
		  <p>O mundo se colocou em uma situação de calamidade. Cada ano que passa mais e mais pessoas sofrem com doenças crônicas e modernas: obesidade, diabetes, hipertensão, infarto, AVC, Mal de Alzheimer... Todas essas doenças se dão devido ao estilo de vida e também devido às más orientações nutricionais. Nossas diretrizes não previnem e muito menos tratam doenças, muito pelo contrário, elas nos colocam em risco.</p>
		  <p>Neste relatório você poderá conferir estudos de elevado nível de evidência científica que comprovam a<b> NÃO RELAÇÃO </b> entre colesterol e gorduras saturadas com doenças cardiovasculares.</p>
		  <p>Mas antes, vamos entender o que é colesterol e qual é o seu papel no nosso organismo. Será que ele é tão ruim assim ou será que ele é fundamental?</p>
		  <div class="center-align"><img class=" responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-25.png"></div>
		  <p>Para começar, vamos esclarecer algo muito importante: colesterol não é uma doença, portanto não precisa de tratamento, nem prevenção e nem cura.</p> 	
		  <p>Quimicamente falando, colesterol é um álcool cujo sua estrutura química é policíclica e de cadeia longa. O colesterol está presente nas membranas celulares de todos os animais. Ele é fundamental na síntese de vários hormônios (por exemplo, a testosterona e a progesterona), sais biliares e inclusive da vitamina D.</p> 	
		  <p>Esta substância é tão imprescindível ao nosso organismo, que a maior parte dela nós mesmos produzidos. Sim, <b>nós produzimos colesterol.</b> Cerca de 70% é proveniente do nosso próprio organismo, enquanto apenas 30% são adquiridos através da dieta.</p> 	
		  <h4>Suas funções fundamentais são:</h4>
		  <p>• Formação e proteção de membranas celulares; Síntese de vitamina D e hormônios sexuais (testosterona e progesterona);</p>	
		  <p>• Auxilia na fabricação de sais biliares que ajudam a digerir gorduras;</p>	
		  <p>• Necessário para o funcionamento correto de receptores de serotonina no cérebro, substância responsável pela sensação de bem-estar;</p>	
		  <p>• Está relacionado a processos de sinalização celular que permitem a mediação de atividades e funções celulares;</p>	
		  <p>• Pequenos estudos já têm levantado hipóteses de que ele pode ter função antioxidante.</p>	
		  <p>Como você pode ver, o colesterol é extremamente fundamental para atividades fisiológicas e vitais do corpo. Sem ele, provavelmente, estaríamos doentes ou mortos.</p>	

		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   <p>Nós precisamos do colesterol para garantir a integridade do nosso organismo. E por isso, não é correto pensar que colesterol precisa ser tratado como uma doença.</p>
		   <p>Mas, infelizmente, não é assim que vem acontecendo. Muitos profissionais insistem em tratá-lo como uma doença e por isso, prescrevem medicamentos a base de estatinas para diminuir os níveis séricos de colesterol.</p>
		   <p>Estatinas são medicamentos que agem inibindo uma enzina importante na produção de colesterol no fígado.</p>
			<div class="center-align"><img class=" responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-05-1.png"></div>
			<p>Trata-se de uma indústria poderosa e bilionária, rendendo 20 bilhões de dólares por ano, além de estar entre os medicamentos mais vendidos de toda a história da medicina. Ela é anunciada como um medicamento milagroso capaz de diminuir os níveis de colesterol sanguíneo e prevenir problemas cardíacos supostamente causados pelo aumento do colesterol.</p>
			<p>Sua ineficácia e efeitos colaterais sempre foram evidentes, porém ignorados.</p>
			<p>Entenda que ao diminuir o colesterol, nosso corpo fica desprotegido, há redução nos níveis de energia, interferência no funcionamento de glândulas e síntese de hormônios importantes, queda de função sexual e queda na reprodução. Nosso cérebro também é vítima, pode ficar danificado e aumentar o risco de doenças como Mal de Alzheimer e Parkinson.</p>
			<p>Portanto, não há benefício algum tomar este medicamento com o objetivo de prevenir doenças cardiovasculares, pois sua função é diminuir a produção de colesterol e essas duas situações <b>NÃO ESTÃO</b> associadas e eu vou lhe provar baseado na ciência.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Colesterol e Doença Cardíaca: O Que A Boa Ciência Mostra?</h4>
			<p>Vou lhe apresentar algumas das metanálises de ensaios clínicos randomizados que comprovam a não relação de consumo de gorduras saturadas com aumento de colesterol e doenças cardíacas.</p>
			<p>Para relembrar, como vimos no primeiro relatório, matanálise é um conjunto de estudos, e ensaios clínicos randomizados são estudos feitos em humanos onde parte do grupo é submetido a um procedimento enquanto a outra parte é o grupo-controle. Estes grupos são divididos de forma aleatória, sorteados, por isso é chamado de randomizado. A randomização dos grupos permite que não haja nenhuma falha e indução de resultados.</p>
			<p>Em outras palavras, é o maior nível de evidência científica.</p>
			<p>O maior estudo realizado para comprovar o contrário da teoria do Ancel Keys foi Multiple Risk Of Intervension Trial. Este estudo, prospectivo e randomizado, testou a mudança de vários hábitos que seriam considerados fatores de risco de morte. Um dos testes foi com a redução de consumo de gordura na alimentação.  (<a href="http://jamanetwork.com/journals/jama/article-abstract/377969">http://jamanetwork.com/journals/jama/article-abstract/377969</a>)</p>
			<p>Este estudo, de 1972, recrutou 12.866 homens considerados com alto risco de doença cardiovascular e os sorteou (randomizou) para dois grupos: um grupo controle e outro grupo com orientação para cessar o tabagismo, tratar hipertensão e adotar uma dieta para baixar os níveis de colesterol sanguíneo.</p>
			<p>A orientação nutricional consistia em diminuir o consumo de gorduras saturadas para menos de 10% do consumo total diário de calorias, de colesterol para menos de 300g por dia e aumentar o consumo de gorduras poli-insaturadas para mais de 10%, ou seja, praticamente o que dizem nossas diretrizes nutricionais. Após 7 anos de seguimento do estudo, constatou-se que <b>não houve nenhuma diferença significativa na mortalidade entre os grupos.</b></p>
			<p>Outro estudo, este de 2006 e realizado apenas com mulheres, avaliou mais de 48.800 mulheres, com objetivo de avaliar o efeito de uma dieta pobre em gorduras na saúde cardiovascular e incidência de câncer de mama.</p>
			<p>Após oito anos de seguimento, este estudo também concluiu que não houve grande impacto em nenhum dos desfechos.  (<a href="http://jamanetwork.com/journals/jama/fullarticle/202339">http://jamanetwork.com/journals/jama/fullarticle/202339)</a></p>
			<p>Outra metanálise, esta publicada em 2010 no “The American Journal Of Clinical Nutrition”, revista científica importante na área de nutrição, avaliou a associação de ingestão de gorduras saturadas e doença cardíaca.</p>
			<p>A conclusão desta metanálise é que nenhum dos 21 estudos mostraram relação significante entre consumo de gorduras saturadas e doenças cardiovasculares. (<a href="https://www.ncbi.nlm.nih.gov/pubmed/20071648">https://www.ncbi.nlm.nih.gov/pubmed/20071648</a>)</p>
			<p>Este artigo publicado na revista Open Heart, fala sobre as consequências metabólicas de substituir gorduras saturadas por carboidratos. Sua conclusão foi de que os benefícios de uma dieta de baixo teor de gordura (substituído por aumento de carboidratos) são altamente questionáveis: “As diretrizes alimentares devem avaliar a totalidade de evidência e reconsiderar suas recomendações para a substituição de gorduras saturadas por carboidratos ou gorduras poli-insaturadas”. (<a href="http://openheart.bmj.com/content/1/1/e000032.full">http://openheart.bmj.com/content/1/1/e000032.full</a>)</p>
			<p>Para que nossos relatórios não fiquem altamente científicos e de difícil compreensão, selecionei estes estudos para apresentar a você. Mas caso você deseje se aprofundar no assunto, disponibilizo o link de todos os estudos no final deste relatório.</p>
			<p>Com o que foi apresentado até agora, você pôde perceber que as diretrizes estão na contramão do que chamamos de saudável. Definitivamente é preciso rever os hábitos alimentares da população ocidental.</p>
			<p>Mas, não são somente os hábitos alimentares que estão incorretos. A forma a qual a medicina está usando para avaliar risco de doenças cardiovasculares também está errada. Como você pode ver, o colesterol não pode ser um valor de referência para triar doenças cardíacas. Por isso, agora vamos falar sobre exames laboratoriais.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
				<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Como Avaliar Exames Laboratoriais?</h4>
			<p>Visto todos estes exemplos de estudos, os quais estão disponíveis em bases de dados científicos em que qualquer pessoa pode acessar, vamos à questão crucial: como avaliar exames?</p>
			<p>Veja bem, amigo leitor, não estou aqui para ensiná-lo a interpretar exames e fazê-lo dispensar uma consulta médica. Lembre-se que nenhuma informação destes relatórios dispensa uma consulta médica presencial. Porém, quero ensiná-lo a ser mais analítico e crítico e consequentemente mais criterioso ao escolher o médico que vai tratar você e sua família a partir de agora.</p>
			<p>Saiba que muitos estudos os quais definem valores de referência para colesterol total e fração, são financiados pela indústria farmacêutica e pela famosa indústria das estatinas. O que esta indústria quer é tornar estes parâmetros cada vez menores e fazer com que eles sejam cada vez mais cruciais no diagnóstico de doenças cardíacas.</p>
			<p>Antes de começarmos, vale ressaltar que exames laboratoriais não devem ser o único parâmetro para avaliar ou triar doenças. Um exame clínico, estilo de vida e histórico do paciente deve ser levado em consideração e são ferramentas primordiais para prevenir, diagnosticar ou tratar qualquer doença.</p>
			<p>Existe uma série de exames laboratoriais, também conhecidos como exames bioquímicos, os quais são usados diferentes amostras. No nosso caso especificamente, falaremos sobre a amostra sanguínea de colesterol total e suas frações, também chamado de perfil lipídico ou lipidograma.</p>
			<p>Por anos este exame tem sido usado para avaliar risco de doenças cardíacas. Fizeram você decorar que o LDL é o “colesterol ruim” e o HDL é o “colesterol bom”.</p>
			<p>Por estas razões, baixar o colesterol LDL e o colesterol total tem sido o objetivo primário na prevenção de doença cardiovascular.</p>
			<p>Ao abrir o exame de colesterol e fração, podemos encontrar os seguintes parâmetros:</p>
			<p>• Colesterol Total</p>
			<p>• LDL</p>
			<p>• HDL</p>
			<p>• Triglicérides</p>
			<p>• VLDL</p>
			<p>• Colesterol não-HDL</p>
			<p>Ao coletar sua amostra sanguínea, o exame qualifica e quantifica cada um dos parâmetros citados acima. Basear-se apenas no colesterol total e no “colesterol ruim” é simplificar demais um atendimento clínico. É preciso visualizar muito mais do que isso.</p>
			<p>Colesterol HDL e LDL significam lipoproteínas de alta densidade e lipoproteínas de baixa densidade, respectivamente. O colesterol necessita destas lipoproteínas para se transportar pelo plasma sanguíneo.</p>
			<p>A aterosclerose, por exemplo, é uma doença de cunho inflamatório. Para que haja um entupimento em um vaso sanguíneo é necessário que ocorra processos inflamatórios que reúnem várias substâncias que permitem este processo e obstruem a luz do vaso.</p>
			<p>O LDL não é de fato outro marcador para doenças cardíacas assim como o colesterol total também não é. Indivíduos obesos e sedentários, portadores de síndrome metabólica podem apresentar LDL normalizado. Porém, o <b>HDL baixo</b> e os <b>triglicerídeos aumentados</b> são marcadores importantes para diagnóstico de doenças cardiovasculares.</p>
			<p>Os triglicerídeos altos são de fato os reais vilões. Esta é a forma que o nosso organismo armazena energia. Ao ingerir carboidratos como farinhas refinadas e açúcar, nosso fígado transforma este excesso em gordura, que fica armazenada em nossos tecidos adiposos.</p>
			<p>Estas gorduras em excesso são, de fato, perigosas e têm origem alimentar.</p>
			<p>Além destes, existem mais dois parâmetros quase não dosados no Brasil: <b>VLDL</b> e <b>IDL. </b>Estes, junto aos triglicerídeos altos, são de fato, valores que devemos ter atenção.</p>
			<p>Outro procedimento atual é analisar as partículas de LDL, porém trata-se de um procedimento caro e pouco utilizado. Estudos epidemiológicos prospectivos têm sugerido que valores elevados de LDL de partículas pequenas estão associados a um risco maior de doença cardíaca.</p>
			<p>Mas, para tornar tudo bem mais simples e aplicável, vou ensinar a você uma conta para avaliar risco cardiovascular, de acordo com a Universidade de Oxford:</p>
			<p>Triglicerídeos dividido por HDL = abaixo de 2 é ideal.</p>
			<p>Triglicerídeos dividido por HDL = acima de 4 é alto.</p>
			<p>Triglicerídeos dividido por HDL = acima de 6 é muito alto.</p>
			<p>Lembrando que esta equação é para valores expressos em mg/dl no seu exame.</p>
			<p>Como disse antes, o estilo de vida é um marcador importante. Portanto, hábitos alimentares saudáveis e prática de exercícios físicos são fundamentais para prevenção e tratamento de doenças.</p>
			<p>Se o seu valor está ideal, continue buscando ser sempre mais saudável, mas não fique parado, evolua sempre! Se o seu valor está alto, busque hábitos alimentares saudáveis e pratique atividades físicas. E se o seu valor está muito alto, tenha bastante atenção e cuidado com sua saúde. Não espere mais, mude hoje mesmo seus hábitos alimentares e comece a praticar exercícios diariamente.</p>
			<p>Não evite as gorduras naturais dos alimentos, exclua os industrializados, exclua farináceos de trigo e outras farinhas refinadas, exclua todo tipo de açúcar e óleos vegetais. Inclua na sua rotina alimentar a boa e velha comida de verdade: vegetais, carnes, ovos, azeite de oliva, óleo de coco, frutas ricas em fibras. Não é difícil, é muito simples!</p>	
			<p>Proteja a sua saúde e a saúde de seus familiares, simplifique sua alimentação comendo o que a natureza nos dá de melhor e evitando cada vez mais o que a indústria nos impõe. Assim, você e sua família poderão viver com energia e qualidade de vida, totalmente livre de doenças.</p>	<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<p>Um forte abraço e até o próximo relatório!</p>	
			<p>Dr. Rocha.</p>	
			<p><a href="http://www.ncbi.nlm.nih.gov/pubmed/20071648">http://www.ncbi.nlm.nih.gov/pubmed/20071648</a></p>	
			<p><a href="http://www.ncbi.nlm.nih.gov/pubmed/19752542">http://www.ncbi.nlm.nih.gov/pubmed/19752542</a></p>	
			<p><a href="http://www.ncbi.nlm.nih.gov/pubmed/24723079">http://www.ncbi.nlm.nih.gov/pubmed/24723079</a></p>	
			<p><a href="http://www.bmj.com/content/346/bmj.e8707">http://www.bmj.com/content/346/bmj.e8707</a></p>	
			<p><a href="http://www.bmj.com/content/353/bmj.i1246">http://www.bmj.com/content/353/bmj.i1246</a></p>	
			<p><a href="http://openheart.bmj.com/content/2/1/e000196.full">http://openheart.bmj.com/content/2/1/e000196.full</a></p>	
			<p><a href="http://www.bmj.com/content/351/bmj.h3978">http://www.bmj.com/content/351/bmj.h3978</a></p>	
			
			
		 
			
		</div>
	</div>
		<!-- fim modulos -->
		
		
		
		
	
  <div class="row">
	  <div class="col s12 center">
		
		  <h4>VÍDEO - RELATÓRIO 3</h4>    
	  <div class="video-container">
     <iframe src="https://player.vimeo.com/video/210312553" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

      </div>
		<div class="espaco"><br></div>  
		
		  
	  </div>
		
 </div>		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>





<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	
	
	

<body>
</body>
</html>
