<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Descadastro de Email da Lista VIP.">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-touch-icon-114x114.png">

    <title>Descadastro de Email da Lista VIP</title>

</head>



<body data-spy="scroll" data-offset="400">


<div class="navbar navbar-default" style="background-color: #ffffff;">
    <div class="navbar-header pull-left">
        <img id="logomembers" class="img-responsive img-center" src="images/drrocha_logo.png" alt=""/>
    </div>

    <div class="navbar-header pull-right" style="min-width: 85%; background-color: #00BFC6; min-height: 50px; border-radius: 0 0 0 25px;">

    </div>
</div>



<section class="white-bg padding-top-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="text-center text-bold greenbee">
                    Descadastro de Email da Lista VIP
                </h1>

                <h4>
                    <span class="text-bold">Vamos sentir sua falta aqui.</span>
                    Escolha uma opção abaixo e já vamos retirar você da lista VIP de Saúde e Bem-Estar.
                </h4>

                <p id="usub_errEmail" class="red text-bold text-center margin-b5 margin-t0"></p>

                <div id="usub_questions">
                    <button id="usub_btnWord1" class="btn btn-lg btn-danger btn-block btn-responsive margin-b5">
                        <span id="usub_btnWord1Label">Não tenho mais interesse no conteúdo</span>
                    </button>

                    <button id="usub_btnWord2" class="btn btn-lg btn-danger btn-block btn-responsive margin-b5">
                        <span id="usub_btnWord2Label">Alguém deve ter se cadastrado por mim</span>
                    </button>

                    <button id="usub_btnWord3" class="btn btn-lg btn-danger btn-block btn-responsive margin-b5">
                        <span id="usub_btnWord3Label">Recebo muitos emails desta lista</span>
                    </button>

                    <button id="usub_btnWord4" class="btn btn-lg btn-danger btn-block btn-responsive margin-b5">
                        <span id="usub_btnWord4Label">Outro motivo</span>
                    </button>
                </div>

                <h1 id="usub_sendingSpinner" class="text-center blue margin-t20" style="font-size: 3em;">
                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                </h1>

            </div>
        </div>
    </div>
</section>




<footer id="main-footer" class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    Portal Dr. Rocha 2017
                </p>
            </div>
        </div>
    </div>
</footer>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<link rel="stylesheet" href="/build/css/main.min.css">
{% endif %}

<link href="https://fonts.googleapis.com/css?family=Lato:400,300,700,900" rel="stylesheet" type="text/css" />


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.unsubscribejs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/unsubscribe.min.js"></script>
{% endif %}



</body>

</html>