<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 5 > </a>  relatório 1º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório1.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Olá aqui é o Dr. Rocha. Estou dando início a mais uma série de três relatórios voltados à área da saúde e dessa vez irei falar tudo sobre o açúcar, desde sua composição até seus efeitos maléficos aos consumidores. Ficou curioso e quer saber tudo sobre o assunto? Basta me acompanhar.</p>
			<h4>Açúcar, o que é?</h4>
			<p>Quimicamente falando, pode-se afirmar que o açúcar nada mais é do que um carboidrato solúvel em água, como a sacarose, a maltose, a frutose, a lactose ou até mesmo a glicose, por exemplo.</p>
			<p>Os carboidratos que não são solúveis em água não são chamados de açúcar, no caso os insolúveis, são conhecidos por nomes como amido e celulose, estes são carboidratos fibrosos.</p>
			<p>Ao analisarmos as referências de um dicionário, temos no açúcar a seguinte definição:</p>
			<p>Açúcar – do árabe ass-sukar; açúcar, possivelmente do grego sákcharon, sacarose. 1 – Produto alimentar fabricado de maneira industrial, de sabor doce, solúvel em água, extraído principalmente da cana-de-açúcar e da beterraba, também conhecido por sacarose. 2- Qualquer de certos carboidratos simples, geralmente solúveis em água e de sabor adocicado, como a sacarose, a glicose e a frutose.</p>
			<p>O açúcar vendido no mercado é a sacarose. O que se encontra na maioria das frutas é a frutose. Até no leite existe açúcar, ele se chama lactose (e é formado por galactose e glicose).</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório2-1.jpg"></div>
			<p>Vou chamar de veneno de mesa o açúcar que muitas famílias utilizam no dia a dia para adoçar diversas preparações. Mas seu nome científico é sacarose.</p>
			<p>A sacarose está em forma principalmente de açúcar cristal, refinado ou mascavo – são formas simples comercializadas obtidas do caldo de cana.</p>
			<p>O açúcar refinado passa por uma série de sucessivas cristalizações, tudo o que não for sacarose pura é retido em um melado, que contém todos os nutrientes, vitaminas e minerais presentes no caldo de cana. Isso significa que, no caldo de cana puro, existe uma verdadeira mistura de sacarose e compostos nutricionais, mas durante o processo de refinamento, a sacarose é totalmente isolada de todo e qualquer tipo de constituinte.</p>
			<p>	No processo de obtenção do açúcar, o caldo de cana passa por várias etapas de cristalização e logo no início, é que se obtém o açúcar mascavo. No caso desse não ser o produto desejado, continua-se então o processo de purificação e cristalizações, até que o açúcar cristal seja obtido.</p>
			<p>Se a intenção for obter o açúcar refinado (conhecido como açúcar de mesa, totalmente fininho), então o açúcar cristal é finalmente totalmente triturado e clareado, além de sofrer a ação de uma série de aditivos que impeçam sua umidificação para que ele não fique empedrado, ou seja, que não se pareça com um bloco duro.</p>
		
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		<div class="video-container">
		   <iframe src="https://player.vimeo.com/video/223640706" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
			<h4>Quais são os tipos de açúcar que existem?</h4>
			<p>Diferente do que muita gente acredita, há muitos tipos de açúcar disponíveis por aí. Mostrarei a seguir todos eles.</p>
			<p><b>Açúcar refinado</b></p>
			<p>É o mais utilizado na culinária e o mais comum de ser encontrado em mercados. É composto por grãos finos, irregulares que podem ser facilmente dissolvidos e misturados.</p>
			<p><b>Açúcar cristal</b></p>
			<p>Possui como principal característica os cristais grandes e transparentes. Possui praticamente as mesmas propriedades do açúcar refinado. Muito utilizado para receitas e uso decorativo em pães e doces.</p>
			<p><b>Açúcar invertido – trimoline</b></p>
			<p>Possui aparência de um xarope. É o resultado de uma reação da sacarose com água e calor e acaba se dividindo em glicose e frutose. É muito utilizado para confecções de balas e biscoitos, pois impede que haja cristalização e funciona como um conservante.</p>
			<p><b>Açúcar vanille ou baunilhado</b></p>
			<p>É um açúcar que contém vaniline – produto com aroma e sabor de baunilha. Muito utilizado para preparo de biscoitos caseiros e bolos sem recheios. Muito difícil de ser encontrado.</p>
			<p><b>Açúcar de confeiteiro</b></p>
			<p>Conhecido como glaçúcar é utilizado para preparar chantilly, coberturas e glacês. Possui grãos finos que permitem uma mistura eficaz mesmo em processos a frio. É ideal para decorar tortas, bolos e doces.</p>
			<p><b>Açúcar impalpável</b></p>
			<p>Apesar de ser parecido com o açúcar de confeiteiro, o impalpável é ainda mais fino e conta com a adição de amido em sua composição, evitando assim o seu empelotamento. Muito utilizado na culinária francesa para confecções dos famosos macarons.</p>
			<p><b>Açúcar líquido</b></p>
			<p>Muito utilizado em indústrias alimentícias para o preparo de refrigerantes, doces e balas e é difícil de ser encontrado em mercados para vendas.</p>
			<p><b>Açúcar orgânico</b></p>
			<p>Nesse tipo de açúcar não são utilizados ingredientes artificiais ou agrotóxicos durante o ciclo de produção. Ele possui o mesmo poder adoçante do açúcar refinado, mas é mais caro, mais grosso, mais escuro.</p>
			<p><b>Açúcar demerara</b></p>
			<p>Um açúcar com sabor mais intenso. Os grãos possuem aparência marrom claro ou caramelo e são mais úmidos devido ao alto teor de melaço de cana que os envolve. É difícil de ser dissolvido, por isso é muito utilizado em pães e doces.</p>
			<p><b>Açúcar mascavo</b></p>
			<p>É um açúcar úmido, escuro e de sabor forte, afinal, é extraído após o cozimento do caldo de cana. Ele conserva alguns nutrientes e por ter um sabor semelhante ao do caldo de cana não agrada a todos.</p>
			<p><b>Açúcar gelado</b></p>
			<p>É um açúcar em forma de polvilho. Por sua composição ser totalmente diferente, ele não derrete, mas também não pode ser congelado. É muito utilizado na confecção de donuts.</p>
			<p><b>Açúcar light</b></p>
			<p>É mais doce que o refinado, porém com menos calorias. Mesmo assim, contém sacarose em sua composição.</p>
			<p><b>Açúcar de coco</b></p>
			<p>É um açúcar obtido através da seiva bruta encontrada no interior do coqueiro. Possui poder adoçante e calorias semelhantes ao açúcar refinado.</p>
			<p><b>Glicose ou glucose</b></p>
			<p>Muito utilizado na culinária, na confeitaria e na indústria alimentícia em geral, por não formar a crosta cristalizada ao redor do alimento adoçado, devido ao seu ponto de congelamento ser mais baixo.</p>	
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Composição nutricional, índice glicêmico e carga glicêmica</h4>
			<p>Em 100 gramas do açúcar comum de mesa encontramos a seguinte informação nutricional:</p>
			<p>→ Energia 387 calorias;</p>
			<p>→ Carboidratos 100 g;</p>
			<p>→ Proteínas 0 g;</p>
			<p>→ Gorduras totais 0g;</p>
			<p>→ Vitamina B2 0,02mg;</p>
			<p>→ Cálcio 1,1 mg;</p>
			<p>→ Cobre 0,04mg;</p>
			<p>→ Fósforo 2 mg;</p>
			<p>→ Potássio 2 mg.</p>
			<p>Como já era de se esperar, a presença de carboidratos no açúcar é algo abundante.</p>
			<p>O índice glicêmico é a velocidade de absorção do açúcar na corrente sanguínea. É calculado a partir da glicemia encontrada no sangue até duas horas depois da ingestão de determinado alimento, sendo considerado um índice qualitativo. É importante salientar que essa velocidade não leva em consideração a quantidade de alimento ingerido, que é o que ocorre na carga glicêmica.</p>
			<p>A carga glicêmica relaciona a qualidade e a quantidade do carboidrato que foi ingerido, ou seja, leva em consideração a velocidade com que o açúcar será consumido pelo organismo em determinada porção.</p>
			<p>Um alimento que possui um elevado índice glicêmico, se consumido em pequenas quantidades pode gerar o mesmo efeito na glicemia do que um alimento de baixo índice glicêmico, se as cargas glicêmicas deles forem utilizadas como referência.</p>
			<h4>Cálculo de índice glicêmico</h4>
			<p>A tabela de valores de índice glicêmico é a seguinte:</p>
			<p>→ Inferior a 40% - índice glicêmico baixo – velocidade baixa;</p>
			<p>→ De 40% a 60% - índice glicêmico moderado – velocidade moderada;</p>
			<p>→ De 60% a 80% - índice glicêmico moderadamente alto – velocidade moderada/alta;</p>
			<p>→ De 80 a 100% - índice glicêmico alto – velocidade alta;</p>
			<p>→ Superior a 100% - índice glicêmico extremamente alto – Velocidade extremamente alta.</p>
			<p>Os açucares possuem os seguintes índices glicêmicos:</p>
			<p>→ Glicose e maltose - Extremamente alto, superior a 100%;</p>
			<p>→ Mel - Extremamente alto, superior a 100%;</p>
			<p>→ Açúcar refinado - Alto de 80% a 100%;</p>
			<p>→ Melado de cana, açúcar demerara ou mascavo – Alto de 80% a 100%;</p>
			<p>→ Lactose - Moderado de 40% a 60%;</p>
			<p>→ Frutose – Baixo, inferior a 40%.</p>
			<h4>Cálculo de carga glicêmica</h4>
			<p>A tabela de valores de carga glicêmica é a seguinte:</p>
			<p>→ De 1 a 10 – Baixa;</p>
			<p>→ De 11 a 19 – média;</p>
			<p>→ Superior a 20 – Alta.</p>
			<p>A carga glicêmica de um alimento é calculada através da quantidade de alimento a ser ingerida e quantidade de carboidrato presente nele:</p>
			<p>Mostrarei o cálculo da carga glicêmica para 40 gramas de açúcar refinado – que é referente a uma colher de sopa cheia.</p>
			<p>Aplicando na equação temos o seguinte resultado:</p>
			<p>Carga glicêmica = 40 x 80/100 è32</p>
			<p>Onde:</p>
			<p>40 é a quantidade de açúcar;</p>
			<p>80 é o índice glicêmico do açúcar;</p>
			<p>100 é o score de divisão da equação.</p>
		</div>
	</div>
		<!-- fim modulos -->
		
			<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Não existe açúcar saudável</h4>
			<P>Muitas pessoas pensam que por ser orgânico, light ou até mesmo de coco, determinado açúcar pode ser saudável. Isso não é verdade. Não existe nenhum açúcar saudável, embora apresentem diferenças entre si, trata-se basicamente dos mesmos alimentos.</P>
			<P>Embora existam açúcares naturais ou orgânicos, que não passaram pelo processo de industrialização, ainda assim eles não são benéficos à saúde.</P>
			<P>Não é porque é natural, que significa que seja saudável. Assim como o veneno da cobra, que é natural, mas para nós, é um veneno letal.</P>
			<P>No próximo relatório irei falar sobre os efeitos colaterais do açúcar ao nosso organismo.</P>
			<P>Um forte abraço,</P>
			<P>Dr. Rocha</P>
		   <div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			
		</div>
	</div>
		<!-- fim modulos -->
	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}



	
	

<body>
</body>
</html>
