<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 5 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório3.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Olá, querido assinante! No primeiro relatório eu expliquei o que é o açúcar, falando de suas calorias, índice e carga glicêmica, além de mostrar os diferentes tipos presentes no mercado. No segundo eu mostrei os efeitos colaterais do consumo desse doce alimento à nossa saúde, além de descobertas científicas e escândalos envolvendo a indústria açucareira.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório3-acucar.jpg"></div>
			<h4> Os principais benefícios de não ingerir açúcar à saúde</h4>
			<p>Imaginar uma vida sem açúcar pode ser difícil, deixar de comer um doce que você gosta, ou então o bolo da sua vó e até mesmo tomar refrigerante. Ok, é difícil, mas é preciso ter em mente que ele é o maior violão que existe para sua saúde.</p>
			<p>Como já mostrei no relatório anterior, a OMS preconiza que o consumo de açúcar não exceda os 5% das calorias em toda e qualquer dieta. Algo difícil de ser atingido, pelo simples fato de muitas pessoas sequer terem conhecimento de que estão ingerindo açúcar. Por isso, ler rótulos e saber o que está ingerindo é tão importante.</p>
			<p>Mas, o que realmente acontece com o nosso corpo quando eliminamos o açúcar de nossa dieta? Mostrarei a seguir, alguns efeitos totalmente benéficos ao corpo (e até a mente) quando eliminamos esse doce alimento de nossas vidas. Confira.</p>
			<p><b>Pele mais bonita e saudável</b></p>
			<p>A ligação entre a saúde da pele e a alimentação é debatida há anos. Alimentos ricos em açúcar contribuem para uma pele ruim, com celulite, flacidez e acne. Um estudo revelado em 2013 mostrou que os alimentos com alto teor de açúcar possuem impacto direto com a qualidade de nossa derme.</p>
			<p>Isso ocorre pelo simples fato do açúcar ser rapidamente absorvido e desencadear a produção de insulina que capta a glicose circulante no sangue e a transforma em reserva energética na forma de gordura corporal. Isso torna o organismo tão inflamado internamente, que o resultado é visto externamente.</p>
			<p>Quem não ingere açúcar não tem acne, não tem a pele oleosa, tampouco apresenta celulite ou flacidez.</p>
			<p><b>Aparência mais jovem</b></p>
			<p>Ingerir grandes quantidades de açúcar faz com que o organismo envelheça de maneira exagerada. Um estudo realizado pela universidade de Leiden, na Holanda mostrou que pessoas com idade entre 50 e 70 anos que possuíam altas taxas de glicose sanguínea aparentavam estar muito mais velhas do que as pessoas com baixo nível de açúcar no sangue.</p>
			<p>Para cada 180 gramas de glicose por litro de sangue dos participantes, sua idade aparente subia cinco anos. Isso porque o colágeno e a elastina, responsáveis pela elasticidade da pele, tornam-se mais rígidos com a ingestão de açúcar.</p>
			<p><b>Sono de qualidade</b></p>
			<p>Dieta e sono estão intimamente ligados. Se você cortar o açúcar de sua dieta, rapidamente irá conseguir notar uma mudança qualitativa nos eu padrão de sono. Um estudo divulgado pela Science Daily que tinha como objetivo examinar o impacto de diferentes grupos alimentares sobre o sono mostrou que o açúcar é o maior responsável por uma noite mal dormida. Por se tratar de um alimento que desregula o sistema nervoso e os níveis de dopamina e serotonina, consumir esse doce alimento te faz ter pesadelos.Portanto se quiser dormir melhor, fuja do açúcar.</p>
			<p><b>Coração mais saudável</b></p>
			<p>O açúcar está intimamente ligado a problemas de coração, uma vez que colabora para o aumento dos níveis de gordura corporal de seus consumidores. Uma pessoa que consome 25% mais açúcar do que é o recomendo - algo muito comum entre os brasileiros, possui um risco quase três vezes maior de desenvolver uma doença cardiovascular do que as que não ingerem açúcar. Quer viver mais e com qualidade? Tire o açucareiro de sua casa.</p>
			<p><b>Bom humor constante</b></p>
			<p>Alimentos ricos em açúcar impactam de modo direto no humor de mulheres que estão na fase de pós-menopausa e podem ser um fator extra para o risco de desenvolvimento de depressão. Isso pelo simples fato do açúcar ser facilmente absorvido pelo sangue e alterar a modulação de uma série de hormônios, contribuindo para um desequilíbrio hormonal que resulta em uma série de alterações no humor.</p>
			<p>Quando a glicose sanguínea está em limiares normais, os hormônios estão regulados e o bom humor é mantido.</p>
			<p><b>Memória mais potente</b></p>
			<p>Uma ótima notícia para os “esquecidos”: cortar o açúcar da alimentação faz muito bem para o cérebro. E quem diz isso é a ciência. Um estudo realizado pela Universidade da Califórnia – EUA mostrou que existe uma forte ligação entre uma dieta rica em açúcar e uma função cerebral prejudicada. O estudo em questão demonstrou também que o aumento da administração de frutose teve um impacto particular sobre a memória dos animais testados, dessa forma, deixar de consumir açúcar vai potencializar o funcionamento do seu cérebro e preservar sua memória.</p>
			<p><b>Perda de peso</b></p>
			<p>Como já disse várias vezes, a gordura não é o maior inimigo do peso, o açúcar sim! Em uma revisão de estudos publicados pelo British Medical Journal, cientistas analisaram sistematicamente a relação entre a ingestão de açúcar e a produção de gordura corporal em crianças e adultos.</p>
			<p>Os dados mostraram que o aumento da gordura corporal ocorre com a ingestão de açúcares que causam uma profunda alteração na produção de energia. Além disso, ao cortar o açúcar da dieta, você notara uma sensível melhora no processo de digestão, isso porque o aparelho digestório trabalhar melhor e menos sobrecarregado para processar os alimentos.</p>
			<p>Lembre-se diminuição de peso é sinônimo de beleza e principalmente saúde.</p>
			<h4>Deixando de comer açúcar</h4>
			<p>Deixar de comer açúcar não é uma tarefa simples, mas pode ser feita através de alguns passos básicos, que demonstrarei a seguir:</p>
			<p><b>Passo 1: conheça os açúcares que consome</b></p>
			<p>Um alimento sem açúcares adicionado não significa que não contenha açúcar, verifique rótulos, pesquise sobre tudo o que você consome, para saber o real teor que cada alimento contém.</p>
			<p><b>Passo 2: faça um registro de tudo</b></p>
			<p>Registre tudo. Mantenha um diário de tudo o que come e quando come, você pode pensar que não ingere grandes quantidades de açúcar, mas quando se deparar com seu diário, poderá ficar assustado.</p>
			<p><b>Passo 3: seja realista</b></p>
			<p>Mudanças profundas não acontecem da noite para o dia. Estabeleça pequenas metas, vá retirando o doce alimento de sua rotina aos poucos. Como sempre gosto de dizer tudo o que é radical está fadado ao fracasso. Com a retirada de açúcar a história se repete. Ao diminuir o consumo de maneira gradual logo não estará mais ingerindo esse grande vilão.</p>
			<p><b>Passo 4: Faça trocas alimentares inteligentes e fuja dos industrializados</b></p>
			<p>Retire de sua vida alimentos industrializados, evite fast-foods e não se sabote. Escolha alimentos frescos, saudáveis que realmente são benéficos à sua saúde. Dê preferência aos livres de carboidratos em sua composição, como vegetais verdes folhosos, gorduras de qualidade e com grandes quantidades de proteína.</p>
			<p>Passo 5: Pratique atividade física</p>
			<p>Do mesmo modo que alimentos com açúcar proporcionam prazer a seus consumidores, a atividade física também é capaz de lhe fornecer esse mesmo efeito. Cerca de 30 minutos de atividades físicas são suficientes para potencializar a produção de serotonina e endorfina e causar uma ótima sensação de bem-estar.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<div class="video-container">
		   <iframe src="https://player.vimeo.com/video/223661969" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
			<h4>Como adoçar sem açúcar</h4>
			<p>“Como adoçar os alimentos sem utilizar o açúcar?”. Essa é uma dúvida muito comum. Para pessoas que querem deixar o açúcar de lado, mas não querem abrir mão do sabor adocicado eu recomento a utilização de adoçantes naturais.</p>
			<p>Os melhores são:</p>
			<p>→ Stevia;</p>
			<p>→ Xilitol;</p>
			<p>→ Eritritol;</p>
			<p><b>Stevia</b></p>
			<p>Astevia é um dos adoçantes mais populares em todo mundo. Extremamente doce e ao mesmo tempo sem calorias e açucares em sua composição. É extraído diretamente das folhas da planta Steviarebaudiana. Pode ser utilizado inclusive por pessoas que sejam portadores do diabetes tipo I e tipo II.</p>
			<p><b>Xilitol</b></p>
			<p>O xilitol nada mais é do que um álcool de açúcar com um incrível sabor de doçura, muito semelhante ao açúcar de cana. Possui cerca de 2/3 do valor calórico do açúcar.</p>
			<p>O xilitol previne a formação de cáries e deterioração dos dentes e ainda não proporciona maiores impactos na glicose sanguínea eelevação dos níveis de insulina, se consumido com moderação.</p>
			<p><b>Eritritol</b></p>
			<p>Esse adoçante é também um álcool de açúcar que se encontra de maneira natural em alguns frutos. No entanto, o adoçante encontrado à venda é sintetizado a partir de processos industriais.</p>
			<p>Possui 0,24 calorias por grama e um sabor 70% mais doce que o açúcar. Assim como xilitol, nãopossui tanto impacto sobre os níveis de glicose e insulina, se consumidos com moderação.</p>
			<p>Todos esses adoçantes podem ser encontrados de maneira extremamente fácil e são uma ótima opção para quem não quer consumir açúcar, mas continua apreciando um doce sabor.</p>
			<p>Com isso chegamos ao final da série de relatórios voltados ao consumo de açúcar e saúde. Espero que vocês tenham gostado. Em breve enviarei um novo relatório onde estarei falando mais sobre alimentação saudável e saúde.</p>
			<p>Fiquem ligados.</p>
			<p>Forte abraço e até a próxima edição!</p>
		   
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<br>
		</div>
	</div>
		<!-- fim modulos -->
		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}


	

<body>
</body>
</html>
