<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 5 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório2.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Olá, amigo assinante! Neste relatório irei mostrar quais são os efeitos colaterais do consumo do açúcar além de suas consequências a saúde e a atuação das grandes indústrias para que as pessoas consumam esse doce alimento perigoso. Mas antes, vamos recapitular o que foi visto no relatório anterior...</p>
			<p>No primeiro relatório, expliquei de modo detalhado o que era esse perigoso alimento, além de mostrar a diferença entre os tipos existentes e sua quantidade calórica, índice e carga glicêmica.</p>
			<h4>Comportamento alimentar de crianças e adultos com o açúcar</h4>
			<p>A população mundial nunca esteve tão inundada e abastecida de açúcar. Enquanto a colheita de cana cresce em países como Índia e Tailândia, os agricultores brasileiros – maior produtor do mundo elevam as exportações a fim de elevar seus lucros.</p>
			<p>As plantações crescem a níveis exponenciais. Estima-se que a produção mundial supere a demanda pelo sexto ano consecutivo, levando os estoques ao nível mais alto da história, de acordo com os dados da Organização Mundial do Açúcar.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório3-3.jpg"></div>
			<p>O açúcar está presente em uma série de alimentos, como pães, molho de tomate e até mesmo onde muitas pessoas sequer desconfiam. Infelizmente, nem todo mundo lê os rótulos dos alimentos. Ainda por cima, há empresas que mascaram o nome do composto, para que o consumidor acredite que o açúcar esteja ausente de sua composição.</p>
			<p>A OMS – Organização Mundial da Saúde fez uma pesquisa e chegou à conclusão de que o <b>brasileiro consome em média cerca de 50% a mais açúcar do que deveria</b>, muitas vezes sem saber disso. Em todo o mundo, o Brasil é o 4º país onde mais se consome esse perigoso alimento.</p>
			<p>A Organização Mundial da Saúde recomenda um consumo máximo de 50 gramas de açúcar por dia, o brasileiro atualmente está consumindo 75 gramas diariamente. No Brasil, uma em cada cinco pessoas consome doces cinco ou mais vezes por semana, e 7,4% da população adulta no país já foi diagnosticada com diabetes. Além disso, o planeta tem 640 milhões de pessoas em estado de obesidade.</p>
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			 <div class="video-container">
		  <iframe src="https://player.vimeo.com/video/223612809" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>	
			<h4>Açúcar, uma droga viciante</h4>
			<p>Embora muitas pessoas não acreditem, açúcar pode sim, viciar uma pessoa. O doce alimento em questão afeta de maneira direta os mensageiros químicos cerebrais e eleva principalmente os níveis de serotonina – responsáveis pela sensação de bem-estar e de dopamina – que causa uma sensação de recompensa.</p>
			<p>O efeito é muitas vezes semelhante ao causado por algumas drogas e pode acabar por bagunçar o cérebro.</p>
			<p>“Pessoas viciadas em açúcar deveriam ser tratadas da mesma forma do que dependentes químicos” é o que diz um novo estudo realizado por cientistas da Universidade de Queensland, na Austrália.<b> Os efeitos do açúcar no cérebro são parecidos com o mecanismo responsável pelo vício em cocaína.</b></p>
			<p>O consumo prolongado de açúcar causa o efeito contrário na produção de dopamina, fazendo com que o corpo produza menos quantidade dessa substância, o que faz o a pessoa comer mais.</p>
			<p>Em minhas pesquisas sobre o tema, notei que muitos psiquiatras e neurologistas descobriram que além de um risco maior de sobrepeso, pessoas que mantém o alto consumo de açúcar e comem doce de maneira compulsiva na fase adulta enfrentem consequências neurológicas e psiquiátricas afetando de modo direto o bom humor e a motivação.</p>
			<p>Os pesquisadores australianos descobriram ainda, e outro estudo, que a exposição crônica à sacarose, ou seja, o consumo contínuo de açúcar pode causar uma série de distúrbios alimentares e alterar o comportamento.</p>
			<p>Depois da análise de resultados, os responsáveis pelas pesquisas que citei, afirmaram que drogas usadas para tratar o vício em nicotina, por exemplo, podem ser usadas para combater a dependência de açúcar.</p>
			<h4>Consequências do alto consumo de açúcar</h4>
			<P>Segundo recomendação da OMS, apenas 10% do total de calorias consumidas diariamente deveriam ser provenientes do açúcar. Em uma dieta saudável e ideal, deve-se restringir o consumo do doce alimento a no máximo 5%. Isso significa que o ideal é que uma pessoa consuma apenas 25 gramas ou menos, de açúcar por dia.</P>
			<P>Dentre as principais consequências à saúde envolvendo o alto consumo de açúcar estão:</P>
			<P>→ Cáries;</P>
			<P>→ Sobrepeso e obesidade;</P>
			<P>→ Doenças cardiovasculares;</P>
			<P>→ Diabetes tipo II.</P>
			<P>Falarei de modo individual de cada um deles a seguir.</P>
			<P><b>Cárie</b></P>
			<P>A cárie se caracteriza pela desmineralização da estrutura dentária, podendo provocar dor e até mesmo a perda do dente. De acordo com dados da OMS – cerca de 55% das cáries são provocadas pelo alto consumo de açúcar. Quem mais sofre com esse tipo de problema são as crianças.</P>
			<P><b>Sobrepeso e obesidade</b></P>
			<P>A obesidade é considerada um problema de saúde pública é definido pelo alto teor de gordura corporal. Atualmente 2,1 bilhões de pessoas são obesas ou possuem sobrepeso no mundo – isso representa quase 30$ da população mundial. De 1980 a 2016 a obesidade e sobrepeso de maneira conjunta aumentaram mais de 27% entre os adultos e 47,1% entre as crianças. As conclusões são de uma pesquisa internacional que levou em consideração dados de 188 países incluindo o Brasil e foi conduzida pelo Instituto de Métrica e Avaliação para Saúde da Universidade de Washington – EUA.</P>
			<P>De acordo com a pesquisa, no Brasil 52,5% dos homens com mais de 20 anos e 58,4% das mulheres da mesma faixa etária apresentam sobrepeso ou obesidade. Entre os garotos com menos de 20 anos, essa parcela é de 22,1%. Já nas meninas, o índice é de 24%. O Brasil, atualmente está acima da média global de obesidade.</P>
			<P><b>Doenças cardiovasculares</b></P>
			<P>O imperial College London realizou um estudo onde mostrou que o consumo excessivo de açúcar está intimamente ligado ao desenvolvimento de uma série de doenças cardiovasculares. O estudo em questão demonstrou que uma dieta onde o doce alimento é consumido livremente, pode desequilibrar o tônus dos vasos sanguíneos – facilitando o surgimento de pressão alta, e ainda pode contribuir para o aumento da gordura corporal.</P>
			<P>O aumento de gordura corporal, principalmente na região do abdome é um grande fator de risco para surgimento de problemas do coração como infarto, AVC, trombose e até mesmo mau funcionamento dos rins.</P>
			<P><b>Diabetes tipo II</b></P>
			<P>A relação do consumo excessivo de açúcar com a diabetes tipo II é muito conhecida pelas pessoas.</P>
			<P>A grande quantidade de açúcar na alimentação muitas vezes acaba por sobrecarregar o pâncreas, que necessita produzir mais insulina para manter os níveis de glicose no sangue adequados. Essa produção excessiva pode não ser suficiente para suprir as necessidades do corpo, ou não ser aproveitada de maneira adequada, desencadeando assim, o diabetes tipo II.</P>
			<P>De acordo com dados do IBGE – o diabetes tipo II atinge 9 milhões de brasileiros. Cerca de 6,5% da população adulta. 7% das mulheres e 5,4% dos homens brasileiros são portadores da doença.</P>
         </div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Relação do diabetes com o Mal de Alzheimer – o diabetes tipo III</h4>
			<P>Muitas pessoas conhecem o diabetes tipo I e o tipo II, porém, um novo tipo de diabetes já é citado pela comunidade médica, trata-se do diabetes tipo III.</P>
			<P>O diabetes tipo III é um título que foi proposto para a doença de Alzheimer que resulta da resistência à insulina no cérebro.</P>
			<P>Durante algumas de minhas pesquisas me deparei com um estudo recente, que foi publicado no JournalofAlzheimer’sDiseaseofRhodeIsland Hospital – EUA. O estudo em questão confirma a associação entre o diabetes e a doença de Alzheimer e recebeu o nome de diabetes tipo III. Esse seria um tipo de diabetes que afeta apenas o cérebro, ao criar uma resistência à insulina no órgão. Um estudo realizado por uma jovem cientista brasileiro no ano de 2009, já apontava para essa direção.</P>
			<h4>O escândalo da Indústria Açucareira</h4>
			<P>A indústria do açúcar pagou uma série de cientistas na década de 1960 para minimizar a ligação entre o açúcar e a doença cardíaca e promover a gordura saturada como culpada em seu lugar, é o que mostram uma série de documentos recém liberados.</P>
			<P>Os documentos em questão mostram que um grupo comercial chamado Sugar Research Foundation – Fundação de pesquisa açucareira, em português, teria pagado a cientistas de Harvard, o equivalente a 50 mil dólares para publicar no ano de 1967 uma revisão de pesquisas sobre açúcar, gordura e coração.</P>
			<P>Os estudos utilizados na revisão foram escolhidos a dedo pelo grupo açucareiro e o artigo que foi publicado no prestigiado New EnglandJournalof Medicine, minimizou a ligação entre o açúcar e a saúde cardíaca e levantou mentiras sobre o papel da gordura saturada.</P>
			<P>No ano de 2015, um artigo do New York times revelou que a Coca-Cola, maior produtora de bebidas açucaradas do mundo, forneceu milhões de dólares em financiamento para pesquisas que buscavam minimizar a ligação entre obesidade e bebidas açucaradas.</P>
			<P>Em junho de 2016, a Associated Press relatou que fabricantes de doces estavam financiando estudos que alegavam que crianças que comem doces tendem a pesar menos do que as que não os consomem.</P>
			<P>Portanto, é importante ficarmos atentos e saber realmente em quais meios de comunicação podemos confiar. Como já provei de modo científico em muitos de meus artigos, o maior vilão de nossa saúde é o açúcar e não a gordura.</P>
			<P>Colocado isso chego ao fim desse relatório. No terceiro e último relatório falando sobre o açúcar, irei mostrar como é possível viver sem esse doce alimento e quais são os benefícios disso.</P>
			<P>Forte abraço,</P>
			<P>Dr. Rocha</P>
		   
			
		</div>
	</div>
		<!-- fim modulos -->
	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>





<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	
	

<body>
</body>
</html>
