<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 9 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório_como_ter_noites_tranquila_rel3-1.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
				<p>Ol&aacute;, aqui &eacute; o Dr. Rocha falando. Depois de dois relat&oacute;rios incr&iacute;veis sobre a ins&ocirc;nia, hoje chegamos ao terceiro e &uacute;ltimo relat&oacute;rio da s&eacute;rie, onde farei com que voc&ecirc; se pergunte e chegue a conclus&atilde;o se dorme bem ou n&atilde;o. E, o melhor de tudo: Voc&ecirc; vai saber como ter noites de sono tranquilas.</p>

				<p>Esse &uacute;ltimo relat&oacute;rio est&aacute; realmente imperd&iacute;vel. Reserve um tempinho do seu dia para a deliciosa leitura do texto que vem a seguir, voc&ecirc; n&atilde;o vai se arrepender.</p>

				<p>&nbsp;</p>

				<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório_VC_realmente_dorme_bem.png"></div>

				<p>A qualidade do sono &eacute; mais do que fundamental para manter o organismo em equil&iacute;brio. O descanso di&aacute;rio &eacute; algo mais do que sagrado e tem import&acirc;ncia vital numa s&eacute;rie de regulariza&ccedil;&atilde;o de fun&ccedil;&otilde;es do organismo, al&eacute;m de ajudar nas atividades cotidianas e no trabalho.</p>

				<p>Quem dorme pouco ou ent&atilde;o de maneira ruim &eacute; muito mais propenso a apresentar uma s&eacute;rie de problemas de sa&uacute;de, sem contar nos riscos que a falta de aten&ccedil;&atilde;o durante o dia pode causar.</p>

				<p>Pensando assim, eu fa&ccedil;o a seguinte pergunta: &ldquo;Voc&ecirc; realmente dorme bem? &rdquo;A seguir mostrarei o que realmente &eacute; considerado uma boa noite de sono.</p>

				<p>Dormir bem n&atilde;o se resume a ter apenas sete ou oito horas de sono durante a noite. Na verdade, o descanso durante a noite &eacute; uma verdadeira obra de arte do nosso organismo e envolve alguns fatores.</p>

				<p>Os tr&ecirc;s fatores que devem ser levados em considera&ccedil;&atilde;o sobre dormir bem s&atilde;o:</p>

				<p><b>&rarr; O tempo de demora para adormecer;</b></p>

				<p><b>&rarr; A quantidade de vezes que voc&ecirc; acorda;</b></p>

				<p><b>&rarr; Quanto tempo de fato voc&ecirc; dorme enquanto est&aacute; na cama.</b></p>

				<p>Como m&eacute;dico, sempre que posso eu estudo sobre diversos temas. E em uma de minhas pesquisas, me deparei com um estudo publicado pela NationalSleep Foundation, uma entidade estadunidense que se dedica a estudar dist&uacute;rbios do sono.</p>

				<p>O objetivo do estudo foi de definir par&acirc;metros objetivos a fim de avaliar uma boa noite de descanso, j&aacute; que muitos profissionais da &aacute;rea ainda possuem extrema dificuldade para fechar diagn&oacute;sticos de ins&ocirc;nia, j&aacute; que a avalia&ccedil;&atilde;o as vezes &eacute; um tanto quanto subjetiva. Isso acontece porque os requisitos para um sono de qualidade podem ser diferentes de uma pessoa para outra.</p>

				<p>Para voc&ecirc; realmente chegar &agrave; conclus&atilde;o de que dorme bem, avalie os seguintes pontos da lista a seguir:</p>

				<p><b>&rarr; Adormecer em at&eacute; 30 minutos depois de se deitar na cama;</b></p>

				<p><b>&rarr; Acordar no m&aacute;ximo uma vez durante a madrugada &ndash; duas, se voc&ecirc; for idoso;</b></p>

				<p><b>&rarr; Dormir durante 85% do tempo que voc&ecirc; est&aacute; na cama;</b></p>

				<p><b>&rarr; Tirar um cochilo durante o dia de no m&aacute;ximo 20 minutos;</b></p>

				<p><b>&rarr; Passar no m&aacute;ximo 20 minutos acordado ao longo da noite quando voc&ecirc; desperta do sono &ndash; 30 minutos, se voc&ecirc; for idoso.</b></p>

				<p>Se sua rotina for diferente em alguns dos pontos que mostrei na lista, exceto pelo fato de acordar durante a madrugada (se voc&ecirc; n&atilde;o acordar durante a madrugada, melhor ainda), ent&atilde;o voc&ecirc; n&atilde;o dorme bem.</p>

				<p>Levar muito tempo para dormir &eacute; extremamente prejudicial &agrave; qualidade do sono e indica que h&aacute; algo errado. De acordo com profissionais da sa&uacute;de como otorrinolaringologistas e principalmente neurologistas especialistas em sono, &ldquo;Se o fato de demorar para dormir ocorrer com maior frequ&ecirc;ncia, isso pode significar um est&aacute;gio de ins&ocirc;nia inicial&rdquo;.</p>

				<div class="video-container">
               <iframe src="https://player.vimeo.com/video/239975659" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

                </div>

				<h4><b>A soneca tamb&eacute;m merece aten&ccedil;&atilde;o</b></h4>

				<p>Diferente do que muita gente pode acreditar, a soneca da tarde, algo bastante comum para crian&ccedil;as e especialmente para adolescentes &eacute; algo que pode trazer benef&iacute;cios para o sono.</p>

				<p>Adolescentes possuem fatores hormonais que os fazem dormir e acordar mais tarde. Al&eacute;m disso, eles come&ccedil;am a sair &agrave; noite. &Eacute; normal que tirem uma soneca durante o per&iacute;odo da tarde.</p>

				<p>No entanto, dormir por longos per&iacute;odos - como uma ou duas horas - pode afetar de maneira direta o sono noturno. O ideal &eacute; fazer como alguns povos europeus que cochilam no m&aacute;ximo 20 minutos ap&oacute;s o almo&ccedil;o.</p>

				<p>O n&uacute;mero de sonecas durante o dia tamb&eacute;m precisa de aten&ccedil;&atilde;o e ser levado em considera&ccedil;&atilde;o. Para crian&ccedil;as em idade escolar, recomenda-se apenas um cochilo ao dia. Crian&ccedil;as em fase pr&eacute;-escolar devem cochilar no m&aacute;ximoat&eacute; duas vezes por dia. J&aacute; para adultos e idosos, o limite de cochilos &eacute; um pouco maior &ndash; tr&ecirc;s vezes ao dia, devido a altera&ccedil;&otilde;es de metabolismo e organismo.</p>

				<p>Extrapolar esses limites &eacute; totalmente prejudicial pelo simples fato de que dormir &agrave; tarde prejudica o sono da noite. E &eacute; justamente &agrave; noite que nosso c&eacute;rebro produz de maneira eficaz uma s&eacute;rie de horm&ocirc;nios importantes para o bom funcionamento do organismo, al&eacute;m de ser exatamente na madrugada que o c&eacute;rebro alcan&ccedil;a de fato o sono REM, ou seja, o mais profundo de todos os ciclos.</p>

				<p>A consolida&ccedil;&atilde;o da mem&oacute;ria e do aprendizado acontece no sono REM.</p>

				<h4><b>Afinal, como ter noites de sono tranquilas?</b></h4>

				<p>Quem n&atilde;o deseja ter uma noite de sono tranquila e acordar totalmente revigorado no dia seguinte. Mas, conforme mostrei para voc&ecirc;s no relat&oacute;rio anterior, infelizmente dormir bem &eacute; privil&eacute;gio de poucos, tanto no Brasil, quanto no mundo.</p>

				<p>Existem medicamentos que podem auxiliar as pessoas a dormirem, mas como sempre afirmo, a automedica&ccedil;&atilde;o &eacute; algo que deve sempre ser evitado. O ideal &eacute; adotar medidas simples que realmente s&atilde;o eficazes para ter noites de sono tranquilas, como mostrarei logo a seguir.</p>

				<p><b>✓Aten&ccedil;&atilde;o com a alimenta&ccedil;&atilde;o</b></p>

				<p>Ao menos quatro horas antes de dormir, evite ingerir &aacute;lcool e tamb&eacute;m bebidas e alimentos que contenham altas doses de cafe&iacute;na, como caf&eacute;s, ch&aacute;s, refrigerantes, biscoitos e chocolate.</p>

				<p>Como n&atilde;o &eacute; segredo para ningu&eacute;m, a cafe&iacute;na possui efeito estimulante e acaba atrapalhando o sono. J&aacute; as bebidas alco&oacute;licas podem irritar a mucosa estomacal &ndash; podendo causar desconforto, al&eacute;m de aumentar a diurese, ou seja, voc&ecirc; acaba acordando durante a noite para urinar.</p>

				<p><b>✓ Tenha uma rotina de sono</b></p>

				<p>Procure ir para a cama sempre no mesmo hor&aacute;rio. Nosso metabolismo tende a levar alguns dias para se acostumar com oscila&ccedil;&otilde;es no hor&aacute;rio do sono. Por isso, ter uma rotina todos os dias &eacute; algo importante para a qualidade do sono, inclusive aos finais de semana.</p>

				<p><b>✓ Controle o ambiente</b></p>

				<p>Durante a noite, principalmente na fase mais profunda do sono, ou seja, a fase REM, a temperatura do corpo tende a diminuir. Por isso, o clima dentro do ambiente deve estar agrad&aacute;vel. Temperaturas elevadas, ou seja, acima de 26 graus Celsius e tamb&eacute;m abaixo de 18 graus Celsius n&atilde;o s&atilde;o confort&aacute;veis para o corpo. O frio ou ent&atilde;o o calor excessivofaz com que as chances de acordar de madrugada sejam grandes.</p>

				<p>Outra dica importante para controle do ambiente diz respeito a utiliza&ccedil;&atilde;o do ar condicionado, principalmente em per&iacute;odos de calor. Durante o ver&atilde;o, normalmente as pessoas ligam o ar condicionado para dormir melhor. Por&eacute;m, a utiliza&ccedil;&atilde;o do equipamento contribui para secagem de mucosas como nariz e boca, sendo assim, manter uma bacia com &aacute;gua ou uma toalha &uacute;mida pr&oacute;xima a cabeceira da camas&atilde;o fundamentais para uma noite de sono de qualidade.</p>

				<p><b>✓ Hor&aacute;rio de alimenta&ccedil;&atilde;o tamb&eacute;m &eacute; importante</b></p>

				<p>O hor&aacute;rio da ingest&atilde;o de alimentos tamb&eacute;m &eacute; importante para garantir noites tranquilas. Alimentar-se tr&ecirc;s horas antes de deitar &eacute; algo que deve ser levado em considera&ccedil;&atilde;o, pois isso faz com que a digest&atilde;o dos alimentos ingeridos ocorra de maneira completa antes de dormir.</p>

				<p>Ingerir alimentos mais leves e f&aacute;ceis de serem digeridos tamb&eacute;m &eacute; importante porque durante o sono o metabolismo fica mais lento. Alimentos de dif&iacute;cil absor&ccedil;&atilde;o fazem o fluxo de sangue no estomago aumentar enquanto o resto do corpo est&aacute; mais relaxado, o que pode causar refluxo e desconforto abdominal.</p>

				<p><b>✓ Se n&atilde;o dormir, levante</b></p>

				<p>Caso n&atilde;o consiga adormecer em at&eacute; 30 minutos ap&oacute;s ter deitado, n&atilde;o permane&ccedil;a na cama, pois isso pode te estressar ainda mais. Sendo assim, o recomendado &eacute; levantar e procurar realizar uma atividade mais relaxante, como ouvir m&uacute;sicas de sua banda favorita ou ler, que s&atilde;o tarefas que ajudam a pegar no sono e relaxar.</p>

				<p>Muitas pessoas negligenciam o sono e seus efeitos. Nesses tr&ecirc;s relat&oacute;rios, mostrei quanto a qualidade do sono pode interferir na sa&uacute;de e no dia a dia das pessoas.</p>

				<p>Com isso chegamos ao fim dessa s&eacute;rie de relat&oacute;rios sobre ins&ocirc;nia. Espero que voc&ecirc;s tenham gostado e que tenham achado o conte&uacute;do realmente &uacute;til!</p>

				<p>Me despe&ccedil;o desejando sa&uacute;de, amor, felicidade e sorte.</p>

				<p>Forte abra&ccedil;o e at&eacute; a pr&oacute;xima!</p>

				<p>Dr. Rocha</p>
			<br>
			    <div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>

				<p>&nbsp;</p>

				<p><b>&nbsp;</b></p>

				<p>&nbsp;</p>

		</div>
	</div>
		<!-- fim modulos -->
		
	
		
 </div>		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}



<body>
</body>
</html>
