<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 9 > </a>  relatório 1º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório_mat9_rel1.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Ol&aacute;, aqui &eacute; o Dr. Rocha falando. Nessa s&eacute;rie de tr&ecirc;s relat&oacute;rios irei falar tudo sobre a Ins&ocirc;nia, quais s&atilde;o suas causas, efeitos no organismo, al&eacute;m de oferecer uma s&eacute;rie de dicas para melhorar a qualidade do sono e colher todos os benef&iacute;cios disso.</p>

				<p>Nesse primeiro relat&oacute;rio da s&eacute;rie, irei falar sobre esse terr&iacute;vel mal que acomete um grande n&uacute;mero de pessoas e tamb&eacute;m irei mostrar quais s&atilde;o os perigos de uma noite mal dormida. Acompanhem o artigo a seguir e comecem a ficar por dentro do assunto.</p>

				<h4><b>Ins&ocirc;nia, Afinal, O Que &Eacute;?</b></h4>

				<p>A ins&ocirc;nia &eacute; tamb&eacute;m chamada e conhecida na comunidade m&eacute;dica como dist&uacute;rbio do sono. Trata-se de um problema persistente que prejudica a capacidade de um grande n&uacute;mero de pessoas de adormecer, ou ainda, de permanecer dormindo de maneira qualitativa durante toda a noite.</p>

				<p>Pessoas com ins&ocirc;nia normalmente come&ccedil;am o dia com um extremo sentimento de cansa&ccedil;o, al&eacute;m de apresentarem problemas relacionados a humor, falta de energia e t&ecirc;m o desempenho no trabalho ou nos estudos totalmente prejudicados.</p>

				<p>&Eacute; mais do que comum que a qualidade de vida das pessoas que apresentem esse dist&uacute;rbio fique totalmente comprometida.</p>

				<p>Muitos adultos apresentam esse dist&uacute;rbio em algum momento da vida, por&eacute;m, algumas pessoas possuem ins&ocirc;nia cr&ocirc;nica, que pode perdurar por um per&iacute;odo de tempo muito maior do que o normal.</p>

				<p>A ins&ocirc;nia pode ser ainda um dist&uacute;rbio secund&aacute;rio, ou seja, que &eacute; causado por outros motivos, como problemas de sa&uacute;de e at&eacute; mesmo a utiliza&ccedil;&atilde;o indevida de alguma medica&ccedil;&atilde;o.</p>
                 
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<br>

				 <div class="video-container">
                 <iframe src="https://player.vimeo.com/video/239975658" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

                  </div>

				<h4><b>Como Identificar a Ins&ocirc;nia?</b></h4>

				<p>Algo importante de se ter em mente, &eacute; que a ins&ocirc;nia n&atilde;o &eacute; apenas de um tipo, ou seja, o dist&uacute;rbio possui algumas varia&ccedil;&otilde;es que podem por fim, auxiliar na identifica&ccedil;&atilde;o do problema de sa&uacute;de. Mostrarei quais s&atilde;o os diferentes tipos de ins&ocirc;nia e como fazer para identifica-los.</p>

				<p><b>✓Ins&ocirc;nia terminal</b></p>

				<p>Nessa varia&ccedil;&atilde;o do dist&uacute;rbio as pessoas normalmente conseguem adormecer de maneira f&aacute;cil e at&eacute; normal, por&eacute;m, despertam muito antes da hora de acordar e n&atilde;o conseguem voltar a dormir, perdendo assim valiosas horas de sono.</p>

				<p><b>✓Ins&ocirc;nia transit&oacute;ria</b></p>

				<p>&Eacute; o tipo mais comum de ins&ocirc;nia. Ela normalmente se manifesta em momento que antecede um acontecimento importante que est&aacute; prestes a acontecer, seja um exame, uma viagem, uma entrevista de emprego e at&eacute; mesmo uma mudan&ccedil;a de casa, por exemplo.</p>

				<p><b>✓Ins&ocirc;nia de curto prazo</b></p>

				<p>Esse tipo de dist&uacute;rbio tamb&eacute;m &eacute; relativamente comum e normalmente persiste durante v&aacute;rias semanas. A ins&ocirc;nia de curto prazo, normalmente surge ap&oacute;s a ocorr&ecirc;ncia de uma situa&ccedil;&atilde;o de estresse ou crise.</p>

				<p><b>✓Cr&ocirc;nica</b></p>

				<p>A ins&ocirc;nia cr&ocirc;nica &eacute; um dos piores tipos do dist&uacute;rbio. Nesse tipo, a pessoa possui extrema dificuldade de pegar no sono e manter-se dormindo durante longos per&iacute;odos. &Eacute; a causa de muitos transtornos e sofrimentos durante per&iacute;odos que podem percorrer meses e at&eacute; mesmo anos.</p>

				<p><b>✓Ins&ocirc;nia de manuten&ccedil;&atilde;o</b></p>

				<p>Esse tipo &eacute; caracterizado n&atilde;o pela dificuldade em adormecer, e sim pelo aumento de despertar durante o per&iacute;odo noturno.</p>

				<p><b>✓Consequ&ecirc;ncias e perigos de uma noite de sono ruim</b></p>

				<p>H&aacute; uma s&eacute;rie de riscos envolvidos em uma noite mal dormida. A quantidade de sono necess&aacute;ria, &eacute; algo muito relativo e individual, uns se sentem bem ap&oacute;s seis horas bem dormidas, enquanto outros precisam de dez horas de sono.</p>

				<p>A grande verdade &eacute; que apenas uma noite mal dormida, j&aacute; pode trazer uma s&eacute;rie de problemas &agrave; sa&uacute;de das pessoas. Mostrarei logo a seguir, as consequ&ecirc;ncias e perigos de uma noite de sono ruim.</p>

				<p><b>✓Problemas de concentra&ccedil;&atilde;o</b></p>

				<p>Simples redu&ccedil;&otilde;es de per&iacute;odo e qualidade de sono podem levar a severos problemas de concentra&ccedil;&atilde;o. Com apenas uma hora a menos de sono os efeitos do cansa&ccedil;o no dia seguinte s&atilde;o facilmente notados, erros no trabalho, esquecimento de palavras e falta de concentra&ccedil;&atilde;o no tr&acirc;nsito s&atilde;o as primeiras consequ&ecirc;ncias da ins&ocirc;nia.</p>

				<p><b>✓Enfraquecimento do sistema imunol&oacute;gico</b></p>

				<p>O sistema imunol&oacute;gico est&aacute; diretamente ligado ao clico de sono, portanto noites ruins podem afetar diretamente a qualidade de sa&uacute;de. Estudos mostram que a priva&ccedil;&atilde;o do sono, diminuem o n&uacute;mero de c&eacute;lulas de defesa no sangue. Al&eacute;m disso, alguns trabalhos j&aacute; demonstraram que uma pessoa que est&aacute; privada de sono, produz menos anticorpos ao tomar uma vacina quando comparada a algu&eacute;m que dormiu/dorme bem.</p>

				<p><b>✓Dificuldades de emagrecer e problemas relacionados a obesidade</b></p>

				<p>Existem cada vez mais estudos sugerindo a liga&ccedil;&atilde;o de horas dormidas com o peso de uma pessoa. Em geral, adultos e crian&ccedil;as que dormem pouco, tendem a pesar mais do que aqueles que dormem um n&uacute;mero de horas mais adequado.</p>

				<p>A falta de sono perturba o equil&iacute;brio hormonal com rela&ccedil;&atilde;o ao apetite. A leptina horm&ocirc;nio conhecido pelo controle da sensa&ccedil;&atilde;o de saciedade e a grelina que estimula a sensa&ccedil;&atilde;o de fome, normalmente ficam fora de sua faixa de funcionamento adequado. Por isso, quem dorme menos tende a sentir mais fome e desejos de alimentos ricos em gorduras trans e carboidratos simples.</p>

				<p><b>✓Problemas cardiovasculares</b></p>

				<p>A ins&ocirc;nia pode aumentar o risco de desenvolvimento de problemas cardiovasculares. A falta/diminui&ccedil;&atilde;o da libera&ccedil;&atilde;o e atua&ccedil;&atilde;o de horm&ocirc;nios como a melatonina, durante a noite colabora para a forma&ccedil;&atilde;o de co&aacute;gulos sangu&iacute;neos, que pode culminar em infarto, aumento da press&atilde;o arterial e at&eacute; mesmo AVC.</p>

				<p><b>✓Altera&ccedil;&otilde;es de humor e diminui&ccedil;&atilde;o de desejo sexual</b></p>

				<p>Noites mal dormidas influenciam diretamente no bem-estar das pessoas, com isso altera&ccedil;&otilde;es de humor, como a presen&ccedil;a de irritabilidade por exemplo, s&atilde;o comuns em pessoas que n&atilde;o dormem adequadamente.</p>

				<p>Al&eacute;m disso, homens e mulheres privados do sono, apresentam libido mais baixa e menos interesse na pr&aacute;tica sexual. Dormir pouco, faz com que toda energia se esgote, aumentando os n&iacute;veis de tens&atilde;o e estresse que culminam em um menor interesse sexual pelo parceiro.</p>

				<p>Por isso, uma noite de sono &eacute; sempre muito importante.</p>

				<p>Com isso vamos chegando ao fim do nosso primeiro relat&oacute;rio. Espero que voc&ecirc;s tenham gostado e apreciado. No pr&oacute;ximo relat&oacute;rio, irei abordar os dados da ins&ocirc;nia e quais s&atilde;o os benef&iacute;cios de uma boa noite de sono.</p>

				<p>Fiquem ligados e n&atilde;o percam! Espero voc&ecirc;s no pr&oacute;ximo relat&oacute;rio.</p>

				<p>Grande abra&ccedil;o!</p>

				<p>Dr. Rocha.<b>&nbsp;</b></p>

				<p>&nbsp;</p>

		</div>
	</div>
		<!-- fim modulos -->
	
 </div>		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>





<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	

<body>
</body>
</html>
