<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 9 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório_dados_insonia_rel2.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Ol&aacute;, aqui &eacute; o Dr. Rocha mais uma vez. Nesse segundo relat&oacute;rio sobre ins&ocirc;nia, mostrarei a voc&ecirc;s os dados sobre esse preocupante dist&uacute;rbio em diferentes partes do mundo, inclusive no Brasil, al&eacute;m de mostrar quais s&atilde;o os benef&iacute;cios de uma noite de sono adequada.</p>

				<p>Me acompanhem no artigo a seguir e abaste&ccedil;am suas mentes com mais conhecimento sobre esse delicado assunto.</p>

				<h4><b>Ins&ocirc;nia e os Descaminhos Di&aacute;rios</b></h4>

				<p>Acabar com o mau humor, a falta de mem&oacute;ria, irrita&ccedil;&atilde;o, des&acirc;nimo e outros males &eacute; simples. Basta uma noite de sono de qualidade. O problema &eacute; que a ins&ocirc;nia pode ser a grande causadora desses problemas que acabei de citar.</p>

				<p>Al&eacute;m de todos os problemas que citei no relat&oacute;rio anterior que podem ocasionar esse dist&uacute;rbio, a vida moderna tamb&eacute;m possui uma parcela de culpa nas noites mal dormidas. Muitas pessoas ao se deitarem, ficam assistindo TV, mexendo no celular e essa luz que incide sobre os olhos confunde o c&eacute;rebro e afeta negativamente a qualidade do sono e, consequentemente, do descanso.</p>

				<h4><b>Dados Sobre a Ins&ocirc;nia</b></h4>

				<p>A Associa&ccedil;&atilde;o Mundial de Medicina do Sono diz que a ins&ocirc;nia &eacute; uma epidemia global que amea&ccedil;a a sa&uacute;de e a qualidade de vida de cerca de 45% da popula&ccedil;&atilde;o de todo o mundo. De acordo com a institui&ccedil;&atilde;o, o mundo vive uma verdadeira epidemia de restri&ccedil;&atilde;o do sono. E como citei no primeiro relat&oacute;rio, noites sem sono podem desencadear uma s&eacute;rie de problemas de sa&uacute;de.</p>

				<p>Dados fornecidos pela OMS &ndash; Organiza&ccedil;&atilde;o Mundial da Sa&uacute;de - mostram que 40% da popula&ccedil;&atilde;o mundial n&atilde;o dorme de maneira realmente satisfat&oacute;ria e apresenta algum dos mais de 80 dist&uacute;rbios e s&iacute;ndromes do sono listados pela CIDS &ndash; Classifica&ccedil;&atilde;o Internacional dos Dist&uacute;rbios do Sono.</p>

				<p>Dados de uma pesquisa realizada pela SBS &ndash; Sociedade Brasileira do Sono - com cerca de 40 mil pessoas que residem nas principais capitais do pa&iacute;s mostraram que 54% delas sofrem algum tipo de ins&ocirc;nia, e cerca de 43% permanecem extremamente cansados no decorrer do dia.</p>

				<p>Um levantamento realizado pela Cl&iacute;nica Med Rio Checkup, na cidade do Rio de Janeiro, realizou mais de 100 mil exames m&eacute;dicos em executivos e funcion&aacute;rios de alta ger&ecirc;ncia de grandes empresas do pa&iacute;s e mostrou que houve eleva&ccedil;&atilde;o dos casos de pacientes que apresentavam ins&ocirc;nia e depress&atilde;o no primeiro semestre desse ano em compara&ccedil;&atilde;o com o mesmo per&iacute;odo do ano passado.</p>

				<p>No ano de 2016, a ins&ocirc;nia atingia cerca de 20% menos pessoas do que atinge hoje. O levantamento observou tamb&eacute;m uma eleva&ccedil;&atilde;o nos &iacute;ndices de depress&atilde;o, que saltaram de 8% para pouco mais de 12%, um aumento abrupto de quase 50%. A depress&atilde;o &eacute; uma condi&ccedil;&atilde;o fisiol&oacute;gica diretamente ligada &agrave; ins&ocirc;nia.</p>

				<p>A rotina cada vez mais corrida e agitada das grandes cidades al&eacute;m de afetar a qualidade do sono de muitas pessoas, vem diminuindo tamb&eacute;m a quantidade de horas dormidas diariamente. De acordo com um estudo da Faculdade de Medicina de Harvard as pessoas hoje dormem uma hora a menos do que as pessoas da d&eacute;cada de 1950, e essauma hora de sono pode trazer grandes impactos (negativos) na vida das pessoas.</p>

				<p>Uma pesquisa realizada pela Agencia Nacional de Sa&uacute;de (ANS), a pesquisa revelou que 40% dos brasileiros consideram que o fato de n&atilde;o dormir suficiente &eacute; a principal causa de estresse e cansa&ccedil;o no dia a dia.</p>

			    <div class="video-container">
               <iframe src="https://player.vimeo.com/video/239975721" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

                </div>

				<h4><b>Principais Benef&iacute;cios de uma Noite de Sono Adequada</b></h4>

				<p>Um sono regulado &eacute; primordial para mantermos a sa&uacute;de em dia e com isso termos qualidade de vida, alegria e satisfa&ccedil;&atilde;o plena em nossas rotinas. A seguir mostrarei os principais benef&iacute;cios de uma noite de sono adequada.</p>

				<p><b>✓Previne a press&atilde;o alta</b></p>

				<p>Outro estudo realizado na Universidade de Chicago demonstrou que uma boa noite de sono ininterrupta est&aacute; diretamente relacionada a bons n&iacute;veis de press&atilde;o arterial. Neurologistas afirmam que a dificuldade em descansar durante a noite &eacute; a mesma coisa que um estado de estresse, que aumenta a atividade da adrenalina no corpo.</p>

				<p>Uma noite mal dormida deixa o organismo em estado de alerta, o que aumenta de maneira autom&aacute;tica os n&iacute;veis de press&atilde;o arterial. Pessoas que t&ecirc;m ins&ocirc;nia cr&ocirc;nica, automaticamente desenvolvem hipertens&atilde;o.</p>

				<p>Uma boa noite de sono &eacute; capaz de estabilizar os n&iacute;veis de press&atilde;o arterial. Noites seguidas de sono de qualidade &eacute; uma &oacute;tima maneira de afastar essa terr&iacute;vel doen&ccedil;a de voc&ecirc;.</p>

				<p><b>✓Preven&ccedil;&atilde;o da obesidade</b></p>

				<p>&Eacute; durante o sono que a leptina (horm&ocirc;nio da saciedade) &eacute; produzido. Pessoas que dormem mal produzem menores quantidades dessa subst&acirc;ncia, e a consequ&ecirc;ncia disso &eacute; a ingest&atilde;o exagerada de calorias pelo simples fato de o organismo n&atilde;o se sentir satisfeito.</p>

				<p>Outro fator importante &eacute; a perda de gordura. De acordo com um estudo feito na Universidade de Chicago, pessoas que dormem entre seis e oito horas por dia queimam gordura mais facilmente do que pessoas que possuem o sono fragmentado. Dormir mal reduz em 55% a efici&ecirc;ncia de queima de gordura corporal.</p>

				<p>Ao dormir bem, a leptina ser&aacute; produzida em quantidade correta e a perda de gordura ocorrer&aacute; de modo mais efetivo. Isso previne diretamente a obesidade.</p>

				<p><b>✓Melhora do desempenho f&iacute;sico</b></p>

				<p>Quando temos uma noite de sono adequada sem qualquer tipo de interrup&ccedil;&otilde;es, nosso corpo come&ccedil;a a produzir um horm&ocirc;nio chamado de GH, que &eacute; respons&aacute;vel pelo crescimento. Essa subst&acirc;ncia s&oacute; come&ccedil;a a ser produzida ap&oacute;s meia hora de sono. Por conta disso, pessoas que t&ecirc;m o sono fragmentado sofrem dificuldades na sintetiza&ccedil;&atilde;o dessa subst&acirc;ncia.</p>

				<p>Esse famoso horm&ocirc;nio tem fun&ccedil;&otilde;es importantes no organismo, como auxiliar na manuten&ccedil;&atilde;o do t&ocirc;nus muscular, evitar o ac&uacute;mulo de gordura corporal, combater a osteoporose e principalmente melhorar o desempenho f&iacute;sico e resist&ecirc;ncia na pr&aacute;tica esportiva.</p>

				<p><b>✓Mem&oacute;ria fortalecida</b></p>

				<p>Pessoas que conseguem ter uma noite de sono adequada absorvem melhor as informa&ccedil;&otilde;es do dia a dia do que as pessoas que sofrem com a ins&ocirc;nia e ficam longos per&iacute;odos sem dormir, &eacute; o que diz um estudo conduzido na universidade de Lubeck, na Alemanha. De acordo com os pesquisadores envolvidos no projeto, isso acontece porque durante o processo de descanso ocorre a s&iacute;ntese de prote&iacute;nas respons&aacute;veis por uma s&eacute;rie de conex&otilde;es neurais, o que aprimora habilidades neurol&oacute;gicas como aprendizado e, principalmente, mem&oacute;ria.</p>

				<p><b>✓Diminui as chances de depress&atilde;o</b></p>

				<p>As chances de a depress&atilde;o acometer e comprometer a qualidade de vida de uma pessoa pode ser menor se ela dormir entre seis e oito horas diariamente. Foi o que indicou um estudo conduzido no Cleveland SleepDisorders Center, na cidade de Ohio &ndash; EUA, que analisou mais de 10 mil pessoas para realiza&ccedil;&atilde;o desse estudo.</p>

				<p>Os resultados mostraram que as pessoas com o sono considerado normal, ou seja, que dormiam entre seis e oito horas por dia,apresentaram maiores &iacute;ndices de qualidade de vida e baixos n&iacute;veis de depress&atilde;o em compara&ccedil;&atilde;o &agrave;s pessoas que dormiam um per&iacute;odo de tempo menor.</p>

				<p>O estudo tamb&eacute;m constatou que pessoas que dormem menos que seis e mais do que oito horas por dia sofrem uma piora na qualidade de vida e apresenta altos n&iacute;veis de depress&atilde;o.</p>

				<p><b>✓Controle do diabetes</b></p>

				<p>Pessoas diab&eacute;ticas e com ins&ocirc;nia desenvolvem maior resist&ecirc;ncia insul&iacute;nica, o que torna o controle da doen&ccedil;a muito mais dif&iacute;cil, segundo um estudo realizado pela NorhwesternUniversity, nos EUA.</p>

				<p>Pesquisadores que conduziram o estudo monitoraram o sono de pessoas diab&eacute;ticas durante um per&iacute;odo de seis noites. Os indiv&iacute;duos que tiveram o sono de m&aacute; qualidade apresentaram aumento de 25% dos n&iacute;veis de glicose no sangue e 49% dos n&iacute;veis de insulina.</p>

				<p>Utilizando esses n&uacute;meros a fim de estimar a resist&ecirc;ncia &agrave; insulina dos participantes do estudo, os pesquisadores conclu&iacute;ram que portadores de diabetes que possuem ins&ocirc;nia, possu&iacute;am pouco mais de 80% de resist&ecirc;ncia &agrave; insulina em compara&ccedil;&atilde;o aos portadores que possuem uma elevada qualidade de sono.</p>

				<p><b>✓Melhora o desempenho em tarefas di&aacute;rias</b></p>

				<p>Pessoas que possuem ins&ocirc;nia e n&atilde;o dormem de maneira adequada dificilmente conseguem atingir os est&aacute;gios mais profundos do sono. Por essa raz&atilde;o, n&atilde;o descansam de maneira adequada.</p>

				<p>De acordo com neurologistas, pessoas que n&atilde;o dormem qualitativamente sofrem de sonol&ecirc;ncia diurna, se tornam mais propensas a irrita&ccedil;&otilde;es, a fadiga, a dificuldade para se concentrar e at&eacute; mesmo absorver novas informa&ccedil;&otilde;es.</p>

				<p>Por&eacute;m, tudo isso pode ser contornado com uma noite de sono adequada. Quando atingimos est&aacute;gios profundos do sono, horm&ocirc;nios s&atilde;o liberados em quantidades corretas e a energia &eacute; praticamente recarregada.</p>

				<p>Uma boa noite de sono melhora circunstancialmente uma s&eacute;rie de tarefas di&aacute;rias como trabalhar, dirigir e at&eacute; mesmo praticar atividades f&iacute;sicas.</p>

				<p>Isso s&oacute; prova o quanto &eacute; importante buscarmos uma noite de sono tranquila e totalmente adequada.</p>

				<p>Com isso chegamos ao fim do nosso segundo relat&oacute;rio. No nosso terceiro e &uacute;ltimo relat&oacute;rio da s&eacute;rie sobre ins&ocirc;nia eu farei com que voc&ecirc; se questione sobre a qualidade do seu sono e te mostrarei como ter noites de sono tranquilas. N&atilde;o perca.</p>

				<p>Forte abra&ccedil;o e at&eacute; o pr&oacute;ximo relat&oacute;rio.</p>

				<p>Dr. Rocha.</p>
		</div>
	</div>
		<!-- fim modulos -->
	
		
 </div>		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}

	

<body>
</body>
</html>
