<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Bem + Mulher">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

    <title>
        Bem + Mulher
    </title>


</head>



<body data-spy="scroll" data-offset="400">


<div class="navbar navbar-default" style="background-color: #ffffff;">
    <div class="navbar-header pull-left">
        <img id="logoproduto" class="img-responsive img-center" src="/images/produtos/{{ keyword }}/logo.png" alt=""/>
        <div class="clearfix"></div>
        <a class="backarrow" href="" onclick="window.history.go(-1); return false;">
            <i class="fa fa-chevron-left"></i> VOLTAR
        </a>
    </div>

    <div class="navbar-header pull-right" style="color: #000000;">
        <p style="text-transform: uppercase; font-size: 20px; line-height: 1.42857143; padding-top: 10px; padding-bottom: 0; margin-right: 25px; margin-bottom: 0; font-weight: bold;">
            <span style="color: #89008d;">Bem +</span> <span class="firstname" style="color: #b3aaf6;"></span>
        </p>
        <p>
            Seja bem-vinda!
        </p>
    </div>
</div>



<section class="white-bg padding-top-bottom" style="margin-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 margin-b50">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://player.vimeo.com/video/229558801?autoplay=false"
                            style=" border: 10px solid #b3aaf6; border-radius: 5px;"
                            width="640" height="360"
                            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div id="produto_keyword" style="display: none;">bem_mais_mulher</div>

        <div class="row">

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo1">
                    <img id="img_modulo1" class="img-responsive img-center margin-b10" modulo="modulo1"
                         src="/images/produtos/bem_mais_mulher/modulo1/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo1" modulo="modulo1" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo2">
                    <img id="img_modulo2" class="img-responsive img-center margin-b10" modulo="modulo2"
                         src="/images/produtos/bem_mais_mulher/modulo2/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo2" modulo="modulo2" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo3">
                    <img id="img_modulo3" class="img-responsive img-center margin-b10" modulo="modulo3"
                         src="/images/produtos/bem_mais_mulher/modulo3/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo3" modulo="modulo3" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo4">
                    <img id="img_modulo4" class="img-responsive img-center margin-b10" modulo="modulo4"
                         src="/images/produtos/bem_mais_mulher/modulo4/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo4" modulo="modulo4" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo5">
                    <img id="img_modulo5" class="img-responsive img-center margin-b10" modulo="modulo5"
                         src="/images/produtos/bem_mais_mulher/modulo5/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo5" modulo="modulo5" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo6">
                    <img id="img_modulo6" class="img-responsive img-center margin-b10" modulo="modulo6"
                         src="/images/produtos/bem_mais_mulher/modulo6/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo6" modulo="modulo6" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo7">
                    <img id="img_modulo7" class="img-responsive img-center margin-b10" modulo="modulo7"
                         src="/images/produtos/bem_mais_mulher/modulo7/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo7" modulo="modulo7" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo8">
                    <img id="img_modulo8" class="img-responsive img-center margin-b10" modulo="modulo8"
                         src="/images/produtos/bem_mais_mulher/modulo8/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo8" modulo="modulo8" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo9">
                    <img id="img_modulo9" class="img-responsive img-center margin-b10" modulo="modulo9"
                         src="/images/produtos/bem_mais_mulher/modulo9/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo9" modulo="modulo9" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo10">
                    <img id="img_modulo10" class="img-responsive img-center margin-b10" modulo="modulo10"
                         src="/images/produtos/bem_mais_mulher/modulo10/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo10" modulo="modulo10" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo11">
                    <img id="img_modulo11" class="img-responsive img-center margin-b10" modulo="modulo11"
                         src="/images/produtos/bem_mais_mulher/modulo11/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo11" modulo="modulo11" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

            <div class="col-sm-2 margin-b20">
                <a class="hand-cursor btnOpenModulo" modulo="modulo12">
                    <img id="img_modulo12" class="img-responsive img-center margin-b10" modulo="modulo12"
                         src="/images/produtos/bem_mais_mulher/modulo12/thumb.png" alt=""/>
                </a>

                <button id="btn_modulo12" modulo="modulo12" class="btn btn-purple btnOpenModulo btn-block btn-responsive">
                    ACESSAR <i class="fa fa-chevron-right"></i>
                </button>
            </div>

        </div>



        <div class="row" style="margin-top: 100px;">
            <div class="col-sm-4 margin-b20">
                <div class="post-container">
                    <div class="post-thumb"><img src="/images/produtos/bem_mais_mulher/sobreconteudo.png" /></div>
                    <div class="post-content">
                        <h3 class="post-title">
                            Sobre o Conteúdo
                        </h3>
                    </div>
                </div>

                <p>
                    Os conteúdos são disponibilizados a cada 30 dias. Você terá acesso
                    vitalício a todos os relatórios e vídeos da plataforma. As informações contidas
                    nos relatórios são publicadas exclusivamente para fins informativos e não podem
                    substituir uma consulta médica ou aconselhamento médico pessoal.
                </p>
            </div>

            <div class="col-sm-4 margin-b20">
                <div class="post-container">
                    <div class="post-thumb"><img src="/images/produtos/bem_mais_mulher/reproducaoproibida.png" /></div>
                    <div class="post-content">
                        <h3 class="post-title">
                            Reprodução Proibida
                        </h3>
                    </div>
                </div>

                <p>
                    Atenção: Os dados de acesso ao treinamento são pessoais e intransferíveis,
                    não é autorizado o compartilhamento. Para sua segurança, caso o sistema identifique
                    outras pessoas usando seus dados de acessos para entrar no treinamento, a
                    plataforma irá por medidas de segurança bloquear o acesso.
                </p>
            </div>

            <div class="col-sm-4 margin-b20">
                <div class="post-container">
                    <div class="post-thumb"><img src="/images/produtos/bem_mais_mulher/suporte.png" /></div>
                    <div class="post-content">
                        <h3 class="post-title">
                            Suporte Técnico
                        </h3>
                    </div>
                </div>

                <p>
                    O Suporte do Dr. Rocha com você está aqui para ajudar. Envie sua dúvida ou
                    sugestão para o e-mail: <b>suporte@drrocha.com.br</b>
                </p>
            </div>

        </div>

    </div>
</section>





<footer id="main-footer" class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive img-center margin-b20" src="/images/produtos/bem_mais_mulher/logo.png" alt=""/>

                <p class="text-center">
                    Portal Dr. Rocha 2017
                </p>
            </div>
        </div>
    </div>
</footer>



<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<link rel="stylesheet" href="/build/css/main.min.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>



<!-- JS files -->
{{assets.main.bmm_produtojs}}

{% if (env == 'development') %}
    {% for file in assets.main.js %}
        <script type="text/javascript" src="{{file}}"></script>
    {% endfor %}

    {% for file in assets.main.bmm_produtojs %}
        <script type="text/javascript" src="{{file}}"></script>
    {% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/bem_mais_mulher/produto.min.js"></script>
{% endif %}



</body>

</html>