<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 1 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório11-intestino-rel3-1.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			    <p>Ol&aacute;, aqui &eacute; o Dr. Rocha falando. Ap&oacute;s dois relat&oacute;rios abordarem sobre intestino, suas fun&ccedil;&otilde;es e doen&ccedil;as mais comuns, neste terceiro e &uacute;ltimo relat&oacute;rio da s&eacute;rie irei falar sobre qu&atilde;o inteligentes s&atilde;o nossas c&eacute;lulas intestinais e falarei como o uso de compostos probi&oacute;ticos, prebi&oacute;ticos e simbi&oacute;ticos podem trazer uma s&eacute;rie de benef&iacute;cios &agrave; sa&uacute;de.</p>
				<p>Se voc&ecirc; leu os dois primeiros relat&oacute;rios dessa s&eacute;rie, ent&atilde;o precisa ler esse &uacute;ltimo relat&oacute;rio para fechar a nossa s&eacute;rie com chave de ouro. Boa leitura!</p>

				<h4><b>Neur&ocirc;nios na barriga</b></h4>
				<p>O corpo humano &eacute; repleto de &oacute;rg&atilde;os para que tudo funcione em harmonia.Entre os mais famosos est&atilde;o: cora&ccedil;&atilde;o, rins, f&iacute;gado e, claro, o c&eacute;rebro. Por&eacute;m, na comunidade m&eacute;dica quem vem realmente chamando aten&ccedil;&atilde;o &eacute; o intestino.</p>
				<p>Se pud&eacute;ssemos abrir e esticar os dois trechos intestinais que possu&iacute;mos, o intestino delgado e o intestino grosso, seria poss&iacute;vel cobrir uma &aacute;rea de quase 250 metros quadrados, algo equivalente a uma quadra de t&ecirc;nis. E tudo isso est&aacute; emaranhado em nosso interior.</p>
			
				<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/neoronio.jpg"></div>
			
			<p>Por&eacute;m, n&atilde;o &eacute; isso que realmente chama a aten&ccedil;&atilde;o. O que torna o intestino algo fascinante &eacute; que al&eacute;m de alojar uma enorme quantidade de bact&eacute;rias, cruciais para o bom funcionamento do organismo, &eacute; a presen&ccedil;a de neur&ocirc;nios em praticamente toda a sua extens&atilde;o. Isso mesmo, neur&ocirc;nios, iguais aos que possu&iacute;mos no c&eacute;rebro.</p>
				<p>Renomados gastroenterologistas calculam que o intestino humano cont&eacute;m cerca de 500 milh&otilde;es de neur&ocirc;nios.&Eacute; uma quantidade relativamente inferior &agrave; massa cinzenta presente no c&eacute;rebro.Esse &uacute;ltimo possui milh&otilde;es de neur&ocirc;nios, no entanto, &eacute; mais do que suficiente para formar um sistema nervoso pr&oacute;prio, respons&aacute;vel por coordenar tarefas, tais como a libera&ccedil;&atilde;o de subst&acirc;ncias digestivas e tamb&eacute;m estimular os movimentos perist&aacute;lticos, que fazem com que o bolo alimentar se movimente por todo o trato digest&oacute;rio at&eacute; ser de fato evacuado.</p>
				<p>Todo o sistema digest&oacute;rio opera sozinho, ou seja, n&atilde;o precisa de nenhum comando cerebral.&Eacute; exatamente por isso que, cada vez mais, o intestino vem sendo chamado de segundo c&eacute;rebro.</p>
				<p>Al&eacute;m do mais, os neur&ocirc;nios intestinais chamam a aten&ccedil;&atilde;o tamb&eacute;m pela produ&ccedil;&atilde;o de serotonina, uma mol&eacute;cula amplamente conhecida capaz de causar a sensa&ccedil;&atilde;o de bem-estar. Cerca de 80% da serotonina descarregada pelo corpo &eacute; fabricada ali. Esse neurotransmissor &eacute; muito importante, pois garante o bom funcionamento intestinal, al&eacute;m, &eacute; claro, de exercer um &oacute;timo efeito sist&ecirc;mico.</p>
				<p>A serotonina &eacute; apenas um dos mais de 30 mensageiros qu&iacute;micos que s&atilde;o produzidos e secretados pelo intestino.</p>
				<p>Toda essa s&eacute;rie de subst&acirc;ncias secretadas s&atilde;o encarregadas de transmitir recados de um lado para o outro, ou seja, estabelecendo uma comunica&ccedil;&atilde;o eficiente entre o intestino e o c&eacute;rebro.</p>
				<p>Essa comunica&ccedil;&atilde;o altamente eficiente ocorre de modo direto por meio do nervo vago, estrutura que passa pelo t&oacute;rax ligando o trato digest&oacute;rio &agrave; cabe&ccedil;a. O nervo vago na verdade &eacute; uma via de m&atilde;o dupla.Assim como o intestino &eacute; capaz de mandar mensagens para o c&eacute;rebro, atrav&eacute;s dele a comunica&ccedil;&atilde;o inversa tamb&eacute;m ocorre. &Eacute; exatamente por esse motivo que, quando nos deparamos com uma situa&ccedil;&atilde;o estressante,podemos sentir aquele friozinho na barriga, ou ent&atilde;o vontade de ir ao banheiro.</p>
				<h4><b>Assim como os neur&ocirc;nios, as bact&eacute;rias tamb&eacute;m s&atilde;o importantes</b></h4>
				<p>Al&eacute;m dos neur&ocirc;nios, h&aacute; outro elemento um tanto quanto importante para bom funcionamento de nosso intestino que reflete diretamente na nossa sa&uacute;de, tranquilidade e bem-estar: a flora bacteriana, tamb&eacute;m conhecida como&nbsp;<b>microbiota</b>.</p>
				<p>O intestino possui em m&eacute;dia, cerca de 100 trilh&otilde;es de bact&eacute;rias.Esse n&uacute;mero &eacute; quase dez vezes maior que o n&uacute;mero de c&eacute;lulas do nosso corpo. Todo esse contingente bacteriano representa aproximadamente&nbsp;<b>3 quilos</b>&nbsp;do peso total de uma pessoa.</p>
				<p>A microbiota intestinal possui um papel fundamental na manuten&ccedil;&atilde;o de nossa sa&uacute;de. Ela auxilia a digest&atilde;o dos alimentos, potencializando de maneira direta nosso sistema imunol&oacute;gico que atua protegendo nosso organismo contra uma s&eacute;rie de agentes invasores, como fungos, v&iacute;rus e principalmente bact&eacute;rias mal&eacute;ficas.</p>
			    
			    <div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/micribiota.jpg"></div> 
			
				<p>Nossa rela&ccedil;&atilde;o com as bact&eacute;rias de nossa microbiota intestinal &eacute; totalmente pac&iacute;fica e proveitosa para ambos os lados. Elas conseguem obter os nutrientes necess&aacute;rios para sua sobreviv&ecirc;ncia e, em troca, regulam nosso organismo como um todo.Ningu&eacute;m sai perdendo.</p>
				<p>Existe atualmente um projeto estadunidense chamado de microbioma humano. Esse projeto, que contou com mais de 80 centros de pesquisa, mapeou todas as bact&eacute;rias do intestino humano. A partir dessa iniciativa, a comunidade m&eacute;dica &eacute; capaz de entender como a flora bacteriana intestinal interfere na predisposi&ccedil;&atilde;o de uma s&eacute;rie de doen&ccedil;as e ainda &eacute; capaz de influenciar o comportamento e as emo&ccedil;&otilde;es das pessoas.</p>
				<p>H&aacute; neurologistas que afirmam que a microbiota intestinal seria nosso terceiro c&eacute;rebro, e nisso eu assino embaixo.</p>
				<p>Por&eacute;m, para que essas bact&eacute;rias se mantenham funcionando corretamente, precisamos aliment&aacute;-las de modo adequado. Esse &eacute; o assunto do nosso pr&oacute;ximo t&oacute;pico.</p>

				<div class="video-container">
                   <iframe src="https://player.vimeo.com/video/248876398" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

                </div>

				<h4><b>Probi&oacute;ticos, prebi&oacute;ticos e simbi&oacute;ticos &ndash; promotores da sa&uacute;de intestinal</b></h4>
				<p>Para vivermos de maneira adequada, precisamos nos alimentar.&Eacute; a alimenta&ccedil;&atilde;o que garante a energia para que nosso organismo n&atilde;o pare de funcionar. Com as bact&eacute;rias isso tamb&eacute;m ocorre, mas os combust&iacute;veis fundamentais para seu bom funcionamento s&atilde;o relativamente diferentes.</p>
				<p>Os melhores combust&iacute;veis bacterianos para manter nossa flora intestinal funcionando ativamente s&atilde;o:<br />&rarr;Probi&oacute;ticos;<br />&rarr;Prebi&oacute;ticos;<br />&rarr;Simbi&oacute;ticos.</p>
				<p>Falarei resumidamente sobre cada um deles a seguir.</p>
				<p><b>1.Probi&oacute;ticos</b></p>
				<p>Os probi&oacute;ticos nada mais s&atilde;o do micro-organismos vivos da nossa flora intestina normal, ou seja, bact&eacute;rias presentes normalmente em nosso intestino, com a fun&ccedil;&atilde;o de auxiliar o funcionamento intestinal e nos proteger contra a a&ccedil;&atilde;o de bact&eacute;rias mal&eacute;ficas.</p>
				<p>Embora pouca gente saiba, h&aacute; alimentos enriquecidos com probi&oacute;ticos e tamb&eacute;m cepas de bact&eacute;rias probi&oacute;ticas que podem ser consumidas para auxiliar a prolifera&ccedil;&atilde;o dessas bact&eacute;rias intestinais, a fim de regular o tr&acirc;nsito intestinal e nos proteger de problemas de sa&uacute;de.</p>
				<p><b>Benef&iacute;cios dos probi&oacute;ticos</b></p>
				<p>H&aacute; uma s&eacute;rie de benef&iacute;cios no uso dos probi&oacute;ticos e/ou ent&atilde;o alimentos enriquecidos com as bact&eacute;rias. Entre os principais destes benef&iacute;cios est&atilde;o:<br />&rarr;Facilita&ccedil;&atilde;o da absor&ccedil;&atilde;o de uma s&eacute;rie de vitaminas e minerais;<br />&rarr;Fortalecimento do sistema imunol&oacute;gico;<br />&rarr;Aumento da produ&ccedil;&atilde;o da lactase - enzima que favorece a digest&atilde;o da lactose;<br />&rarr;Preserva&ccedil;&atilde;o da integridade intestinal.</p>
				<p>A manuten&ccedil;&atilde;o do equil&iacute;brio da microbiota intestinal &eacute; de suma import&acirc;ncia para nosso organismo. H&aacute; estudos que sugerem a a&ccedil;&atilde;o de probi&oacute;ticos na redu&ccedil;&atilde;o de riscos de determinados tipos de c&acirc;nceres.</p>
				<p>Por&eacute;m, n&atilde;o basta ingerir probi&oacute;ticos. Nossa alimenta&ccedil;&atilde;o tem papel fundamental tanto na fixa&ccedil;&atilde;o quanto no desenvolvimento de bact&eacute;rias ben&eacute;ficas. Alimentos ricos em fibras s&atilde;o indicados para essa manuten&ccedil;&atilde;o.</p>
				<p>Os probi&oacute;ticos s&atilde;o comumente encontrados em iogurtes e leites fermentados.</p>
				<p><b>2.Prebi&oacute;ticos</b></p>
				<p>&nbsp;</p>
				<p>Os prebi&oacute;ticos nada mais s&atilde;o do que fibras n&atilde;o diger&iacute;veis, mas que fermentam em nosso intestino e estimulam o crescimento das bact&eacute;rias probi&oacute;ticas.</p>
				<p>As subst&acirc;ncias prebi&oacute;ticas agem alimentando e estimulando o crescimento de diversas bact&eacute;rias intestinais ben&eacute;ficas. Al&eacute;m disso, seu processo de fermenta&ccedil;&atilde;o atua bloqueando algumas &aacute;reas de ader&ecirc;ncia, reduzindo a capacidade de fixa&ccedil;&atilde;o de determinadas bact&eacute;rias patog&ecirc;nicas em nossa mucosa intestinal.</p>
				<p><b>Benef&iacute;cios dos pr&eacute;bi&oacute;ticos</b></p>
				<p>Os principais benef&iacute;cios dos pr&eacute;bi&oacute;ticos a nossa sa&uacute;de s&atilde;o:<br />&rarr;Facilita&ccedil;&atilde;o da prolifera&ccedil;&atilde;o de bact&eacute;rias ben&eacute;ficas;<br />&rarr;Melhora do funcionamento intestinal;<br />&rarr;Diminui&ccedil;&atilde;o dos riscos de infec&ccedil;&otilde;es;<br />&rarr;Diminui&ccedil;&atilde;o da absor&ccedil;&atilde;o de gorduras pelo intestino &ndash; colaborando para redu&ccedil;&atilde;o dos n&iacute;veis de colesterol total;<br />&rarr;Aumenta a absor&ccedil;&atilde;o de vitaminas e minerais.</p>
				<p>As fibras pr&eacute;bi&oacute;ticas mais comuns s&atilde;o:</p>
				<p>Inulina &ndash; encontrada principalmente em vegetais verdes folhosos, cebola e alho;</p>
				<p>Frutooligossacar&iacute;deos (ou FOS) &ndash; s&oacute; podem ser encontrados em quantidades significativas quando manipulados.</p>
				<p><b>Simbi&oacute;ticos</b></p>
				<p>&nbsp;</p>
				<p>O termo simbi&oacute;tico &eacute; dado a produtos que associam os prebi&oacute;ticos com os probi&oacute;ticos com a finalidade de intensificar os efeitos de ambos os componentes.</p>
				<p>A a&ccedil;&atilde;o de simbi&oacute;ticos modula a microbiota intestinal, que depende basicamente de alimenta&ccedil;&atilde;o para sua manuten&ccedil;&atilde;o adequada. Conforme os simbi&oacute;ticos melhoram o bolo fecal, ocorre diminui&ccedil;&atilde;o da absor&ccedil;&atilde;o da glicose e elimina&ccedil;&atilde;o do colesterol.</p>
				<p>Os simbi&oacute;ticos tamb&eacute;m auxiliam na regenera&ccedil;&atilde;o da mucosa intestinal e diminuem as chances de c&acirc;ncer do sistema digest&oacute;rio e as possibilidades de infec&ccedil;&otilde;es sist&ecirc;micas gra&ccedil;as &agrave;s defici&ecirc;ncias bacterianas.</p>
				<p>Probi&oacute;ticos, pr&eacute;bi&oacute;ticos e simbi&oacute;ticos podem ser utilizados em casos de diarreia e em tratamentos com antibi&oacute;ticos &ndash; contribuindo para manuten&ccedil;&atilde;o ou reposi&ccedil;&atilde;o de flora intestinal. A utiliza&ccedil;&atilde;o de todas essas subst&acirc;ncias deve estar sempre associada &agrave; uma alimenta&ccedil;&atilde;o saud&aacute;vel, bem como a pr&aacute;tica de atividades f&iacute;sicas regulares.</p>
				<p>Com isso chegamos ao fim da s&eacute;rie de relat&oacute;rios sobre o intestino. Espero que voc&ecirc;s tenham gostado e aprendido bastante.</p>
				<p>Me despe&ccedil;o desejando sa&uacute;de, paz, sorte, felicidade e amor.</p>
				<p>Forte abra&ccedil;o e at&eacute; a pr&oacute;xima s&eacute;rie de relat&oacute;rios.</p>
				<p>Dr. Rocha.</p>
			    <br>
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			    <br>
			   
				
		</div>
	</div>
		<!-- fim modulos -->
		
	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>



<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	
	
	

<body>
</body>
</html>
