<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 11 > </a>  relatório 1º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório11-intestino.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Ol&aacute;, aqui &eacute; o Dr. Rocha falando. Com este texto estou dando in&iacute;cio a mais uma s&eacute;rie de relat&oacute;rios voltados &agrave; &aacute;rea da sa&uacute;de. O tema dessa s&eacute;rie de tr&ecirc;s relat&oacute;rios &eacute;&nbsp;<strong>intestino</strong>. Nesse primeiro relat&oacute;rio irei explicar para voc&ecirc;s&nbsp;<strong>o que &eacute; o intestino</strong>, qual &eacute; sua&nbsp;<strong>localiza&ccedil;&atilde;o no nosso corpo</strong>, quais s&atilde;o suas&nbsp;<strong>fun&ccedil;&otilde;es e import&acirc;ncia</strong>&nbsp;para o nosso dia a dia.</p>

				<p>Portanto, n&atilde;o deixe de ler essa s&eacute;rie de relat&oacute;rios, pois o tema &eacute; muito interessante.Voc&ecirc; n&atilde;o vai se arrepender.</p>

				<h3><strong>Compreendendo o sistema digest&oacute;rio</strong></h3>

				<p>Antes de falar apenas do intestino, &eacute; preciso abordar um pouco o sistema digest&oacute;rio como um todo. O trato digest&oacute;rio e os &oacute;rg&atilde;os anexos constituem todo o sistema que chamamos de digest&oacute;rio.</p>

				<p>O trato digest&oacute;rio &eacute; popularmente conhecido na comunidade m&eacute;dica como um tubo (longo) que se estende desde a cavidade bucal at&eacute; o &acirc;nus, e pode ser chamado de canal alimentar ou trato gastrintestinal.</p>

				<p>As estruturas anat&ocirc;micas que comp&otilde;em o sistema digest&oacute;rio s&atilde;o:</p>
				<div class="row">
					<div class="col s12 m6">
						<p>&rarr;Boca;<br />
							&rarr;Faringe;<br />
							&rarr;Est&ocirc;mago;<br />
							&rarr;Es&ocirc;fago;<br />
							&rarr;Intestino Grosso;<br />
							&rarr;Intestino Delgado;<br />
							&rarr;Reto;<br />
						&rarr;&Acirc;nus;</p>	
					</div>
					<div class="col s12 m6">
						<img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/sistema-digestorio.jpg">
						
					</div>
				</div>
				<p>Nessa série de relatórios abordarei de maneira exclusiva o intestino.</p>
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<div class="video-container">
       <iframe src="https://player.vimeo.com/video/248875689" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
			<br>
		   <p>Conforme mostrei anteriormente, o intestino faz parte do nosso sistema digestório e é através dele que ocorrem as absorções dos nutrientes retirados dos alimentos que ingerimos e também de água.</p>
				<p>O intestino &eacute; dividido basicamente em duas partes. S&atilde;o elas:<br />
					&rarr; Intestino Delgado;<br />
				&rarr; Intestino Grosso;</p>

				<div class="row">
					<div class="col s12 m6">
						<p>É no intestino delgado que ocorre a absorção da grande maioria dos nutrientes, como vitaminas, minerais, proteínas, carboidratos e outros. Já no intestino grosso é onde ocorre a absorção da maior parte de água utilizada durante o processo de digestão dos alimentos.
						</p>
					</div>
					<div class="col s12 m6">
						<img src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/intestino.jpg">
						
					</div>
				</div>
				<p>A seguir falarei de maneira individual sobre cada um desses intestinos.</p>

				<p>✓Intestino delgado A principal parte da digest&atilde;o ocorre nele, no intestino delgado, que se estende desde o piloro at&eacute; a jun&ccedil;&atilde;o ile&oacute;colica &ndash; que nada mais s&atilde;o do que estruturas anat&ocirc;micas de jun&ccedil;&atilde;o. O intestino Delgado, em sua termina&ccedil;&atilde;o, se liga ao intestino grosso para dar continuidade ao processo de digest&atilde;o dos alimentos e absor&ccedil;&atilde;o dos nutrientes para o organismo. Portanto, o intestino delgado &eacute; um &oacute;rg&atilde;o indispens&aacute;vel para toda e qualquer pessoa.</p>

				<p>Pelo simples fato dos principais eventos da digest&atilde;o e absor&ccedil;&atilde;o de nutrientes ocorrerem no intestino delgado, sua estrutura &eacute; especialmente adaptada para a realiza&ccedil;&atilde;o plena e eficaz dessa fun&ccedil;&atilde;o.</p>

				<p>Sua extens&atilde;o fornece grande &aacute;rea de superf&iacute;cie para a digest&atilde;o e absor&ccedil;&atilde;o, sendo ainda um tanto quanto aumentada pelas pregas circulares, vilosidades e principalmente microvilosidades.</p>

				<p>O intestino delgado est&aacute; localizado na nossa regi&atilde;o abdominal.Se fossemos medir de maneira natural, pode-se dizer que ele est&aacute; localizadoaproximadamenteum palmo acima de nosso umbigo.</p>

				<p>O comprimento do intestino delgado pode variar entre 3 e 9 metros e &eacute; dividido em tr&ecirc;s partes. S&atilde;o elas:</p>

				<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/intestino-delgado.jpg"></div>

				<p>A seguir explicarei sobre a fun&ccedil;&atilde;o de cada uma dessas estruturas.</p>

				<p><strong>✓</strong><strong>Duodeno</strong></p>

				<p>Trata-se da primeira por&ccedil;&atilde;o do intestino delgado. Possui esse nome por teu seu comprimento aproximadamente igual &agrave; largura de doze dedos &ndash; 25 cent&iacute;metros. &Eacute; a &uacute;nica por&ccedil;&atilde;o do intestino que &eacute; fixa e apresenta quatro partes no total.<br />
					&rarr;Parte superior ou 1&ordf; por&ccedil;&atilde;o &ndash; se origina no piloro e se estende at&eacute; o colo da ves&iacute;cula biliar;<br />
					&rarr;Parte descendente ou 2&ordf; por&ccedil;&atilde;o &ndash; &eacute; desperitonizada e cont&eacute;m liga&ccedil;&otilde;es com o ducto col&eacute;doco, que traz a bile do f&iacute;gado, e o ducto pancre&aacute;tico, que traz o suco pancre&aacute;tico para auxiliar no processo de digest&atilde;o dos alimentos;<br />
					&rarr;Parte horizontal ou 3&ordf; por&ccedil;&atilde;o;<br />
				&rarr;Parte ascendente ou 4&ordf; por&ccedil;&atilde;o.</p>

				<p><strong>✓</strong><strong>Jejuno</strong></p>

				<p>&Eacute; a parte do intestino delgado que faz continua&ccedil;&atilde;o ao duodeno. Recebe esse nome pelo simples fato de ser aberto e se apresentar vazio. &Eacute; mais largo, possuindo cerca de 4 cent&iacute;metros, e sua parede &eacute; mais espessa, mais vascularizada e possui colora&ccedil;&atilde;o mais forte que o &iacute;leo.</p>

				<p><strong>✓</strong><strong>&Iacute;leo</strong></p>

				<p>&Eacute; o &uacute;ltimo segmento do intestino delgado que faz continua&ccedil;&atilde;o ao jejuno. Recebe esse nome por estar pr&oacute;ximo do osso il&iacute;aco. &Eacute; mais estreito e suas t&uacute;nicas s&atilde;o mais finas e menos vascularizadas que o jejuno. Em sua parte distal, ou seja, em sua parte final, o &iacute;leo desemboca no intestino grosso em um orif&iacute;cio que recebe o nome de &oacute;stio ileocecal.</p>

				<p>Como citei anteriormente, reitero mais uma vez, a principal fun&ccedil;&atilde;o do intestino delgado &eacute; a de absorver nutrientes presentes nos alimentos que ingerimos.</p>

				<p><strong>✓</strong><strong>Intestino Grosso</strong></p>

				<p>O intestino grosso &eacute; um &oacute;rg&atilde;o cil&iacute;ndrico oco que pode variar entre 1,5 a 1,9 metros de comprimento e ter seu di&acirc;metro variando entre 5 e 8 cent&iacute;metros. Ele come&ccedil;a na parte inferior direita do abdome, diretamente na continua&ccedil;&atilde;o do intestino delgado e disp&otilde;e-se como uma moldura no interior de nossa cavidade abdominal, terminando, enfim, no orif&iacute;cio retal.</p>

				<p>A principal fun&ccedil;&atilde;o do intestino consiste na absor&ccedil;&atilde;o de l&iacute;quidos, tanto ingeridos diretamente, quanto os presentes nos alimentos, al&eacute;m de preparar os res&iacute;duos da digest&atilde;o provenientes do intestino delgado para posterior elimina&ccedil;&atilde;o.</p>

				<p>Os res&iacute;duos alimentares normalmente chegam ao intestino grosso em estado semil&iacute;quido.Enquanto transitam pelo c&oacute;lon, uma grande quantidade de &aacute;gua vaisendo absorvida, definindo a consist&ecirc;ncia das fezes.</p>

				<p>Al&eacute;m disso, as bact&eacute;rias da flora intestinal atacam os compostos alimentares que n&atilde;o foram digeridos corretamente de modo pr&eacute;vio, o que assegura sua decomposi&ccedil;&atilde;o. Por outro lado, as muitas gl&acirc;ndulas presentes no intestino grosso produzem muco, que se mistura com os res&iacute;duos s&oacute;lidos, formando a mat&eacute;ria fecal.</p>

				<p>O intestino grosso &eacute; dividido em 7 partes:</p>

				<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/intestino-grosso.jpg"></div>

				<p>Explicarei a fun&ccedil;&atilde;o de cada uma dessas partes logo a seguir</p>

				<p><strong>✓</strong><strong>Ceco</strong></p>

				<p>&Eacute; a primeira por&ccedil;&atilde;o do intestino grosso. Recebe o bolo alimentar da parte final do &iacute;leo e fica localizado na parte inferior direita do abdome. &Eacute; ele que d&aacute; origem ao ap&ecirc;ndice vermiforme, local que n&atilde;o possui fun&ccedil;&atilde;o definida. &Eacute; a por&ccedil;&atilde;o mais larga, por&eacute;m mede apenas cerca de 7cm. &Eacute; nele que o bolo fecal come&ccedil;a a ser produzido e a absor&ccedil;&atilde;o de &aacute;gua tem in&iacute;cio.</p>

				<p><strong>✓</strong><strong>C&oacute;lon ascendente</strong></p>

				<p>Recebe esse nome por estar acima do ceco, ocupando a parte direita do abdome, mede cerca de 15 a 20 cent&iacute;metros e se estende at&eacute; o f&iacute;gado.</p>

				<p><strong>✓</strong><strong>C&oacute;lon transverso</strong></p>

				<p>Possui cerca de 45 cent&iacute;metros de extens&atilde;o e cruza a por&ccedil;&atilde;o superior do abdome do lado direito para o esquerdo. Come&ccedil;a pr&oacute;ximo ao f&iacute;gado, passa sobre o est&ocirc;mago e termina pr&oacute;ximo ao ba&ccedil;o. O c&oacute;lon tem bastante mobilidade para captar grandes quantidades de &aacute;gua do bolo fecal.</p>

				<p><strong>✓</strong><strong>C&oacute;lon descendente</strong></p>

				<p>Est&aacute; posicionado do lado esquerdo do abdome e pode chegar a ter 25 cent&iacute;metros. Seu di&acirc;metro &eacute; um pouco menor, o que aumenta a &aacute;rea de contato do bolo fecal com as microvilosidades intestinais ali existentes.</p>

				<p><strong>✓</strong><strong>C&oacute;lon sigmoide</strong></p>

				<p>Mede cerca de 40 cent&iacute;metros e sai da por&ccedil;&atilde;o inferior esquerda do abdome e segue para tr&aacute;s e para baixo at&eacute;, enfim, encontrar o reto. Sua fun&ccedil;&atilde;o &eacute; encaminhar o bolo fecal at&eacute; o reto.</p>

				<p><strong>✓</strong><strong>Reto</strong></p>

				<p>&Eacute; a pen&uacute;ltima parte do intestino grosso. Fica situado na pelve, por&ccedil;&atilde;o baixa do abdome.Mede de 12 a 15 cent&iacute;metros e tem como fun&ccedil;&atilde;o encaminhar o bolo fecal at&eacute; a creta retal.</p>

				<p><strong>✓</strong><strong>Cretal retal</strong></p>

				<p>Possui apenas de 3 a 4 cent&iacute;metros. Seu mecanismo de funcionamento mant&eacute;m o bolo fecal no reto, impedindo que ele volte &agrave;s partes anteriores do intestino grosso. &Eacute; formado por uma por&ccedil;&atilde;o interna e outra externa e cont&eacute;m gl&acirc;ndulas anais produtoras de muco com a finalidade de garantir textura para que o bolo fecal seja enfim eliminado do organismo.</p>

				<p>O intestino grosso &eacute; o local de forma&ccedil;&atilde;o das fezes, ou seja, daquilo que n&atilde;o foi absorvido previamente pelo intestino delgado.</p>

				<p>O intestino grosso possui como caracter&iacute;stica pr&oacute;pria uma grande quantidade de bact&eacute;rias ben&eacute;ficas que auxiliam na absor&ccedil;&atilde;o de determinados elementos e na forma&ccedil;&atilde;o do bolo fecal, evitando que qualquer dano seja causado ao organismo.</p>

				<p>Por fim, eu afirmo que o intestino grosso possui basicamente quatro fun&ccedil;&otilde;es importantes:<br />
					&rarr;Absor&ccedil;&atilde;o de &aacute;gua e determinados eletr&oacute;litos;<br />
					&rarr;S&iacute;ntese de determinadas vitaminas pelas bact&eacute;rias intestinais;<br />
					&rarr;Armazenamento tempor&aacute;rio de res&iacute;duos, ou seja, fezes;<br />
				&rarr;Elimina&ccedil;&atilde;o de res&iacute;duos corp&oacute;reos, ou seja, defeca&ccedil;&atilde;o.</p>

				<p>Agora voc&ecirc;s j&aacute; sabem o que &eacute; o intestino, qual sua localiza&ccedil;&atilde;o, como funciona e sua import&acirc;ncia para a nossa sa&uacute;de e bem-estar.</p>

				<p>No pr&oacute;ximo relat&oacute;rio irei falar sobre os problemas de sa&uacute;de mais comuns que podem acometer nosso intestino. Portanto, fiquem ligados e n&atilde;o percam.</p>

				<p>Forte abra&ccedil;o e at&eacute; o pr&oacute;ximo relat&oacute;rio!</p>

				<p>Dr. Rocha.</p>
			<br>
				<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<br>
			<br>

		</div>
	</div>
		<!-- fim modulos -->
		
	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>





<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	

<body>
</body>
</html>
