<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">


</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 11 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório11-intestino-rel2.jpg"></div></div>		 
	</div>
		

		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   
<p>Ol&aacute;, aqui &eacute; o Dr. Rocha mais uma vez. Ap&oacute;s ter mostrado para voc&ecirc;s, no nosso primeiro relat&oacute;rio, as informa&ccedil;&otilde;es mais importantes sobre o intestino, agora eu vou falar um pouco sobre algumas curiosidades dessa incr&iacute;vel estrutura que faz parte do sistema digest&oacute;rio e tamb&eacute;m mostrarei quais s&atilde;o as doen&ccedil;as mais comuns relacionadas &agrave; essa estrutura.</p>
<p>Reserve um tempinho do seu dia para ler esse relat&oacute;rio e com isso adquirir um conhecimento valioso sobre a sua sa&uacute;de.</p>

<p><b>Caracter&iacute;sticas intestinais</b></p>
<p>No relat&oacute;rio anterior falei de maneira particular sobre nosso intestino, abordando suas duas divis&otilde;es: o intestino delgado e tamb&eacute;m o intestino grosso. Falarei agora de maneira resumida sobre algumas caracter&iacute;sticas um tanto quanto peculiares acerca dessa estrutura anat&ocirc;mica incr&iacute;vel.</p>
<p><b>Muito longo</b></p>
<p>O intestino inteiro, desde seu in&iacute;cio, ou seja, do duodeno at&eacute; sua por&ccedil;&atilde;o final: o &acirc;nus, pode chegar a medir at&eacute; 9 metros de comprimento.</p>
<p><b>Se movimenta sozinho</b></p>
<p>Os alimentos e bebidas que ingerimos sofrem a&ccedil;&atilde;o de secre&ccedil;&otilde;es ao longo do processo digest&oacute;rio, como &eacute; o caso do &aacute;cido estomacal e tamb&eacute;m de uma infinidade de enzimas que facilitam a quebra dos alimentos para que possamos absorver seus nutrientes internos.</p>
<p>Por&eacute;m, uma d&uacute;vida que acomete um grande n&uacute;mero de pessoas diz respeito a como o alimento ap&oacute;s ingerido se movimenta em nosso interior, passando de nossa boca at&eacute; ser finalmente evacuado.</p>
<p>O intestino &eacute; capaz de fazer os alimentos se moverem atrav&eacute;s de contra&ccedil;&otilde;es r&iacute;tmicas, ou seja, uma s&eacute;rie de movimentos que s&atilde;o conhecidos na linguagem m&eacute;dica e at&eacute; mesmo popular como movimentos perist&aacute;lticos da musculatura intestinal.</p>
<p>Os movimentos perist&aacute;lticos ocorrem a cada 7 minutos e t&ecirc;m como principal objetivofazer com que o alimento se movimente entre as diversas partes do intestino delgado e grosso, a fim de que macronutrientes, micronutrientes e &aacute;gua sejam absorvidos de maneira correta pelo organismo.</p>
 
			<div class="row">
				<div class="col s12 m6">
				<p><b>Cheio de bactérias</b></p>
				<p>O intestino humano é um verdadeiro “antro” de bactérias. Mas fique tranquilo, essa numerosa quantidade de bactérias é mais do que fundamental para nossa saúde.</p>
				<p>Todas as bactérias do nosso intestino, quando estamos saudáveis, vivem em simbiose, ou seja, vivem de maneira equilibrada e harmoniosa. O intestino grosso é, inclusive, mais habitado por bacterianos do que o intestino delgado.</p>	
				</div>
				<div class="col s12 m6"></div>
				<img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/bacterias-intestino.jpg">
			</div>
			 
		<p>O trabalho dessas bactérias intestinais consiste em dissolver os restos alimentares não assimiláveis, reforçar o movimento intestinal e proteger o organismo contra uma série de bactérias maléficas e estranhas que podem gerar uma série de problemas de saúde.</p>	
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
	  <div class="video-container">
       <iframe src="https://player.vimeo.com/video/248876034" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
<h4><b>Sintomas de doen&ccedil;as intestinais</b></h4>
<p>Al&eacute;m do alto n&uacute;mero de bact&eacute;rias existentes em nosso intestino, a estrutura digest&oacute;ria &eacute; um tanto quanto vascularizada e relativamente sens&iacute;vel. Alimentos de m&aacute; qualidade, bebidas alc&oacute;olicas, h&aacute;bitos de vida pouco saud&aacute;veis e situa&ccedil;&otilde;es corriqueiras do dia a dia, podem comprometer nossa sa&uacute;de intestinal.</p>
<p>Como tudo em nosso corpo d&aacute; sinais de algo n&atilde;o vai bem, com o intestino a hist&oacute;ria n&atilde;o &eacute; diferente. Um intestino doente nos avisa se h&aacute; algo de errado. Falarei a seguir sobre os principais sintomas apresentados por quem est&aacute; com um problema intestinal.</p>
<p><b>Problemas digest&oacute;rios</b></p>
<p>Em determinadas situa&ccedil;&otilde;es, problemas digest&oacute;rios podem ser causados por uma falta de harmonia bacteriana. &Eacute; at&eacute; mesmo poss&iacute;vel tomar alguns medicamentos a fim de aliviar os desconfortos, por&eacute;m, &eacute; importante diagnosticar a causa desses problemas que, se n&atilde;o forem tratados de maneira adequada, podem voltar e trazer mais sofrimento. Alguns sintomas cl&aacute;ssicos s&atilde;o:</p>
			<div class="row">
			<div class="col s12 m6">
				<p><b>&rarr;Incha&ccedil;o abdominal sem causa aparente;</b><br /><b>&rarr;Gases;</b><br /><b>&rarr;Diarreia intermitente;</b><br /><b>&rarr;Constipa&ccedil;&atilde;o;</b><br /><b>&rarr;Azia;</b><br /><b>&rarr;Refluxo;</b><br /><b>&rarr;S&iacute;ndrome do intestino irrit&aacute;vel.</b></p>
			</div>
			<div class="col s12 m6"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/gases.jpg"></div>
			</div>
		   <p>Caso esses problemas persistam, &eacute; necess&aacute;rio procurar um m&eacute;dico de sua confian&ccedil;a, pois esses sinais podem indicar patologias mais s&eacute;rias como: colite ulcerativa e at&eacute; mesmo doen&ccedil;a de Crohn.</p>
<p><b>Problemas neurol&oacute;gicos</b></p>
<p>Embora pare&ccedil;a estranho, &eacute; verdade! Um intestino saud&aacute;vel influencia diretamente a nossa sa&uacute;de mental. Uma s&eacute;rie de problemas neurol&oacute;gicos/psicol&oacute;gicos est&atilde;o ligados a bact&eacute;rias e sa&uacute;de do intestino.</p>
<p>Entre os problemas neurol&oacute;gicos mais comuns que podem indicar alguma desordem intestinal est&atilde;o: depress&atilde;o; ansiedade; TOC; confus&atilde;o mental e dificuldade de concentra&ccedil;&atilde;o.</p>
<p><b>N&iacute;veis inadequados de vitaminas e minerais</b></p>
<p>O intestino, principalmente o delgado, &eacute; um dos principais &oacute;rg&atilde;os respons&aacute;veis pela absor&ccedil;&atilde;o de vitaminas e minerais. Ao realizar exames laboratoriais e ficar constatado a car&ecirc;ncia de algumas subst&acirc;ncias como vitaminas D, K, B12, Magn&eacute;sio, Cromo e Zinco, por exemplo, &eacute; sinal de que o n&uacute;mero de bact&eacute;rias pode ser menor do que deveria.</p>
<p><b>Estresse sem causa aparente</b></p>
<p>Embora muita gente n&atilde;o saiba, e at&eacute; mesmo acredite, o estresse est&aacute; intimamente ligado &agrave; sa&uacute;de intestinal. Uma pessoa com n&iacute;veis elevados de estresse possui altos n&iacute;veis de cortisol no organismo, o que dificulta a a&ccedil;&atilde;o das bact&eacute;rias ben&eacute;ficas.</p>
<p><b>Problemas de pele</b></p>
<p>Problemas de pele como acne, psor&iacute;ase e at&eacute; mesmo eczema podem estar diretamente associados a problemas intestinais. Um dos sintomas de desequil&iacute;brio de flora intestinal &eacute; a presen&ccedil;a de alergias que n&atilde;o possuem causas aparentes.</p>
<p><b>Doen&ccedil;as intestinais mais comuns</b></p>
<p>Existe uma grande gama de doen&ccedil;as que podem acometer o nosso bom funcionamento intestinal e trazer uma s&eacute;rie de problemas e preju&iacute;zos &agrave; nossa sa&uacute;de. Pensando nisso, nessa parte do relat&oacute;rio irei demonstrar quais s&atilde;o essas doen&ccedil;as e falar de modo resumido sobre cada uma delas.</p>
<p><b>Colite ulcerativa</b></p>
<p>A colite ulcerativa &eacute; uma doen&ccedil;a inflamat&oacute;ria cr&ocirc;nica do intestino grosso. A inflama&ccedil;&atilde;o ocasiona &uacute;lceras na camada interna do c&oacute;lon, por isso seu nome<b>colite ulcerativa</b>. Esse problema atinge a regi&atilde;o distal, ou seja, final do intestino grosso, principalmente o c&oacute;lon e o in&iacute;cio do reto. Trata-se de um problema de f&aacute;cil tratamento.</p>
<p><b>Diverticulite</b></p>
<p>Os divert&iacute;culos s&atilde;o pequenos sacos ou ent&atilde;o bolsas que se desenvolvem atrav&eacute;s da parede do c&oacute;lon sigmoide ou ent&atilde;o do c&oacute;lon ascendente. Em casos mais severos, todo o c&oacute;lon pode ser atingido pelo problema.</p>
<p>A diverticulite consiste no preenchimento desses pequenos sacos pelo bolo alimentar/fecal causando inflama&ccedil;&otilde;es severas que podem levar a dores intensas, mal-estar e complica&ccedil;&otilde;es hospitalaresquando n&atilde;o tratada.</p>
<p><b>Doen&ccedil;a de Crohn</b></p>
<p>A doen&ccedil;a de Crohn &eacute; um processo inflamat&oacute;rio cr&ocirc;nico e grave que envolve todo o trato intestinal. Embora ela possa atingir qualquer parte do tubo digest&oacute;rio, ou seja, da boca ao &acirc;nus, essa doen&ccedil;a afeta frequentemente a &uacute;ltima parte do intestino delgado, mais precisamente o &iacute;leo, e tamb&eacute;m todo o intestino grosso.</p>
<p>A doen&ccedil;a de Crohn &eacute; algo que traz uma s&eacute;rie de transtornos e desconfortos para todos os pacientes que s&atilde;o acometidos por ela. &Eacute; uma situa&ccedil;&atilde;o que pode reaparecer por v&aacute;rias vezes durante a vida.</p>
<p>Alguns doentes possuem longos per&iacute;odos de remiss&atilde;o da doen&ccedil;a.Mesmo ap&oacute;s v&aacute;rios anos permanecendo livre dos sintomas, ela pode voltar a reaparecer trazendo de volta os antigos problemas e desconfortos de antigamente.</p>
<p><b>Incontin&ecirc;ncia fecal</b></p>
<p>A incontin&ecirc;ncia fecal se caracteriza pela capacidade de n&atilde;o controlar os gases e a as fezes (sejam liquidas, ou ent&atilde;o s&oacute;lidas). Trata-se de um problema relativamente comum, por&eacute;m pouco referido devido ao pudor do paciente com seu m&eacute;dico.</p>
<p>&Eacute; uma condi&ccedil;&atilde;o que se agrava com o passar da idade, podendo variar de perdas ligeiras a perdas severas de fezes l&iacute;quidas ou s&oacute;lidas.</p>
<p><b>Constipa&ccedil;&atilde;o</b></p>
<p>A constipa&ccedil;&atilde;o &eacute; um problema intestinal que pode ter diferentes significados para os pacientes. Habitualmente esse problema refere-se a evacua&ccedil;&otilde;es pouco frequentes, mas tamb&eacute;m pode traduzir uma diminui&ccedil;&atilde;o no volume o peso das fezes, a necessidade de fazer for&ccedil;a para evacuar totalmente ou ainda a necessidade de uso de medicamentos como laxantes para manter o funcionamento intestinal normal.</p>
<p>Cerca de 80% das pessoas em todo o mundo sofrer&atilde;o com constipa&ccedil;&atilde;o intestinal em algum momento da vida. O diagn&oacute;stico de constipa&ccedil;&atilde;o poder&aacute; ser colocado se o n&uacute;mero de evacua&ccedil;&otilde;es for inferior a tr&ecirc;s vezes por semana.</p>
<p><b>Canceres intestinais</b></p>
<p>Dentre as doen&ccedil;as que podem acometer nosso intestino est&atilde;o os c&acirc;nceres intestinais. Eles podem surgir desde o intestino delgado at&eacute; a por&ccedil;&atilde;o final do intestino grosso.</p>
<p>Os c&acirc;nceres intestinais podem surgir devido a algum erro de multiplica&ccedil;&atilde;o celular, originado nos genes e DNA das c&eacute;lulas, ou ent&atilde;o serem causados devido a uma vida inteira de abuso de subst&acirc;ncias mal&eacute;ficas ao organismo, como bebidas alc&oacute;olicas, fumo excessivo, ingest&atilde;o de alimentos de m&aacute; qualidade.</p>
<p>Ap&oacute;s mostrar algumas caracter&iacute;sticas de nosso intestino, sintomas de que algo pode estar errado e tamb&eacute;m quais s&atilde;o as principais doen&ccedil;as intestinais, nosso segundo relat&oacute;rio chega ao fim.</p>
<p>No terceiro e &uacute;ltimo relat&oacute;rio, falarei sobre a intelig&ecirc;ncia de nossas c&eacute;lulas intestinais e tamb&eacute;m sobre o uso de subst&acirc;ncias ben&eacute;ficas que podem potencializar o funcionamento do nosso intestino. N&atilde;o perca!</p>
<p>Forte abra&ccedil;o e at&eacute; o pr&oacute;ximo relat&oacute;rio!</p>
<p>Dr. Rocha.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
			
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}



	
	

<body>
</body>
</html>
