<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 4 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat4-rel2.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Por um período muito grande de tempo, o sal foi visto como principal vilão no combate à pressão alta. Até os dias hoje, há uma série de profissionais da saúde que ainda limitam o consumo desse alimento a quase zero, o que pode prejudicar ainda mais a saúde de quem possui esse problema de sal.</p>
			<p>Embora muita gente não saiba, o sal contém em sua composição um mineral muito importante que regula troca de líquidos no corpo, garantindo assim um equilíbrio hidroeletrolítico perfeito, o sódio.</p>
			<p>Para exercer sua função de modo correto dentro do organismo o sódio trabalha em conjunto com o potássio. Quem nunca ouviu na aula de ciências ou biologia o famoso termo “bomba de sódio e potássio?”.</p>
			<p>Pois bem, diferente do que muita gente acredita, retirar o sódio, ou seja, o sal da alimentação não é um bom negócio, uma vez que nessa retirada, o potássio ficará sem o seu mineral parceiro para regular o balanço hidroeletrolítico do organismo e isso pode gerar uma série de problemas de saúde.</p>
			<p>Sendo assim, foi por isso que resolvi redigir esse relatório, para acabar com mais um mito criado pela mídia que é amplamente divulgado de modo errôneo por muitas pessoas em redes sociais.</p>
			<p>Para explicar o motivo do sal não ser o real vilão da história preciso explicar o que é a pressão alta, quais são os fatores de risco para desenvolvimento desse problema de saúde e por fim, mostrar de modo cientifico, que esse alimento não é tão mal quanto muitas pessoas dizem por aí.</p>
			<h4>Pressão alta, o que é?</h4>
			<p>Para falar sobre pressão alta, eu preciso explicar a forma com que o sangue circula por basicamente todo nosso organismo.</p>
			<p>Nosso sangue é bombeado através do músculo cardíaco, ou seja, o coração, e tem como função irrigar os tecidos e órgãos do corpo, fornecendo assim, uma série de nutrientes e principalmente oxigênio.</p>
			<p>Para se movimentar pelo corpo, o sangue exerce uma força contra a parede de nossas veias e artérias, essa pressão sobre nossos vasos sanguíneos é o que chamamos de pressão arterial.</p>
			<p>Quando a força que esse sangue precisa fazer para se movimentar e alcançar todas as extremidades de nosso corpo está alta, ou seja, quando os vasos sanguíneos oferecem resistência à passagem do sangue, então podemos afirmar que a pressão arterial está alta (hipertensão).</p>
			<p>A pressão arterial é medida de maneira simples e eficaz através de dois valores diferentes que são conhecidos no universo médico por sistólica e diastólica. A mais alta, normalmente é utilizada com a finalidade de classificar a pressão como normal ou então anormal.</p>
			<p>A pressão arterial normal, ou seja, a considerada ideal para minimizar riscos e problemas cardiovasculares como infarto, AVC e insuficiência renal, por exemplo, deve ser igual ou menor do que 120 / 180 mmHg para pessoas consideradas saudáveis.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			 <div class="video-container">
<iframe src="https://player.vimeo.com/video/219563749" width="840" height="472" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
			<h4>Principais causas da pressão alta</h4>
			<p>A hipertensão arterial, ou então pressão alta é uma doença considerada multifatorial, ou seja, que possui uma série de fatores que podem desencadear o seu surgimento. Entre os principais problemas que fazem com que essa doença se instale nas pessoas eu gosto de citar:</p>
			<p><b>→ Fator hereditário:</b> Existe uma pré-disposição do surgimento da doença, que normalmente passa entre gerações. Se pai, mãe, ou ambos possuem a doença, as chances dos filhos desenvolverem são muito grandes;</p>
			<p><b>→ Idade:</b> Com o passar do tempo, é relativamente normal que o organismo sofra um desgaste natural. Quanto mais idade tiver a pessoa, maiores as chances de desenvolvimento de pressão alta;</p>
			<p><b>→ Peso:</b> o peso elevado é uma das principais causas do desenvolvimento dessa doença. Pessoas com sobrepeso e/ou então obesas dificilmente não apresentam pressão alta;</p>
			<p><b>→ Sedentarismo:</b>	 A ausência de atividades físicas contribui para o excesso de peso, bem como dificulta a movimentação do sangue dentro dos vasos sanguíneos;</p>
			<p><b>→ Obesidade:</b> O acúmulo de gorduras em diversos tecidos do organismo dificulta a passagem do sangue, sendo considerado assim, um dos maiores fatores de risco para o desenvolvimento da pressão alta;</p>
			<p><b>→ Diabetes:</b> Altos níveis de glicose na corrente sanguínea normalmente lesionam paredes de veias e artérias, diminuindo assim, a eficácia de seu funcionamento e aumentando o risco de desenvolvimento da doença;</p>
			<p><b>→ Alcoolismo:</b> o consumo exagerado de álcool compromete o funcionamento de uma série de órgãos vitais para a saúde, como rins e fígado, por exemplo, comprometendo de maneira direta a regulação da pressão arterial;</p>
			<p><b>→ Tabagismo:</b> o tabagismo é uma das maiores causas de entupimento e obstrução de vasos sanguíneos, quando veias e artérias se entopem, o sangue precisa exercer mais força para continuar circulando, causando assim pressão alta;</p>
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>E o que a ciência diz sobre o consumo de sal e pressão alta?</h4>
			<p>Como sempre gosto de afirmar, de nada adianta explicações se não tivermos evidências científicas do que foi dito. Eu sou uma pessoa que estuda muito. Um profissional da saúde de qualidade, jamais pode parar de estudar e se atualizar.</p>
			<p>Eu gosto de estar atualizado para trazer para meus assinantes o que há de novo em relação à alimentação e saúde. Por isso, fui procurar alguns estudos para comprovar a tese de que o consumo de sal não está relacionado com o problema de pressão alta.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-44.jpg"></div>
			<p>Ao buscar fontes confiáveis me deparei com uma série de estudos, falando de maneira totalmente científica sobre o assunto. Separei alguns desses estudos para mostrar para vocês que essa relação de sal e hipertensão arterial é algo totalmente midiático</p>
			<p>Pesquisando um pouco mais sobre o assunto, me deparei com uma metanálise envolvendo o total 6250 pessoas que foi publicada no American Journal of Hypertension não encontrou nenhuma evidência significativa de que cortar o consumo de sal reduza risco de problemas cardiovasculares, entre eles, a pressão alta.</p>
			<p>Outra pesquisa, dessa vez realizada por europeus e divulgada no JAMA – Jornal of the American Medical Association relataram que quanto menos sódio as pessoas excretavam na urina (que é uma ótima maneira de avaliar o consumo de sal), maior era o risco de morrer do coração, uma vez que não havia sódio suficiente para que o músculo cardíaco realizasse as contrações de maneira eficiente para que o sangue circulasse, havendo assim hipotensão arterial, problema de saúde conhecido como pressão baixa.</p>
			<p>Os estudos não param por aí, vou citar mais alguns exemplos para que vocês possam realmente ter certeza de que ligar o consumo de sal ao aumento da pressão arterial é um verdadeiro mito.</p>
			<p>Outro estudo do JAMA, dessa vez divulgado no ano de 2006 comparou o consumo de sal por 78 milhões de americanos com seu risco de morrer por doenças cardiovasculares por um período de 14 anos. O resultado foi que quanto mais sódio as pessoas consumiam, menor o risco de morrerem por problemas cardiovasculares.</p>
			<p>Em um artigo publicado no European Journal of Epidemiology no ano de 2007 mostrou os resultados de um estudo que seguiu 1500 pessoas idosas durante um período de 5 anos e não encontrou nenhuma relação entre os níveis de sódio excretados na urina e o risco de desenvolvimento de doenças vasculares.</p>
			<p>“O número de pessoas que apresentam queda de pressão arterial após ingerir maiores quantidades ou então permanecem com sua pressão inalterada é cada vez maior. Isso porque o rim humano é feito para regular a excreção de sal de acordo com o quanto você ingere”, explica Michael Alderman, epidemiologista da Faculdade de Medicina Albert Einstein e ex-presidente da Sociedade Internacional de Hipertensão.</p>
		   
			
		</div>
	</div>
		<!-- fim modulos -->
		
				<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>O sal não é o vilão da pressão alta</h4>
			<p>O sal é visto e colocado erroneamente como o vilão por quem busca uma vida saudável, porém como mostramos aqui, essa afirmação é totalmente errada. O real vilão da vida saudável que pode resultar no surgimento da pressão arterial é outro alimento igualmente branco, mas com o sabor doce: o açúcar.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-43-1.jpg"></div>
			<p>Como mostrei anteriormente nesse relatório, o excesso de peso é uma das causas mais comuns da pressão alta. Como podemos ganhar peso? Através de uma alimentação desregrada e uma vida sedentária.</p>
			<p>Quando uma pessoa pratica uma alimentação desregrada, ingerindo grandes quantidades de farinhas e açúcares o organismo terá a sua disposição na corrente um excesso de glicose.</p>
			<p>Essa glicose em excesso irá estimular a produção de insulina, que irá captar toda essa glicose circulante e armazenar em forma de energia para ser utilizada no futuro. Mas como será a forma de armazenamento dessa glicose? Em forma de gordura, é claro!</p>
			<p>Quando há grande quantidade de gordura armazenada, há ganho de peso corporal, e esse excesso de peso dificulta muito a circulação sanguínea, isso pelo simples fato de existir maior quantidade de gordura corporal, dificultando a fluidez natural do sangue, aumentando a necessidade de força para circular, causando assim a pressão alta.</p>
			<p>E aí, ainda acredita que o sal é o verdadeiro causador da pressão alta? Como sempre digo, não podemos acreditar em tudo o que lemos e é divulgado. Sempre que possível devemos buscar comprovação científica.</p>
			<p>A série de mitos e alimentação não para por aqui, no próximo relatório irei falar sobre mais um mito: O de que consumo de proteínas está ligado a problemas renais.</p>
		   
			
		</div>
	</div>
		<!-- fim modulos -->
	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}

	
	

<body>
</body>
</html>
