<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 4 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat4-rel3-1.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Um dos grandes mitos divulgados por aí é que o alto consumo de proteínas pode trazer problemas e até mesmo causar danos aos rins, porém isso não é verdade.</p>
			<p>Antes de qualquer coisa é preciso dizer que um paciente com problema renal crônico realmente não pode ingerir grandes quantidades de proteína, uma vez que seu rim não funciona de modo correto. Porém, esse exemplo, não pode ser levado em consideração quando falamos de pessoas que são saudáveis e não possuem qualquer tipo de problema de saúde.</p>
			<p>Portanto, mais uma vez utilizarei a ciência para derrubar mais um mito imposto por divulgações errôneas de informações em mídias, redes sociais e até mesmo por alguns profissionais da saúde, mas antes disso, tenho que explicar para vocês o que insuficiência renal.</p>
			<h4>O que é insuficiência renal</h4>
			<p>A insuficiência renal é caracterizada pela falta de capacidade dos rins filtrarem o sangue, e dessa forma eliminar uma série de substâncias que estão em excesso na corrente sanguínea, como a ureia ou então a creatinina, por exemplo, que normalmente se acumulam no organismo quando esses incríveis órgãos não estão funcionando de modo correto.</p>
			<p>A insuficiência renal pode ser de dois tipos:</p>
			<p>→ Crônica</p>
			<p>→ Aguda</p>
			<h4>Insuficiência renal crônica</h4>
			<p>Nesse tipo de insuficiência renal, há uma perda gradual do funcionamento renal, causado por diferentes fatores, como infecção urinária, desidratação e até mesmo hipertensão arterial.</p>
			<h4>Insuficiência renal aguda</h4>
			<p>Já na insuficiência renal aguda, a doença se caracteriza por uma rápida redução da função renal, normalmente decorrente de problemas com câncer ou até mesmo alguma disfunção momentânea do organismo.</p>
			<p>Normalmente a insuficiência renal aguda é totalmente passível de cura, enquanto que na versão crônica do problema de saúde nem sempre é possível encontrar uma cura, e o tratamento via hemodiálise, ou até mesmo um transplante de rim, são as únicas maneiras de proporcionar qualidade de vida ao paciente.</p>
			<h4>Principais causas da insuficiência renal</h4>
			<p>Dentre as principais causas que levam ao surgimento desse tipo de problema eu cito:</p>
			<p>→ Diminuição da quantidade de sangue nos rins, algo que pode ser causado por uma simples desidratação, mau funcionamento renal ou então pressão arterial diminuída por possíveis erros de alimentação;</p>
			<p>→ Lesão renal devido a problemas como cálculos renais, ou então, intoxicação através do consumo de determinados alimentos ou uso excessivo de alguns medicamentos;</p>
			<p>→ Interrupção da passagem de urina, causado pela presença de algum tumor e/ou então pelo aumento anormal do tamanho da próstata;</p>
			<p>→ Diabetes, que pode causar uma série de lesões nas células do rim e comprometer a maneira de funcionamento correta dos rins.</p>
			
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
	   <div class="video-container">
		<iframe src="https://player.vimeo.com/video/219566158" width="840" height="472" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
			<h4>Consumir proteínas é extremamente necessário</h4>
		    <p>É basicamente impossível estabelecer uma relação direta entre uma ingestão elevada de proteínas e o prejuízo na saúde renal que isso trará a indivíduos que são considerados saudáveis.</p>
			<p>O simples fato de a restrição de proteína ser uma das principais medidas em um tratamento para pacientes que possuem problemas renais graves, não significa que essa regra seja válida para todas as pessoas.</p>
			<p>Inúmeros estudos já foram feitos e ainda não há evidências suficientes que comprovem que a alta ingestão de proteína possa causar danos renais em pessoas saudáveis, que possuem seus rins funcionando de forma normal.</p>
			<p>Existem algumas explicações para que essa possível relação entre alta ingestão de proteína e dano renal exista.</p>
			<p>O simples fato dos rins eliminarem produtos do metabolismo proteico, como ureia e amônia, por exemplo, acaba fazendo com acende esse tipo de discussão e debate.</p>
			<p>Além de muitas pessoas afirmarem que os rins podem ser lesionados com a alta concentração de proteína ingeria, há quem defenda que o excesso proteico pode acarretar também sobrecarga no fígado, que o órgão responsável pela metabolização de aminoácidos.</p>
			<p>Hoje sabemos que essas alterações nada mais são do que adaptações fisiológicas normais do organismo humano dentro de um limite da capacidade renal, porém, é válido ressaltar que estudos já realizados consideram uma ingestão proteica de até 3 gramas por quilo de peso corporal não trazem quaisquer tipos de problemas aos rins.</p>
			
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>A boa ciência sempre nos mostra a verdade</h4>
		   <p>Quem segue meu site e meus relatórios sabe que gosto muito de estudar e que acredito demais na ciência. Por isso para falar tudo o que falo gosto de realmente dominar o assunto e ver que há comprovações científicas sobre o que estou falando.</p>
			<p>Quando uma pessoa afirma que irá praticar uma alimentação com alto teor de proteínas, normalmente ela é rebatida da seguinte forma: “Você pode desenvolver problemas renais com essa prática”.</p>
			<p>Isso ocorre, pela simples ideia de que para que o organismo processe grandes quantidades de proteína será necessário sobrecarregar os rins, que são órgãos responsáveis por filtrar o sangue e remover uma série de resíduos danosos ao organismo. Porém, há poucos estudos que sustentam essa afirmativa.</p>
			<p>Durante determinado período de muita pesquisa aprofundada sobre o assunto, me deparei com diversos estudos acerca desse curioso e mítico tema e levantei uma série de informações valiosas e cientificamente comprovadas que irei mostrar para vocês abaixo.</p>
			<p>Um estudo muito particular me chamou a atenção acerca dessa relação de consumo de proteínas e problemas renais. O estudo em questão foi publicado no International Journal Of Sport Nutrition and Exercise Metabolism. Nele pesquisadores recrutaram alguns fisiculturistas e outros atletas com a finalidade de examinarem suas funções renais durante um período de sete dias – enquanto eles seguiam dietas de alto e médio teor de proteínas. Pelos resultados obtidos, todos os indicadores da função renal, permaneceram normais entre os atletas que estavam consumindo grandes quantidades de proteína.</p>
			<p>Além desse estudo em particular, me deparei com mais alguns extremamente interessantes e que quero mostrar para vocês.</p>
			<p>Em uma grande pesquisa que foi publicada em “The Annals of Internal Medicine”, pesquisadores avaliaram o consumo de proteínas em 1624 mulheres durante um período de 11 anos. Ao término desse período, ficou constatado que as dietas com alta concentração de proteína não causavam problemas em mulheres com funções renais normais, ou seja, uma pessoa saudável pode ingerir grandes doses de proteína sem causar nenhum tipo de enfraquecimento renal.</p>
			<p>Pesquisadores da Universidade de Connecticut chegaram a uma conclusão similar quando revisaram anos de pesquisa sobre esse debatido assunto em um relatório que foi publicado no ano de 2005 na famosa revista “Nutrition & Metabolism”.</p>
		
		</div>
	</div>
		<!-- fim modulos -->
		
			<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Diabetes contribui para a insuficiência renal</h4>
		   <p>Como citei anteriormente, uma das causas da insuficiência renal é o diabetes. Infelizmente, essa doença é uma das principais causas de doenças renais. A chance de um paciente diabético desenvolver problemas renais gira em torno de 35%.</p>
			<p>O diabetes é uma doença crônica caracterizada por graus variáveis de resistência e deficiência da insulina, hormônio responsável por auxiliar a célula a absorver a glicose. Como se sabe, portadores dessa doença tende a ter maiores níveis de glicose circulante em sua corrente sanguínea, essa glicose no sangue lesiona tecidos de basicamente todo organismo, inclusive nos rins.</p>
			<p>A nefropatia diabética, como é chamada a insuficiência renal proveniente do diabetes, é resultante da longa exposição do paciente ao excesso de glicose no sangue, causando assim, uma série de danos à saúde do paciente.</p>
			<h4>Portanto, a proteína realmente não é vilã</h4>
			<p>Sendo assim, diferente do que muita gente acredita, quando se fala de lesão renal, a proteína não é a culpada por esse tipo de problema e sim a glicose.</p>
			<p>Quando falamos em doenças e/ou então problemas renais, logo surge o questionamento sobre excesso de proteína e danos aos rins. Porém como mostrei no relatório de hoje, há uma série de evidências científicas que provam que o alto consumo de proteínas não causa nenhum tipo de dano renal, além é claro de promover manutenção de uma série de tecidos corporais e fazer com que o sistema imunológico funcione de maneira mais adequada.</p>
			<p>Então, o que realmente pode causar o problema renal? A resposta mais adequada para esse questionamento é: A glicose. Isso mesmo, o excesso de glicose na corrente sanguínea é o principal causador de sérios danos renais. Dessa forma, para que seus rins funcionem de maneira correta, adequada e sem qualquer tipo de problemas é importante praticar uma alimentação inteligente.</p>
			<p>Alimentos ricos em carboidratos refinados, como pães, massas, bolos e doces – que são rapidamente transformados em glicose e que vão direto para a corrente sanguínea devem ser evitados, ou então consumidos na menor quantidade possível.</p>
			<p>Já as proteínas, como mostrei aqui, podem ser consumidas sem medo algum, uma vez que está mais do que comprovado de modo científico que seu consumo não tem relação algum com problemas renais em pessoas saudáveis.</p>
			<p>Se você está pensando em iniciar uma dieta com um aporte proteico relativamente maior, exames físicos e de função renal, podem revelar seu atual estado de saúde e apontar qualquer tipo de problemas ocultos.</p>
			<p>Sendo assim, temos mais um mito desmentido no que diz respeito a alimentação: Consumo de proteínas e problemas não estão relacionados.</p>
			<p>Busque respostas corretas e contundentes, não acredite em tudo o que é divulgado, procure sempre pelo posicionamento da ciência.</p>
			<p>Espero que tenham gostado desse relatório!</p>
			<p>Volto em breve com mais novidades na área da saúde e da alimentação.</p>
			<p>Forte abraço e até a próxima.</p>
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
		</div>
	</div>
		<!-- fim modulos -->
		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	
	
	

<body>
</body>
</html>
