<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 4 > </a>  relatório 1º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat4-rel1 (1).jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Vivemos tempos de terrorismo nutricional. Muitas pessoas querem impor suas opiniões e muitas vezes utilizam as mídias e principalmente as redes sociais com a finalidade de divulgar uma série de mentiras com relação a alimentação e saúde.</p>
			<p>Um dos principais mitos que envolvem a alimentação saudável é que precisamos comer a cada 3 horas. Quem nunca ouviu profissionais da saúde dizendo de maneira reta e direta que devemos nos alimentar dessa maneira?</p>
			<p>Como costumo afirmar para meus alunos e alunas, sou um profissional da saúde que gosta muito de estudar. Sempre me aprofundo em estudos que falam da origem da alimentação, como nossos ancestrais realizavam suas refeições e como é a alimentação nos dias de hoje, nesse mundo repleto de alimentos industrializados.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-42.jpg"></div>
			<p>Nesse relatório irei mostrar para vocês, de onde surgiu a ideia de que precisamos nos alimentar de 3 em 3 horas, e provarei de modo cientifico que essa ideia é um verdadeiro mito.</p>
			<h4>Indústria Alimentícia – Tentando impor verdades que não são benéficas aos consumidores</h4>
			<p>O processo de industrialização dos alimentos é algo relativamente novo, ou seja, possui aproximadamente cerca de 100 anos de idade. Essa grande oferta de alimentos industrializados repletos de açúcar e conservantes acabam por ofertar às pessoas muito mais do que elas realmente necessitam. Atualmente têm-se um grande e fácil acesso a alimentos que nem sempre são saudáveis.</p>
			<p>Essa grande oferta de alimentos de péssima qualidade reflete diretamente na saúde da população. Antes, o que víamos eram pessoas magras, desnutridas e com baixo peso, atualmente vivemos uma verdadeira epidemia de sobrepeso e obesidade, que estão diretamente ligados à problemas como resistência insulínica, diabetes, AVC, Infartos, e até mesmo uma grande gama de tipos de cânceres.</p>
			<p>A grande indústria de alimentos fornece as mais variadas opções de lanches, snacks, barrinhas, para que as pessoas não sintam fome em momento algum. Dessa forma, as pessoas se alimentam de modo inapropriado basicamente o dia todo, ignorando totalmente os sinais, alertas e avisos dados pelo organismo.</p>
			<p>Com a ideia de que precisamos comer de 3 em 3 horas, a indústria alimentícia garante – mesmo que de modo errado e até mesmo sem se preocupar com a saúde de seus consumidores –  a venda de seus produtos, seja qual for a hora do dia, independente de qual sejam suas necessidades.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		<br>
			<div class="video-container">
		   <iframe src="https://player.vimeo.com/video/219559767" width="840" height="472" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
			<h4>A fome é um processo fisiológico que precisa ser respeitada</h4>
			<p>A fome é um processo fisiológico totalmente da natureza do ser humano que não deve ser ignorada, tampouco camuflada, assim como uma grande série de necessidades fisiológicas que existem, como urinar, evacuar, dormir e se divertir, por exemplo.</p>
			<p>Comer de 3 em 3 horas até pode ser considerada uma estratégia nutricional válida, porém, essa maneira de se alimentar pode não funcionar para todas as pessoas.</p>
			<p>Pessoas que possuem o objetivo de emagrecer, por exemplo, não devem escolher se alimentar dessa forma, assim como pessoas que estão passando por um tratamento de compulsão alimentar também não. Diabéticos, hipertensos e portadores de síndrome metabólica fazem parte do grupo de pessoas que também não precisam ingerir alimentos a cada 3 horas.</p>
			<p>Falando de modo direto, essa maneira de se alimentar de 3 em 3 horas é uma estratégia muito direcionada a pessoas que possuem objetivo de ganhar massa muscular, ou seja, aquelas que praticam atividades físicas como musculação, ou então atletas fisiculturistas e de outras modalidades cujas necessidades calóricas são realmente elevadas e necessitam de maneira comprovada de uma alta demanda alimentar.</p>
			<h4>Principais mitos que envolvem a alimentação de 3 em 3 horas</h4>
			<p>Dentre os principais mitos que envolvem a alimentação a cada 3 horas eu cito:</p>
			<p>→ Ficar um grande período sem se alimentar faz com que o metabolismo desacelere;</p>
			<p>→ Ficar muito tempo sem comer promove catabolismo, ou seja, perda de massa magra;</p>
			<p>→ Ficar muito sem comer pode fazer mal ao cérebro.</p>
			<p>Uma coisa eu digo para vocês, essas três afirmações são verdadeiros mitos e mostrarei a seguir a razão de não serem verdadeiras.</p>
		   
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Ficar muito tempo sem comer deixa o metabolismo mais lento</h4>
			<p>Ao pesquisar sobreo assunto, me deparei com alguns estudos que demonstraram experimentos um tanto quanto interessantes falando sobre realização de refeições em diferentes intervalos de tempo e consequências diretas ao metabolismo. Um desses estudos me chamou relativamente atenção, vou resumi-lo para que vocês possam entender com clareza</p>
			<p>No seguinte estudo, 10 voluntários do sexo masculino foram alimentados com comida suficiente para que suas necessidades calóricas diárias fossem atingidas. Após isso, esses homens foram submetidos de modo alternado a uma alimentação dividida em apenas duas refeições por dia ou então por sete refeições diárias, que daria uma média de alimentação a cada 3 horas. Sabem qual foi o resultado? A frequência da alimentação não afetou em nada a taxa metabólica basal ou então o gasto energético dos indivíduos que participaram desse incrível estudo.</p>
			<p>Portanto, se você ingere a quantidade que realmente necessita de acordo com seu organismo, não importa de que forma você o faz, seja duas, três, quatro ou cinco vezes por dia. Seu metabolismo não irá desacelera e você não terá nenhum tipo de prejuízo.</p>
			<h4>Ficar muito tempo sem comer diminui a quantidade de massa magra</h4>
			<p>Esse é outro mito incrível que foi plantado no dia a dia das pessoas.</p>
			<p>Antes de tudo precisamos colocar em ordem de pensamento que ficar um tempo sem comer porque não está com fome é algo diferente do que ficar sem comer. Se não nos alimentarmos, aí sim haverá perda de massa magra.</p>
			<p>Um dos macronutrientes mais importantes para que haja manutenção de nossa musculatura é a proteína. Esse nutriente é responsável pela manutenção de uma série de tecidos, bem como por dar um certo aporte ao funcionamento de nosso sistema imunológico.</p>
			<p>A perda de massa magra só ocorre de fato quando não há ingestão de proteína de maneira adequada. O tempo entre uma refeição e outra pouco importa no que diz respeito a manutenção de musculatura.</p>
			<p>Outro levantamento que fiz, ao buscar mais informações relevantes sobre esse tema, mostrou que pacientes que faziam períodos de jejum intermitente, mas que ingeriam a quantidade de proteína que seus organismos necessitavam não perderam massa magra.</p>
			<p>Portanto através de um levantamento eficaz, onde reuni uma série de estudos que foram realizados por profissionais e instituições de renome, aliados ao meu conhecimento na área, afirmo que você não perderá massa magra se não comer a cada 3 horas. Você só perderá massa magra se não ingerir quantidades adequadas de proteína no seu dia a dia.</p>
		   
			
		</div>
	</div>
		<!-- fim modulos -->
		
			<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Ficar muito tempo sem comer pode fazer mal ao cérebro</h4>
			<p>Esse mito em partes tem fundamento, mas geralmente pela falta de conhecimento das pessoas em fisiologia humana. Sabemos que o principal nutriente que fornece energia ao cérebro é a glicose. Automaticamente obtemos esse combustível energético através da alimentação.</p>
			<p>Só que para que fiquemos sem glicose para ofertar ao cérebro é necessário que se passe muito tempo, e não apenas 3 horas.</p>
			<p>Nosso corpo nutre o cérebro de três maneiras. A primeira se dá através da utilização e glicose que obtemos ao nos alimentarmos; a segunda é através do glicogênio muscular – reserva energética presente em nossa musculatura e a terceira através da utilização de glicogênio hepático – reserva energética presente em nosso fígado.</p>
			<p>Quando não temos alimentos, nosso organismo de modo automático retira energia de nossa musculatura para suprir suas necessidades e claro, a fim de fazer com que nosso cérebro continue funcionando de maneira adequada, assim que sente necessidade de mais energia, então o organismo retira essa do nosso fígado, de modo que as necessidades energéticas sejam supridas.</p>
			<p>Porém o que pouca gente sabe é que para que o glicogênio hepático seja totalmente utilizado e acabe, a pessoa precisa ficar um grande período de tempo sem comer, ou seja, algo em torno de 18 a 24 horas. Nem durante os períodos de jejum intermitentes mais amplos as pessoas ficam tanto tempo sem comer.</p>
			<p>Nosso cérebro precisa de 100 gramas de glicose para funcionar, quando o organismo não dispõe dessa quantidade, o fígado de maneira endógena produz essa quantidade de para que o nosso órgão mestre, continue funcionando de modo correto e adequado.</p>
			<p>Nosso organismo é inteligente e não deixaria que um nutriente tão essencial para o funcionamento desse órgão pudesse ser obtido apenas através de fontes exógenas, ou seja, através da alimentação.</p>
			<p>Portanto, afirmar que é maléfico ao cérebro não nos alimentarmos de 3 em 3 horas é um verdadeiro mito.</p>
			<h4>Conclusão:</h4>
			<p>Como sempre gosto de afirmar, jamais devemos confiar em tudo o que lemos e está disposto em redes sociais, muito menos o que é informado pela mídia televisa. Sempre que você quiser saber algo sobre alimentação, saúde, maneiras de se alimentar, quais alimentos escolher para que seus objetivos sejam conquistados, procure por um profissional gabaritado que tenha boas fontes.</p>
			<p>É a ciência mostrando mais uma vez a verdade que a mídia e o mercado tentam a toda maneira esconder. Precisamos nos alimentar de acordo com nossas necessidades diárias? Sim, com toda a certeza, porém, essa oferta alimentar e calórica não precisa necessariamente ocorrer a cada 3 horas.</p>
			<p>Não deixe que a indústria alimentícia exerça influência sobre seus hábitos – muitas vezes quem se dá mal nessa história é a sua saúde.</p>
			<p>No próximo relatório irei desmascarar outro grande mito da alimentação – o de que o consumo de sal está diretamente relacionado aos problemas de pressão alta. Provarei por A mais B que isso não é verdade.</p>
	
		</div>
	</div>
		<!-- fim modulos -->

	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}


	

<body>
</body>
</html>
