<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 7 > </a>  relatório 1º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório_28-08-17.png"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
				<p >Ol&aacute;, aqui &eacute; o Dr. Rocha falando. Nessa s&eacute;rie de 3 relat&oacute;rios, irei abordar os 3 tipos de c&acirc;nceres mais comuns que ocorrem e como preveni-los. Nesse primeiro relat&oacute;rio, irei falar tudo sobre o c&acirc;ncer de mama. N&atilde;o deixe de ler o artigo a seguir.</p>
				<h4>C&acirc;ncer de mama, o que &eacute;</h4>
				<p>Todo e qualquer tipo de c&acirc;ncer se caracteriza por um crescimento veloz e totalmente desordenado de c&eacute;lulas, que adquirem a capacidade de se multiplicar. Essas c&eacute;lulas normalmente s&atilde;o agressivas e incontrol&aacute;veis, o que determina a forma&ccedil;&atilde;o de tumores malignos, ou seja, o pr&oacute;prio c&acirc;ncer, que podem ocorrer em outras regi&otilde;es do corpo.</p>
				<p>O c&acirc;ncer de mama, como o nome j&aacute; sugere, afeta as mamas que s&atilde;o formadas por lobos, que se dividem em estruturas menores chamadas l&oacute;bulos e tamb&eacute;m ductos mam&aacute;rios. &Eacute; o tumor maligno mais comum em mulheres e o que mais leva brasileiras &agrave; morte anualmente, de acordo com o INCA &ndash; Instituto Nacional do C&acirc;ncer.</p>
				<p>O c&acirc;ncer mama &eacute; bastante raro antes dos 35 anos, por&eacute;m acima dessa idade, seu surgimento pode ser um verdadeiro problema, devido ao seu r&aacute;pido e progressivo crescimento. &Eacute; importante salientar, que nem todo tumor na mama &eacute; maligno. A maioria dos n&oacute;dulos &ndash; popularmente chamados de caro&ccedil;os, detectados na mama s&atilde;o benignos, mais isso s&oacute; pode ser confirmado ap&oacute;s a realiza&ccedil;&atilde;o de alguns exames m&eacute;dicos.</p>
				<p>Quando diagnosticado e tratado no in&iacute;cio, ou seja, quando o n&oacute;dulo possui um tamanho menor do 1 cent&iacute;metro, as chances de cura do c&acirc;ncer de mama ultrapassam os 90%. Tumores desse tamanho s&atilde;o pequenos demais para serem detectados por palpa&ccedil;&atilde;o no dia a dia, por&eacute;m s&atilde;o vis&iacute;veis em qualquer mamografia, por isso &eacute; fundamental a realiza&ccedil;&atilde;o do exame regularmente.</p>
				<p>Diferente do que muita gente pensa e at&eacute; mesmo sabe, os homens tamb&eacute;m s&atilde;o atingidos pelo c&acirc;ncer de mama, por&eacute;m em uma propor&ccedil;&atilde;o infinitamente menor do que ocorre com as mulheres. A propor&ccedil;&atilde;o do c&acirc;ncer de mama em homens e mulheres &eacute; de 1 para 100, ou seja, para cada 100 mulheres com c&acirc;ncer de mama, 1 homem ter&aacute; a doen&ccedil;a.</p>
				<p>De acordo com estimativas fornecidas pelo INCA, o Brasil ter&aacute; uma m&eacute;dia de 175 mil novos de c&acirc;ncer anualmente, desses, mais de 57 mil ser&atilde;o tumores de mama, ou seja, mais de 32% dos c&acirc;nceres ser&atilde;o de mama.</p>
			
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório-1.jpg"></div>
			
			<p class="image-caption">A comunidade m&eacute;dica tem amplo conhecimento que diversos fatores podem facilitar o surgimento do c&acirc;ncer de mama, e os principais s&atilde;o: Consumo abusivo de &aacute;lcool, alimenta&ccedil;&atilde;o inadequada, sedentarismo, idade reprodutiva, obesidade, hist&oacute;rico familiar, fatores comportamentais e principalmente muta&ccedil;&otilde;es gen&eacute;ticas.Embora alguns desses fatores possam ser prevenidos, outros n&atilde;o possuem uma maneira de preven&ccedil;&atilde;o direta, por isso, &eacute; de suma import&acirc;ncia que toda e qualquer mulher tenha plena consci&ecirc;ncia de quais s&atilde;o os fatores de risco e tomem sempre medidas preventivas que minimizem as chances de desenvolvimento dessa temida doen&ccedil;a.No c&acirc;ncer de mama ocorre o crescimento anormal das c&eacute;lulas mam&aacute;rias, tanto do ducto mam&aacute;rio, quanto dos gl&oacute;bulos mam&aacute;rios.</p>

		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<div class="video-container">
		   <iframe src="https://player.vimeo.com/video/231752936?autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		    </div>
			<h4><span>Epidemiologia do c&acirc;ncer de mama</span></h4>
			<p>No Brasil, o &oacute;rg&atilde;o do minist&eacute;rio da Sa&uacute;de respons&aacute;vel pela cria&ccedil;&atilde;o de ado&ccedil;&atilde;o de uma s&eacute;rie de estrat&eacute;gias, diagn&oacute;stico, preven&ccedil;&atilde;o e tratamento do c&acirc;ncer de mama &eacute; o INCA. Os dados epidemiol&oacute;gicos s&atilde;o obtidos atrav&eacute;s do trabalho em equipe dos hospitais que tratam esse tipo de c&acirc;ncer com o Instituto Nacional do C&acirc;ncer, a partir do Registro Nacional de C&acirc;ncer.</p>
			<p>A vigil&acirc;ncia epidemiol&oacute;gica tem como objetivo monitorar o perfil do c&acirc;ncer. Atrav&eacute;s dessa monitora&ccedil;&atilde;o, &eacute; poss&iacute;vel computar o n&uacute;mero de mulheres doentes, bem como o n&uacute;mero de v&iacute;timas fatais da doen&ccedil;a e a distribui&ccedil;&atilde;o da mesma em todo o territ&oacute;rio nacional. Com isso, &eacute; poss&iacute;vel planejar e intensificar a&ccedil;&otilde;es onde elas se fazem realmente mais necess&aacute;rias.</p>
			<p>A estimativa oficial no Brasil &eacute; que a cada ano, cerca de 55 mil mulheres descubram que s&atilde;o portadoras do c&acirc;ncer de mama. Levando em considera&ccedil;&atilde;o o levantamento de dados, a regi&atilde;o mais afetada do Brasil &eacute; a Sudeste, com pouco mais de 28 mil casos novos. Dentro do Sudeste o estado que mais sofre com a doen&ccedil;a &eacute; o do Rio de Janeiro, com pouco mais de 7.500 casos da doen&ccedil;a.</p>
			<p>A mortalidade por c&acirc;ncer de mama &eacute; um tanto quanto vari&aacute;vel entre as regi&otilde;es do Brasil, isso reflete diretamente a incid&ecirc;ncia da popula&ccedil;&atilde;o que possui acesso a servi&ccedil;os de sa&uacute;de de qualidade. Nas regi&otilde;es Sul e Sudeste, a mortalidade por c&acirc;ncer de mama fica entre 7 e 17 &oacute;bitos a cada 100.000 mulheres. Em alguns estados da regi&atilde;o Norte, encontra-se a mais baixa mortalidade de c&acirc;ncer de mama do pa&iacute;s &ndash; entre 1 a 3 &oacute;bitos a cada 100.000 mulheres.</p>
		   
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   	<h4><span>Incid&ecirc;ncia do c&acirc;ncer de mama</span></h4>
			<p>O c&acirc;ncer de mama, &eacute; o tipo de c&acirc;ncer que mais acomete as mulheres em todo o globo, sendo 1,38 milh&otilde;es de novos casos e mais de 450 mil mortes pela doen&ccedil;a por ano, de acordo com a OMS &ndash; Organiza&ccedil;&atilde;o Mundial da sa&uacute;de.</p>
			<p>No Brasil, o Minist&eacute;rio da Sa&uacute;de estima pouco mais de 52 mil casos novos anualmente, com risco estimado de cerca de 54 casos a cada 100 mulheres. Levando em considera&ccedil;&atilde;o os dados da SBM &ndash; Sociedade Brasileira de Mastologia, 1 em cada 12 mulheres ter&atilde;o um tumor nas mamas at&eacute; os 90 anos de idade.</p>
			<p>Dados fornecidos pelo INCA mostraram que no ano de 2016, 28,6% do total de c&acirc;nceres apresentados pelas mulheres, foi o c&acirc;ncer de mama.</p>
			<p><strong>Preven&ccedil;&atilde;o</strong></p>
			<p>A preven&ccedil;&atilde;o do c&acirc;ncer de mama pode ser basicamente dividida de duas maneiras:</p>
			<p>&nbsp; &rarr; Prim&aacute;ria;</p>
			<p>&nbsp; &rarr; Secund&aacute;ria;</p>
			<p><strong>Preven&ccedil;&atilde;o prim&aacute;ria</strong></p>
			<p>Esse tipo de preven&ccedil;&atilde;o envolve a ado&ccedil;&atilde;o de h&aacute;bitos saud&aacute;veis que visam diminuir os efeitos dos fatores de risco sobre a sa&uacute;de das mulheres.</p>
			<p>Portanto uma das melhores formas de se manter o c&acirc;ncer de mama longe, &eacute; atrav&eacute;s da pr&aacute;tica de atividades f&iacute;sicas constantes, evitar o consumo excessivo de subst&acirc;ncias danosas e lesivas &agrave; sa&uacute;de como &aacute;lcool, cigarros e drogas e praticar uma alimenta&ccedil;&atilde;o saud&aacute;vel.</p>
			<p><span>Preven&ccedil;&atilde;o secund&aacute;ria</span></p>
		</div>
		<div class="col s12 m8">
			<p>Já a prevenção secundária diz respeito a realização periódica de exames de rastreamento que visam detectar algo de errado, o que facilita o diagnóstico precoce do câncer de mama. Entre os principais exames que podem diagnosticar o problema estão:</p>
			
		</div>
		<div class="col s12 m4">
			<img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/cancer.jpg">
		</div>

		<div class="col s12">
			<p>&nbsp; &rarr; Autoexame das mamas;</p>
			<p>&nbsp; &rarr; Resson&acirc;ncia magn&eacute;tica;</p>
			<p>&nbsp; &rarr; Ecografia;</p>
			<p>&nbsp; &rarr;&nbsp;Bi&oacute;psia;</p>
			<p>Os tr&ecirc;s primeiros exames aqui demonstrados visam detectar alguma anormalidade nas mamas, enquanto somente o terceiro ir&aacute; auxiliar no diagn&oacute;stico da doen&ccedil;a. Por isso a preven&ccedil;&atilde;o &eacute; t&atilde;o importante.</p>
			<p><strong>Cuidados</strong></p>
			<p>Existem atualmente uma s&eacute;rie de cuidados e tratamentos para o c&acirc;ncer de mama que podem ser ou n&atilde;o combinados. Uma coisa &eacute; certa, todo c&acirc;ncer dever&aacute; ser retirado atrav&eacute;s de um procedimento cir&uacute;rgico, que pode retirar parte ou ent&atilde;o toda a mama, entretanto, &eacute; comum que a cirurgia seja combinada com outros tratamentos e cuidados espec&iacute;ficos.</p>
			<p>O tipo de cuidado escolhido pelo m&eacute;dico depende muito de cada caso em particular. Quando o assunto &eacute; cirurgia, a escolha do m&eacute;todo varia diretamente levando em considera&ccedil;&atilde;o o tamanho e tamb&eacute;m a localiza&ccedil;&atilde;o do tumor.</p>
			<p><strong>Normalmente a paciente que tem o c&acirc;ncer de mama diagnosticado &eacute; submetida aos seguintes cuidados:</strong></p>
			<p>&nbsp; &rarr; Cirurgia para remo&ccedil;&atilde;o total do tumor;</p>
			<p>&nbsp; &rarr; Quimioterapia;</p>
			<p>&nbsp; &rarr; Radioterapia;</p>
			<p>&nbsp; &rarr; Tratamento hormonal;</p>
			<p>A seguir falarei resumidamente sobre cada um desses cuidados.</p>
			<p><strong>Cirurgia para remo&ccedil;&atilde;o total do tumor</strong></p>
			<p>Trata-se da modalidade de tratamento mais antiga da doen&ccedil;a. Quando o tumor &eacute; detectado em est&aacute;gio inicial, a retirada &eacute; mais simples, f&aacute;cil e h&aacute; menor comprometimento de tecido mam&aacute;rio.</p>
			<p><strong>Quimioterapia</strong></p>
			<p>&Eacute; um tratamento que faz uso de medicamentos orais ou intravenosos e tem como objetivo principal controlar ou ent&atilde;o inibir o crescimento de c&eacute;lulas tumorais. Pode ser utilizada antes ou depois da cirurgia.</p>
			<p><strong>Radioterapia</strong></p>
			<p>&Eacute; a utiliza&ccedil;&atilde;o de radia&ccedil;&atilde;o ionizante no local do tumor. Muito utilizada em tumores que ainda n&atilde;o se espalharam e tecidos que n&atilde;o sofreram met&aacute;stase, onde &eacute; necess&aacute;ria uma retirada de grande parte do tecido mam&aacute;rio.</p>
			<p><strong>Tratamento hormonal</strong></p>
			<p>Tratamento que possui como objetivo impedir a a&ccedil;&atilde;o dos horm&ocirc;nios que fazem as c&eacute;lulas cancer&iacute;genas crescerem.</p>
			<p>&Eacute; importante ter em mente que nem toda altera&ccedil;&atilde;o nas mamas &eacute; sinal de alguma possibilidade de c&acirc;ncer, por isso, &eacute; extremamente importante que todas as mulheres fiquem atenta a qualquer mudan&ccedil;a nas mamas e fa&ccedil;am o autoexame e passem por consultas periodicamente.</p>
			<p>No pr&oacute;ximo relat&oacute;rio irei falar sobre o c&acirc;ncer de pr&oacute;stata. N&atilde;o perca.</p>	
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
		</div>
	</div>
		<!-- fim modulos -->
	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}




	

<body>
</body>
</html>
