<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 7 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório-cancer-prostata-2.png"></div></div>	 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Ol&aacute;, aqui &eacute; o Dr. Rocha mais uma vez. Nesse segundo relat&oacute;rio sobre c&acirc;ncer, irei abordar um tema conhecido e amplamente discutido tanto pela comunidade m&eacute;dica, como de maneira popular. Me refiro ao c&acirc;ncer de Pr&oacute;stata.</p>
				<h4><span>C&acirc;ncer de pr&oacute;stata, o que &eacute;</span></h4>
				<p>A pr&oacute;stata &eacute; uma gl&acirc;ndula do tamanho aproximado de uma noz e espec&iacute;fica do sexo masculino, ou seja, s&oacute; os homens possuem. Ela fica logo abaixo da bexiga e na frente do reto e da uretra. Essa pequena gl&acirc;ndula cont&eacute;m pequenos orif&iacute;cios especializados que produzem parte do l&iacute;quido seminal &ndash; tamb&eacute;m conhecido como s&ecirc;men, cuja finalidade &eacute; proteger e nutrir os espermatozoides.</p>
				<p>Horm&ocirc;nios masculinos s&atilde;o respons&aacute;veis pelo desenvolvimento da pr&oacute;stata no feto e ela vai crescendo at&eacute; que um pequeno menino se torne um adulto. Se os n&iacute;veis de horm&ocirc;nios forem baixos, a gl&acirc;ndula n&atilde;o ir&aacute; atingir suas dimens&otilde;es totais. Em homens mais velhos, a gl&acirc;ndula cresce em torno da uretra causando o que m&eacute;dicos chamam de hiperplasia benigna &ndash; HPB, que a princ&iacute;pio pode ser confundia com o c&acirc;ncer de pr&oacute;stata.</p>
				<p>cer de pr&oacute;stata nada mais &eacute; do que um tumor que surge da multiplica&ccedil;&atilde;o err&ocirc;nea de desenfreada de c&eacute;lulas prost&aacute;ticas. Normalmente esse timo de c&acirc;ncer acomete homens maduros e pode ser facilmente curado desde que seja diagnosticado ainda em est&aacute;gios iniciais.</p>
				<p>Quanto mais avan&ccedil;ando for um tumor, mais muta&ccedil;&otilde;es ocorrer&atilde;o, o que confere intensa agressividade a esse tipo de c&acirc;ncer. Normalmente as c&eacute;lulas cancerosas se multiplicam de maneira mais veloz do que as c&eacute;lulas normais da pr&oacute;stata.</p>
				<p>Por possuir capacidade de invadir demais tecidos, o c&acirc;ncer de pr&oacute;stata quando diagnosticados tardiamente podem se disseminar por &oacute;rg&atilde;os distantes, seja por via linf&aacute;tica, comprometendo os g&acirc;nglios, ou ent&atilde;o sangu&iacute;nea, levando ao comprometimento de ossos.</p>
				<p>Quando o c&acirc;ncer de pr&oacute;stata &eacute; identificado em estado avan&ccedil;ado, o risco de sobrevida do paciente &eacute; muito menor, por isso &agrave; exemplo do que ocorre com o c&acirc;ncer de mama, o diagn&oacute;stico precoce &eacute; fundamental para o controle e principalmente cura da doen&ccedil;a.</p>
				<p>Embora essa gl&acirc;ndula masculina seja constitu&iacute;da por uma grande gama de c&eacute;lulas, a maioria dos tumores de pr&oacute;stata possuem origem nas c&eacute;lulas das gl&acirc;ndulas que produzem o l&iacute;quido seminal. Na literatura m&eacute;dica, o c&acirc;ncer de pr&oacute;stata recebe o nome de adenocarcinoma.</p>
				<p>Outros tipos de c&acirc;nceres tamb&eacute;m podem ter in&iacute;cio na pr&oacute;stata, como os sarcomas, carcinomas de pequenas c&eacute;lulas e carcinomas de c&eacute;lulas transicionais, por&eacute;m s&atilde;o muito raros de ocorrer.</p>
				<p>Alguns tipos de c&acirc;ncer de pr&oacute;stata podem crescer e se disseminar rapidamente, mas a maioria deles de desenvolve lenta e silenciosamente. Estudos de aut&oacute;psia revelaram que muitos homens mais velhos, e at&eacute; mesmo alguns homens mais jovens que morreram de outras doen&ccedil;as j&aacute; tinham c&acirc;ncer de pr&oacute;stata sem que nenhum sinal, ou ent&atilde;o sintoma fosse apresentado. Em muitos casos, nem eles, tampouco seus m&eacute;dicos tinham conhecimento de que a doen&ccedil;a estava instalada.</p>

				<h4><span>Como ocorre</span></h4>
				<p>Muitos especialistas acreditam que o c&acirc;ncer de pr&oacute;stata tem in&iacute;cio com pequenas altera&ccedil;&otilde;es no tamanho e formato das c&eacute;lulas prost&aacute;ticas. Essas altera&ccedil;&otilde;es s&atilde;o conhecidas como PIN &ndash; Neoplasia intraeptelial prost&aacute;tica q podem ser de baixo grau (quase normais) ou de alto grau (anormais).</p>
				<p>Por&eacute;m, a causa exata da maioria dos casos de c&acirc;ncer de pr&oacute;stata n&atilde;o &eacute; conhecida, mas os m&eacute;dicos descobriram alguns fatores de risco como hist&oacute;rico familiar, alimenta&ccedil;&atilde;o, sedentarismo, obesidade, etnia, regi&atilde;o onde se vive, muta&ccedil;&otilde;es gen&eacute;ticas e est&atilde;o tentando compreender como essa combina&ccedil;&atilde;o de fatores tornam as c&eacute;lulas prost&aacute;ticas normais em cancerosas.</p>
				<p>Nos &uacute;ltimos anos, os pesquisadores conseguiram compreender como determinadas muta&ccedil;&otilde;es no DNA de determinas organelas possam fazer com que c&eacute;lulas normais da pr&oacute;stata se desenvolvam de maneira anormal levando a forma&ccedil;&atilde;o do c&acirc;ncer.</p>
				<p>Alguns genes cont&ecirc;m instru&ccedil;&otilde;es para controlar o crescimento e tamb&eacute;m a divis&atilde;o de c&eacute;lulas. Os genes que promovem a divis&atilde;o celular s&atilde;o chamados oncogenes, j&aacute; os genes que retardam a divis&atilde;o celular ou levam as c&eacute;lulas &agrave; morte no momento certo s&atilde;o chamadas de genes supressores de tumor. Os c&acirc;nceres podem ser causados por altera&ccedil;&otilde;es do DNA que se transformam em oncogenes ou desativam genes supressores de tumor.</p>
				<p>O DNA cont&eacute;m as instru&ccedil;&otilde;es gen&eacute;ticas que coordenam o desenvolvimento e funcionamento de todas as c&eacute;lulas, entretanto quando um organismo &eacute; exposto ou submetido a uma s&eacute;rie de intemp&eacute;ries, o DNA pode sofrer modifica&ccedil;&otilde;es que influenciam diretamente no risco de desenvolvimento de determinadas doen&ccedil;as, como &eacute; o caso do c&acirc;ncer de pr&oacute;stata.</p>
				<p>As altera&ccedil;&otilde;es no DNA humano podem ser heredit&aacute;rias, ou seja, transmitidas de pai para filho, ou ent&atilde;o serem adquiridas ao longo da vida.</p>
			     
			    <div class="col s12 center-align"><img class="responsive-img center-align" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório-cancer-prostata.jpg"></div>
			    
			    <p><b>Epidemiologia do c&acirc;ncer de pr&oacute;stata</b></p>
				<p>Al&eacute;m do c&acirc;ncer de pele, o c&acirc;ncer de pr&oacute;stata &eacute; a neoplasia mais comum entre os homens. De acordo com as estimativas do INCA &ndash; Instituto Nacional de C&acirc;ncer, para o ano de 2017 s&atilde;o de pouco mais de 61 mil novos casos de c&acirc;ncer de pr&oacute;stata. Cerca de 1 em cada 7 homens ser&aacute; diagnosticado com c&acirc;ncer de pr&oacute;stata durante sua vida.</p>
				<p>O c&acirc;ncer de pr&oacute;stata ocorre principalmente em homens com idades mais avan&ccedil;adas. Cerca de 6 em cada 10 casos s&atilde;o diagnosticados em homens que possuem mais de 65 anos de idade, sendo raro o surgimento dessa condi&ccedil;&atilde;o de sa&uacute;de em homens antes do 40. A m&eacute;dia de idade atual para diagn&oacute;stico desse tipo de c&acirc;ncer &eacute; de 66 anos.</p>
				<p><b>Incid&ecirc;ncia do C&acirc;ncer de pr&oacute;stata</b></p>
				<p>Atualmente o c&acirc;ncer de pr&oacute;stata &eacute; a terceira principal causa de morte por c&acirc;ncer em homens no mundo, ficando atr&aacute;s do c&acirc;ncer de pulm&atilde;o e do c&acirc;ncer colorretal. Em m&eacute;dia 1 a cada 39 homens morre de c&acirc;ncer de pr&oacute;stata.</p>
				<p>Nos Estados Unidos, as estat&iacute;sticas indicam que 1 a cada 6 homens ser&aacute; diagnosticado com c&acirc;ncer de pr&oacute;stata no ano de 2017, por&eacute;m apenas 1 em cada 34 ir&aacute; morrer por causa da doen&ccedil;a.</p>
				<p>A taxa de mortalidade do c&acirc;ncer de pr&oacute;stata vem diminuindo de maneira gradativa, pelo simples fato de estar sendo diagnosticada cada vez mais precocemente.</p>
				<p>No Brasil, sem considerar os tumores de pele n&atilde;o melanoma, o c&acirc;ncer de pr&oacute;stata &eacute; mais incidente entre os homens em todas as regi&otilde;es do pa&iacute;s. Os n&uacute;meros de incid&ecirc;ncia do c&acirc;ncer de Pr&oacute;stata no Brasil por regi&atilde;o s&atilde;o:</p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;Preven&ccedil;&atilde;o 95,63 para cada 100 mil regi&atilde;o Sul;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;Preven&ccedil;&atilde;o 67,61 para cada 100 mil regi&atilde;o Centro-Oeste;&nbsp;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;62,36 para cada 100 mil regi&atilde;o Sudeste;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;51,84 para cada 100 mil na regi&atilde;o Nordeste;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;29,50 para cada 100 mil na regi&atilde;o Norte;</b></p>
				&nbsp;
				<p><b>Preven&ccedil;&atilde;o</b></p>
				<p>&Eacute; grande o n&uacute;mero de m&eacute;dicos que recomendam a realiza&ccedil;&atilde;o do toque retal, assim como a dosagem do PSA para todos os homens que est&atilde;o acima dos 50 anos de idade.</p>
				<p>Para aqueles que possuem hist&oacute;rico familiar de c&acirc;ncer de pr&oacute;stata, como av&oacute;, pai, tio ou irm&atilde;o, os oncologistas e urologistas recomendam que ambos os exames sejam feitos a partir dos 40 anos de idade, ao menos uma vez ao ano.</p>
				<p>Al&eacute;m dos exames que citei, manter uma alimenta&ccedil;&atilde;o estrat&eacute;gica e equilibrada, evitar subst&acirc;ncias nocivas &agrave; sa&uacute;de como cigarro e &aacute;lcool, ser fisicamente ativo e realizar checkups peri&oacute;dicos contribuem para a melhora da sa&uacute;de em geral e podem ser de grande utilidade no que diz respeito a preven&ccedil;&atilde;o desse tipo de c&acirc;ncer em particular.</p>
				<p><b>Cuidados</b></p>
				<p>Ap&oacute;s o diagn&oacute;stico da doen&ccedil;a, o m&eacute;dico normalmente discute com o paciente quais s&atilde;o os cuidados e op&ccedil;&otilde;es de tratamento a serem adotados. Dependendo do est&aacute;gio da doen&ccedil;a e alguns outros fatores, os principais cuidados para homens que foram diagnosticados com c&acirc;ncer de pr&oacute;stata normalmente incluem:</p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;Conduta expectante;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;Cirurgia;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;Radioterapia;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;Criocirurga;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;Terapia hormonal;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;Vacinas espec&iacute;ficas;</b></p>
				<p><b>&nbsp; &nbsp;&rarr;&nbsp;Terapia alvo;</b></p>
				<p>Em casos avan&ccedil;ados da doen&ccedil;a, os cuidados podem ter inten&ccedil;&atilde;o paliativa, onde pode-se optar pela utiliza&ccedil;&atilde;o de terapia hormonal e quimioterapia, associadas ou n&atilde;o a procedimentos cir&uacute;rgicos com a finalidade de aliviar fluxo urin&aacute;rio e prote&ccedil;&otilde;es &oacute;sseas.</p>
				<p>A exemplo do que ocorre com o c&acirc;ncer de pr&oacute;stata, todos os homens devem ficar atentados para qualquer surgimento de altera&ccedil;&otilde;es em fluxo urin&aacute;rio, desconforto perineal e at&eacute; mesmo durante rela&ccedil;&otilde;es sexuais.</p>
				<p>Quanto antes qualquer tipo de altera&ccedil;&atilde;o for descoberta, maiores ser&atilde;o as chances de cura.</p>
				<p>Com isso chegamos ao fim do segundo relat&oacute;rio sobre os tr&ecirc;s tipos de c&acirc;nceres mais comuns. No terceiro e &uacute;ltimo relat&oacute;rio da s&eacute;rie eu falarei sobre c&acirc;ncer de est&ocirc;mago. N&atilde;o perca!</p>

			    
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   <div class="video-container">
			   <iframe class="responsive-video" src="https://player.vimeo.com/video/231758708?autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   
			
		</div>
	</div>
		<!-- fim modulos -->
	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}


	
	

<body>
</body>
</html>
