<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 7 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório-cancer-estomago.png"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4><b>O que &eacute;, como ocorre, epidemiologia, incid&ecirc;ncia, preven&ccedil;&atilde;o e cuidados</b></h4>

				<p>Ol&aacute;, aqui &eacute; o Dr. Rocha falando. No terceiro e &uacute;ltimo relat&oacute;rio sobre c&acirc;nceres mais comuns e como preveni-los eu irei falar de maneira mais aprofundada sobre desconhecido e temido c&acirc;ncer de est&ocirc;mago. N&atilde;o deixe de ler e ficar por dentro do assunto.</p>

				<h4>C&acirc;ncer de est&ocirc;mago, o que &eacute;</h4>

				<p>Amplamente conhecido como c&acirc;ncer g&aacute;strico e tamb&eacute;m c&acirc;ncer estomacal, o c&acirc;ncer de estomago aparece na terceira posi&ccedil;&atilde;o em incid&ecirc;ncia de acometimento. Levando em considera&ccedil;&atilde;o os dados fornecidos pelo INCA &ndash; Instituto Nacional de C&acirc;ncer, ao menos 20 mil novos casos de c&acirc;ncer de est&ocirc;mago s&atilde;o diagnosticados por ano.</p>
			
			     <div class="row">
					 <div class="col s12 m7">
					 <p>O c&acirc;ncer de est&ocirc;mago nada mais &eacute; do que o crescimento de c&eacute;lulas anormais no &oacute;rg&atilde;o do sistema digestivo e pode ocorrer em qualquer &aacute;rea de sua extens&atilde;o. Grande parte desse tipo de tumor normalmente ocorre na camada mucosa (a camada que reveste o est&ocirc;mago internamente), surgindo na forma de irregularidades pequenas ou ent&atilde;o les&otilde;es com ulcera&ccedil;&otilde;es, totalmente caracter&iacute;stico de um tumor maligno.</p>
					 </div>
					 <div class="col s12 m5">
					 <img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/cancer-estomago.jpg">
					 </div>
	             </div>
			    

				

				<p>O c&acirc;ncer de est&ocirc;mago geralmente se inicia nas c&eacute;lulas da camada mucosa, ou seja, a camada interna que entra em contato com os alimentos e se propaga atrav&eacute;s de camadas mais externas conforme vai evoluindo.</p>

				<p>Existe atualmente tr&ecirc;s tipos de c&acirc;ncer de estomago, s&atilde;o eles:</p>

				<p>&nbsp; &rarr; Adenocarcinoma;</p>

				<p>&nbsp; &rarr; Linfoma;</p>

				<p>&nbsp; &rarr; Leiomiossarcoma;</p>

				<p>A seguir explicarei resumidamente cada um deles.</p>

				<p><strong>Adenocarcinoma</strong></p>

				<p>O adenocarcinoma &eacute; um tipo de c&acirc;ncer que possui caracter&iacute;sticas secret&oacute;rias e se origina em tecidos glandulares. &Eacute; o terceiro tumor maligno mais frequente no mundo, ficando atr&aacute;s apenas do c&acirc;ncer de pulm&atilde;o e de mama.</p>

				<p><strong>Linfoma</strong></p>

				<p>O linfoma &eacute; um tipo de c&acirc;ncer que possui origem nos linfonodos (popularmente chamados de g&acirc;nglios) por todo o corpo, principalmente no timo, ba&ccedil;o, am&iacute;dalas, medula &oacute;ssea e tecidos linf&aacute;ticos intestinais. Assim como outros tipos de linfomas, s&atilde;o divididos em subtipos complexos entre linfoma de Hodgkin e linfoma n&atilde;o Hodgkin.</p>

				<p>O linfoma de est&ocirc;mago apresenta uma baixa incid&ecirc;ncia, e pode ser dividido em dois tipos: O linfoma g&aacute;strico MALT e linfoma de c&eacute;lulas grandes.</p>

				<p>O linfoma g&aacute;strico MALT &eacute; um tipo de linfoma associado a mucosa constitu&iacute;da por c&eacute;lulas pequenas e com um baixo grau de malignidade. J&aacute; o linfoma de c&eacute;lulas grandes &eacute; conhecido pelo seu alto grau de malignidade, entretanto, sua incid&ecirc;ncia &eacute; um tanto quanto rara.</p>

				<p><b>Leiomiossarcoma</b></p>

				<p>O leiomiosarcoma &eacute; outro tumor que surge na musculatura lisa do est&ocirc;mago, ele pode se difundir para outros &oacute;rg&atilde;os, por&eacute;m sua incid&ecirc;ncia &eacute; relativamente baixa.</p>

				<p>A exemplo do que ocorre em outros tipos de c&acirc;ncer, como o de mama e o de pr&oacute;stata, conforme a evolu&ccedil;&atilde;o do c&acirc;ncer de est&ocirc;mago ocorre, as c&eacute;lulas anormais v&atilde;o gradativamente substituindo o tecido normal do &oacute;rg&atilde;o e v&atilde;o se propagando para outras camadas do estomago, podendo at&eacute; mesmo acometer &oacute;rg&atilde;os vizinhos.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
	  <div class="video-container">
       <iframe src="https://player.vimeo.com/video/231855147?autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
			
	 
				<h4><strong>Como ocorre o c&acirc;ncer de est&ocirc;mago</strong></h4>

				<p>Existem uma s&eacute;rie de fatores de riscos que podem levar o surgimento do c&acirc;ncer de est&ocirc;mago, por&eacute;m, a comunidade m&eacute;dica ainda n&atilde;o sabe com exatid&atilde;o como esses fatores induzem as c&eacute;lulas do revestimento do est&ocirc;mago e se tornarem cancer&iacute;genas.</p>

				<p>H&aacute; uma s&eacute;rie de altera&ccedil;&otilde;es que podem ocorrer no revestimento do est&ocirc;mago que gastroenterologistas acreditam que s&atilde;o pr&eacute;-canger&iacute;genas.</p>

				<p>Na gastrite cr&ocirc;nica, as gl&acirc;ndulas normais do estomago s&atilde;o diminu&iacute;das ou se tornam ausentes, al&eacute;m de apresentarem determinado grau de inflama&ccedil;&atilde;o. Esse tipo de gastrite &eacute; causada pela infec&ccedil;&atilde;o por H. Pylori, al&eacute;m de poder ser tamb&eacute;m causada por uma rea&ccedil;&atilde;o autoimune, onde o sistema imunol&oacute;gico ataca as c&eacute;lulas de revestimento do est&ocirc;mago. Algumas pessoas com essa condi&ccedil;&atilde;o desenvolvem uma s&eacute;rie de problemas estomacais, inclusive o c&acirc;ncer de est&ocirc;mago, por&eacute;m ainda n&atilde;o se sabe exatamente o que ocorre para que essa condi&ccedil;&atilde;o evolua para um c&acirc;ncer.</p>

				<p>Outra altera&ccedil;&atilde;o pr&eacute;-cancer&iacute;gena poss&iacute;vel &eacute; a metaplasia intestinal. Nessa condi&ccedil;&atilde;o, o revestimento normal do est&ocirc;mago &eacute; substitu&iacute;do por c&eacute;lulas que se assemelham &agrave;s c&eacute;lulas que normalmente revestem o intestino. As pessoas com essa condi&ccedil;&atilde;o de sa&uacute;de tamb&eacute;m possuem gastrite cr&ocirc;nica, a forma de como e porque essa mudan&ccedil;a ocorre e progride para o c&acirc;ncer de est&ocirc;mago tamb&eacute;m n&atilde;o est&aacute; clara para a comunidade m&eacute;dica. Alguns estudos apontam que ambos os casos podem estar relacionados &agrave; infec&ccedil;&atilde;o por H. Pylori.</p>

				<p>Al&eacute;m disso modifica&ccedil;&otilde;es em genes e DNA podem levar ao surgimento da doen&ccedil;a.</p>

				<p>Alguns genes possuem instru&ccedil;&otilde;es para controlar o crescimento e tamb&eacute;m a divis&atilde;o celular. Como citei nos relat&oacute;rios anteriores, os genes que promovem a divis&atilde;o celular s&atilde;o chamados de oncogenes, j&aacute; os genes que retardam a divis&atilde;o celular ou levam as c&eacute;lulas a morte s&atilde;o chamados de genes supressores. O c&acirc;ncer de est&ocirc;mago pode ser causado tamb&eacute;m por altera&ccedil;&otilde;es no DNA que modificam os genes desregulando suas atividades programadas de funcionamento.</p>

				<p>Muta&ccedil;&otilde;es herdadas em alguns desses genes podem aumentar o risco de c&acirc;ncer de est&ocirc;mago em uma pessoa. Por&eacute;m as mudan&ccedil;as heredit&aacute;rias, ou seja, passadas de pai para filho, s&atilde;o respons&aacute;veis apenas, por uma pequena porcentagem dos casos desse tipo de c&acirc;ncer.</p>

				<p>A maioria das altera&ccedil;&otilde;es gen&eacute;ticas que levam ao c&acirc;ncer de est&ocirc;mago ocorre ap&oacute;s o nascimento. Algumas dessas altera&ccedil;&otilde;es podem ser causadas devido aos fatores de risco, por&eacute;m, outras muta&ccedil;&otilde;es gen&eacute;ticas, podem ser apenas eventos aleat&oacute;rios que &agrave;s vezes acontecem no interior das c&eacute;lulas, sem ter realmente uma causa externa evidenciada.</p>

				<h1>&nbsp;</h1>

				<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório-cancer-estomago-1.jpg"></div>

				<p><strong>Epidemiologia do c&acirc;ncer de est&ocirc;mago</strong></p>

				<p>O c&acirc;ncer de est&ocirc;mago afeta de modo principal as pessoas mais velhas. A idade m&eacute;dia dos pacientes diagnosticados com esse problema de s&atilde;o &eacute; de 70 anos.</p>

				<p>Atualmente, mais de dois ter&ccedil;os dos pacientes com c&acirc;ncer de est&ocirc;mago possuem 65 anos ou mais. O risco m&eacute;dico de uma pessoa desenvolver essa doen&ccedil;a em sua vida &eacute; de 1 em 116, por quest&otilde;es fisiol&oacute;gicas, os homens s&atilde;o mais propensos a desenvolver o c&acirc;ncer de estomago do que as mulheres.</p>

				<p>O c&acirc;ncer de est&ocirc;mago &eacute; muito mais comum em pa&iacute;ses menos desenvolvidos. At&eacute; meados da d&eacute;cada de 30, a doen&ccedil;a foi a principal causa de morte por c&acirc;ncer.</p>

				<p><strong>Incid&ecirc;ncia</strong></p>

				<p>O pico de incid&ecirc;ncia do c&acirc;ncer de est&ocirc;mago se d&aacute; em sua maioria em homens de idade m&eacute;dia de 70 anos. Mais de 65% dos pacientes diagnosticados com esse tipo de tumor possuem mais de 50 anos de idade.</p>

				<p>O c&acirc;ncer de est&ocirc;mago em homens &eacute; o segundo mais frequente no Brasil. A sua incid&ecirc;ncia por regi&atilde;o no pa&iacute;s est&aacute; assim dividida:</p>

				<p>&nbsp; &nbsp;&rarr; 17,14 casos para cada 100 mil habitantes na regi&atilde;o Sul;</p>

				<p>&nbsp; &nbsp;&rarr; 13,79 casos para cada 100 mil habitantes na regi&atilde;o sudeste;</p>

				<p>&nbsp; &nbsp;&rarr; 11,62 casos para cada 100 mil habitantes na regi&atilde;o Norte;</p>

				<p>&nbsp; &nbsp;&rarr; 11,50 casos para cada 100 mil habitantes na regi&atilde;o Centro-oeste;</p>

				<p>&nbsp; &nbsp;&rarr; 10,67 casos para cada 100 mil habitantes na regi&atilde;o Nordeste.</p>

				<p>No restante do mundo, dados estat&iacute;sticos mostram um decl&iacute;nio da incid&ecirc;ncia desse tipo de c&acirc;ncer, principalmente em nos Estados Unidos, Inglaterra, Canad&aacute; e demais pa&iacute;ses desenvolvidos.</p>

				<p>A alta mortalidade por c&acirc;ncer de est&ocirc;mago &eacute; atualmente registrada na Am&eacute;rica Latina, principalmente na Col&ocirc;mbia, Chile e Costa Rica. No ocidente, e no mundo, o pa&iacute;s com maior n&uacute;mero de casos da doen&ccedil;a &eacute; o Jap&atilde;o, onde a incid&ecirc;ncia da doen&ccedil;a &eacute; de 780 doentes a cada 100 mil habitantes.</p>

				<p><strong>Preven&ccedil;&atilde;o</strong></p>

				<p>Como a medicina ainda n&atilde;o tem uma causa clara do que realmente causa o c&acirc;ncer de estomago, n&atilde;o h&aacute; uma maneira &uacute;nica capaz de prevenir esse tipo de doen&ccedil;a. Mas, gastroenterologistas sugerem algumas medidas que podem ser tomadas para reduzir as chances de surgimento da doen&ccedil;a.</p>

				<p>Entre as principais formas de preven&ccedil;&atilde;o do c&acirc;ncer de est&ocirc;mago eu cito:</p>

				<p>&nbsp; &nbsp;&rarr; Ingest&atilde;o de vegetais verdes folhos &agrave; vontade;</p>

				<p>&nbsp; &nbsp;&rarr; Evitar e/ou ent&atilde;o reduzir o consumo de alimentos ultraprocessados, principalmente os embutidos;</p>

				<p>&nbsp; &nbsp;&rarr; Evitar o consumo de bebidas&nbsp;alc&oacute;olicas;</p>

				<p>&nbsp; &nbsp;&rarr; N&atilde;o fumar;</p>

				<p>&nbsp; &nbsp;&rarr; Praticar atividades f&iacute;sicas de maneira constante;</p>

				<p>&nbsp; &nbsp;&rarr; Evitar situa&ccedil;&otilde;es de estresse.</p>
			
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>

				<p><strong>Cuidados</strong></p>

				<p>Dentre as op&ccedil;&otilde;es de tratamento e cuidados dispon&iacute;veis para o c&acirc;ncer de estomago, tudo depende do est&aacute;gio da doen&ccedil;a. A cirurgia &eacute; normalmente o tipo de cuidado mais utilizado para trazer conforto e reverter a doen&ccedil;a.</p>

				<p>Por&eacute;m, diferentes n&iacute;veis da doen&ccedil;a demandam diferentes tipos de cuidados. Sess&otilde;es de quimioterapia, e radioterapia tamb&eacute;m podem ser uteis, ambas podem ser feitas antes ou ap&oacute;s a cirurgia, o que aumenta as possibilidades de cura.</p>

				<p>Medicamentos espec&iacute;ficos para inibir o crescimento e multiplica&ccedil;&atilde;o de c&eacute;lulas tumorais tamb&eacute;m podem ser utilizados.</p>

				<p>O resultado das interven&ccedil;&otilde;es pode variar. Profundidade do tumor na parede do est&ocirc;mago, bem como o tipo de c&acirc;ncer diagnosticado influenciam nos cuidados e chances de cura. Caso o tumor tenha se disseminado para fora do est&ocirc;mago e tenha atingido outras &aacute;reas, a cura &eacute; menos prov&aacute;vel e os cuidados visam oferecer o maior conforto poss&iacute;vel ao paciente.</p>

				<p>Com isso vamos chegando ao final da nossa s&eacute;rie de relat&oacute;rios voltados aos c&acirc;nceres mais comuns e como preveni-los. Espero que voc&ecirc;s tenham gostado.</p>

				<p>Me despe&ccedil;o desejando amor, felicidade, sa&uacute;de e sorte.</p>

				<p>Forte abra&ccedil;o e at&eacute; a pr&oacute;xima s&eacute;rie de relat&oacute;rios.</p>
		
		   
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   
			
		</div>
	</div>
		<!-- fim modulos -->
		
	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>





<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	

<body>
</body>
</html>
