<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 6 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12">
			<div class="col s12">
			 <div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório_dor_nas-costas.png"></div>
		 </div>		 
	</div>
		</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Durante a &eacute;poca que eu atuava na sa&uacute;de p&uacute;blica, eu recebia pessoas de diversas idades se queixando de uma mesma dor forte e extremamente inc&ocirc;moda: dor nas costas.</p>
<p>De todos os casos, um deles me marcou bastante e vou contar para voc&ecirc; neste relat&oacute;rio, pois provavelmente voc&ecirc; pode se identificar ou identificar algu&eacute;m da sua fam&iacute;lia ou amigos que esteja passando pela mesma situa&ccedil;&atilde;o.</p>
<p>Darei um nome fict&iacute;cio para o paciente: Carlos.</p>		
	<p>Carlos chegava a meu consult&oacute;rio sempre se queixando de dores moderadas na regi&atilde;o das costas. Com o tempo, essa dor foi se agravando e evoluindo para uma dor forte e constante. Antes de chegar at&eacute; a mim, Carlos alegou ter se consultado diversas vezes com diferentes ortopedistas e nenhum deles conseguiu encontrar a raiz do problema, apenas passavam medicamentos para al&iacute;vio da dor.</p>
<p>Sempre que o efeito do medicamento passava, a dor retornava e em meio a essa situa&ccedil;&atilde;o, ele resolveu procurar o cl&iacute;nico geral de plant&atilde;o no dia, que era eu.</p>
<p>Eu ouvi a hist&oacute;ria do Carlos e me recordei de outras pessoas que chegavam l&aacute; com a mesma queixa. Sabemos que cada um tem sua individualidade bioqu&iacute;mica, mas a raiz do problema era sempre a mesma, eu pude observar que existia um padr&atilde;o nessas in&uacute;meras queixas de dores nas costas.</p>
<p>Com Carlos n&atilde;o foi diferente. O que causava as fortes e constantes dores nele foi o mesmo motivo dos demais pacientes que atendi com essa queixa, e mais adiante falarei qual motivo era esse e a solu&ccedil;&atilde;o para esse problema.</p>
<p>Antes, vamos esclarecer o que &eacute; a dor nas costas...</p>
<p>Para quem sofre, &eacute; um pesadelo. Mas quero especificar de forma cient&iacute;fica, por&eacute;m ao mesmo tempo clara e simples os tipos de dores.</p>
<p>A dor nas costas &eacute; uma das maiores queixas de dores da atualidade. &Eacute; estimado que todas as pessoas ter&atilde;o pelo menos um epis&oacute;dio dessa inc&ocirc;moda dor em algum momento da vida.</p>
<p>A dor pode se manifestar de forma leve, moderada ou intensa; r&aacute;pida ou constante, insistente, podendo ter origem na coluna vertebral, na musculatura, nervos ou outras regi&otilde;es como dentes, articula&ccedil;&otilde;es e at&eacute; mesmo alguns &oacute;rg&atilde;os internos. O que torna a doen&ccedil;a com causas multifatoriais, ou seja, pode ter in&uacute;meras causas.</p>
<p>No meio m&eacute;dico, chama-se dorsalgia. Esta dor pode ter caracter&iacute;sticas de fisgadas ou ard&ecirc;ncia. Quando localizada na parte superior ou cervical, pode ser enraizada para bra&ccedil;os e m&atilde;os, e quando localizada na parte inferior das costas, a dor pode estender-se para pernas e p&eacute;s.</p>
			
<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/dores-costas.png"></div>
			
<p>Isso acontece, pois a nossa espinha dorsal &eacute; como uma esp&eacute;cie de rede que liga articula&ccedil;&otilde;es, nervos, m&uacute;sculos, ligamentos e tend&otilde;es e todos eles s&atilde;o capazes de gerar dor.</p>
<p>Como falei antes existe uma s&eacute;rie de fatores que podem desencadear as dores nas costas, fazendo com que este mal seja de causa multifatorial.</p>
<p>Dentre as principais causas deste terr&iacute;vel inc&ocirc;modo, eu cito:</p>
<p>&nbsp; &rarr; M&aacute; postura;</p>
<p>&nbsp; &rarr; Sedentarismo;</p>
<p>&nbsp; &rarr; H&eacute;rnias de disco;</p>
<p>&nbsp; &rarr; Artrose e artrite;</p>
<p>&nbsp; &rarr; Quedas;</p>
<p>&nbsp; &rarr; Car&ecirc;ncias nutricionais.</p>
<p>Este &uacute;ltimo citado e muito pouco explorado foi o motivo das constantes queixas de dores nas costas que receb&iacute;amos no posto de sa&uacute;de, e inclusive foi o motivo das dores terr&iacute;veis do Carlos, o qual contei a hist&oacute;ria no in&iacute;cio deste relat&oacute;rio.</p>
<p>Infelizmente esta causa &eacute; negligenciada. Poucas pessoas sabem o quanto uma car&ecirc;ncia nutricional pode acarretar em doen&ccedil;as e inclusive a esta verdadeira &ldquo;epidemia&rdquo; de dor nas costas.</p>
		<div class="video-container">
		   <iframe src="https://player.vimeo.com/video/228069901?autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
<p>Mas diante de toda essa informa&ccedil;&atilde;o, voc&ecirc; deve estar se perguntando:&nbsp;<em>&ldquo;Dr. Rocha, como posso avaliar se tenho defici&ecirc;ncia de vitamina D?&rdquo;.</em></p>
<p>Atrav&eacute;s da dosagem sangu&iacute;nea em laborat&oacute;rio &eacute; poss&iacute;vel que seu m&eacute;dico avalie se h&aacute; ou n&atilde;o defici&ecirc;ncia. Segundo a Sociedade de Endocrinologia dos Estados Unidos, os par&acirc;metros de defici&ecirc;ncia, insufici&ecirc;ncia e n&iacute;veis adequados, s&atilde;o:</p>
<p>&nbsp;&rarr; Defici&ecirc;ncia (risco iminente de desenvolver os problemas de sa&uacute;de associados &agrave; falta de vitamina D): menor do que 20 ng/ml;</p>
<p>&nbsp;&rarr; Insufici&ecirc;ncia (risco de defici&ecirc;ncia): maior do que 21 e menor 30 ng/ml;</p>
<p>&nbsp;&rarr; Sufici&ecirc;ncia (n&iacute;veis adequados para prote&ccedil;&atilde;o do organismo): &gt; 30 ng/ml.</p>
<p>Agora voc&ecirc; pode estar se perguntando:&nbsp;<em>&ldquo;Dr. Rocha, como posso obter esta incr&iacute;vel vitamina? &Eacute; poss&iacute;vel obter apenas atrav&eacute;s da alimenta&ccedil;&atilde;o?&rdquo;.</em></p>
<p>Alguns alimentos s&atilde;o ricos em vitamina D, mas poucas pessoas sabem ou os consomem diariamente. S&atilde;o eles:</p>
<p>&nbsp; &rarr; Salm&atilde;o selvagem;</p>
<p>&nbsp; &rarr; Atum natural ou conservado em &aacute;gua ou azeite;</p>
<p>&nbsp; &rarr; Ovos (principalmente na gema);</p>
<p>&nbsp; &rarr; F&iacute;gado bovino;</p>
<p>&nbsp; &rarr; Sardinha;</p>
<p>&nbsp; &rarr; &Oacute;leo de f&iacute;gado de bacalhau.</p>
<p>Como faleianteriormente, estes alimentos n&atilde;o fazem parte da alimenta&ccedil;&atilde;o do brasileiro, infelizmente. E mesmo assim, a ativa&ccedil;&atilde;o da vitamina no organismo depende da exposi&ccedil;&atilde;o ao sol. Cada vez mais pessoas est&atilde;o se privando de tomar alguns minutos de sol diariamente.</p>
<p>O Brasil &eacute; um pa&iacute;s que faz sol praticamente durante todo o ano, mas o &iacute;ndice de pessoas deficientes de vitamina D s&oacute; vem crescendo. A pesquisa mais recente realizada pelo IBGE, em 2011, constatou que mais de 99% de homens e mulheres possuem car&ecirc;ncia de vitamina D, bem como de c&aacute;lcio, magn&eacute;sio, vitamina A e C.</p>
<p>Isso explica porque muitas doen&ccedil;as, incluindo os tr&ecirc;s males do s&eacute;culo que falo nesta edi&ccedil;&atilde;o, s&atilde;o todas agravadas ou at&eacute; mesmo causadas por car&ecirc;ncia nutricional.</p>
<p>Assim como Carlos, voc&ecirc; ou algu&eacute;m que voc&ecirc; conhece pode estar sofrendo dor nas costas por falta desse t&atilde;o importante nutriente.</p>
<p>Por isso, nos b&ocirc;nus desta edi&ccedil;&atilde;o explicarei detalhadamente como obter esta vitamina de forma integral atrav&eacute;s da alimenta&ccedil;&atilde;o e suplementa&ccedil;&atilde;o natural. N&atilde;o deixe de conferir!</p>
<p>No pr&oacute;ximo e &uacute;ltimo relat&oacute;rio falaremos sobre mais um mal do s&eacute;culo, o Alzheimer. Doen&ccedil;a esta que vem acometendo cada vez mais pessoas, sem distin&ccedil;&atilde;o e que pode ser evitada tamb&eacute;m atrav&eacute;s de uma alimenta&ccedil;&atilde;o saud&aacute;vel e bons h&aacute;bitos de vida.</p>
<p>Forte abra&ccedil;o, at&eacute; o terceiro relat&oacute;rio!</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		

	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>







<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}


	

<body>
</body>
</html>
