<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 6 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório_alzhaimer.png"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   
<p>Chegamos ao &uacute;ltimo relat&oacute;rio desta edi&ccedil;&atilde;o sobre os males do s&eacute;culo, e neste falaremos sobre uma doen&ccedil;a conhecida e temida por todos:&nbsp;<strong>o Alzheimer</strong>.</p>
<p>Mas antes, vamos recapitular o tema desta edi&ccedil;&atilde;o e o que vimos at&eacute; agora. Desta vez falamos sobre 3 males que tem ganhado espa&ccedil;o no cen&aacute;rio brasileiro, atingindo milhares de pessoas...e eu mostrei para voc&ecirc; a liga&ccedil;&atilde;o deles com um &uacute;nico mal: a defici&ecirc;ncia nutricional. A defici&ecirc;ncia ou car&ecirc;ncia nutricional nada mais &eacute; do que a aus&ecirc;ncia ou insufici&ecirc;ncia de algum nutriente importante no seu organismo, seja por necessidade de suplementa&ccedil;&atilde;o ou seja pelo estilo de vida e h&aacute;bitos alimentares ruins.</p>
<p>Agora voltando ao tema deste presente relat&oacute;rio, vou lhe contar a hist&oacute;ria de Reinaldo. Este foi um de meus pacientes na &eacute;poca que eu atendia na sa&uacute;de p&uacute;blica.</p>
<p>O Reinaldo era um senhor com mais de 60 anos, s&aacute;bio e inteligente. Gostava de ler livros e conversar, tinha uma excelente mem&oacute;ria. Por&eacute;m Reinaldo j&aacute; sofria h&aacute; anos com uma diabetes completamente descontrolada.</p>
<p>Sua alimenta&ccedil;&atilde;o era rica em a&ccedil;&uacute;car e farin&aacute;ceos de trigo. Me lembro que ele quase n&atilde;o comia vegetais e passava longe das gorduras saud&aacute;veis.</p>
<p>No dia que Reinaldo me procurou no posto de sa&uacute;de, conversamos bastante e ele disse que estava sentindo algo estranho com a mem&oacute;ria dele. Ele contou que estava esquecendo coisas importantes e tamb&eacute;m cotidianas. Elese esquecia se tinha tomado banho e esquecia de compromissos que eram marcados com anteced&ecirc;ncia. Perguntei sobre a mem&oacute;ria antiga, da inf&acirc;ncia dele, e ele mais do que prontamente disse que esta ainda estava intacta.</p>
<p>Como sempre fui a favor da alimenta&ccedil;&atilde;o saud&aacute;vel, sugeri ao Reinaldo que fizesse mudan&ccedil;as em sua rotina alimentar. Mas infelizmente, o Reinaldo n&atilde;o fez.</p>
<p>Ele voltava cada vez pior e por fim, sua esposa precisava o levar at&eacute; o posto pois ele tinha esquecido como era o caminho. A esposa dele relatava que o quadro estava piorando, ele j&aacute; n&atilde;o se lembrava de algumas pessoas... e foi a&iacute; que um m&eacute;dico neurologista que atuava na &eacute;poca o diagnosticou com Mal de Alzheimer.</p>
<p>Lembro-me como se fosse ontem a tristeza e o desespero da esposa de Reinaldo. A partir da&iacute;, Reinaldo se tornou um homem extremamente dependente da esposa, sem autonomia, com movimentos limitados e a mem&oacute;ria totalmente debilitada.</p>
<p>O m&eacute;dico passou rem&eacute;dios, e solicitou exames. E eu, ainda que rec&eacute;m-formado, por&eacute;m bastante curioso, solicitei outros exames tamb&eacute;m.</p>
<p>Eu percebi que Reinaldo tinha uma car&ecirc;ncia severa em nutrientes importantes para o c&eacute;rebro, n&atilde;o s&oacute; atrav&eacute;s dos exames, mas tamb&eacute;m avaliando a rotina alimentar nada saud&aacute;vel dele.</p>
<p>Reinaldo e sua esposa n&atilde;o sabiam o tamanho da import&acirc;ncia de um nutriente essencial para sa&uacute;de do c&eacute;rebro, e que provavelmente se consumido antes e com periodicidade, teria evitado este mal.</p>
<p>Eu vou lhe contar qual nutriente &eacute; este... Mas antes, vamos entender o Alzheimer.</p>
<p>O Alzheimer &eacute; uma doen&ccedil;a neurodegenerativa caracterizada pela diminui&ccedil;&atilde;o progressiva da capacidade cognitiva do portador da doen&ccedil;a, fazendo com que ele fique altamente dependente e incapaz de exercer atividades cotidianas normalmente. A doen&ccedil;a interfere diretamente tanto no comportamento quanto na personalidade do portador.</p>
<p>Esta doen&ccedil;a, tamb&eacute;m chamada de dem&ecirc;ncia senil, tamb&eacute;m faz com que o paciente perca sua mem&oacute;ria recente. Os portadores da doen&ccedil;a podem at&eacute; lembrar de fatos que aconteceram h&aacute; muitos anos atr&aacute;s, mas n&atilde;o se lembram do que acabou de comer, por exemplo.</p>
<p>E os números são alarmantes...</p>			
			<div class="row">
			<div class="col s12 m8">
				<p>No Brasil, cerca de 15 milhões de pessoas com mais de 60 anos de idade possuem a doença de Alzheimer. Já nos Estados Unidos, é a quarta doença que mais causa morte em idosos acima de 75 anos, perdendo apenas para infarto, AVC e câncer.</p>
<p>Segundo a Associação Internacional de Alzheimer, a cada 3 segundos, um novo caso desse mal é detectado no mundo e em 2050 estimasse que a cada um segundo, haverá um novo caso detectado.</p>
				
				</div>
			<div class="col s12 m4"> <img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/alzhaimer3.png"></div>
			</div>
<p>Certamente voc&ecirc; agora, tamb&eacute;m alarmado com estes dados, quer saber quais s&atilde;o os sintomas desta terr&iacute;vel doen&ccedil;a. Vou lhe falar a seguir...</p>
<p>&nbsp; &rarr; Perda de mem&oacute;ria recente;</p>
<p>&nbsp; &rarr; Dist&uacute;rbios de comportamentos &ndash; normalmente o paciente se torna triste e/ou agressivo;</p>
<p>&nbsp; &rarr; Olhar perdido e totalmente desfocado;</p>
<p>&nbsp; &rarr; Desinteresse por assuntos do cotidiano;</p>
<p>&nbsp; &rarr; Conversas sobre temas que ocorreram em um passado distante.</p>
<p>&Eacute; importante ressaltar que pessoas com sintomas ou com a doen&ccedil;a j&aacute; instalada, n&atilde;o perdem seu estado de consci&ecirc;ncia. O paciente em quest&atilde;o sempre responder&aacute; aos questionamentos que forem feitos, seja de forma correta ou errada.</p>
<p>Pessoas com diabetes descontrolada, pessoas que sofreram com AVC e depress&atilde;o, s&atilde;o fortes candidatos a desenvolver Alzheimer com o passar do tempo.</p>
<p>Como venho falando nesta edi&ccedil;&atilde;o, a car&ecirc;ncia nutricional &eacute; algo que acomete milhares de pessoas e pode estar sendo o causador ou amplificador de doen&ccedil;as do s&eacute;culo. Costumo dizer que &eacute; a raiz do problema.</p>
<p>Com Alzheimer n&atilde;o &eacute; diferente. Ao contar a hist&oacute;ria do Reinaldo, que &eacute; parecida com a hist&oacute;ria de milhares de brasileiros que passam por esta situa&ccedil;&atilde;o, eu citei que ele possu&iacute;a defici&ecirc;ncia no consumo de um nutriente essencial, e agora vou lhe contar qual &eacute;.</p>			
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		<div class="video-container">
       <iframe src="https://player.vimeo.com/video/232690476?autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
	 <div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório_omega3.png"></div><p>Estou falando de um nutriente essencial, mais precisando um &aacute;cido graxo: o &ocirc;mega 3.</p>
<p>Ele &eacute; de fato essencial, pois nosso organismo &eacute; incapaz de produzi-lo, portanto, &eacute; de responsabilidade nossa ingerirmos estes nutrientes atrav&eacute;s da alimenta&ccedil;&atilde;o ou suplementa&ccedil;&atilde;o.</p>
<p>Como se trata de uma gordura extremamente rara atualmente em peixes de &aacute;guas frias, pois s&atilde;o peixes de cativeiro e criados com ra&ccedil;&atilde;o, &eacute; muito dif&iacute;cil atingir as necessidades di&aacute;rias de &ocirc;mega 3 apenas consumindo alimentos.</p>
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
<p>O &ocirc;mega 3 como falei, &eacute; um tipo de gordura poli-insaturada muito rara na alimenta&ccedil;&atilde;o do brasileiro. Esta gordura saud&aacute;vel evita problemas card&iacute;acos, protege o c&eacute;rebro e &eacute; um potente anti-inflamat&oacute;rio.</p>
<p>Al&eacute;m destas fun&ccedil;&otilde;es, o &ocirc;mega 3 possui outros benef&iacute;cios incr&iacute;veis que vou citar abaixo:</p>
<p>&nbsp; &rarr; Fortalece o sistema imunol&oacute;gico;</p>
<p>&nbsp; &rarr; Contribui para o controle da press&atilde;o arterial;</p>
<p>&nbsp; &rarr; Protege a sa&uacute;de dos olhos;</p>
<p>&nbsp; &rarr; Protege a sa&uacute;de dos ossos;</p>
<p>&nbsp; &rarr; Contribui para pele e cabelos saud&aacute;veis;</p>
<p>&nbsp; &rarr; Auxilia no tratamento da depress&atilde;o;</p>
<p>&nbsp; &rarr; Melhora a mem&oacute;ria e cogni&ccedil;&atilde;o;</p>
<p>Alguns alimentos possuem bom aporte de &ocirc;mega 3 em sua composi&ccedil;&atilde;o, apesar de n&atilde;o serem suficientes para atingir as necessidades di&aacute;rias do nutriente no organismo. S&atilde;o eles:</p>
<p>&nbsp; &nbsp;&rarr; Salm&atilde;o selvagem;</p>
<p>&nbsp; &nbsp;&rarr; Azeite extra-virgem de boa qualidade;</p>
<p>&nbsp; &nbsp;&rarr; Ovos;</p>
<p>&nbsp; &nbsp;&rarr; Oleaginosas;</p>
<p>&nbsp; &nbsp;&rarr; Linha&ccedil;a.</p>
<p>Como falei, apesar desses alimentos possu&iacute;rem certa quantidade de &ocirc;mega 3, ainda assim n&atilde;o &eacute; suficiente para atingir a necessidades di&aacute;rias do nutriente. &Eacute; preciso suplementar.</p>
<p>Atualmente, &eacute; comum ver uma vasta quantidade de op&ccedil;&otilde;es diferentes de suplementos &ocirc;mega 3 por a&iacute;. Por&eacute;m, nem todos s&atilde;o confi&aacute;veis e de boa qualidade. Alguns s&atilde;o oxidados e muitas vezes o consumidor n&atilde;o percebe e leva mesmo assim.</p>
<p>Para extrair o melhor do nutriente, &eacute; preciso atentar-se a qualidade do suplemento, observando bem as c&aacute;psulas. Sua espessura, cheiro, cor, conserva&ccedil;&atilde;o... Todos esses detalhes s&atilde;o importantes na hora de escolher uma boa marca do suplemento.</p>
<p>Quem me acompanha sabe que sempre indico marcas importadas, pois s&atilde;o mais confi&aacute;veis. Mas entendo que &eacute; dif&iacute;cil ter acesso ao mercado internacional de suplementos, acompanhei de perto a dificuldade de v&aacute;rios alunos.</p>
<p>Foram muitas d&uacute;vidas que chegaram at&eacute; minha equipe de suporte e at&eacute; mim. Pensando nisso, eu e minha equipe estamos trabalhando em pesquisas e na formula&ccedil;&atilde;o de um suplemento de &ocirc;mega 3 com certifica&ccedil;&atilde;o de alta qualidade para disponibilizar para o mercado que infelizmente &eacute; carente de suplementos de boa qualidade.</p>
<p>Eu, pessoalmente, busquei e avaliei as c&aacute;psulas de acordo com o padr&atilde;o de qualidade do suplemento para que haja absor&ccedil;&atilde;o integral de todos os benef&iacute;cios que o &ocirc;mega 3 pode proporcionar para sa&uacute;de.</p>
<p>Breve lan&ccedil;arei minha pr&oacute;pria linha de suplementos &ocirc;mega 3 de alta qualidade e potente poder de absor&ccedil;&atilde;o, e voc&ecirc;, caro leitor, est&aacute; sendo o primeiro a saber desta not&iacute;cia e receber&aacute; tamb&eacute;m com exclusividade para assinantes um e-mail de lan&ccedil;amento em primeira m&atilde;o. Por isso, fique atento!</p>
<p>Enquanto isso... Eu disponibilizei nos b&ocirc;nus a quantidade recomendada de &ocirc;mega 3 por dia, n&atilde;o deixe de conferir pois est&aacute; recheado de dicas valiosas.</p>
<p>Chegamos ao fim de mais uma edi&ccedil;&atilde;o do Dr. Rocha Com Voc&ecirc; e espero que tenha gostado e que continue comigo para as pr&oacute;ximas edi&ccedil;&otilde;es onde falarei mais sobre sa&uacute;de e alimenta&ccedil;&atilde;o e como aplicar todos os ensinamentos aqui apresentados, na sua vida e na vida de seus familiares!</p>
<p>Um forte abra&ccedil;o e at&eacute; a pr&oacute;xima edi&ccedil;&atilde;o!</p>		
			
		   
			
		</div>
	</div>
		<!-- fim modulos -->

	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>





<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}


	

<body>
</body>
</html>
