<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 6 > </a>  relatório 1º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório.png"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Neste relatório, antes de começar a falar sobre o primeiro mal do século, quero fazer uma breve introdução para que você, leitor, entenda melhor sobre o tema desta edição do Dr. Rocha Com Você.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/depressao-1.png"></div>
			<p>Eu separei para esta edição, três males que vêm acometendo cada vez mais pessoas na atualidade, e provo para você como a alimentação está diretamente ligada ao surgimento ou agravamento destes males.</p>
			<p>Para facilitar ainda mais o entendimento, separei três casos verídicos, porém com nomes fictícios, que me marcaram na época do consultório. Conto para você cada caso para que você identifique melhor a história de cada doença e como ela pode ser tratada de forma simples.</p>
			<p>Eu escolhi estes três males pois são doenças relativamente novas e atuais, desencadeadas pelo estilo de vida moderno e infelizmente como são todas silenciosas e muitas vezes assintomáticas, são igualmente negligenciadas.</p>
			<p>Então vamos lá...</p>
			<p>Neste relatório falaremos sobre depressão, um mal profundo que pode desencadear uma série de doenças e até mesmo levar as pessoas a cometerem suicídio, quando não for dada a devida atenção e tratamento.</p>
			<p>Para começar, é importante alertar: Se você sofre ou conhece alguém que sofre com depressão, entenda que este mal não é somente tratado com a alimentação, mas também com terapias e análises com profissionais especializados. A alimentação é um importante e essencial coadjuvante no tratamento e prevenção desta doença, mas não é a principal ferramenta para o combate.</p>
			<p>Agora, contarei um caso que me marcou bastante na época em que atendia em consultório. Vou chamar a paciente de Ana.</p>
			<p>Ana estava acima do peso e com resistência à insulina e me procurou querendo emagrecer de maneira saudável. Até aí, tudo bem e normal. Solicitei exames de rotina, examinei o histórico dela, conversamos bastante e passei para ela um plano alimentar e solicitei seu retorno em 15 dias para avaliarmos seu progresso. Senti a Ana com um pouco de fragilidade e sem muita motivação, mas ao mesmo tempo, ela não me deu espaço para que eu pudesse entrar nesse assunto com ela, por isso, apenas deixei passar e aguardei o retorno dela.</p>
			<p>Quinze dias depois, Ana retornou ao meu consultório, desesperada. Ela não conseguiu progredir nem um pouco e nem mesmo conseguia focar no plano alimentar, ainda relatou que estava se sentindo extremamente desmotivada.</p>
			<p>Neste momento, como médico, me senti na liberdade de perguntar sobre como ela estava emocionalmente.</p>
			<p>A Ana simplesmente começou a chorar e me contar episódios que acabaram levando ela ao quadro inicial de depressão. Além de fatos pessoais da vida dela, duas coisas me chamaram bastante atenção: a alimentação que ela levava e a ansiedade que ela tinha.</p>
			<p>Ela tinha uma alimentação rica em açúcares e farinhas brancas, associados a alimentos congelados, industrializados em geral. Além disso, Ana vivia estressada e ansiosa, mal conseguia dormir a noite.</p>
			<p>Isso implicou diretamente no ganho de peso e dificultou bastante a perda de peso dela. Por isso, solicitei outros exames, para dosar um nutriente essencial para o tratamento da depressão através da alimentação e que muitas pessoas podem estar com os níveis bem baixos neste exato momento e correndo risco de desencadear ou piorar um quadro de ansiedade e depressão. Eu já te conto qual nutriente é este.</p>
			<p>Antes, vamos esclarecer sobre o que é a depressão e seus sintomas.</p>
			<p>A revista científica BMC Medicine traçou o perfil da depressão em 18 países e mostrou que o Brasil foi o país com maior risco de desenvolver a doença até 2020.</p>
			<p>Segundo a Organização Mundial da Saúde, o Brasil é o país com maior número de casos na américa latina.</p>
			<p>Ainda segundo a OMS, até 2030 este será o mal mais prevalente em todo o mundo. Atualmente, mais de 120 milhões da população mundial sofre com depressão.</p>
		    <div class="row">
			<div class="col s12 m4"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/doenca-depressao.png" ></div>
			<div class="col s12 m8">
				<p>Os dados são assustadores! A depressão é uma doença caracterizada por uma perturbação e oscilação constante no humor e por ter sintomas cotidianos, podem ser confundidos e negligenciados.</p>
				<p>Trata-se de uma doença multifatorial, ou seja, que pode ter várias causas e afeta várias áreas do cérebro, em especial os neurotransmissores.</p>
				<p>Dentre as principais causas da doença, destaco:</p>
			</div>
			</div>
			
			<p>→ Uso de drogas;</p>
			<p>→ Neurotransmissores e problemas hormonais;</p>
			<p>→ Traumas e medos;</p>
			<p>→ Estresse e Ansiedade.</p>
			<p>A doença pode se instalar devido a mais de um destes sintomas, mas um em especial é praticamente obrigatório: deficiência de nutrientes que promovam a produção normal de hormônios que regulam o humor e sensação de bem-estar.</p>
			<p>E no caso da Ana não foi diferente. Ao pesquisar mais afundo através de exames, observei que os traumas e estresse que ela estava passando, juntamente com a má alimentação, desencadeou uma deficiência severa de um importante nutriente.</p>
			<p>Antes de falar qual nutriente é este, vamos aos sintomas da depressão. Como falei anteriormente, os sintomas podem ser despercebidos por serem sensações cotidianas e que com a correria do dia a dia, acabamos achando normal. Mas é preciso estar atento se estes sintomas não estão insistentes e atrapalhando nas áreas da sua vida, como no trabalho, estudos, relacionamento com pessoas, foco em objetivos e realização de atividades prazerosas.</p>
			<p>Os sinais mais comuns da depressão são:</p>
			<p>→ Tristeza constante: Pessoas com depressão sentem-se tristes sem muitos motivos, principalmente pelas manhãs. É uma sensação insistente e sem muitas explicações.</p>
			<p>→ Perda de interesse em atividades: Esses interesses vão ficando de lado e, na maioria dos casos, sair de casa é um grande tormento.</p>
			<p>→ Alterações no apetite e, consequentemente, no peso: Pode haver tanto perda quanto aumento do apetite e isso afeta diretamente no peso corporal. É comum a ansiedade de depressão desencadear compulsão alimentar.</p>
			<p>→ Insônia ou o sono excessivo: Noites mal dormidas e sonolência durante todo o dia é algo constante em pessoas com depressão.</p>
			<p>Alguns sinais são subjetivos, como a sensação de culpa, por exemplo, é algo muito presente em pessoas depressivas. O mesmo acontece com o sentimento de inutilidade. Em casos mais graves, a vontade e/ou tentativa de suicídio é alta.</p>
		
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<div class="video-container">
		   <iframe src="https://player.vimeo.com/video/228069835?autoplay=1" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
			<h4>Neurotransmissores e Depressão</h4>
			<p>Os neurotransmissores são substâncias químicas produzidas pelos neurônios e essenciais para a nossa saúde mental. Sua função é sinalizar ou levar informações para células.</p>
			<p>Existe um neurotransmissor responsável pela regulação do humor, aprendizado, memória, alimentação, desejo sexual e sono: a serotonina.</p>
			<p>Esta substância também é chamada de “hormônio da felicidade”. A sua deficiência está diretamente ligada a transtornos de humor, alimentares, sexuais e no sono. Ou seja, todos estes fatores agravam ou desencadeiam o quadro de depressão.</p>
			<p>Existe um nutriente extremamente essencial para manter os níveis adequados deste neurotransmissor e garantir que ele cumpra o seu papel, que infelizmente muitas pessoas desconhecem.</p>
	
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Triptofano: O Nutriente Essencial</h4>
			<p>Um nome um tanto quanto complicado e diferente, mas trata-se de um aminoácido, que nada mais é do que a menor parte da proteína. Esse aminoácido é essencial para produção de serotonina. Ou seja, é de suma importância consumir alimentos que possam oferecer boa quantidade deste nutriente no dia a dia.</p>
			<p>Mas não é só isso... Uma boa rotina de sono e exercícios físicos também promovem a boa produção de serotonina.</p>
			<p>Como falei, o triptofano é um aminoácido essencial, ou seja, nosso corpo não o produz. Por isso, é preciso ingeri-lo através da alimentação ou da suplementação.</p>
			<p>Além de auxiliar no tratamento e prevenção da depressão, triptofano possui outros benefícios os quais posso citar:</p>
			<p>→ Diminui níveis de estresse e ansiedade;</p>
			<p>→ Diminui hiperatividade;</p>
			<p>→ Melhora a qualidade do sono;</p>
			<p>→ Melhora o humor.</p>
			<p>Dentre os alimentos que possuem este nutriente, eu cito:</p>
			<p>→ Peixes (principalmente o salmão selvagem);</p>
			<p>→ Peru;</p>
			<p>→ Ovos;</p>
			<p>→ Sementes oleaginosas (castanhas, nozes, macadâmia, amêndoas);</p>
			<p>→ Semente de abóbora;</p>
			<p>→ Chocolate 70% cacau ou acima dessa porcentagem.</p>
			<p>Mas infelizmente nem sempre é possível atingir as necessidades diárias apenas através da alimentação, por isso algumas pessoas necessitam suplementar.</p>
			<p>No caso da paciente Ana, ela estava com seus níveis muito baixos, e era possível constatar isso devido à relação de alimentos não saudáveis que ela andava consumindo. Ao mudar a alimentação e usar boas doses do suplemento, Ana conseguiu melhorar seu quadro de depressão e atingiu seu objetivo de emagrecer de forma saudável.</p>
			<p>No próximo e último relatório falaremos sobre mais um mal do século, bastante conhecido, o Alzheimer.</p>
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<p>Não deixe de conferir informações complementares no bônus surpresa especial que preparei para você!</p>
			<p>Até o próximo relatório,</p>
			<p>Um forte abraço!</p>
	
		</div>
	</div>
		<!-- fim modulos -->
		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}


	
	

<body>
</body>
</html>
