<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 10 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório-material10-rel3.png"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			    <p>Ol&aacute;, aqui &eacute; o Dr. Rocha mais uma vez. Chegamos enfim, ao terceiro relat&oacute;rio sobre nossa s&eacute;rie que fala sobre f&iacute;gado gorduroso. Nesse &uacute;ltimo conte&uacute;do irei falar sobre um mito alimentar que cerca esse famigerado problema de sa&uacute;de, al&eacute;m de dizer qual &eacute; o tipo de alimento que realmente pode facilitar a ocorr&ecirc;ncia do gordura no f&iacute;gado e direi como uma alimenta&ccedil;&atilde;o saud&aacute;vel pode enfim, ser de grande ajuda aos portadores desse problema de sa&uacute;de.</p>

				<p>Aposto que voc&ecirc;s ficaram curiosos, n&atilde;o &eacute; mesmo? Eu tamb&eacute;m ficaria e n&atilde;o perderia esse &uacute;ltimo relat&oacute;rio por nada. Reservem um tempinho do seu dia e leiam esse delicioso e informativo conte&uacute;do.</p>

				<h4><b>Um grande mito do f&iacute;gado gorduroso &ndash; comer grandes quantidades de gordura causa o problema</b></h4>

				<p>Essa &eacute; uma informa&ccedil;&atilde;o sem qualquer pingo de verdade que infelizmente &eacute; amplamente difundida e divulgada por um grande n&uacute;mero de pessoas. Circula por a&iacute; a informa&ccedil;&atilde;o de que o consumo de alimentos ricos em gorduras pode culminar no surgimento no f&iacute;gado gorduroso.</p>

				<p>O que eu digo sobre o consumo de gorduras: O &uacute;nico tipo de gordura que pode levar o surgimento de problemas de sa&uacute;de &eacute; o consumo de gordura trans que se fazem dispon&iacute;veis em grandes quantidades em produtos industrializados e ultraprocessados.</p>

				<p>Os outros tipos de gordura, como mono, poli e saturadas n&atilde;o possuem efeito mal&eacute;fico, tampouco podem colaborar para o surgimento de gordura no f&iacute;gado. Muito pelo contr&aacute;rio, essas gorduras possuem car&aacute;ter oxidativo e podem colaborar com a regress&atilde;o e remiss&atilde;o da doen&ccedil;a que ainda est&atilde;o nos graus mais leves.</p>

				<h4><b>O a&ccedil;&uacute;car &eacute; o grande vil&atilde;o</b></h4>

				<p>Como sempre costumo afirmar precisamos ter extremo cuidado com nosso consumo alimentar. Infelizmente &eacute; grande o n&uacute;mero de alimentos que possuem altas doses de a&ccedil;&uacute;car escondido em suas composi&ccedil;&otilde;es e os efeitos desse veneno doce em nossa sa&uacute;de s&atilde;o extremamente severos.</p>

				<p>Quando digo que o a&ccedil;&uacute;car pode ser considerado o grande vil&atilde;o da gordura no f&iacute;gado, muitas de minhas alunas ficam realmente abismadas e chocadas com a informa&ccedil;&atilde;o e me questionam com perguntas do tipo: &ldquo;Mas como isso &eacute; poss&iacute;vel? Ou ent&atilde;o, como ingerir a&ccedil;&uacute;car ou alimentos ricos em carboidratos pode fazer com que gordura em excesso se acumule em nosso f&iacute;gado? &rdquo; .</p>

				<p>Para mostrar o motivo pelo qual o a&ccedil;&uacute;car &eacute; considerado o grande vil&atilde;o da gordura do f&iacute;gado explicarei resumidamente quais s&atilde;o seus efeitos em nosso organismo.</p>

				<p>Quando ingerimos a&ccedil;&uacute;car ou ent&atilde;o alimentos que s&atilde;o ricos em glicose, eles s&atilde;o rapidamente digeridos e caem de maneira direta em nossa corrente sangu&iacute;nea elevando assim nossos n&iacute;veis de glicose.</p>

				<p>Assim que os n&iacute;veis de glicose sangu&iacute;nea se elevam, nosso organismo libera insulina para captar essa glicose circulante, afinal, nosso organismo entende que essa glicose em excesso pode ser armazenada para ser utilizada posteriormente, ou seja, em algum momento em que nosso corpo precise de energia, isso infelizmente &eacute; uma heran&ccedil;a gen&eacute;tica herdada de nossos antepassados, que ficavam longos per&iacute;odos sem se alimentar. Hoje em dia, &eacute; f&aacute;cil extrapolarmos a quantidade de energia que precisamos para sobreviver.</p>

				<p>Sendo assim, nosso organismo, guarda essa glicose captada de uma maneira que possa ser utilizada quando houver necessidade, ou seja, em forma de gordura corporal. Um dos locais onde a gordura em excesso fica armazenada &eacute; na nossa regi&atilde;o abdominal, em nossas v&iacute;sceras.</p>

				<p>O ac&uacute;mulo de gordura corporal e principalmente abdominal est&aacute; diretamente relacionada com uma s&eacute;rie de problemas de sa&uacute;de, sobrepeso, obesidade, resist&ecirc;ncia &agrave; insulina, infarto, AVC, colesterol alto, press&atilde;o alta e tamb&eacute;m gordura no f&iacute;gado.</p>

				<p>A alta taxa de gordura na regi&atilde;o abdominal que &eacute; acumulada devido ao alto consumo de carboidratos e a&ccedil;ucares acaba por invadir o par&ecirc;nquima hep&aacute;tica, ou seja, as c&eacute;lulas do f&iacute;gado e resultam nesse problema de sa&uacute;de chamado gordura no f&iacute;gado. Por isso que sempre digo e reafirmo: Precisamos saber nos alimentar com qualidade e praticar escolhas alimentares estrat&eacute;gicas para nos mantermos saud&aacute;veis.</p>

				<h4><b>Tratamentos existentes para o f&iacute;gado gorduroso</b></h4>

				<p>N&atilde;o existe basicamente apenas um tratamento espec&iacute;fico para o problema de f&iacute;gado gorduroso. O alvo do tratamento na verdade deve ser focado no tratamento dos fatores de risco, os graus mais leves da doen&ccedil;a podem ser facilmente revertidos apenas com altera&ccedil;&otilde;es de h&aacute;bitos no dia a dia.</p>

				<p>Sem sombra de d&uacute;vidas a perda de peso &eacute; a medida mais importante para ser tomada por um paciente que foi diagnosticado com a doen&ccedil;a. Entretanto, &eacute; necess&aacute;rio que o processo de perda de peso ocorra de maneira gradual, para que n&atilde;o haja uma piora do quadro do paciente.</p>

				<p>&nbsp;</p>

				<h4><b>Alimentos que auxiliam no combate &agrave; gordura no f&iacute;gado</b></h4>

				<p>A dieta para gordura no f&iacute;gado deve conter apenas gorduras de qualidade, ter baixo teor de carboidrato e moderada quantidade de prote&iacute;nas. Al&eacute;m disso, normalmente o paciente que apresenta esse problema de sa&uacute;de possui sobrepeso, ent&atilde;o o n&uacute;mero de calorias de sua alimenta&ccedil;&atilde;o n&atilde;o deve ser elevado.</p>

				<p>Outra coisa que precisa ser levado em considera&ccedil;&atilde;o por pacientes portadores da doen&ccedil;a &eacute; o consumo de &aacute;lcool, pelo simples fato do &aacute;lcool (e de praticamente tudo que consumimos) ser metabolizado no f&iacute;gado o consumo da bebida et&iacute;lica n&atilde;o deve ocorrer.</p>

				<p>Outro item importante de ser ressaltado &eacute; que o f&iacute;gado gorduroso sempre deve ser tratado de acordo com orienta&ccedil;&atilde;o de profissionais da sa&uacute;de gabaritados para isso, portanto, m&eacute;dicos e principalmente nutricionistas s&atilde;o os profissionais mais recomendados para ajudarem os portadores de esteatose hep&aacute;tica a solucionarem seus problemas de sa&uacute;de.</p>

				<p>Uma tentativa solit&aacute;ria de resolver o problema pode culminar em piora severa do quadro da doen&ccedil;a e potencializar os sintomas j&aacute; existentes.</p>

				<p>Al&eacute;m de uma alimenta&ccedil;&atilde;o correta e balanceada, mesmo no caso de esteatose hep&aacute;tica alc&oacute;olica ou esteatose hep&aacute;tica n&atilde;o alc&oacute;olica &eacute; de suma import&acirc;ncia que se beba cerca de 1,5 a 2 litros de &aacute;gua por dia.</p>

				<p>Mostrarei a seguir os alimentos que podem ser consumidos pelos pacientes portadores de gordura no f&iacute;gado.</p>

				<p><b>Frutas, legumes e vegetais verdes folhosos</b></p>

				<p>Esses alimentos cont&ecirc;m altas quantidades de fibras em sua composi&ccedil;&atilde;o. Eles ajudam a controlar os n&iacute;veis de a&ccedil;&uacute;car no sangue e tamb&eacute;m contribuem para a diminui&ccedil;&atilde;o dos n&iacute;veis de colesterol total e triglic&eacute;rides.</p>

				<p>Seu consumo frequente faz com que a absor&ccedil;&atilde;o de a&ccedil;ucares e carboidratos diminuam, colaborando assim para a diminui&ccedil;&atilde;o de gordura corporal, que resulta em diminui&ccedil;&atilde;o do peso e como consequ&ecirc;ncia faz com que os n&iacute;veis de gordura no f&iacute;gado tamb&eacute;m diminuam.</p>

				<p><b>Derivados do leite</b></p>

				<p>Alimentos derivados do leite, como queijos e iogurtes por exemplo, tamb&eacute;m s&atilde;o boas op&ccedil;&otilde;es de consumo para os pacientes que foram diagnosticados com gordura no f&iacute;gado. Suas propriedades auxiliam no controle da flora bacteriana intestinal.</p>

				<p>Isso faz com que o transito intestinal melhore, o que diminui a absor&ccedil;&atilde;o de glicose e gorduras de m&aacute; qualidade e contribuem para a melhora dos quadros de esteatose hep&aacute;tica.</p>

				<p><b>Carnes</b></p>

				<p>Carnes em geral, sejam magras e brancas ou ent&atilde;o vermelhas, possuem alto teor de prote&iacute;na e gorduras de qualidade em sua composi&ccedil;&atilde;o. O alto teor de prote&iacute;na promove saciedade e auxilia no consumo ideal de calorias que facilita a perda de peso e diminui&ccedil;&atilde;o de gordura corporal.</p>

				<h4><b>Alimentos ricos em gordura de qualidade</b></h4>

				<p>Alimentos ricos em gordura de qualidade tais como azeite de oliva, e peixes de &aacute;gua profunda como o salm&atilde;o, o arenque e a sardinha por exemplo tamb&eacute;m s&atilde;o &oacute;timas op&ccedil;&otilde;es para nutrir os pacientes e colaborar com a redu&ccedil;&atilde;o dos n&iacute;veis de gordura no f&iacute;gado.</p>

				<p>Al&eacute;m disso, &eacute; importante ressaltar que pacientes diagnosticados com f&iacute;gado gorduroso devem preconizar que os alimentos podem ser preparados das mais diversas formas. Deve-se evitar fritar todo e qualquer tipo de alimento em &oacute;leo vegetal.</p>

				<p><b>Alimentos proibidos para quem possui f&iacute;gado gorduroso</b></p>

				<p>Assim como existem alimentos que ajudam os pacientes com f&iacute;gado gorduroso, h&aacute; uma s&eacute;rie de alimentos que devem ser evitados por esses pacientes. Entre os principais eu cito:<br />
					&rarr;Todo e qualquer tipo de bebida alc&oacute;olica;<br />
					&rarr;&Oacute;leos vegetais;<br />
					&rarr;Bolos com coberturas;<br />
					&rarr;Alimentos ricos em a&ccedil;&uacute;car;<br />
					&rarr;Frituras em geral;<br />
					&rarr;Pizzas;<br />
					&rarr;Refrigerantes;<br />
				&rarr;Sucos industrializados.</p>

				<p>Seguindo o tratamento adequado, como mostrei anteriormente no segundo relat&oacute;rio e se alimentando de modo correto, o paciente tem grandes chances de regredir seu quadro de gordura no f&iacute;gado. Al&eacute;m disso, mesmo os casos onde a doen&ccedil;a j&aacute; evoluiu para cirrose podem ser controlados antes que o f&iacute;gado perca totalmente suas fun&ccedil;&otilde;es. Por isso &eacute; importante a realiza&ccedil;&atilde;o de exames e consultas m&eacute;dias peri&oacute;dicas.</p>

				<p>Com isso chegamos ao fim do nosso terceiro e &uacute;ltimo relat&oacute;rio sobre gordura no f&iacute;gado. Espero que voc&ecirc;s tenham gostado e aprendido coisas novas.</p>

				<p>Nos vemos na pr&oacute;xima s&eacute;rie de relat&oacute;rios voltados &agrave; sa&uacute;de.</p>

				<p>Me despe&ccedil;o desejando sa&uacute;de, felicidade, amor e sorte.</p>

				<p>Forte abra&ccedil;o e at&eacute; a pr&oacute;xima.</p>

				<p>&nbsp;</p>
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
				<p>&nbsp;</p>
		</div>
	</div>
		<!-- fim modulos -->
		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}


	
	

<body>
</body>
</html>
