<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 10 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório-material10-rel2.png"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			   <p>Ol&aacute;, aqui &eacute; o Dr. Rocha mais uma vez. Hoje darei continuidade em nosso relat&oacute;rio da s&eacute;rie sobre f&iacute;gado gorduroso. Nesse segundo relat&oacute;rio irei falar sobre as consequ&ecirc;ncias desse problema de sa&uacute;de, como se d&aacute; o tratamento os n&uacute;meros da doen&ccedil;a no Brasil e no mundo. N&atilde;o deixe de ler esse incr&iacute;vel conte&uacute;do.</p>

				<h4><b>Principais consequ&ecirc;ncias do f&iacute;gado gorduroso</b></h4>

				<p>Conhecida na comunidade m&eacute;dica como esteatose, a gordura no f&iacute;gado est&aacute; presente em cerca de 30% das pessoas em todo o mundo e faz parte de um conjunto de achados que comp&otilde;em a s&iacute;ndrome metab&oacute;lico, ao lado de problemas de sa&uacute;de como obesidade, altera&ccedil;&otilde;es nos n&iacute;veis de colesterol e triglic&eacute;rides, glicose e dist&uacute;rbios cardiovasculares.</p>

				<p>O f&iacute;gado gorduroso est&aacute; totalmente associado ao aumento da gordura visceral, ou seja, a gordura que se deposita nas v&iacute;sceras entre os &oacute;rg&atilde;os.</p>

				<p>Quando o problema de f&iacute;gado gorduroso n&atilde;o &eacute; tratado, ele pode evoluir rapidamente para uma inflama&ccedil;&atilde;o do &oacute;rg&atilde;o, que como citei no primeiro relat&oacute;rio recebe o nome de esteato-hepatite. Cerca de 20% dos casos de gordura no f&iacute;gado n&atilde;o tratados normalmente evoluem para uma cirrose hep&aacute;tica, situa&ccedil;&atilde;o onde o f&iacute;gado pode ser totalmente substitu&iacute;do por fibroses e por fim perde suas fun&ccedil;&otilde;es. Caso a cirrose avance, a &uacute;nica sa&iacute;da poss&iacute;vel &eacute; um transplante.</p>

				<p>Al&eacute;m disso, a cirrose hep&aacute;tica &eacute; um fator de risco um tanto quanto comum para o desenvolvimento de um hepatocarciona, ou seja, c&acirc;ncer no f&iacute;gado. Al&eacute;m da possibilidade de desenvolver um cancro dessa magnitude, outras consequ&ecirc;ncias diretas do f&iacute;gado gorduroso incluem:<br />
					&rarr;Encefalopatia;<br />
					&rarr;Inflama&ccedil;&otilde;es generalizadas &ndash; uma vez que a gordura visceral em excesso &eacute; inflamat&oacute;ria;<br />
					&rarr;Aumento da press&atilde;o arterial;<br />
					&rarr;Aumento das chances de ataque card&iacute;aco;<br />
					&rarr;Facilita&ccedil;&atilde;o da forma&ccedil;&atilde;o de placas de gorduras em veias e art&eacute;rias;<br />
					&rarr;Possibilidade de desenvolvimento de AVC;<br />
				&rarr;Aumento do risco de insufici&ecirc;ncia renal.</p>

				<div class="video-container">
                  <iframe src="https://player.vimeo.com/video/244700713" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

                </div>

				<h4><b>Tratamentos existentes para o f&iacute;gado gorduroso</b></h4>

				<p>N&atilde;o existe basicamente apenas um tratamento espec&iacute;fico para o problema de f&iacute;gado gorduroso. O alvo do tratamento na verdade deve ser focado no tratamento dos fatores de risco, os graus mais leves da doen&ccedil;a podem ser facilmente revertidos apenas com altera&ccedil;&otilde;es de h&aacute;bitos no dia a dia.</p>

				<p>Sem sombra de d&uacute;vidas a perda de peso &eacute; a medida mais importante para ser tomada por um paciente que foi diagnosticado com a doen&ccedil;a. Entretanto, &eacute; necess&aacute;rio que o processo de perda de peso ocorra de maneira gradual, para que n&atilde;o haja uma piora do quadro do paciente.</p>

				<p>&nbsp;</p>

				<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório_ativi_fisica.png"></div>

				<p>e potencializa os efeitos da insulina no organismo.</p>

				<p>Para doentes que foram considerados como obesos m&oacute;rbidos, a cirurgia bari&aacute;trica &eacute; um procedimento que pode ser feito, uma vez que contribui para a diminui&ccedil;&atilde;o dos n&iacute;veis de gordura corporal e dessa forme, age de modo direto na raiz do problema.</p>

				<p>Altera&ccedil;&otilde;es na forma de se alimentar tamb&eacute;m s&atilde;o fundamentais para controle da doen&ccedil;a, uma alimenta&ccedil;&atilde;o balanceada &eacute; capaz de controlar n&iacute;veis de colesterol e at&eacute; mesmo diminuir a resist&ecirc;ncia &agrave; insulina, diminuindo assim a utiliza&ccedil;&atilde;o de determinados medicamentos.</p>

				<p>Falando em medicamentos, esses tamb&eacute;m podem ser usados no controle e revers&atilde;o de quadros de f&iacute;gado gorduroso. Uma s&eacute;rie de medicamentos, vitaminas e compostos t&ecirc;m sido utilizado para o tratamento da esteatose hep&aacute;tica. Dentre os principais eu poso citar:</p>

				<p><b>✓</b><b>Vitamina E</b></p>

				<p>A vitamina E &eacute; um composto vitam&iacute;nico muito utilizado e indicado para pacientes com f&iacute;gado gorduroso e tamb&eacute;m complica&ccedil;&otilde;es decorrentes da doen&ccedil;a, como esteatohepatite e/ou ent&atilde;o fibrose hep&aacute;tica. As doses recomendadas variam de paciente para paciente, mas normalmente ficam entre 400 e 800 UI ao dia.</p>

				<p><b>✓</b><b>&Ocirc;mega 3</b></p>

				<p>&Eacute; grande a quantidade de estudos que demonstraram que o &ocirc;mega 3 traz benef&iacute;cios aos pacientes que apresentam os graus mais leves da doen&ccedil;a. A gordura de qualidade auxilia na oxida&ccedil;&atilde;o da gordura presente no &oacute;rg&atilde;o, melhorando assim, o funcionamento hep&aacute;tico.</p>

				<p>Por&eacute;m, estudos n&atilde;o demonstram efic&aacute;cia da subst&acirc;ncia quando a doen&ccedil;a evolui e traz consequ&ecirc;ncias desastrosas &agrave; sa&uacute;de dos pacientes, como &eacute; o caso da esteato-hepatite e da fibrose, por exemplo.</p>

				<p><b>✓</b><b>Medicamentos em geral</b></p>

				<p>Algumas drogas t&ecirc;m sido amplamente utilizadas na tentativa de controle do avan&ccedil;o do f&iacute;gado gorduroso. Entre os rem&eacute;dios testados que obtiveram sucesso na redu&ccedil;&atilde;o dos n&iacute;veis de gordura hep&aacute;tica est&atilde;o a metformina, a pioglitazona e a rosiglitazona. Esses medicamentos s&atilde;o utilizados em pacientes que possuem n&iacute;veis elevados de glicose sangu&iacute;nea.</p>

				<p>Al&eacute;m disso, medicamentos para controle de peso corporal, como &eacute; o caso do famoso xenical j&aacute; foram testados em pacientes que possuem f&iacute;gado gorduroso, mas n&atilde;o agem diretamente sobre a esteatose hep&aacute;tica.</p>

				<p><b>✓</b><b>N&uacute;meros da doen&ccedil;a</b></p>

				<p>A presen&ccedil;a da esteatose hep&aacute;tica tem contribu&iacute;do de maneira ampla para o crescimento de uma s&eacute;rie de problemas no f&iacute;gado. No mundo ocidental, onde alimentos industrializados e ultraprocessados s&atilde;o amplamente consumidos os n&uacute;meros da doen&ccedil;a s&atilde;o relativamente altos.</p>

				<p>Nos Estados Unidos da Am&eacute;rica, cerca de 46% da popula&ccedil;&atilde;o apresenta algum grau de esteatose hep&aacute;tica, j&aacute; no Brasil, o f&iacute;gado gorduroso &eacute; menos comum, e acomete &ldquo;somente&rdquo; cerca de 30% das pessoas que s&atilde;o submetidas a exames detalhados que visam diagnosticar a doen&ccedil;a.</p>

				<h4><b>Como se instala o problema de f&iacute;gado gorduroso?</b></h4>

				<p>O problema de f&iacute;gado gorduroso que n&atilde;o possui nenhuma rela&ccedil;&atilde;o com &aacute;lcool ou ent&atilde;o hepatite viral s&oacute; foi reconhecido tardiamente, ou seja, quando nos deparamos com um problema crescente que em breve pode se tornar uma epidemia global (uma vez que a doen&ccedil;a est&aacute; diretamente associada a acumulo de gordura visceral).</p>

				<p>Em partes esse problema de sa&uacute;de pode ser facilmente explicado pela epidemia de obesidade, por&eacute;m h&aacute; estudos que demonstraram que pessoas n&atilde;o obesas tamb&eacute;m s&atilde;o portadoras de f&iacute;gado gorduroso, embora tenham uma alimenta&ccedil;&atilde;o totalmente desregrada no que diz respeito a ingest&atilde;o de prote&iacute;nas, gorduras e principalmente alimentos ricos em carboidratos.</p>

				<p>H&aacute; profissionais da sa&uacute;de que afirmam que o problema de sa&uacute;de &eacute; causado por varia&ccedil;&otilde;es gen&eacute;ticas que levam o organismo a reduzir a capta&ccedil;&atilde;o de gorduras pelas c&eacute;lulas do f&iacute;gado que comprometem diretamente o metabolismo lip&iacute;dico do organismo. Nesse modelo, a absor&ccedil;&atilde;o de gordura pelo organismo seria totalmente comprometida, o que faria com que os lip&iacute;dios oriundos da alimenta&ccedil;&atilde;o ficassem mais biodispon&iacute;veis e com isso se agregariam ao tecido hep&aacute;tico dando origem a instala&ccedil;&atilde;o da doen&ccedil;a.</p>

				<p>Entretanto, na comunidade m&eacute;dica h&aacute; muitos m&eacute;dicos - e eu me incluo neles que concordam que o problema de gordura no f&iacute;gado pode ser causado pelo seguinte modelo:</p>

				<p>M&aacute; alimenta&ccedil;&atilde;o &rarr; obesidade &rarr; resist&ecirc;ncia &agrave; insulina &rarr; desenvolvimento de gordura no f&iacute;gado &rarr; consequ&ecirc;ncias danosas &agrave; sa&uacute;de.</p>

				<p>A grande maioria dos estudos considera apenas o segundo modelo como real causador da doen&ccedil;a. Dessa maneira, a popula&ccedil;&atilde;o estudada pode der propor&ccedil;&otilde;es diferentes de gordura no f&iacute;gado devido a mesma causa, mas responderiam de modo totalmente diferente aos tratamentos hoje existentes.</p>

				<p>Por exemplo, um paciente com gordura no f&iacute;gado secund&aacute;ria devido a uma muta&ccedil;&atilde;o em gene liberador de lipoprote&iacute;nas, ou seja, um gene liberador de gorduras, n&atilde;o vai responder da mesma forma que um paciente diab&eacute;tico obeso tamb&eacute;m diagnosticado com esteatose.</p>

				<p>Por isso &eacute; t&atilde;o importante a reuni&atilde;o de informa&ccedil;&otilde;es relevantes ao surgimento e instala&ccedil;&atilde;o dessa doen&ccedil;a que acomete cada vez mais pessoas no Brasil e no mundo.</p>

				<p>Com isso chegamos ao final da nossa segunda s&eacute;rie de relat&oacute;rios sobre gordura no f&iacute;gado. No primeiro relat&oacute;rio, mostrei a voc&ecirc;s o que era a doen&ccedil;a, quais s&atilde;o suas causas, fatores de risco e como &eacute; feito o diagn&oacute;stico.</p>

				<p>Nesse segundo relat&oacute;rio, mostrei as principais consequ&ecirc;ncias do problema de f&iacute;gado gorduroso, como &eacute; feito o tratamento, alguns n&uacute;meros da doen&ccedil;a e como ocorre a instala&ccedil;&atilde;o desse comum problema de sa&uacute;de.</p>

				<p>No nosso terceiro e &uacute;ltimo relat&oacute;rio irei desvendar um grande mito que envolve a doen&ccedil;a e diz respeito diretamente a quantidade (e qualidade) dos macronutrientes consumidos. Mostrarei tamb&eacute;m como a alimenta&ccedil;&atilde;o &eacute; determinante para evitar que sejamos acometidos pela esteatose.</p>

				<p>Portanto, fiquem ligados e n&atilde;o percam nosso terceiro e &uacute;ltimo relat&oacute;rio sobre f&iacute;gado gorduroso.</p>

				<p>Estou esperando por voc&ecirc;s.</p>

		</div>
	</div>
		<!-- fim modulos -->
		
	
 	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>





<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	

<body>
</body>
</html>
