<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 12 > </a>  relatório 1º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório-material10-rel1.png"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			    <p>Ol&aacute;, aqui &eacute; o Dr. Rocha falando! Estou come&ccedil;ando hoje com mais uma incr&iacute;vel s&eacute;rie de relat&oacute;rios voltados &agrave; sa&uacute;de. O tema desses tr&ecirc;s relat&oacute;rios &eacute; um tanto quanto pol&ecirc;mico e possui alguns mitos e curiosidades que irei mostrar para voc&ecirc;s.</p>

				<p>Nesse primeiro relat&oacute;rio da s&eacute;rie irei mostrar o que &eacute; a doen&ccedil;a, quais s&atilde;o os seus diferentes n&iacute;veis de infiltra&ccedil;&atilde;o, causas, fatores de risco, principais sintomas da doen&ccedil;a e como &eacute; feito o diagn&oacute;stico.</p>

				<p>Se eu fosse voc&ecirc;, reservaria um tempinho do seu dia para ler esse incr&iacute;vel conte&uacute;do!</p>

				<h4><b>F&iacute;gado gorduroso, afinal o que &eacute; esse problema de sa&uacute;de?</b></h4>

				<p>O nome f&iacute;gado gorduroso na realidade foi dado a esse problema de sa&uacute;de, devido ao que realmente acontece com o &oacute;rg&atilde;o de pessoas que s&atilde;o acometidas pela doen&ccedil;a, ou seja, o f&iacute;gado fica totalmente coberto por uma camada de gordura. Por&eacute;m, o nome dessa doen&ccedil;a na comunidade m&eacute;dia &eacute; esteatose hep&aacute;tica.</p>

				<p>A doen&ccedil;a realmente ocorre quando as c&eacute;lulas do f&iacute;gado come&ccedil;am a ser infiltradas por c&eacute;lulas de gordura &ndash; tamb&eacute;m conhecida como triglic&eacute;rides. &Eacute; importante dizer que &eacute; relativamente normal termos um pouco de gordura no f&iacute;gado, por&eacute;m, quando a gordura ultrapassa entre 5% e 10% de sua &aacute;rea, ent&atilde;o &eacute; necess&aacute;rio que o paciente seja submetido a um tratamento.</p>

				<p>Com o tempo, a presen&ccedil;a de gordura no f&iacute;gado pode causar um processo inflamat&oacute;rio grave no corpo que &eacute; chamado de estato-hepatite, que caso n&atilde;o seja identificado e tratado pode evoluir para cirrose.</p>

				<p>Por sorte, o quadro pode ser revertido com algumas mudan&ccedil;as de estilo de vida indicadas pelo seu m&eacute;dico de confian&ccedil;a.</p>

				<p><b>Diferentes graus da doen&ccedil;a</b></p>

				<p>O f&iacute;gado gorduroso &eacute; uma doen&ccedil;a bastante conhecida, mas o que pouca gente sabe &eacute; que ela &eacute; dividida em diferentes graus. A seguir eu mostro os diferentes graus da doen&ccedil;a que podem acometer os pacientes.</p>

				<p><b>Grau 1 ou esteatose hep&aacute;tica simples</b></p>

				<p>Nesse n&iacute;vel da doen&ccedil;a o excesso de gordura &eacute; considerado inofensivo. Normalmente o paciente n&atilde;o apresenta os sintomas, e s&oacute; descobre que est&aacute; com algum problema atrav&eacute;s da realiza&ccedil;&atilde;o de exames de rotina, como exames de sangue ou ent&atilde;o exames de imagens.</p>

				<p><b>Grau 2 ou esteatose hep&aacute;tica n&atilde;o alco&oacute;lica</b></p>

				<p>Nesse grau da doen&ccedil;a, al&eacute;m do excesso de gordura, o f&iacute;gado fica inflamado. &Eacute; nesse grau que os primeiros sintomas como dor no lado direito do abdome e tamb&eacute;m a barriga inchada come&ccedil;am a acometer os pacientes.</p>

				<p><b>Grau 3 ou fibrose hep&aacute;tica</b></p>

				<p>Nesse grau da doen&ccedil;a os n&iacute;veis de gordura provocam profundas altera&ccedil;&otilde;es e inflama&ccedil;&atilde;o no f&iacute;gado e tamb&eacute;m nos vasos sangu&iacute;neos ao seu redor, por&eacute;m, o &oacute;rg&atilde;o ainda segue funcionando de maneira correta.</p>

				<p><b>Grau 4 ou cirrose hep&aacute;tica</b></p>

				<p>Esse &eacute; o &uacute;ltimo e mais grave n&iacute;vel da doen&ccedil;a e surge apenas ap&oacute;s anos de inflama&ccedil;&atilde;o. Esse grau se caracteriza por altera&ccedil;&otilde;es em todo o f&iacute;gado, causando a redu&ccedil;&atilde;o do seu tamanho, al&eacute;m de causar altera&ccedil;&otilde;es no formato do &oacute;rg&atilde;o, deixando-o totalmente irregular. &Eacute; muito comum a cirrose evoluir para c&acirc;ncer e at&eacute; mesmo levar ao processo de morte do f&iacute;gado &ndash; que deixa de funcionar. Quando isso ocorre o paciente precisa passar por um transplante.</p>
				<p>Esse &eacute; o &uacute;ltimo e mais grave n&iacute;vel da doen&ccedil;a e surge apenas ap&oacute;s anos de inflama&ccedil;&atilde;o. Esse grau se caracteriza por altera&ccedil;&otilde;es em todo o f&iacute;gado, causando a redu&ccedil;&atilde;o do seu tamanho, al&eacute;m de causar altera&ccedil;&otilde;es no formato do &oacute;rg&atilde;o, deixando-o totalmente irregular. &Eacute; muito comum a cirrose evoluir para c&acirc;ncer e at&eacute; mesmo levar ao processo de morte do f&iacute;gado &ndash; que deixa de funcionar. Quando isso ocorre o paciente precisa passar por um transplante.</p>
			     <br>

				<div class="video-container">
                 <iframe src="https://player.vimeo.com/video/244700661" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

                 </div>

				<h4><b>Causas</b></h4>

				<p>Os quadros de f&iacute;gado gorduroso, normalmente s&atilde;o divididos de acordo com suas causas que s&atilde;o:</p>

				<p><b>✓</b><b>Esteatose hep&aacute;tica alco&oacute;lica</b></p>

				<p>Como o pr&oacute;prio nome j&aacute; sugere, a esteatose hep&aacute;tica alco&oacute;lica tende a se desenvolver em pessoas que bebem com grande frequ&ecirc;ncia. Trata-se de um quadro muito frequente em pessoas que sofrem com alcoolismo.</p>

				<p><b>✓</b><b>Esteatose hep&aacute;tica n&atilde;o alco&oacute;lica</b></p>

				<p>Nesse tipo da doen&ccedil;a, o f&iacute;gado se torna gorduroso por conta de causas n&atilde;o alco&oacute;licas e pode ocorrer devido a quadros de sa&uacute;de como:</p>

				<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_banner_relatório1-obesidade-1.png"></div>

				<p>&rarr;hepatites causadas por v&iacute;rus - como &eacute; o caso da hepatite B e hepatite C;<br />
					&rarr;Diabetes;<br />
					&rarr;Resist&ecirc;ncia &agrave; insulina;<br />
					&rarr;N&iacute;veis de Colesterol e triglic&eacute;rides elevados;<br />
					&rarr;Perda ou ganho de peso em curtos per&iacute;odos de tempo;<br />
					&rarr;Uso de medicamentos espec&iacute;ficos, como corticoides, retrovirais e at&eacute; mesmo devido a reposi&ccedil;&atilde;o hormonal como estr&oacute;geno e testosterona, por exemplo;<br />
				&rarr;Pessoas com inflama&ccedil;&otilde;es cr&ocirc;nicas no f&iacute;gado devido a outras doen&ccedil;as.</p>

				<p>No entanto, &eacute; importante afirmar que o excesso de peso hoje &eacute; uma das maiores causas do surgimento do f&iacute;gado gorduroso. Apenas para efeitos de esclarecimentos, cerca de 60% pessoas que sofrem com gordura no f&iacute;gado possuem sobrepeso ou ent&atilde;o s&atilde;o obesas.</p>

				<p><b>✓</b><b>Fatores de risco</b></p>

				<p>A exemplo do que ocorrem com outras doen&ccedil;as, existem fatores de riscos espec&iacute;ficos que podem levar ao surgimento do f&iacute;gado gorduroso.</p>

				<p>Estudos demonstram que mulheres possuem maiores riscos de desenvolvimento de gordura no f&iacute;gado, isso ocorreria pelo simples fato do organismo feminino possui grandes quantidades de estr&oacute;geno circulante, esse horm&ocirc;nio facilita o ac&uacute;mulo de gordura no &oacute;rg&atilde;o.</p>

				<p>Al&eacute;m disso, pessoas com ascend&ecirc;ncia hisp&acirc;nica e tamb&eacute;m oriental apresentam maior propens&atilde;o ao desenvolvimento da doen&ccedil;a, ao contr&aacute;rio do que ocorre com os descendentes africanos.</p>

				<p>Posso citar tamb&eacute;m alguns outros fatores de risco para desenvolvimento do f&iacute;gado gorduroso:</p>

				<p>&rarr;Doen&ccedil;as oriundas de altera&ccedil;&otilde;es hormonais &ndash; como hipotireoidismo ou hipertireodismo;<br />
					&rarr;S&iacute;ndrome metab&oacute;lica;<br />
					&rarr;S&iacute;ndrome do ov&aacute;rio polic&iacute;stico;<br />
					&rarr;Apneia do sono;<br />
				&rarr;Ac&uacute;mulo de gordura abdominal;</p>

				<h4><b>Principais sintomas do f&iacute;gado gorduroso</b></h4>

				<p>Normalmente a gordura no f&iacute;gado vai se acumulando sem causar nenhum sintoma nos pacientes, geralmente durante exames de rotinas como ultrassonografia abdominal &eacute; poss&iacute;vel notar que h&aacute; algo errado com o &oacute;rg&atilde;o. Al&eacute;m disso, exames rotineiros de sangue como TGO e TGP tamb&eacute;m costumam mostrar varia&ccedil;&otilde;es de que existe algum problema com o f&iacute;gado.</p>

				<p>Conforme o quadro sofre evolu&ccedil;&atilde;o, os primeiros sintomas enfim come&ccedil;am a surgir. Dentre os primeiros sinais de f&iacute;gado gorduroso eu cito:<br />
					&rarr;Fadiga excessiva sem causa aparente;<br />
					&rarr;Falta de apetite ou falta de vontade de comer (mesmo os alimentos que o paciente sente prazer em consumir);<br />
				&rarr;Dores frequentes na parte superior direita do abdome.</p>

				<p>Quando a doen&ccedil;a evolui de acordo com os graus que citei anteriormente, as fun&ccedil;&otilde;es hep&aacute;ticas come&ccedil;am a sofrer comprometimento e ent&atilde;o, surgem os sintomas mais cl&aacute;ssicos da doen&ccedil;a que s&atilde;o:</p>

				<p>&rarr;Icter&iacute;cia &ndash; os olhos e a pele da pessoa se tornam amarelados;<br />
					&rarr;As fezes perdem sua colora&ccedil;&atilde;o natural e adquirem um aspecto esbranqui&ccedil;ado;<br />
					&rarr;Altera&ccedil;&otilde;es de sono se tornam frequentes, inclusive dificuldade para dormir;<br />
					&rarr;Fatores de coagula&ccedil;&atilde;o se tornam prejudicados &ndash; um simples corte demora a coagular;<br />
					&rarr;Confus&atilde;o mental;<br />
					&rarr;Surgimento de tremores incontrol&aacute;veis;<br />
					&rarr;Incha&ccedil;o sem causa aparente dos membros inferiores;<br />
					&rarr;Aranhas vasculares, ou seja, surgimento de vasinhos sangu&iacute;neos muito semelhantes no aspecto com varizes;<br />
				&rarr;Aumento r&aacute;pido do volume abdominal.</p>

				<h4><b>Diagn&oacute;stico do f&iacute;gado gorduroso</b></h4>

				<p>O diagn&oacute;stico do f&iacute;gado gorduroso s&oacute; pode ser feito com a ajuda de exames como:<br />
					&rarr;Ultrassonografia abdominal;<br />
					&rarr;Raio-x;<br />
					&rarr;Resson&acirc;ncia magn&eacute;tica;<br />
					&rarr;Tomografia computadorizada;<br />
				&rarr;Realiza&ccedil;&atilde;o de exames sangu&iacute;neos como TGO, TGP, Gama GT, Colesterol total e triglic&eacute;rides.</p>

				<p>&Eacute; importante ressaltar que mesmo com a realiza&ccedil;&atilde;o de exames de sangue, a esteatose hep&aacute;tica pode n&atilde;o ser diagnosticada. Por isso &eacute; altamente recomend&aacute;vel que com o surgimento dos primeiros sintomas, exames de imagens sejam realizados a fim de realmente identificar a origem dos sinais que est&atilde;o acometendo o paciente.</p>

				<p>Os exames de imagem normalmente permitem aos m&eacute;dicos que se saiba qual &eacute; o grau em que a doen&ccedil;a se encontra. Al&eacute;m disso, &eacute; poss&iacute;vel realizar uma bi&oacute;psia, a fim de se verificar o real estado do &oacute;rg&atilde;o, mas por se tratar de um procedimento bastante invasivo, ele s&oacute; &eacute; realizado em pacientes que possuem indica&ccedil;&atilde;o de cirurgia.</p>

				<p>Quando o problema de f&iacute;gado gorduroso &eacute; diagnosticado precocemente, as chances de cura s&atilde;o extremamente altas. O que tranquiliza um grande n&uacute;mero de pessoa que s&atilde;o acometidas por essa comum doen&ccedil;a.</p>

				<p>Com isso chegamos ao fim do nosso primeiro relat&oacute;rio sobre f&iacute;gado gorduroso.</p>

				<p>No pr&oacute;ximo relat&oacute;rio irei falar sobre os tratamentos espec&iacute;ficos para a esteatose hep&aacute;tica, al&eacute;m de abordar suas poss&iacute;veis complica&ccedil;&otilde;es, e tamb&eacute;m mostrar os n&uacute;meros gerais dessa doen&ccedil;a que acomete grande quantidade de pessoas em todo o mundo.</p>

				<p>Portanto fiquem ligados, encontro com voc&ecirc;s no pr&oacute;ximo relat&oacute;rio. At&eacute; l&aacute;.</p>
			       
			 <div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>

		</div>
	</div>
		<!-- fim modulos -->
	
 </div>		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>





<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}


	
	

<body>
</body>
</html>
