<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
            
<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 12 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat1-rel3.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Por Que Alimentos Diet e Light Não São Saudáveis?</h4>
			<p>No relatório anterior falei sobre dados impactantes da obesidade adulta e infantil no Brasil e no mundo. Observamos o quanto estes números são alarmantes e crescem ano após ano.</p>
			<p>Ainda no relatório anterior, pudemos também entender o conceito de alimentos diet e light e como se deu sua comercialização no mercado alimentício.</p>
			<p>Neste relatório você entenderá o motivo destes alimentos não poderem ser considerados saudáveis, aprenderá a analisar rótulo e compara-los e obterá uma solução simples e prática para ter uma alimentação saudável.</p>
			<p>Para entender melhor, antes falarei sobre um sentido importante na alimentação humana: paladar.</p>
			<p>O paladar, também pode ser chamado de gustação, é um dos 5 sentidos. Ele caracteriza-se pela capacidade de reconhecer o gosto das substâncias colocadas sobre a língua, onde ficam as chamadas papilas gustativas que reconhecem o gosto e enviam esta informação para o cérebro.</p>
			<p>Você já parou para pensar por que os animais comem justamente apenas os alimentos que lhes são necessários? Um lobo come carnes, uma ovelha come grama, sem que seja preciso ensiná-los a comer tais alimentos. O paladar destes animais por milhões de anos foi selecionado de modo que eles naturalmente gostassem de consumir mais daqueles alimentos que lhes mantivessem saudáveis e, portanto, vivos.</p>
			<p>E então, por que você acha que com a espécie humana seria diferente? Por desejamos consumir o que temos desejos e não o que temos necessidade?</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-10.png"></div>
			<p>Um fisiologista e cientista britânico chamado John Yudkin escreveu um livro denomidado “Pure, White and Deadly” (Puro, Branco e Mortal) onde ele fala sobre a influência do açúcar na gênese de doenças humanas, fez uma observação bastante inteligente e pertinente sobre a necessidade e o desejo.</p>
			<p>Ele afirma que o ser humano tornou-se cada vez mais capaz de separar o desejo da necessidade a ponto da satisfação do desejo ter se tornado desastroso para a humanidade. As pessoas sempre gostaram do sabor adocicado, e para satisfazer este desejo, consumiam frutas. Assim, o desejo de comer algo doce e a necessidade de vitaminas e minerais eram supridas ao mesmo tempo. Mas, a partir do momento em que o ser humano começou a produzir seu próprio alimento (processo de industrialização e tecnologia), ele adquiriu a capacidade de separar a o sabor doce e o conteúdo nutricional do alimento. Assim, o que as pessoas desejam desvinculou-se do que elas precisam.</p>
			<p>Um bom exemplo disso é uma criança. Um bebê quando acaba de nascer têm seu paladar “zerado”, ou seja, não tem tendências ou vícios. Se você treina o paladar</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
			<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>desta criança para suprir seu desejo de doces com frutas naturais e ela mantém esta prática ao longo de sua vida, dificilmente ela terá maus hábitos.</p>
			<p>Porém se a criança é alimentada à base de balas, refrigerantes, biscoitos recheados ao longo de sua infância, logo, uma fruta não suprirá seu desejo de doces.</p>
			<p>Porém se a criança é alimentada à base de balas, refrigerantes, biscoitos recheados ao longo de sua infância, logo, uma fruta não suprirá seu desejo de doces.</p>
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<p>Mas você pode estar se perguntando: O que tudo isso tem a ver com alimentos lights e diets?</p>
			<p>Eu lhe respondo: o paladar.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-11.png"></div>
			<p>Eles definitivamente não estão preocupados com a saúde da população, eles só querem vender mais e mais produtos e enriquecer cada vez mais.</p>
			<p>Vimos também que, no caso dos alimentos lights, algum ingrediente deve ser reduzido no produto. Neste caso, na maior parte das vezes, é a gordura. Tenho certeza que você está cansado de ver produtos escritos no rótulo “0% gorduras”, “reduzido em gorduras totais” ou “baixo em calorias”. Estes alimentos sofreram uma intervenção da indústria que foi a retirada de gordura.</p>
			<p>Porém, ao fazer isso, perde-se a palatabilidade do alimento, ou seja, perde-se muito do sabor agradável. Para suprir esta falta (e não deixar de lucrar) foi adicionado um ingrediente simples, relativamente barato e que todo mundo gosta: AÇÚCAR.</p>
			<p>Sim, se você consome algum produto 0% gordura, saiba que mais de 50% dele é composto por açúcar puro.</p>
			<p>Esta é uma tática da indústria para controlar o seu paladar e não perder as vendas.</p>
			<p>O mesmo ocorre com alimentos diet ou zero açúcar. Existem outros tipos de açúcar, com nomes diferentes e que só quem tem acesso a informações privilegiadas como você agora, é que saberão reconhece-los.</p>
			<p>Neste momento, milhões de pessoas estão comprando estes alimentos pensando estarem fazendo uma boa escolha.</p>
			<p>Você deve estar se perguntando: Mas e o rótulo destes alimentos, eles não foram feitos para informar o consumidor?</p>
			<p>Sim, de fato o objetivo dos rótulos é levar informação sobre o produto para o consumidor. Mas, até o final deste relatório você entenderá que <b>alimentos verdadeiramente saudáveis</b> não vêm com rótulos, pois são naturais.</p>
		   
			
		</div>
	</div>
		<!-- fim modulos -->
		
		
			<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   <p>Agora imagine a seguinte cena: você na sessão de produtos lights e diets de um supermercado. Passeando por ali, você acaba vendo um produto que você aparentemente gostou. Então você pega ele e lê o rótulo.<b> A partir deste momento, temos dois tipos de consumidor:</b></p>
		   <p>- Aqueles que apenas veem o rótulo frontal onde consta o sabor (se for o caso) e toda a informação necessária para chamar sua atenção e fazê-lo comprar. Este rótulo frontal só contém informações apelativas e selecionadas para incentivar a compra.</p>
		   <p>- Aqueles que além de ver o rótulo frontal, viram para ver o verso do produto onde ficam informações mais detalhadas como a tabela nutricional e os ingredientes.</p>
		   <p>Se você se enquadra no primeiro tipo, você dificilmente está recebendo as informações necessárias do produto. E se você se enquadra no segundo tipo, você ACHA que está obtendo todas as informações necessárias sobre o produto, mas devo dizer, você também não está.</p>
			<h4>E eu vou lhe dizer por que...</h4>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-12-1.png"></div>
			<p>Você lê o rótulo buscando informações verídicas sobre o produto,<b> mas a lei permite que o fabricante esconda informações.</b> Como?</p>
			<p>No verso da embalagem, na tabela de Informações Nutricionais, qualquer nutriente que esteja presente em menos do que 0,5g pode, por lei, ser considerado ZERO.</p>
			<p>As informações nutricionais do produto referem-se a uma porção e não à totalidade da embalagem. E mais, é o fabricante que determina o que é uma porção.</p>
			<p>Um exemplo bem clássico para ilustrar isto é a margarina. Sabemos que a margarina é fonte de gorduras, inclusive contém a péssima gordura trans (produto natural da hidrogenação parcial de óleos vegetais). Porém, os fabricantes colocam no rótulo que é “light” ou “reduzido em gorduras” e até mesmo que é “zero gordura trans”.</p>
			<p>Como isto é possível? Simples, digamos a que 100g de margarina contenham 5g de gordura trans. Para “zerarmos” isto sem mudar a fórmula do produto, o fabricante coloca as informações de uma porção de margarina. Se nesta mínina porção houver menos de 0,5g de gordura trans, não há necessidade de especificar isso no rótulo. Sabendo disso,<b> é exatamente isso que a indústria faz com você.</b></p>
			<p>O mesmo acontece com produtos como creme de leite, iogurtes, queijos, barrinhas de cereal, biscoitos, pães...</p>
			<p>E mais, a legislação permite que no rótulo possa constar zero açúcar, independente do efeito que este produto possa ter no açúcar sanguíneo (glicemia) de um diabético, por exemplo. Estes são os <b>açúcares escondidos.</b></p>
			<p>Eles estão presentes no produto com nomes diferentes e até mesmo difíceis de pronunciar, mas são igualmente prejudiciais a saúde de qualquer pessoa.</p>
			<p>Podemos encontrar várias substâncias que podem elevar a glicose no sangue e que não são explícitas no rótulo como açúcar. O amido, por exemplo, é açúcar. Outro exemplo é a maltodextrina ou a lactose (bastante encontrada em adoçantes).</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
				<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Estes dois componentes são frequentemente encontrados em produtos destinados inclusive a diabéticos.
            Agora você pode estar se perguntando:</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-09-1.png"></div>
			<p>É preciso que você entenda sobre como ler rótulos, e eu vou lhe ensinar mostrando:</p>
			<p>“Aveia em flocos, flocos de trigo, xarope de glicose, flocos de arroz, banana, açúcar invertido, oleína de palma, gordura vegetal, açúcar, farinha de arroz, mel, sal, estabilizante polidextrose, umectantes sorbitol e glicerol, aromatizantes, acidulante ácido cítrico, antioxidantes lecitina de soja e tocoferol e corante natural caroteno. CONTÉM GLÚTEN. Contém traços de amêndoa, avelã, amendoim, castanha-de-caju e leite.”</p>
			<p>Estes ingredientes acima são ingredientes de uma barrinha de cereal light de uma marca bastante famosa e consumida pelo Brasil inteiro (claro, não podemos citar nomes aqui). Mas a minha intenção não é falar mal da marca, mas sim ensiná-lo a identificar e ler rótulos. Esta informação pode ser encontrada com facilidade na internet.</p>
			<p>A primeira regra a se ter em mente é que: na lista de ingredientes, o primeiro ingrediente é aquele que está em maior quantidade no produto. E assim em diante, em ordem decrescente, até o último ingrediente que é o de menor quantidade no produto. Até o terceiro ingrediente, podemos dizer que a quantidade é grande.</p>
			<p>Agora observe as palavras marcadas nos ingredientes. Todas aquelas palavras marcadas são açúcar, algumas com nomes diferentes, mas têm o mesmo efeito do açúcar. Como uma barrinha de cereal considerada light e saudável, pode ter essa quantidade enorme de açúcar em sua composição?</p>
			<h4>Veja um segundo exemplo, bastante clássico: iogurte grego light.</h4>
			<p>“Leite reconstituído parcialmente desnatado e/ou leite pasteurizado integral, xarope de açúcar, preparado de fruta (água, açúcar, suco de maçã concentrado, acidulante ácido cítrico, conservador sorbato de potássio, espessante goma xantana e edulcorante sucralose), proteína concentrada de leite, soro de leite em pó, fermento lácteo, estabilizante gelatina e edulcorante sucralose. NÃO CONTÉM GLÚTEN. ALÉRGICOS: CONTÉM LEITE E DERIVADOS DE LEITE.”</p>
			<p>Primeiramente observe que este iogurte foi feito de leite desnatado parcialmente. Como falei, o processo de exclusão da nata do leite (a gordura natural do leite) implica na adição de mais açúcar para que o gosto fique palatável. Além disso, ele não te dá certeza, ou foi usado este leite parcialmente desnatado ou foi usado o próprio leite integral. E por fim, temos preparado de fruta que leva açúcar e o famoso xarope de açúcar na constituição do iogurte light falsamente saudável.</p>
		</div>
	</div>
		<!-- fim modulos -->	
		
		
		
			<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Portanto, ao analisar um rótulo, não se atente apenas a tabela de informações nutricionais. Atente-se, principalmente, pelos ingredientes deste produto. Esta regra vale para todo e qualquer produto industrializado: seja light, diet, sem glúten, sem lactose, integral, zero ou versões tradicionais.</p>
			<p>Mas, francamente, para que optar por alimentos industrializados? Ao invés de comer algo cheio de ingredientes industriais que a maioria não sabemos nem o que é, por que não comer de forma natural?</p>
			<p>Costumo falar que comida saudável de verdade é o próprio ingrediente e não vem com uma tabela de informações nutricionais. Um exemplo disso são os ovos. Com ovos podemos fazer inúmeras receitas: omeletes, ovos mexidos, fritos, cozidos, tortinhas...</p>
			<p>E ele não vem com informações nutricionais na casca. Porém, é um alimento poderoso em benefícios, considerado o alimento mais completo depois do leite materno.</p>
			<p>Estou aqui para te mostrar a solução, quero que você entenda o que é, de fato, alimentação saudável!</p>
			<h4>A Solução!</h4>
			<p>Agora que você já sabe o quanto a indústria alimentícia quer te enganar para vender mais e mais produtos, agora que você já viu dados alarmantes que são consequências disso, viu que a indústria vende alimentos péssimos para saúde como disfarce de alimentos saudáveis e aprendeu a desvendar isto lendo rótulo de maneira correta, vamos à solução!</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-08-1.png"></div>
			<p>Se você não quer ser enganado e consumir alimentos ruins para sua saúde, exclua todo e qualquer tipo de alimento industrializado da sua vida, especialmente light e diet.</p>
			<p>Se você quer ser mais saudável, precisa emagrecer ou quer tratar alguma doença crônica, ensinar seus filhos e parentes a comer bem, tenha uma coisa em mente: comida de verdade deve ser natural!</p>
			<p>Sim, é muito mais simples do que você imaginava: exclua todo açúcar, trigo e farináceos e produtos industrializados da sua vida!</p>
			<p>No lugar disso, encha sua dispensa e geladeira com: verduras, legumes, carnes, ovos, aves, peixes e frutas. Se possível, vá à feira de seu bairro, assim você ainda auxilia na renda de produtores locais e independentes. Prefira alimentos orgânicos, assim além de estar fazendo bem a sua saúde e da sua família, você estará respeitando o meio ambiente.</p>
			<p>Vamos deixar esta indústria de “cabelo em pé” simplesmente não consumindo mais nada que venha dela. Faça sua própria comida, cozinhe ou ajude alguém a cozinhar para você e sua família. Invista um tempo na cozinha aprendendo a utilizar temperos naturais, invista tempo fazendo refeições tranquilamente, sentindo o sabor de cada alimento e reeducando o seu paladar.</p>
			<p>Vou disponibilizar para você agora os grupos de alimentos para você iniciar sua reeducação alimentar hoje mesmo!</p>	
		</div>
	</div>
		<!-- fim modulos -->
		
			<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Vegetais</h4>
			<p>Consuma vegetais verdes e folhosos à vontade. Alface, rúcula, acelga, couve, almeirão, agrião, repolho... Todos eles lhe trarão saciedade e boas doses de vitaminas e minerais.</p>
			<p>Tomate, cebola, abobrinha, berinjela, chuchu, cenoura, beterraba... Tudo isso também está incluso.</p>
			<p>Não deixe de consumir muitos vegetais no seu dia a dia.</p>
			<h4>Proteínas de Alto Valor Biológico</h4>
			<p>Carnes bovinas, aves, carnes suínas, peixes e frutos do mar, ovos e queijos. Todos estes citados são fontes de proteína de alto valor biológico. Ou seja, facilmente absorvida pelo nosso organismo e aproveitada para construção de massa muscular e outras funções construtoras importantes.</p>
			<h4>Gorduras Naturais e Saudáveis</h4>
			<p>Não fuja das gorduras naturais dos alimentos, elas fazem bem a você! Elas estão presentes nos alimentos de forma natural. Você não precisa evita-las a todo custo como a maioria dos profissionais recomendam.</p>
			<P>Portanto, consuma a gordura natural das carnes (consuma qualquer corte de carne, não precisa optar pelos cortes magros), não retire a gema do ovo e consuma queijos gordurosos. Evite queijos lights ou 0% gordura.</P>
			<p>E ainda, use gorduras saudáveis para cozinhar: banha de porco, manteiga, óleo de coco e azeite de oliva (este último para temperar saladas).</p>
			<p>Evite óleos refinados e poli-insaturados como: óleo de soja, milho, canola, girassol e algodão.</p>
			<p>Lembre-se que nossos avós utilizavam banha de porco e manteiga ao invés de óleo de soja e margarina. Na época deles, casos de obesidades, diabetes e outras doenças crônicas eram extremamente raros!</p>
		</div>
	</div>
		<!-- fim modulos -->
		
			<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Frutas</h4>
			<p>Frutas são as sobremesas da natureza, portanto, parcimônia ao consumi-las. Respeite as épocas de cada fruta, mas dê preferência as frutas com maior teor de fibras do que açúcar.</p>
			<p>São elas: morango, acerola, amora, framboesa, mirtilo, pitanga, cereja, kiwi, maracujá e limão.</p>
			<p>E claro, as melhores e mais completas frutas, ricas em gorduras saudáveis: abacate e coco.</p>
			<h4>Laticínios</h4>
			<p>Infelizmente hoje não temos mais leite. O leite que temos acesso é uma água branca cheia de remédios, açúcar e conservantes. Onde já se viu um leite de vaca poder ser conservado em temperatura ambiente, fora da geladeira, antes de aberto? Imagine a quantidade de conservante contida neste líquido.</p>
			<p>Por isso, evite o leite. Este que temos acesso, nem para o bezerro serve.</p>
			<p>Portanto, inclua em sua alimentação: iogurte natural integral (jamais desnatado), creme de leite fresco, nata, queijos amarelos (queijo prato, minas padrão, parmesão, gorgonzola, requeijão de corte, provolone, muçarela).</p>
			<h4>Oleaginosas</h4>
			<p>Estes alimentos podem ser consumidos também de forma esporádica. Castanhas, amêndoas, nozes, pistaches, avelãs... Possuem um bom aporte de gorduras saudáveis e antioxidantes. Podem ser boas opções de lanches para levar na bolsa!</p>
			<h4>Temperos Naturais</h4>
			<p>Alho, cebolinha, salsa, coentro, cebola, pimenta-do-reino, cúrcuma, orégano, tomilho, manjericão e ervas em geral. Use e abuse de temperos naturais em sua comida. Assim tudo ficará mais saudável e saboroso!</p>
			<p>Não precisa descartar o sal e não deixe de usar azeite de oliva extra-virgem para temperar suas saladas.</p>
			<p>O tempero deixa o prato mais atrativo e vai te ajudar na mudança de hábitos.</p>
			<p>Agora que você já tem uma base de como se alimentar melhor e mais saudável, esqueça todos os industrializados, esvazie sua dispensa e coma comida de verdade. Dê à sua família uma oportunidade de ter uma vida saudável e embarque junto nessa jornada.</p>
			<p>A informação é a ferramenta mais importante para começar uma alimentação saudável. E agora que você já tem a informação, que tal começar?</p>
			<p>Um forte abraço,</p>
			<p>Dr. Rocha.</p>
		</div>
	</div>
		<!-- fim modulos -->
		
				<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			
		</div>
	</div>
		<!-- fim modulos -->	
	
  
			<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			
		</div>
	</div>
		<!-- fim modulos -->	
	
  
	
  

  <div class="row">
	  <div class="col s12 center">
		
		  <h4>VÍDEO - RELATÓRIO 2</h4>    
	  <div class="video-container">
<iframe src="https://player.vimeo.com/video/205584127" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
		<div class="espaco"><br></div>  
		<h4>PODCAST - RELATÓRIO 2F</h4>      
       <div class="video-container">
		   <iframe Stylo="width:20vh ; " src="" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>	   
		  
		  
	  </div>
		
 </div>		
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>


<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}

<body>
</body>
</html>
