<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 3 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat3-rel3.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Mostrei nos relatórios I e II a maneira como o trigo surgiu, o modo errôneo como evoluiu e principalmente os malefícios que alimentos ricos no cereal podem causar à nossa saúde, hoje na terceira parte de nossos relatórios sobre trigo e demais componentes, como glúten, por exemplo, mostrarei como diferente do que muita gente pensa é extremamente fácil e possível viver sem trigo. Confira.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-38.jpg"></div>
			<p>Quando se fala em uma alimentação de baixo carboidrato, é comum que pessoas (que não entendem de alimentação) digam que ela é maléfica para o organismo, que seu corpo não terá energia e que você provavelmente emagrecerá e depois entrará em um efeito sanfona.</p>
			<p>Adianto de antemão que tudo isso é balela. Por isso, resolvi separar alguns dos principais mitos sobre a alimentação de baixo carboidrato.</p>
			<p><b>Dieta de baixo carboidrato é uma dieta da moda</b></p>
			<p>O termo dieta da moda tem perdido cada vez mais seu significado. Antes o termo era utilizado para perdas de peso acidentais em um curto prazo de popularidade. No entanto, hoje esse termo tem se tornado um verdadeiro abuso.</p>
			<p>Pelo simples fato de desconhecerem dietas de baixo carboidrato, muitas pessoas dizem que se trata de uma dieta da moda e sem sentido. Porém, não é isso que uma série de estudos sugere.</p>
			<p>Há relatos e prescrições de que dietas ricas em vegetais, proteínas e gorduras eram praticadas desde meados dos anos 1800. Por isso, dizer que a dieta de baixo carboidrato é modismo é apenas uma tentativa desonesta de argumento totalmente vazio.</p>
			<p><b>Dietas de baixo carboidrato trazem malefícios ao coração</b></p>
			<p>Esse é outro mito acerca das dietas de baixo carboidrato. Pelo simples fato da ingestão de gordura de qualidade ser recomendada nesse tipo de dieta, muitas pessoas a associam a malefícios ao coração e riscos de desenvolvimento de doenças cardiovasculares.</p>
			<p>No entanto, alguns estudos mostram que nem o colesterol, tampouco as gorduras saturadas, preconizadas nas dietas de baixo carboidrato possuem efeitos significativos no risco de doenças do coração. Ao contrário do que se costuma afirmar, esse tipo de dieta, melhora uma série de fatores de riscos importantes para o desenvolvimento de problemas de coração, veja a seguir:</p>
			<p>→ Triglicerídeos com doença de baixo carboidrato – diminuem;</p>
			<p>→ O bom colesterol com doença de baixo carboidrato – aumenta;</p>
			<p>→ Pressão sanguínea normalmente diminuem com o baixo consumo de carboidratos</p>
			<p>→ Resistência à insulina diminui, uma vez que não há açúcar no sangue, tampouco picos de insulina para transformar a glicose excessiva em gordura corporal;</p>
			<p>→ Há diminuição de gordura corporal, uma vez que a insulina não armazena o excedente de glicose disponível na corrente sanguínea;</p>
			<p>→ Os índices de inflamação tendem a se reduzir, devido à baixa presença de carboidrato que é convertido em açúcar no sangue.</p>
			<p>Além disso, diferente do que muitos acreditam, os níveis do mau colesterol – o LDL, não aumentam. As partículas também tendem a mudar de pequenas e densas às grandes, um padrão que está ligado a um risco reduzido de doenças do coração.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<br>
			<div class="video-container">
 <iframe src="https://player.vimeo.com/video/214755646" width="840" height="472" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
			<h4>Dietas de baixo carboidrato podem causar cetose – que é perigoso</h4>
			<p>Existe uma grande confusão acerca da cetose. Quando se ingere pouca quantidade de carboidrato, os níveis de insulina diminuem e uma grande quantidade de gordura é liberada a partir das células de gordura.</p>
			<p>Quando o fígado fica cheio de ácidos graxos, ou seja, gordura para ser transformada em fonte de energia, ele as transforma em substâncias chamadas corpos cetônicos, ou cetonas. Essas moléculas são capazes de atravessar barreiras hematológicas fornecendo energia diretamente para o cérebro, porém muitas pessoas normalmente confundem cetose com cetoacidose.</p>
			<p>A cetoacidose é sim, um estado metabólico perigoso que acontece no diabetes tipo 1. Ela envolve a corrente sanguínea e distribui grandes quantidades de cetonas deixando o sangue acido. A cetoacidose é um estado perigoso que pode ser fatal.</p>
			<p>No entanto isso não tem relação nenhuma com a cetose ocasionada por uma alimentação de baixo carboidrato que é um estado metabólico saudável.</p>
			<p>Um exemplo clássico que mostra quão benéfica pode ser uma alimentação de baixo carboidrato, são os efeitos terapêuticos da epilepsia, além do tratamento de câncer e também o baixo desenvolvimento de doenças neurológicas em pacientes que praticam uma dieta com baixo teor de carboidrato.</p>
			<p><b>Dieta de baixo carboidrato prejudica a ingestão de vegetais saudáveis</b></p>
			<p>Uma dieta de baixo carboidrato não significa ingerir uma quantidade zero de carboidrato. Esse é um dos principais mitos que envolvem esse tipo de alimentação. Cortar carboidratos não existe.</p>
			<p>Você realmente pode comer uma quantidade muito grande de vegetais, frutas, nozes e sementes sem realmente estar ingerindo grandes quantidades do macronutriente em questão.</p>
			<p>Pessoas que praticam uma alimentação baixa em carboidrato, normalmente ingerem quantidades ainda maiores de vegetais e frutas algo que automaticamente garante a ingestão adequada de vitaminas, minerais, antioxidantes e principalmente fibra alimentar.</p>
			<p>Todos os adeptos da alimentação de baixo carboidrato afirmam que ingerem grandes quantidades de legumes, verduras e frutas. Mais um mito que vai por água abaixo.</p>
			<p><b>Pessoas que emagrecem com dietas de baixo carboidrato só perdem peso porque consomem poucas calorias</b></p>
			<p>Muitas pessoas afirmam que pessoas que emagrecem ao praticarem uma alimentação de baixo carboidrato só perdem peso pelo simples fato de consumirem poucas calorias. Isso não é totalmente verdade. Embora uma dieta de baixo carboidrato seja realmente hipocalórica, ou seja, contenha menos calorias, essa não é a principal causa do processo de perda de peso.</p>
			<p>A vantagem principal da perda de peso nesse tipo de dietas é que a perda de peso ocorre de maneira automática, pois as pessoas se sentem mais saciadas devido à alta quantidade de vegetais ingerida nesse tipo de que acabam por ingerir menores quantidades de alimentos.</p>
			<p>Além disso, a ingestão de carboidratos, mesmo que baixa, faz com que as taxas de açúcar no sangue se elevem, isso automaticamente faz com que grandes quantidades de insulina sejam recrutadas para que esse carboidrato excessivo seja armazenado em forma de energia, ou seja, gordura corporal, para ser utilizado mais tarde.</p>
			<p>Sendo assim, quando não são ingeridos alimentos que contenham altas doses de carboidrato em sua composição, não há aumento de glicose sanguínea, nem liberação de insulina para captar essa glicose excedente. Isso faz com que o corpo utilize sua própria gordura corporal como fonte de energia, o que resulta automaticamente em um processo de emagrecimento.</p>
			<p>Portanto, a qualidade dos alimentos e seus efeitos no organismo é que proporcionam o emagrecimento e não a baixa quantidade de calorias ingeridas.</p>
		   
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Dietas sem glúten não causam carências nutricionais</h4>
			<p>Existe uma série de doenças causadas pelo baixo consumo de determinados alimentos. É comum muitas pessoas afirmarem que a ausência de glúten cause alguma série de carências nutricionais e até mesmo pode levar o indivíduo ao processo de desnutrição. Isso é uma verdadeira balela.</p>
			<p>Existem uma série de carências nutricionais que podem acometer pessoas, porém a maioria delas estão diretamente ligadas ao consumo de minerais, como ferro e/ou então cálcio, que culminam diretamente em problemas de anemia e osteoporose, respectivamente.</p>
			<p>Uma dieta sem glúten, preconiza apenas a não ingestão dessa proteína, ou seja, quem faz esse tipo de dieta vai continuar a consumir e ingerir normalmente vitaminas, minerais, compostos antioxidantes. Portanto, afirmar que dietas sem glúten causam carências nutricionais é um verdadeiro absurdo.</p>
			<h4>Solução</h4>
			<p>Se você é celíaco, ou então busca por uma vida mais saudável – como eu fiz e quer abolir o glúten e uma série de cereais de sua vida a melhor coisa a ser feita e adotar uma alimentação estratégica/inteligente.</p>	
			<p>A alimentação estratégica/inteligente consiste em evitar uma série de problemas, além de proporcionar ao seu praticante mais saúde, qualidade de vida e bem-estar, é exatamente o que eu prático com relação ao glúten.</p>	
			<p>Esta alimentação, preconiza a adoção de hábitos alimentares que proporcionam mais qualidade de vida e saúde, devido a um problema de saúde pré-existente, como é o caso da doença celíaca e/ou então a sensibilidade ao glúten.</p>	
			<p>Nessas alimentações se adotam as seguintes práticas:</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-39-1.jpg"></div>
			<p>Alimentos que contêm carboidratos em sua composição, geralmente possuem cereais e também glúten em suas formulas. Portanto devem ser evitados por quem busca uma vida mais agradável e saudável.</p>
			<p>O consumo de alimentos ricos em carboidratos aumenta as taxas de glicose no sangue, que automaticamente eleva os níveis de insulina que armazenam a glicose excedente em forma de gordura corporal.</p>
			<p>Essa gordura corporal pode em um curto espaço de tempo, pode trazer uma série de problemas de saúde, como ganho de peso, obesidade, desenvolvimento de diabetes tipo II, além de riscos de desenvolvimento de doenças cardiovasculares.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-40.jpg"></div>
			<p>Os vegetais verdes folhosos são livres e glúten e carboidratos em suas composições e o melhor disso tudo é que são ricos em vitaminas, minerais, compostos antioxidantes e principalmente fibra alimentar.</p>
			<p>Esses alimentos regulam uma série de funções corpóreas, além de proporcionar uma melhora significativa do funcionamento intestinal. Algo totalmente benéfico a toda e qualquer pessoa.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-41.jpg"></div>
			<p>As gorduras de qualidade são responsáveis por fornecer energia para que o organismo possa realizar as suas funções de maneira prática, correta e constante. Já os alimentos ricos em proteínas de alto valor biológico garantem o funcionamento de uma série de tecidos corporais, como a musculatura, além de garantir o pleno funcionamento de sistema imunológico, por exemplo.</p>
			<p>Alimentos ricos nesses dois nutrientes são: peixes gordos, carnes vermelhas, manteiga, iogurte, kefir, banha de porco, manteiga, azeite de oliva.</p>
			<p>Como eu gosto de afirmar, devemos utilizar os alimentos a nosso favor. Se nos alimentarmos de maneira correta, adequada a inteligente, não será necessário em momento algum a utilização de medicamentos.</p>
			<p>Com isso fechamos essa série de relatórios sobre o glúten. Espero que vocês tenham gostado, em breve voltarei com mais novidades sobre o mundo da alimentação inteligente.</p>
			<p>Forte abraço e até a próxima!</p>
		   <div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<br>
		</div>
	</div>
		<!-- fim modulos -->
			
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>



<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	

<body>
</body>
</html>
