<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 3 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat3-rel2.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>No primeiro relatório de nossa série eu mostrei e falei que os grãos, são elementos um tanto quanto estranhos à dieta humana em grande parte de sua evolução. O trigo é em especial o pior desses elementos.</p>
			<p>Como vocês sabem, sou uma pessoa que gosta muito de estudar e em muitos estudos relacionando o consumo de grãos com uma série de problemas de saúde me deparei com inúmeros artigos e livros escritos pelo Dr. Willam Davis.</p>
			<h4>Quem é William Davis</h4>
			<p>William Davis é médico cardiologista, autor de vários livros e é considerado atualmente um dos principais nomes no mundo que defendem uma alimentação livre de grãos, em especial o trigo.</p>
			<p>Seu livro “Barriga de Trigo” é um verdadeiro incentivo para cessarmos o consumo de grãos e mantermos uma dieta mais saudável. Mostrarei a seguir algumas explanações e ideias levantadas pelo Dr. Davis, que possui imensa afinidade.</p>
			<p><b>O trigo evoluiu para pior</b></p>
			<p>De acordo com colocações e estudos realizados pelo Dr. Davis, assim com citei em relatório anterior, o trigo moderno é um tanto quanto diferente do trigo que era consumido por nossos avós e até mesmo por nossos pais. Atualmente, o trigo produzido pela agricultura é resultado de milhares cruzamentos e hibridizações realizadas nos últimos 50 anos, algo que resultou diretamente em uma planta maior, com maior quantidade de amido e um tipo de glúten mais problemático ao organismo dos seres humanos.</p>			
			<p><b>O amigo do trigo é um problema</b></p>			
			<p>O tipo de amido presente no trigo – que é o amilopectina A, é o de mais fácil digestão pelo organismo, algo que aumenta diretamente os níveis de glicose sanguínea e automaticamente eleva também, os níveis de insulina. Esse tipo de amido é mais intenso que o açúcar de mesa (sacarose), em uma simples comparação, uma simples fatia de um pão, ultraprocessado considerado integral é capaz de aumentar sua glicose da mesma forma que ingerir açúcar puro.</p>	
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-36.jpg"></div>
			<p><b>Reações autoimunes</b></p>
			<p>A gliadina, que é uma das proteínas do glúten, leva a um aumento da permeabilidade intestinal, algo que permite que proteínas inteiras sejam absorvidas através da corrente sanguínea. Isso sobrecarrega o funcionamento de algumas funções do organismo e pode provocar uma série de reações autoimunes.</p>
			<p>O glúten parcialmente digerido produz peptídeos que chamamos de exorfinas, uma substância capaz de estimular os receptores opioides do cérebro, assim como poderosas drogas, tais como a heroína. Essas exofrinas, aumentam a fome e leva a um verdadeiro vicio de consumo de produtos que são derivados do trigo.</p>
			<p>O simples bloqueio de modo farmacológico das exforinas é capaz de diminuir o consumo calórico em cerca de 400 calorias diariamente, ou seja, o trigo é um alimento que estimula o apetite e faz com que seus consumidores, ingiram maiores quantidades de alimentos do que realmente precisam.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
	  <div class="video-container">
<iframe src="https://player.vimeo.com/video/214742740" width="840" height="472" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
			<h4>Glúten e os problemas dos Grãos</h4>
			<p>Se você me acompanha há algum, você já deve saber que eu não consumo mais nenhum alimento que contenha glúten em sua composição. Quando digo isso, estou me referindo aos grãos que possuem essa proteína – trigo, cevada e centeio. Além da aveia, que embora não contenha glúten em sua composição, pode ser contaminada pela proteína durante sua fabricação, pelo simples fato de ser processada nas mesmas máquinas que onde o trigo é processado.</p>
			<p>A razão pela qual deixei de consumir alimentos com glúten se dá pelo simples fato da proteína me fazer mal. Eu descobri isso por conta própria, estudando e lendo muito sobre o assunto até que cheguei à conclusão de que o glúten era o principal causador de meus inchaço, mal-estar e falta de disposição para simples tarefas. Diferente do que muitas pessoas pensam, não, eu não tenho doença celíaca, tampouco sou intolerante ao glúten, simplesmente descobri, que se trata de uma proteína que me traz mais malefícios do que benefícios, e por esse motivo, resolvi tirá-la da minha alimentação.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-35-2.jpg"></div>
		   <p>Como citei anteriormente, tive uma melhora um tanto quanto significativa de vida, a partir do momento em que exclui o glúten de minha vida. Recentemente li um estudo do Dr. Davis, que abordava uma série de problemas de saúde relacionados aos grãos, desde simples doenças físicas, como também doenças neurológicas. Separei a seguir alguns desses principais problemas para demonstrar para vocês.</p>
		   <p><b>Desenvolvimento de glândulas mamárias em homens</b></p>
		   <p>Níveis crônicos de açúcar no sangue, automaticamente causam picos de insulina, algo que tem possui como consequência o acumulo de gordura corporal em uma série de locais anatômicos específicos, principalmente no abdome.</p>
		   <p>Essa gordura abdominal produz excesso de estrógeno tanto em homens, quanto em mulheres. O aumento da produção desse hormônio eleva consideravelmente o risco de câncer de mama em mulheres e pode levar ao crescimento de glândulas mamárias em homens.</p>
		   <p><b>Envelhecimento da face</b></p>
		   <p>Como se sabe, a pele é o maior órgão do ser humano e possui papel importante no nosso sistema imunológico. Porém, mesmo tão poderosa, ela não está imune aos efeitos do trigo. De acordo com o Dr. Davis, o trigo exerce uma série de efeitos envelhecedores na pele, incluindo rugas e perdas de elasticidade, isso devido a formação de produtos de glicação avançada, sujeira ne pele e pela elevação de açúcar no sangue.</p>
		   <p>Está comprovado, que o trigo promove o envelhecimento e causa rugas, além de estar diretamente ligado a muitos outros problemas de pele, tais como: úlceras, herpes orais, psoríase, eritema nodos e principalmente a tão indesejada celulite em mulheres.</p>	
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p><b>Problemas de coração</b></p>
			<p>Ironicamente, a indústria alimentícia empurra o trigo integral como uma forma correta de manter o coração saudável, porém, independentemente do tipo de trigo, seja ele orgânico, prensado, germinado ou até mesmo caseiro, ele ainda será uma combinação de compostos que elevam aumento de glicose sanguínea, que automaticamente causa acumulo de gordura abdominal, placas de gordura em vasos sanguíneos e inflamação generalizada. Todos esses compostos juntos num período de médio a longo prazo trarão uma série de problemas ao coração.</p>
			<p><b>Calvície</b></p>
			<p>Existem uma série de causas para a calvície. Umas podem ser de origem hereditárias, outros podem ser resultados de efeitos colaterais devido a algum tipo de tratamento, como quimioterapia ou utilização de um determinado tipo de medicamento, por exemplo.</p>
			<p>Porém, um tipo de queda de cabelo, pode ter relação direta com o consumo de trigo. De acordo com algumas pesquisas que realize e depois comprovei nas teses do Dr. Davis, a perda de cabelo que ocorre em pedaços, geralmente a partir do couro cabelo e muitas vezes em outras partes do corpo é causada pela ingestão de trigo – uma inflamação resultante do consumo de trigo.</p>
			<p>Estudos demonstraram que determinados pacientes apresentaram crescimento capilar, após terem abandonado a ingestão de trigo.</p>
			<p><b>Alucinações</b></p>
			<p>Outro grande efeito maléfico da ingestão de trigo, relatado pelo Dr. Davis e foi a presença de alucinações.</p>
			<p>Davis tem acompanhado milhares de pacientes demonstrarem uma série de variações de sentimentos, melhoras no humor, sono mais profundo e melhor capacidade de concentração quando o trigo é excluído da dieta. Porém, isso não é tarefa fácil.</p>
			<p>Pessoas que excluíram o trigo da dieta relataram sofrer sintomas de abstinência, como irritabilidade, cansaço extremo, confusão mental e até mesmo depressão – todos sinais de vicio. Além disso, há alguns indícios de que o trigo possa estar ligado a casos de esquizofrenia.</p>
			<p>Há relatos de uma paciente esquizofrênica de 72 anos de idade do Dr. Davis que sofria com delírios, alucinações, tentativas de suicídio e fixação por limpeza, que demonstrou uma baixa nesses sintomas assim que o trigo foi retirado de sua dieta.</p>	

		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Complicações e doenças celíaca</h4>
			<p>É importante ressaltar que além das modificações evolutivas do glúten, e dos problemas que ele pode causar a saúde, ele ainda é responsável por uma série de complicações e também pelo desenvolvimento da doença celíaca.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-37.jpg"></div>
		   <p>A doença celíaca tem ganhado cada vez mais espaço e holofotes na mídia. O crescente número de pacientes portadores dessa terrível doença autoimune afirma que as dores abdominais, a diarreia desenfreada, a constipação intestinal e o acompanhamento de algumas doenças como anemia são extremamente sofríveis para todo e qualquer portador.</p>
		   <p>A maioria de alguns pacientes não apresentam sintomas de doença celíaca, mas possuem anticorpos positivos para a doença, outros porém, possuem esses mesmos anticorpos negativos, porém melhoram de maneira exponencial com a simples retirada do trigo de suas vidas.</p>
		   <p>Além disso, o glúten presente no trigo pode causar ainda um grande número de patologias autoimunes. Entre as mais frequentes eu posso citar: atrite reumatoide, lúpus, dermatite herpetiforme, ataxia cerebelar, esclerose múltipla, colite ulcerativa, cólon irritável, enxaquecas, hemorroidas e muitas outras.</p>
		   <p>Toda ação tem uma reação, e no caso do trigo não é diferente. Quando se consome esse grão, uma série de problemas de saúde tendem a aparecer e a partir do momento em que alimentos que o possuam em sua composição são retirados de nossas vidas, o ganho de saúde é visível em um curto espaço de tempo.</p>
		   <p>No próximo relatório irei mostrar como é extremamente fácil viver sem o trigo, além de explanar alguns mitos com relação à alimentação com baixos teores de carboidrato, evidências de doenças em uma dieta sem glúten e por fim como solucionar de uma vez por todas os problemas causados pelos alimentos que possuem trigo em sua composição.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
				
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>



<!-- CSS files -->
{% if (env == 'development') %}
	{% for file in assets.main.css_drcv_rel %}
		<link rel="stylesheet" href="{{ file }}">
	{% endfor %}
{% endif %}

{% if (env == 'production') %}
	<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
	<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
	<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
	<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
	{% for file in assets.main.js %}
		<script type="text/javascript" src="{{file}}"></script>
	{% endfor %}
	{% for file in assets.main.drcv_relatoriojs %}
		<script type="text/javascript" src="{{file}}"></script>
	{% endfor %}
{% endif %}

{% if (env == 'production') %}
	<script type="text/javascript" src="/build/js/main.min.js"></script>
	<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

	<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
	<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
	<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
	<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
	<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
	<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
	<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}

	

<body>
</body>
</html>
