<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
	   <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 3 > </a>  relatório 1º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat3-rel1.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Muitas são as discussões de profissionais da área da saúde no que diz respeito a evolução de espécies. Dentre as discussões mais comuns e conhecidas do meio nos deparamos com as duas teorias que normalmente batem de frente no quesito evolutivo, as teorias de Darwin e Lamarck.</p>
			<p>Lamarck acreditava piamente que o meio induzia de maneira direta os organismos a modificarem seus comportamentos a fim de criar novas adaptações. Já Darwin defendia que o meio exercia uma seleção natural, ou seja, favorecia apenas os organismos que possuíam condições de sobrevivência.</p>
			<p>Para Lamarck, novas características dos organismos eram tidas quando eles usavam mais ou menos determinados órgãos, conforme as condições que o ambiente fornecia. Já Darwin acreditava que cada indivíduo apresentava características que possibilitariam a sobrevivência no ambiente.</p>
			<p>Ambas as teorias são amplamente discutidas e debatidas até os dias de hoje. O Homem, como todos podem concluir, evoluiu e se adaptou, principalmente no que diz respeito a alimentação, que vem piorando qualitativamente de tempos em tempos.</p>
			<p>No início sem técnicas agrícolas/agrárias, homens das cavernas passavam períodos sem se alimentar e seguiam basicamente uma dieta rica em proteínas e gorduras – e era saudável. Assim que dominou as técnicas de plantio e desenvolvimento agrário começou a consumir grãos, e desde esse momento, uma série de doenças surgiram e a saúde começou a se debilitar.</p>
			<p>Isso mostra que 10 mil anos de agricultura é algo muito recente para nós.</p>
			<p>A saúde humana sofreu um baque com a agricultura. Registros fósseis mostram que agriculturalistas eram mais baixos, tinham mais cáries, cérebros menores e ossos mais frágeis do que os caçadores-coletores.</p>
			<h4>Surgimento do Trigo</h4>
			<p>Do momento de nascimento da agricultura, passando por uma série de formas de divisão de trabalho, o trigo se faz presente na história da humanidade há pelo menos 10 mil anos.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-33.jpg"></div>
			<p>Quando o homem começou a criar animais, se deu conta também de que poderia cultivar grãos para própria alimentação – e começou o cultivo do tão famigerado grão. O real início do processo de produção do cereal começou na Mesopotâmia, em uma região que antigamente era chamada por historiadores de Crescente Fértil – Área onde hoje ficam Iraque e Egito.</p>
			<p>Os grãos de trigo eram consumidos em uma espécie de sopa, misturados com peixes e outras especiarias. A invenção o pão, propriamente dita, é atribuída aos egípcios, que por volta de 4.000 A.C, desenvolveram o processo de fermentação do trigo.</p>
			<p>Mais do que alimento para os egípcios, os pães moldados às vezes com formas humanas ou de animais eram ofertados aos deuses ou então utilizados em rituais. Mais tarde, ganhariam status de símbolo religioso, principalmente no catolicismo e também no judaísmo, religiões onde a presença do pão é obrigatória.</p>
			<p>Da mesopotâmia, o trigo então se espalhou para basicamente todo o mundo. Os chineses eram outro povo que já conheciam o cereal, cerca de 2 mil anos antes de Cristo. Com ele, faziam uma série de alimentos, como macarrões, pasteis e pães. Diz a história, também, que no século XIII, Marco Polo esteve na china e de lá, trouxe o tão famoso macarrão para Itália.</p>
			<p>Na Europa, o cultivo do trigo se expandiu inicialmente pelas regiões mais frias, como Polônia, Ucrânia e Rússia, e foi através dos colonizadores europeus, no século XV que o trigo enfim atravessou o atlântico e chegou às Américas.</p>
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
	  <div class="video-container">
       <iframe src="https://player.vimeo.com/video/214731921" width="840" height="472" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

      </div>
			<h4>Atualmente, o Trigo está presente em muitas preparações</h4>
			<p>Nos dias de hoje, o trigo está presente em uma série de preparações fornecidas pela indústria alimentícia. Pessoas não prestam atenção, mas o consumo de trigo ocorre em simples pães, macarrões, massas e até mesmo na tão adorada cerveja.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-31.jpg"></div>
			<p>Porém, como costumo afirmar, o trigo não é tão benéfico a saúde, como muitos acreditam e algo pior está ligado à sua produção – as alterações genéticas.</p>
			<p>A fim de acelerar o processo de produção, distribuição mundial e prevenir pragas, grande parte da produção de trigo atualmente é de origem transgênica. Ou seja, sofreu alterações genéticas para crescer mais rapidamente e não ser facilmente acometido por doenças de lavouras.</p>
			<p>Já sabemos que o trigo é responsável por uma série de desordens metabólicas, como aumento de gordura corporal, obesidade, esteatose, problemas cardiovasculares e diabetes, por exemplo. Porém, ainda não sabemos quais são/serão as desordens que um trigo geneticamente modificado poderá trazer aos seus consumidores.</p>
			<h4>A história de Raquel</h4>
			<p>Quem me acompanha sabe que não gosto de falar sobre nenhum assunto sem possuir nenhuma fonte concreta, com embasamento cientifico. Meus textos e artigos são todos produzidos com base em conhecimento comprovados pela ciência. Para mostrar o efeito negativo do trigo, quero expor a vocês a história de Raquel Benati, uma mulher que sofreu por mais de 20 anos com as dores causadas pela doença Celíaca.</p>
			<p>Como muitas pessoas sabem, a doença celíaca se manifesta de diferentes formas e infelizmente, a mais comum é a forma silenciosa da doença, ou seja, onde os sintomas não aparecem. Nesse caso, o diagnóstico depende muito do conhecimento de profissionais da saúde e suas diversas manifestações.</p>

		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
		   <h4>Sintomas variados antes de descobrir a doença</h4>
			<p>Raquel relata que quando era criança sentia muitas dores de barriga, não contava aos pais, pois estes lhe davam um remédio com péssimo gosto. Em determinadas ocasiões apresentava diarreia sem infecções intestinais e na adolescência, o intestino preso era um problema constante, aliado a presença de anemia.</p>
			<p>Aftas, gases e barriga estufada eram situações constantes. Aos 30 anos, o quadro era o mesmo, porém as diarreias eram semanais, além do surgimento de um quadro de gastrite. A hipótese do intestino irritável foi levantada e posteriormente descartada, até que a endoscopia a salvou.</p>
			<p>Em apenas dois meses de dieta sem glúten, Raquel pôde enfim recuperar sua saúde.</p>
			<h4>Profissionais ainda possuem pouca qualificação</h4>
			<p>No geral, profissionais da saúde, como nutricionistas e médicos ainda possuem pouca qualificação para lidar com quadros de pacientes com esse tipo de problemas. Há muitos médicos que não sabem nem quais alimentos contêm glúten em sua composição.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-34-6.jpg"></div>
			<p>Nas capitas e centros universitários existe uma realidade de diagnóstico rápido e preciso, porém, no interior do país, ainda há muito desconhecimento, falta de patologistas que conheçam bem a doença para dar um laudo mais preciso e profissionais que consigam acompanhar o pós-diagnóstico.</p>
			<h4>Detecção da doença e trabalho multidisciplinar é fundamental</h4>
			<p>A doença pode ser detectada de duas maneiras:</p>
			<p>1- Através de exames de sangue (Sorologia)</p>
			<p>→ Dosagem de imunoglobulina A (IgA);</p>
			<p>→ Antitransglutaminase IgA.</p>
			<p>2 – Através de endoscopia digestiva alta com biopsia do duodeno.</p>
			<p>Caso ainda haja dúvidas, o exame genético HLA DQ2 / DQ8 pode ser solicitado.</p>
			<p>Raquel afirma que é importante que o ego profissional seja deixado de lado e que haja entrosamento entre o trabalho de médicos e nutricionistas, para que todas as hipóteses diagnósticas sejam testadas. O diagnóstico certeiro, bem como a qualidade de vida dos pacientes dependem exclusivamente de um bom trabalho de equipe de profissionais da saúde.</p>
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
		</div>
	</div>
		<!-- fim modulos -->
		
				
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Difícil diagnóstico e muito sofrimento</h4>
			<p>Raquel teve seu diagnóstico em dezembro de 1994 e deu início a uma dieta sem glúten, no dia 1º de janeiro do ano seguinte. Porém, para enfim chegar a um diagnóstico, passou por seis endoscopias e outra série de exames altamente invasivos, sem que os médicos enfim conseguissem mostrar uma solução para seus problemas.</p>
			<p> A história começou a ter novos transtornos, quando o endoscopista, durante a sexta endoscopia telefonou para gastroenterologista de Raquel e comunicou que iria colher fragmentos do duodeno da paciente, para uma pesquisa de doença celíaca.</p>
			<p>Assim que o resultado chegou do laboratório, o resultado era: Atrofia das vilosidades, algo totalmente compatível com a doença celíaca.</p>
			<p>A fim de confirmar o relatório, fragmentos foram mandaram para um segundo laboratório, onde o resultado se repetiu. Cerca de seis meses antes, Raquel tinha conversado com sua gastro sobre a possiblidade de ser portadora de doença celíaca, a mesma descartou a possibilidade. Se não fosse pelo inconformismo do endoscopista, Raquel sofreria por muito mais tempo.</p>
			<h4>Falta de informação e desconhecimento atrasou o diagnóstico</h4>
			<p>O diagnóstico de Raquel foi relativamente atrasado pelo simples fato de que seus médicos, basicamente desconheciam a doença. A endoscopia digestiva com biopsia duodenal começou a ser feita para o diagnóstico da doença celíaca somente na década de 60, época em que houve um aumento significativo dos casos de da doença.</p>
			<p>"A falha sempre foi o desconhecimento, além de informações equivocadas sobre essa doença autoimune no Brasil” Afirma Raquel.</p>
			<p>Na verdade, quando falamos de doença celíaca nos dias atuais, os profissionais da saúde ainda possuem um conhecimento muito escasso sobre o assunto. Porém, essa realidade também se repete em muitos outros países, afinal, essa doença é um problema mundial.</p>
			<p>A partir de 1995 uma lei de proteção aos celíacos entrou em vigor e funciona e até hoje, com a obrigatoriedade de presença, nos rótulos de alimentos a seguinte inscrição “Contém Glúten”, mas até certo tempo, somente os celíacos realmente sabiam o que isso significava. As informações eram raras, além de um existir um absurdo consenso de que somente crianças desenvolviam essa doença, ou seja, não era uma doença de adultos.</p>
		   
			
		</div>
	</div>
		<!-- fim modulos -->
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<h4>Consumo de Carboidrato/Trigo no Brasil</h4>
			<p>A maioria dos brasileiros adora comer pão no café da manhã, bolo no lanche da tarde, além do alto consumo de massa, como macarrões, lasanha e pizza. Arroz e feijão refogados com óleo de vegetal também estão sempre presentes nos pratos dos brasileiros.</p>
			<p>Isso não é surpresa, mas dados revelados pelo IBGE são relativamente preocupantes. Os alimentos mais consumidos pelo brasileiro são o arroz beneficiado, o feijão e a farinha de trigo. O estudo revelou ainda que o consumo de trigo é bem elevado quando comparado ao consumo de arroz, uma péssima notícia para os brasileiros.</p>
			<div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-32.jpg"></div>
			<p>Segundo dados, o consumo médio de carboidratos por dia ultrapassa as 300g. Indivíduos obesos estão ainda acima dessa média.</p>
			<p>É importante ressaltar que a qualidade do alimento com o carboidrato consumido é tão importante quanto a quantidade consumida. Nesse sentido, o trigo é um alimento extremamente prejudicial à saúde e muito mais rico em carboidratos como o arroz e feijão, por exemplo.</p>
			<p>O consumo de trigo/carboidrato pode ser potencializado com a utilização do óleo vegetal para refogar alimentos. O problema por fim, pode ser visto de maneira simples e rápida, como o aumento da gordura corporal, altos níveis de obesidade, além de alterações em marcadores sanguíneos, como colesterol total, colesterol HDL, triglicerídeos, glicose sanguínea e insulina.</p>
			<p>Devido aos grandes anseios da indústria alimentícia, a população adoece cada vez mais. O número de indivíduos diabéticos, hipertensos, obesos e sofrendo infartos, AVC e desenvolvendo doenças neurológicas, infelizmente é cada vez maior.</p>
			<p>No relatório seguinte irei apresentar os reais motivos de se evitar o trigo e mostrar uma série de complicações causadas pelo cereal.</p>
			<p>Um forte abraço,</p>	
			<p>Até o próximo relatório!</p>	
		   
			
		</div>
	</div>
		<!-- fim modulos -->	
	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>



<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	
	

<body>
</body>
</html>
