<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">


</head>

<body>
<div class="container">
    <div class="row">
        <div class="col s12 logo">
            <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
        </div>
    </div>
</div>
<div class="container-fluid">
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 btn-inicio">
            <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 1 > </a>  relatório 2º
        </div>
    </div>
    <div class="row">
        <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat.1-rel2.jpg"></div></div>

    </div>
    <div class="row z-depth-4">
        <div class="col s12 ">
            <p>Neste relatório falarei sobre dados realmente relevantes para continuarmos nossa conversa sobre alimentos light e diet e o impacto desta industrialização na saúde da população.</p>
            <p>Mas antes... Vamos recaptular o que vimos no <b>“Relatório I – Matriz da Desinformação”.</b></p>
            <p>No relatório anterior, falamos sobre a tecnologia e como ela aumentou a necessidade de industrialização e nos deixou com um sentimento latente de imediatismo. Vimos como este imediatismo nos fez querer soluções práticas e rápidas para problemas relativamente complexos e vimos como e quanto isto refletiu diretamente no nosso comportamento alimentar.</p>
            <p>Entendemos do que se trata a indústria de alimentos, a maior indústria do mundo, e suas competências. Vimos que os impactos dela não são “apenas” na saúde do ser humano como também no meio ambiente.</p>
            <p>Neste presente relatório veremos dados sobre a obesidade no Brasil e no mundo, tanto em adultos quanto em crianças. É importante mostrarmos o impacto da industrialização, uma vez que são números que cresceram proporcionalmente ao crescimento do processo de industrialização de alimentos.</p>
            <p>No Brasil, há algumas décadas atrás, vivíamos um verdadeiro surto de desnutrição.</p>
            <div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-06.png"></div>

            <p>De acordo com a Pesquisa de Orçamento Familiar dos anos de 1974 e 1975, a desnutrição era de 29,3% em meninos e 26,7% em meninas de 5 a 9 anos de idade. Estes números caíram para 7,2% e 6,3% respectivamente na última pesquisa realizada (POF 2008-2009).</p>
            <p>Na faixa etária de 10 a 19 anos, o déficit de peso também apresentou um declínio considerável: em homens, passou de 10,1% para 3,7% e em mulheres de 5,1% para 3,0%.</p>
            <p>Por fim, em pessoas acima de 20 anos, o índice de baixo peso também apresentou declínio, passando de 8% nos anos de 74-75 para 1,8% em 2008-2009 no caso dos homens e em mulheres passando de 11,8% para 3,6%.</p>
            <p>Políticas públicas, alta produção de alimentos pela indústria e aumento do cultivo e agrotecnologia devido à produção de transgênicos (GMO) e uso de agrotóxicos, fez com que a acessibilidade à comida aumentasse e o número de desnutridos diminuísse ao longo do tempo.</p>
            <p>Seria ótimo, se não fosse caótica a consequência disso tudo: crescemos em proporções maiores o número de pessoas acima do peso.</p>

        </div>
    </div>



    <div class="row row z-depth-4">
        <div class="col s12 ">
            <p>O excesso de peso foi observado em 33,5% das crianças entre 5 e 9 anos, sendo que 16,6% dos meninos também eram obesos. Entre as meninas, a obesidade apareceu em 11,8%. Esses números representam um grande avanço na recorrência de excesso de peso nessa faixa etária ao longo desses anos em meninos: 34,8% em 2008-2009, 15% em 1989 e 10,9% em 1974-75. Em meninas, não foi diferente: 32% em 2008- 2009, 11,9% em 1989 e 8,6% em 1974-75.</p>

            <div class="row">
                <div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/grafico-5a9anos (1).png"></div>
                <div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/grafico-5a9anos.png"></div>
            </div>

            <p>No mundo, a projeção é que em 2025, cerca de 2,3 bilhões de adultos estejam com excesso de peso e mais de 700 milhões com obesidade. No caso das crianças, sobrepeso e obesidade podem chegar ao número de 75 milhões.</p>
            <p>A projeção no Brasil também não é nada agradável: em 2016 batemos a marca de 50% da população com excesso de peso e em 2025 podemos chegar a marca de 11,3 milhões de crianças com excesso de peso no país.</p>
            <p>Dados realmente preocupantes. Mas... Você pode estar pensando: e o que isso tem a ver com alimentos lights e diets?</p>

        </div>
    </div>

    <div class="row row z-depth-4">
        <div class="col s12 ">
            <p>O que eu quero que você entenda é que o consumo de alimentos falsamente saudáveis está totalmente ligado a este crescimento absurdo. As pessoas consomem de maneira desenfreada por pensar que é algo saudável e que está lhe fazendo bem.</p>
            <p>Damos às nossas crianças bolachinhas lights para levarem para escola. Comemos barrinhas de cereal no intervalo das refeições. Graças à indústria, achamos que alimentos industrializados apenas por serem livre de gordura, sódio ou açúcar adicional, são melhores do que alimentos in natura.</p>
            <p>Por isso, agora que já estabelecemos dados impactantes e informações introdutórias importantes, vamos falar sobre os tais alimentos light e diet e como isso se deu em nossa alimentação diária.</p>
            <p>Com base em todos estes dados alarmantes, mais e mais pessoas preocupadas com a saúde buscam por opções mais saudáveis nos supermercados. Estudos apontam que a tendência das pessoas a buscarem por alimentos saudáveis nas prateleiras aumentou bastante nestes últimos anos.</p>
            <p>Segundo pesquisa do IBGE (POF 2008-2009), o consumo total de refrigerantes diet e light foi de 40,1%. Na área rural foi de 31,5%. Entre as cinco regiões do Brasil, o consumo de pães, bolos e biscoitos diet e light foi de 48,3%. Esses dados mostram que há de fato uma grande procura por estes alimentos pela população.</p>
            <p>A seguir, vamos definir o que são alimentos diet e o que são alimentos light e como eles entraram no mercado de alimentos.</p>
            <h4>Alimentos Lights e Diets: Afinal, O Que São?</h4>
            <p>Depois de termos estabelecido informações relevantes para o seu conhecimento geral sobre o cenário do perfil nutricional no Brasil e no Mundo, podemos finalmente falar sobre o conceito de alimento light e alimento diet.</p>
            <p>Você provavelmente já se deparou com uma variedade gigantesca de produtos lights e diets em uma única sessão no supermercado. E provavelmente pode ter se perguntado: “Qual é a diferença entre esses produtos? <b>O que afinal significa light? E diet?”.</b></p>
            <p>Antes de conceituarmos cada um para que você entenda de forma simples e clara, vou primeiro te contar como foi que este tipo de alimento surgiu.</p>
            <div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-07.png"></div>

            <p>Você sabia que no Brasil até o ano de 1988, produtos light e diet eram comercializados apenas em farmácias e eram basicamente adoçantes dietéticos?  Estes produtos eram considerados medicamentos e controlados pela Vigilância Sanitária de Medicamentos (DIMED). A partir daquele ano, estes produtos passaram a ser considerados alimentos e atualmente são controlados pela ANVISA – Agência Nacional de Vigilância Sanitária.</p>
            <p>Os alimentos diets são considerados alimentos para fins especiais. Ou seja, foram alimentos formulados ou processados, havendo modificações no conteúdo de nutriente com intuito de atender às necessidades nutricionais de pessoas com condições fisiológicas e metabólicas específicas como a Diabetes e a Hipertensão, por exemplo.</p>

        </div>
    </div>

    <div class="row row z-depth-4">
        <div class="col s12 ">
            <p>De acordo com a ANVISA, tratam-se de alimentos para dietas com restrição de nutrientes, alimentos para controle de peso e alimentos para ingestão controlada de açúcares.</p>
            <p>Já o termo light é um tipo de informação nutricional complementar. A informação nutricional complementar nada mais é do que uma informação utilizada de forma opcional pelos fabricantes para descrever e ressaltar o conteúdo de determinados nutrientes ou o valor calórico total em alimentos industrializados. Outros exemplos disso são aqueles alimentos que constam em suas embalagens informações como “fonte de vitaminas e minerais”, “reduzido em calorias” ou “não contém açúcar”.</p>
            <p>No caso do light é um termo utilizado para sinalizar algo que está “reduzido” naquele produto. O alimento pode ser reduzido ou light em valor energético, açúcares, sódio... Mas a maioria absoluta que encontramos nas prateleiras são aqueles reduzidos em gorduras.</p>
            <p>Ou seja, para que um alimento seja considerado light em valor energético ou algum nutriente é necessária uma redução de, no mínimo 25% no valor energético ou no conteúdo do nutriente objeto da alegação em relação ao alimento de referência ou convencional.</p>
            <p>Assim como os diet, os alimentos light também podem causar confusão às pessoas sem acesso as informações corretas. Por exemplo, existem alguns adoçantes light que podem colocar em risco a saúde de pessoas diabéticas, pois contêm açúcares em sua composição.</p>
            <p>É fundamental, também, que o rótulo do alimento mostre claramente o que pretendia o fabricante ao caracterizar o alimento como light, porque a utilização desse termo, por si só, não é suficiente para que o consumidor identifique o perfil do produto. Mas infelizmente, não é a realidade que encontramos nas prateleiras...</p>
            <p><b>Visando isso, no próximo relatório ensinarei a você a analisar rótulos de produtos light e diets</b> para que você saiba diferenciá-los e entender melhor os motivos deles não serem saudáveis.</p>
            <p>Falarei também sobre o consumo destes alimentos pela população mostrando dados de pesquisas realizadas por órgãos renomados. Com estes dados você poderá ter conhecimento de como estes produtos estão influenciando e fazendo a cabeça dos brasileiros.</p>



        </div>
    </div>


    <div class="row">
        <div class="col s12 center">

            <h4>VÍDEO - RELATÓRIO 2</h4>
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/205593745" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>

            </div>

        </div>

    </div>
</div>
<foote>
    <div class="row rodape">
        <div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
    </div>

</foote>








<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}

</body>
</html>
