<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s12 logo">
            <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
        </div>
    </div>
</div>
<div class="container-fluid">
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 btn-inicio">
            <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 1 > </a>  relatório 1º
        </div>
    </div>
    <div class="row">
        <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat.1-rel.1.jpg"></div></div>
    </div>

    <div class="row z-depth-4">
        <div class="col s12 ">

            <p> Os tempos são modernos, a tecnologia é de ponta. Cada vez mais encontramos soluções nos eletroeletrônicos, cada vez mais eles são mais eficazes e mais leves.</p>
            <p>Tudo isso nos trouxe um sentimento de imediatismo e consequentemente estamos buscando cada vez mais soluções imediatas para problemas enraizados e estas soluções geralmente são apenas paliativas.</p>
            <p>A modernidade nos fez querer também imediatismo inclusive na hora de se alimentar. Um momento o qual deveria ser tranquilo, alegre e integrador...</p>
            <p>Hoje é resumido em alguns minutos corridos para “engolir qualquer coisa”. Assim, mais e mais pessoas recorrem a industrializados, congelados e comidas prontas.</p>
            <p><b>Consequência disso:</b> doenças modernas. Ansiedade, compulsão alimentar, depressão e fobias sociais. Além das Doenças Crônicas Não Transmissíveis como Diabetes, Obesidade, Hipertensão, Fígado Gorduroso e também AVC, infartos e Mal de Alzheimer.</p>
            <div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
            <p>Isso assustou e assusta as pessoas, e provavelmente assusta você e a sua família também.</p>
            <p>Em um dado momento, boa parte das pessoas começou a se preocupar com a saúde e alimentação. Por isso, houve uma busca maior por alimentos saudáveis, mas ainda assim práticos.</p>
            <p>A população se preocupou com a saúde e a Indústria Alimentícia (falarei dela mais adiante) percebeu isso. Porém, a população continuou também querendo cada vez mais praticidade e rapidez com a alimentação.</p>
            <p>Assim, Indústria e Mídia uniram-se para lançar os alimentos industrializados “saudáveis”. Falando assim, parece realmente surreal, mas é isso que muitos brasileiros e brasileiras colocam em seus carrinhos de compras, pagam caro, levam para casa e consomem achando que é de fato saudável.</p>
            <p>Com isso, vieram as barrinhas de cereais, os sucos de caixinhas, os refrigerantes zero e as famosas comidas LIGHT e DIET.</p>
            <div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-03.png"></div>
            <p>Em um dado momento, a indústria quis impor que tirar a gordura dos alimentos, desnatar os laticínios ou enchê-los de adoçantes artificiais faz dos alimentos industrializados algo saudável.</p>
        </div>
    </div>


    <div class="row row z-depth-4">
        <div class="col s12 ">
            <h4>Na realidade, a fama dos alimentos lights veio da junção de três fatores:</h4>

            <p>- Necessidade de praticidade</p>
            <p>- Conceito de alimentação saudável distorcido</p>
            <p>- Restrição no consumo de gorduras naturais dos alimentos.</p>

            <p>Estes dois últimos fatores são graves porque são <b>consequências da má informação.</b></p>
            <p>Há não muito tempo atrás, nos anos 70, foi estabelecido por órgãos importantes de nutrição e alimentação humana que o consumo de gorduras faria mal para o coração, causaria obesidade e mais uma série de doenças. Este conceito foi estabelecido através de estudos tendenciosos e mal conduzidos o qual será assunto para próximos relatórios.</p>
            <p>O que eu quero que você entenda hoje é que vivemos em um mundo em que a Indústria e a Mídia dita o que é saudável, sem se basear em estudos realmente relevantes e de alto nível de evidência. Mas sim, de acordo com os interesses lucrativos.</p>
            <p>Assim, eles conseguem fazer com que toda a população acredite que alimentos industrializados são REALMENTE saudáveis.</p>
            <div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-rotuloproduto-mat.1-rel.1.png"></div>
            <p>Costumo dizer aos meus alunos e alunas que se o alimento possui rótulo, ele já perde boa parte ou toda parte do que podemos chamar de alimento saudável.</p>
            <p>Mas ainda temos também o descaso com o consumidor e a falta de fiscalização em rótulos de produtos. Até mesmo os rótulos te fazem achar que o produto é saudável. <b>Mas isso é marketing disfarçado de informação nutricional.</b></p>
            <p>É por essas e outras que eu costumo dizer: desembale menos, descasque mais.</p>
        </div>
    </div>

    <div class="row row z-depth-4">
        <div class="col s12 ">

            <h4>Consequências da Vida Moderna...</h4>
            <p>Infelizmente hoje temos muito mais pessoas com doenças de cunho nutricional do que antigamente. Nosso país já sofreu muito com a fome e a desnutrição, hoje em um cenário totalmente inverso, sofremos com o excesso de alimentação e a obesidade.</p>
            <p>Pessoas acreditam que para serem saudáveis elas precisam comer de 3 em 3 horas, evitar gorduras e o açúcar refinado (o açúcar de mesa). Para tal, a Indústria Alimentícia nos oferece os famosos lanchinhos como biscoitos e barrinhas de cereal, alimentos 0% gordura e laticínios desnatados e bebidas adoçadas com muito adoçante artificial e um pouco de açúcar escondido.</p>
            <div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-02.png"></div>
            <p>As consequências são nefastas: quase 60% dos brasileiros estão acima do peso, segundo o IBGE – Instituto Brasileiro de Geografia e Estatística. Os números são alarmantes e nos trazem uma urgência em buscar políticas públicas que realmente sejam adequadas para prevenção e tratamento do sobrepeso e obesidade.</p>
            <h4>Mas... Por que as pessoas engordam?</h4>
            <p>Algo que talvez você não tenha parado para pensar.</p>
            <p>Talvez você tenha uma resposta pronta: maus hábitos alimentares. Sim, devo concordar. Mas quais hábitos são esses? O que afinal está engordando nossa população e trazendo tantas doenças com isso?</p>
            <p>De cara já vou lhe dizendo: a condição de obeso não necessariamente quer dizer que a pessoa está negligenciando sua saúde. Muitas pessoas acima do peso recorrem a alimentos que elas acreditam fazer bem à saúde, porém só estão as engordando e adoecendo mais e mais! Para simplificar, vou explicar da seguinte forma.</p>
            <h4>Temos dois tipos de alimentação ruim:</h4>
            <p>- A alimentação não saudável de fato, onde podemos citar fast-foods como pizza, batatas fritas, hambúrgueres e salgadinhos, e doces como balas, pudins, refrigerantes, bolos, biscoitos recheados, brigadeiros...</p>
            <p>- E a alimentação não saudável disfarçada de alimentação saudável. Esta é ainda mais perigosa, pois é <b>enganadora.</b> É onde ficam os alimentos lights e diets como: leites e iogurtes desnatados, queijos sem gordura, produtos com 0% gordura, refrigerantes e sucos zero açúcar, barrinhas de cereal, biscoitos integrais...</p>
            <div class="center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-01.png"></div>
            <p>Pessoas consomem estes alimentos em pelo menos 3 refeições ao dia (café da manhã e lanches), de 3 em 3 horas pensando que estão saudáveis.</p>
        </div>
    </div>

    <div class="row row z-depth-4">
        <div class="col s12 ">
            <p>Com a internet e o fácil acesso a ela, felizmente as informações podem chegar às pessoas muito mais rapidamente. Por outro lado, muitas informações não são confiáveis e verdadeiras, muito menos baseadas na ciência. Muito do que as pessoas têm acesso são informações compradas e tendenciosas com intuito de aumentar o consumo de produtos da indústria.</p>
            <div class="center-align"> <img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-04.png"> </div>
            <p>A informação baseada na boa ciência (chamo de boa ciência os estudos de elevado nível de evidência científica) é uma de nossas principais ferramentas contra as doenças do século. Mas só a informação não é suficiente. Precisamos da aplicabilidade delas.</p>
            <p>Como médico, eu estudei muito e hoje afirmo que com a alimentação correta visando alimentos mais naturais possíveis e atividade física é possível prevenir e até mesmo tratar as doenças que mais assolam a população atualmente.</p>
            <p>Podemos livrar e proteger a nós mesmos, nossos filhos, parentes e amigos de doenças como Diabetes Tipo II, Hipertensão, AVC, infartos, Mal de Alzheimer e outras tantas doenças que antigamente não tínhamos com a mesma frequência que temos hoje, “apenas” com uma ação: mudança de hábitos alimentares.</p>

        </div>
    </div>

    <div class="row row z-depth-4">
        <div class="col s12 ">
            <p>A Indústria Alimentícia é A Maior Indústria do Mundo</p>
            <p>A indústria alimentícia é o conjunto de atividades industriais que produzem em quantidades que devem ser comercializadas, alimentos ou ingredientes para preparação de outros alimentos. Considera-se parte da indústria de alimentos também a comercialização através de supermercados, por exemplo.</p>
            <p>Podemos dividir a indústria alimentícia em 4 tipos:</p>

            <p>- Indústrias que preparam alimentos frescos (incluindo abatedouros e empresas que selecionam e embalam vegetais para venda)</p>
            <p>- Indústrias que fabricam alimentos prontos para consumir (alimentos congelados e pré-prontos)</p>
            <p>- Indústrias de conservas (transformam alimentos frescos em produtos com maior tempo de prateleira)</p>
            <p>- Indústrias que fabricam produtos que servem para preparar alimentos.</p>
            <div class="center-align"> <img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/img-drcomvc-05-1.png"></div>
            <p>Esta indústria, como se não bastasse, ainda é responsável por financiar estudos científicos tendenciosos para confirmar teses e promover ainda mais os alimentos produzidos por ela. Além disso, também é suspeita de financiar campanhas políticas, uma vez que seus interesses também dependem de decisões do governo para serem colocados em prática.</p>
            <p>Nos últimos 50 anos, esta indústria cresceu de forma considerável, aumentando sua produção, distribuição e venda.</p>
            <p>Com a fobia à gordura instaurada no mundo ocidental, devido a estudos conduzidos de forma tendenciosa em meados dos anos 70 (falaremos disso em próximos relatórios), a indústria alimentícia lançou no mercado milhares de opções de alimentos sem gordura, ou seja, os lights.</p>
            <p>Infelizmente este tipo de alimento é frequentemente recomendado inclusive para pessoas com doenças crônicas como Obesidade e Diabetes.</p>
        </div>
    </div>

    <div class="row row z-depth-4">
        <div class="col s12 ">
            <p>De fato, a busca pelo emagrecimento milagroso ou tratamento de doenças, fez com que a indústria alimentícia e do emagrecimento se unissem. Hoje não é muito difícil encontrar cardápios em revistas ou dietas prescritas por nutricionistas e médicos que incluam produtos diet e light.</p>
            <p>A comercialização de produtos <b>lights</b> e <b>diets</b> é um lucro enorme para esta indústria, que dá opções de “lanches saudáveis” extremamente ricos em açúcar escondido e outras substâncias altamente prejudiciais para saúde.</p>
            <p>A indústria não está se importando com a saúde e bem-estar da população. Mas saiba que o impacto de consumir comida industrializada vai muito além do ganho de peso. Trata-se de algo que reflete diretamente na saúde pública, com aumento do número de novas doenças, piora no quadro de doenças já existentes e baixa qualidade de vida e longevidade.</p>
            <p>Além disso, sustentavelmente falando, há desgaste de terras produtivas para a produção de toneladas de comidas e aumento na produção de lixo com embalagens de papel, plástico, alumínio, vidro...</p>
            <p>Apesar de todo esse poder da indústria, nós consumidores é que temos a palavra final: nós é que escolhemos o que levar para casa para consumir e darmos para nossa família.</p>
            <p><b>Será que você está fazendo a escolha certa?</b></p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 center">

            <h4>VÍDEO - RELATÓRIO 1</h4>
            <div class="video-container">
                <iframe src="https://player.vimeo.com/video/205602203" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>


        </div>

    </div>
</div>
<foote>
    <div class="row rodape">
        <div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
    </div>

</foote>







<!-- CSS files -->
{% if (env == 'development') %}
    {% for file in assets.main.css_drcv_rel %}
        <link rel="stylesheet" href="{{ file }}">
    {% endfor %}
{% endif %}

{% if (env == 'production') %}
    <!--<link rel="stylesheet" href="/build/css/main.min.css">-->
    <link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
    <link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
    <link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
    {% for file in assets.main.js %}
        <script type="text/javascript" src="{{file}}"></script>
    {% endfor %}
    {% for file in assets.main.drcv_relatoriojs %}
        <script type="text/javascript" src="{{file}}"></script>
    {% endfor %}
{% endif %}

{% if (env == 'production') %}
    <script type="text/javascript" src="/build/js/main.min.js"></script>
    <script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

    <script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
    <script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
    <script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
    <script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
    <script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
    <script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}



</body>
</html>
