<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 8 > </a>  relatório 3º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat8-rel3.jpg"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Ol&aacute;, aqui &eacute; o Dr. Rocha falando. No &uacute;ltimo relat&oacute;rio da s&eacute;rie sobre fibromialgia, irei falar sobre como alimenta&ccedil;&atilde;o e pr&aacute;tica de atividades f&iacute;sicas podem ser cruciais para controle da doen&ccedil;a, bem como para diminui&ccedil;&atilde;o de seus sintomas. Al&eacute;m disso, irei mostrar a hist&oacute;ria de uma paciente que foi diagnosticada com o problema de sa&uacute;de em quest&atilde;o, mas que atrav&eacute;s de uma alimenta&ccedil;&atilde;o correta e bons h&aacute;bitos hoje vive uma vida normal.</p>

				<p>Ficou curioso? Ent&atilde;o n&atilde;o perca esse incr&iacute;vel relat&oacute;rio.</p>

				<h4><b>Bons h&aacute;bitos alimentares fazem grande diferen&ccedil;a para portadores de fibromialgia</b></h4>

				<p>Dores nos ombros, costas, pernas, bra&ccedil;os, cabe&ccedil;as, p&eacute;s, enfim... no corpo inteiro. Quem &eacute; diagnosticado com fibromialgia conhece bem as dores provenientes da doen&ccedil;a. Questione a um paciente como um simples toque delicado ser motivo de grande sofrimento.</p>

				<p>Pessoas que apresentam fibromialgia tendem a sofrer por longos per&iacute;odos de tempos at&eacute; que a doen&ccedil;a seja realmente diagnosticada de maneira correta.</p>

				<p>Pacientes que apresentam quadros de dores cr&ocirc;nicas precisam de uma s&eacute;rie de nutrientes para que possam viver com mais qualidade de vida. O problema, &eacute; que os medicamentos utilizados para controle da doen&ccedil;a normalmente dificultam a absor&ccedil;&atilde;o de uma s&eacute;rie de nutrientes, e &eacute; exatamente por conta dessa car&ecirc;ncia que o desconforto generalizado normalmente se instala em um grande n&uacute;mero de portadores da doen&ccedil;a.</p>

				<p>Mostrarei a seguir determinados nutrientes, minerais e alguns compostos que podem ser obtidos atrav&eacute;s da alimenta&ccedil;&atilde;o e realmente mudar para melhor a vida das pessoas que sofrem com fibromialgia.</p>

				<h4><b>Pr&eacute;bioticos, probi&oacute;ticos e simbi&oacute;ticos</b></h4>

				<p>Embora possuam nomes parecidos, s&atilde;o compostos diferentes, mas que agem diretamente no intestino humano, auxiliando a prolifera&ccedil;&atilde;o de bact&eacute;rias intestinais ben&eacute;ficas que ajudam a potencializar a absor&ccedil;&atilde;o de nutrientes oriundos dos alimentos ingeridos.</p>

				<p><b>&rarr; Os prebi&oacute;ticos</b>&nbsp;normalmente s&atilde;o encontrados em alimentos como vegetais verdes folhosos, frutas com teor significativo de amido resistente, algumas farinhas e etc.</p>

				<p><b>&rarr;&nbsp;</b><b>Os probioticos</b>&nbsp;podem ser facilmente encontrados em produtos de origem l&aacute;ctea, principalmente leites fermentados.</p>

				<p><b>&rarr;&nbsp;J&aacute; os simbi&oacute;ticos</b>&nbsp;s&atilde;o produtos que associam os prebi&oacute;ticos com os probi&oacute;ticos tendo como finalidade intensificar os efeitos de ambos os componentes, trazendo assim, benef&iacute;cios &agrave; sa&uacute;de de seus consumidores.</p>

				<h4><b>Gordura de qualidade &ndash; &ocirc;mega 3</b></h4>

				<p>Embora a fibromialgia n&atilde;o seja uma doen&ccedil;a inflamat&oacute;ria, trata-se de um problema relacionado a dores musculares generalizadas que necessita de controle ao longo de toda a vida.</p>

				<p>Pacientes com fibromialgia apresentam altos n&iacute;veis de estresse oxidativo, ou seja, h&aacute; uma grande produ&ccedil;&atilde;o de radicais livres e uma atua&ccedil;&atilde;o pouco suficiente do sistema antioxidante do organismo em neutraliz&aacute;-los. Por isso, &eacute; necess&aacute;rio a ingest&atilde;o de gorduras de qualidade que atuem naturalmente como agente anti-inflamat&oacute;rio.</p>

				<p>Dessa maneira a ingest&atilde;o de azeite de oliva, salm&atilde;o, arenque, ovos, manteiga e queijos &eacute; uma &oacute;tima maneira de minimizar os efeitos da fibromialgia.</p>

					  <div class="video-container">
                       <iframe src="https://player.vimeo.com/video/235403702" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                       </div>

				<h4><b>Prote&iacute;nas</b></h4>

				<p>Pelo simples fato dos medicamentos atrapalharem quase que naturalmente a absor&ccedil;&atilde;o de nutrientes, o organismo acaba por adquirir prote&iacute;nas diretamente da musculatura, algo que normalmente traz dores severas.</p>

				<p>Sendo assim, a ingest&atilde;o de alimentos ricos em prote&iacute;nas, tais como carnes, ovos, peixes, s&atilde;o boas op&ccedil;&otilde;es para manuten&ccedil;&atilde;o de tecidos, como a pr&oacute;pria musculatura e tamb&eacute;m evitar o catabolismo proteico muscular que acomete os portadores da doen&ccedil;a.</p>

				<h4><b>Triptofano</b></h4>

				<p>O triptofano &eacute; um amino&aacute;cido antidepressivo que auxilia a s&iacute;ntese de serotonina. A serotonina atua regulando a sensa&ccedil;&atilde;o de dor, sono e humor, ou seja tudo o que um paciente com fibromialgia precisa.</p>

				<p>As melhores fontes alimentares que possuem o triptofano s&atilde;o: leite, carnes, ovos, iogurtes, queijos.</p>

				<h4><b>Magn&eacute;sio</b></h4>

				<p>O magn&eacute;sio &eacute; um mineral que participa ativamente de uma s&eacute;rie de processos musculares, como s&iacute;ntese prot&eacute;ica, excita&ccedil;&atilde;o dos nervos e contra&ccedil;&atilde;o muscular. Sua aus&ecirc;ncia causa enrijecimento da musculatura e diminui&ccedil;&atilde;o da s&iacute;ntese de prote&iacute;nas, tendo como resultado uma musculatura mais contra&iacute;da e totalmente sujeita a dores.</p>

				<p>O magn&eacute;sio pode ser encontrado em vegetais verdes folhosos escuros, nozes, por&eacute;m a suplementa&ccedil;&atilde;o em alguns casos &eacute; necess&aacute;ria.</p>

				<h4><b>C&aacute;lcio</b></h4>

				<p>Al&eacute;m de ser um mineral muito importante para a sa&uacute;de de ossos e dentes, o c&aacute;lcio &eacute; primordial para o processo de contra&ccedil;&atilde;o muscular. A aus&ecirc;ncia de c&aacute;lcio pode causar c&acirc;imbras e dificultar uma s&eacute;rie de movimentos musculares, portanto, pessoas que s&atilde;o portadoras de fibromialgia precisam da ingest&atilde;o di&aacute;ria desse mineral.</p>

				<p>As fontes alimentares ricas em c&aacute;lcio s&atilde;o: Derivados do leite, couve, br&oacute;colis, gergelim, am&ecirc;ndoas e castanhas.</p>

				<h4><b>Mangan&ecirc;s</b></h4>

				<p>Outro poderoso mineral, o mangan&ecirc;s estimula uma s&eacute;rie de atividades enzim&aacute;ticas, como produ&ccedil;&atilde;o de energia, al&eacute;m de ser um poderoso agente antioxidante &ndash; agindo de maneira direta na elimina&ccedil;&atilde;o de radicais livres que se formam pela condi&ccedil;&atilde;o de sa&uacute;de de pacientes com fibromialgia.</p>

				<p>As principais fontes alimentares de mangan&ecirc;s s&atilde;o as avel&atilde;s.</p>

				<h4><b>Vitamina C</b></h4>

				<p>Poderoso agente antioxidante &eacute; capaz de neutralizar uma grande quantidade de radicais livres e ainda estimular o bom funcionamento do sistema imunol&oacute;gico.</p>

				<p>A vitamina C pode ser facilmente encontrada em frutas c&iacute;tricas, como lim&atilde;o, maracuj&aacute;, e principalmente acerola.</p>

				<h4><b>Vitamina D</b></h4>

				<p>A vitamina D &eacute; uma vitamina importante para pessoas com fibromialgia pelo simples fato de auxiliar na absor&ccedil;&atilde;o do c&aacute;lcio que &eacute; ingerido atrav&eacute;s de alimenta&ccedil;&atilde;o. Embora possa ser sintetizada de maneira natural atrav&eacute;s da luz solar essa vitamina tamb&eacute;m pode ser obtida atrav&eacute;s da alimenta&ccedil;&atilde;o.</p>

				<p>A vitamina D pode ser obtida atrav&eacute;s do consumo de &oacute;leo de f&iacute;gado de bacalhau, salm&atilde;o, atum, arenque, cogumelos, bife de f&iacute;gado, gema de ovo, derivados do leite.</p>

				<h4><b>Vitamina E</b></h4>

				<p>Essa importante vitamina auxilia na preven&ccedil;&atilde;o de c&acirc;imbras nas pernas, que costumam ocorrer devido ao aumento da circula&ccedil;&atilde;o sangu&iacute;nea &ndash; o que pode agravar ainda mais os sintomas de dores apresentados pelos portadores de fibromialgia.</p>

				<p>Al&eacute;m disso, a vitamina E funciona como poderoso antioxidante prevenindo danos &agrave; membrana das c&eacute;lulas, aumenta a absor&ccedil;&atilde;o de vitamina A e atua no tecido epitelial, diminuindo os n&iacute;veis de dores dos pacientes.</p>

				<p>As fontes alimentares s&atilde;o: Nozes, carnes, e gema de ovo.</p>

				<h4><b>Atividade f&iacute;sica, outra grande aliada de pacientes com fibromialgia</b></h4>

				<p>Todo e qualquer tipo de tratamento de fibromialgia precisa possuir alguma dose de atividade f&iacute;sica. A escolha da modalidade a ser praticada deve ficar a crit&eacute;rio do paciente, e devem ser levadas em considera&ccedil;&atilde;o gostos e principalmente limita&ccedil;&otilde;es.</p>

				<p>A atividade aer&oacute;bica &eacute; normalmente mais efetiva que as demais, como por exemplo caminhadas ou corridas leves com dura&ccedil;&atilde;o entre 40 e 60 minutos di&aacute;rios cinco vezes por semana. Ao contr&aacute;rio do que muita gente acredita, a inatividade em pacientes com fibromialgia apenas geram mais dor.</p>

				<p>Por isso, um paciente que esteja sentido dores n&atilde;o est&aacute; contraindicado para realiza&ccedil;&atilde;o de atividades f&iacute;sicas, mesmo que sejam leves &ndash; nesses casos um tratamento medicamentoso para diminuir a dor para que ele suporte a pr&aacute;tica de atividade f&iacute;sica &eacute; uma excelente alternativa.</p>

				<p>A exemplo do que muita gente pensa, no in&iacute;cio, a dor pode at&eacute; piorar com a pr&aacute;tica da atividade f&iacute;sica, por&eacute;m, ela se faz totalmente necess&aacute;ria para bom andamento da doen&ccedil;a e qualidade de vida de seus portadores.</p>

				<p>Al&eacute;m da caminhada, e corrida leve, atividades como muscula&ccedil;&atilde;o que fortalecem a musculatura, e tamb&eacute;m atividades aqu&aacute;ticas como nata&ccedil;&atilde;o e hidrogin&aacute;stica s&atilde;o extremamente &uacute;teis para pacientes que n&atilde;o toleram impactos, ou tenham outros problemas de sa&uacute;de, como artrose, por exemplo.</p>

				<p>Outro ponto importante &eacute; a defini&ccedil;&atilde;o regular de pr&aacute;tica. Neurologistas e reumatologistas recomendam que pacientes com fibromialgia pratiquem atividades f&iacute;sicas ao menos tr&ecirc;s vezes por semana.</p>

				<h4><b>A hist&oacute;ria de Cec&iacute;lia</b></h4>

				<p>Como muitos sabem, sou m&eacute;dico e tamb&eacute;m atendo pacientes com as mais variadas condi&ccedil;&otilde;es de sa&uacute;de. H&aacute; muito tempo atr&aacute;s atendi uma paciente chamada Cec&iacute;lia que fora diagnosticada com fibromialgia.</p>

				<p>Cecilia me relatou que sofria uma tristeza profunda, al&eacute;m de dores que a impediam de levar uma vida relativamente normal.</p>

				<p>Ela veio at&eacute; mim com exames relativamente normais, o que me deixou relativamente indagado e curioso.</p>

				<p>A questionei sobre a utiliza&ccedil;&atilde;o de medicamentos, e ela havia me dito que fazia uso de maneira correta e controlada de todos os medicamentos receitados por especialistas em fibromialgia, at&eacute; que consegui chegar a um ponto interessante. Eu a questionei sobre sua alimenta&ccedil;&atilde;o e tamb&eacute;m sobre a pr&aacute;tica de atividades f&iacute;sicas.</p>

				<p>Cec&iacute;lia ent&atilde;o me contou que sua alimenta&ccedil;&atilde;o era restrita e que n&atilde;o praticava atividades f&iacute;sicas, pois tinha medo que suas dores piorassem.</p>

				<p>Sendo assim, fiz algumas altera&ccedil;&otilde;es em sua alimenta&ccedil;&atilde;o, recomendei o consumo de alimentos ricos em gorduras de qualidade, como azeite e peixes, e recomendei tamb&eacute;m que ela consumisse prote&iacute;nas e vegetais verdes folhosos, por serem ricos em minerais e tamb&eacute;m vitaminas. Pedi que ela retornasse em 30 dias.</p>

				<p>Passados esses 30 dias, Cec&iacute;lia voltou at&eacute; mim, com um novo semblante. Ela me disse que os sintomas de tristeza haviam sumido e que as dores em uma escala de 0 a 10 haviam melhorado em torno de 8. Fiquei muito feliz e pedi a ela que mantivesse a alimenta&ccedil;&atilde;o, por&eacute;m, agora buscasse uma atividade f&iacute;sica que lhe desse prazer.</p>

				<p>Cecilia escolheu a nata&ccedil;&atilde;o, tr&ecirc;s vezes por semana, ela disse ter sentido dores no come&ccedil;o, mas que ap&oacute;s um curto per&iacute;odo de tempo, seu organismo se adaptou o que colaborou ainda mais para o al&iacute;vio dos sintomas da doen&ccedil;a.</p>

				<p>Minha &uacute;nica alternativa foi dar alta para ela. Recentemente ela me enviou um e-mail, dizendo que come&ccedil;ou a caminhar nos dias em que n&atilde;o faz nata&ccedil;&atilde;o e que hoje leva uma vida praticamente normal. Logicamente fiquei muito feliz.</p>

				<p><b>O que a hist&oacute;ria de Cec&iacute;lia nos ensina?</b>&nbsp;Que podemos sim ser acometidos por determinada doen&ccedil;a, mas que sucumbir a essa doen&ccedil;a &eacute; apenas uma quest&atilde;o de escolha.</p>

				<p>Al&eacute;m disso, Cec&iacute;lia mostrou a todos que os alimentos podem sim ser utilizados como medicamentos, uma vez que utilizados de maneira correta e adequada. Portanto, devemos sempre prezar por sa&uacute;de e boa escolhas.</p>

				<p>Com isso chego ao fim do nosso terceiro e &uacute;ltimo relat&oacute;rio sobre a fibromialgia. Espero que voc&ecirc;s tenham gostado. Fiquem ligados, pois h&aacute; mais relat&oacute;rios por vir.</p>

				<p>Me despe&ccedil;o desejando sa&uacute;de, felicidade, amor e sorte.</p>

				<p>At&eacute; a pr&oacute;xima. Forte abra&ccedil;o!</p>
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<br>
		</div>
	</div>
		<!-- fim modulos -->

	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	

<body>
</body>
</html>
