<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
	<meta name="keywords" content="">
	<meta name="description" content="Dr Rocha com Você">
	<meta name="robots" content="noindex, nofollow">

	<link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
	<link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
<div class="container">
	<div class="row">
		<div class="col s12 logo">
			<img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
		</div>
	</div>
</div>
<div class="container-fluid">
	<hr>
</div>

<div class="container">
	<div class="row">
		<div class="col s12 btn-inicio">
			<a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 8 > </a>  relatório 1º
		</div>
	</div>
	<div class="row">
		<div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/drcomvc-capa-mat8-rel1.jpg"></div></div>
	</div>

	<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<div class="center-align"><a href="http://omegamax3.com.br/assinatura/?utm_source=drr-com-vc&utm_campaign=material-3&utm_term=rel-1&utm_content=banner" target="_blank"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/OMG3_banner1_plataforma_730x200.jpg"></a></div>
			<p>Outro sintoma clássico da fibromialgia apresentado pelos pacientes são as lacunas de memória, muitas vezes chamada pelos médicos de névoa da fibromialgia. Trata-se de um termo utilizado para descrever os prejuízos da memória vividos por uma parte das pessoas que sofrem da doença.</p>
			<p>Dentre as dificuldades cognitivas mais comuns apresentadas pelos pacientes com fibromialgia ou posso citar a perda da memória de fixação, a falta de concentração e principalmente o raciocínio prejudicado – problemas de linguagem e dificuldades para se recordar e falar palavras são bastante recorrentes em pacientes diagnosticados com essa doença.</p>

			<div class="video-container">
				<iframe src="https://player.vimeo.com/video/235403586" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>

			<p><strong>Fadiga</strong></p>
			<p>Pessoas com fibromialgia normalmente despertam extremamente cansadas, mesmo que tenham dormido por longos per&iacute;odos. S&atilde;o comuns os relatos de pacientes que at&eacute; dormiram um bom n&uacute;mero de horas, por&eacute;m acordou extremamente fadigado &ndash; trata-se do famoso sono n&atilde;o reparador.</p>
			<p>Al&eacute;m disso, &eacute; comum que pacientes diagnosticados com a doen&ccedil;a apresentem outros dist&uacute;rbios do sono, como a s&iacute;ndrome das pernas inquietas e tamb&eacute;m a apneia do sono &ndash; problemas que atrapalham o relaxamento necess&aacute;rio durante a noite.</p>
			<h4><strong>Outros problemas</strong></h4>
			<p>Muitas pessoas que possuem fibromialgia podem sofrer uma s&eacute;rie de problemas relacionados com os efeitos da doen&ccedil;a ao organismo, como depress&atilde;o, dores de cabe&ccedil;a que podem se assemelhar a enxaquecas e at&eacute; mesmo dores ou c&oacute;licas severas no abdome inferior.</p>
			<h4><strong>Causas da fibromialgia</strong></h4>
			<p>Infelizmente as reais causas da fibromialgia ainda s&atilde;o desconhecidas para a medicina, por&eacute;m h&aacute; uma s&eacute;rie de fatores que est&atilde;o associados de modo frequente &agrave; essa s&iacute;ndrome. Dentre os principais eu cito:</p>
			<h4><strong>Gen&eacute;tica</strong></h4>
			<p>A fibromialgia &eacute; uma doen&ccedil;a um tanto quanto recorrente em pessoas da mesma fam&iacute;lia, o que pode ser um indicador de que existam algumas muta&ccedil;&otilde;es gen&eacute;ticas capazes de desencadear a s&iacute;ndrome.</p>
			<h4><strong>Infec&ccedil;&otilde;es</strong></h4>
			<p>Infec&ccedil;&otilde;es virais, bacterianas, f&uacute;ngicas e at&eacute; mesmo doen&ccedil;as autoimunes podem estar envolvidas nas causas da fibromialgia.</p>
			<h4><strong>Problemas cotidianos</strong></h4>
			<p>Sedentarismo, dist&uacute;rbios do sono, ansiedade, depress&atilde;o, estresse excessivo, falta de prazeres no dia a dia tamb&eacute;m podem estar ligados de alguma forma &agrave; fibromialgia, afirmam neurologistas especialistas na doen&ccedil;a.</p>
			<h4><strong>Fatores de risco</strong></h4>
			<p>Neurologistas e demais especialistas da comunidade m&eacute;dica afirmam que por n&atilde;o existir uma causa estabelecida para a ocorr&ecirc;ncia da doen&ccedil;a, h&aacute; poucos fatores de risco para desenvolvimento da mesma. Esses fatores s&atilde;o:</p>

			<p><strong>&rarr; Sexo</strong>&nbsp;&ndash; como citei anteriormente, a fibromialgia &eacute; muito mais frequente/comum em mulheres do que em homens, especialmente naquelas entre 20 e 50 anos de idade;</p>
			<p><strong>&rarr;&nbsp;</strong><strong>Hist&oacute;rico familiar</strong>&nbsp;&ndash; A doen&ccedil;a normalmente &eacute; recorrente entre membros da mesma fam&iacute;lia, o que indica quase com certeza de que exista um fator gen&eacute;rico envolvido nas causas da doen&ccedil;a.</p>
			<h4><strong>Diagn&oacute;stico</strong></h4>
			<p>O diagn&oacute;stico da fibromialgia ocorre apenas de maneira cl&iacute;nica, ou seja, por meio da hist&oacute;ria dos sintomas apresentados pelos paciente e tamb&eacute;m pelo exame f&iacute;sico.</p>
			<p>Ainda n&atilde;o existe nenhum teste laboratorial que possam auxiliar no diagn&oacute;stico da doen&ccedil;a, por&eacute;m, os m&eacute;dicos podem solicitar alguns exames espec&iacute;ficos como eletroneuromiografia e testes sangu&iacute;neos a fim de avaliar componentes inflamat&oacute;rios espec&iacute;ficos para que o diagn&oacute;stico seja correto.</p>
			<h4><strong>Tratamento</strong></h4>
			<p>O tratamento da fibromialgia &eacute; mais eficaz quando s&atilde;o unidos medicamentos e cuidados n&atilde;o medicamentosos. O foco dos tratamentos n&atilde;o &eacute; curar a doen&ccedil;a em si, mas sim evitar a capacidade f&iacute;sica, minimizar os sintomas apresentados e por fim ofertar mais qualidade de vida aos pacientes diagnosticados com a doen&ccedil;a.</p>
			<p>O tratamento pode envolver:</p>
			<p>&rarr; Realiza&ccedil;&otilde;es de sess&otilde;es de fisioterapia;</p>
			<p>&rarr; Programa de exerc&iacute;cios para melhor condicionamento f&iacute;sico;</p>
			<p>&rarr; M&eacute;todos para al&iacute;vio de estresse e tens&atilde;o incluindo massagem aliada a t&eacute;cnicas de relaxamento;</p>
			<p>&rarr; Acupuntura;</p>
			<p>&rarr; Reikki;</p>
			<p>&rarr; Terapia cognitivo comportamental.</p>
			<p>A terapia cognitivo comportamental &eacute; uma parte extremamente importante do tratamento, pois ela ir&aacute; ensinar os paciente a lidar com pensamentos negativos, manter um di&aacute;rio de seus sintomas e dores para que possam ser trabalhados posteriormente, reconhecer pr&aacute;ticas que podem levar ao agravamento dos sintomas, buscar praticar atividades que sejam agrad&aacute;veis, e principalmente estabelecer limites.</p>
			<h4><strong>Medicamentos</strong></h4>
			<p>Existem v&aacute;rios medicamentos que podem ser utilizados em conjunto com tratamentos n&atilde;o medicamentosos. Dentre as drogas mais utilizadas est&atilde;o os analg&eacute;sicos de a&ccedil;&atilde;o central, al&eacute;m de rem&eacute;dios com a&ccedil;&atilde;o antidepressiva e antiepil&eacute;tica que possuem a&ccedil;&atilde;o analg&eacute;sica.</p>
			<p>Medicamentos para melhora do padr&atilde;o do sono e miorrelaxantes tamb&eacute;m s&atilde;o frequentemente utilizados, uma vez que apresentam bons resultados perante aos sintomas e queixas que s&atilde;o normalmente apresentados pelos portadores da doen&ccedil;a.</p>
			<p>Infelizmente n&atilde;o h&aacute; qualquer modo de prevenir o surgimento da fibromialgia.</p>

			<h4><strong>Convivendo com a doen&ccedil;a</strong></h4>
			<p>A fibromialgia &eacute; uma doen&ccedil;a de longa dura&ccedil;&atilde;o e que possui flutua&ccedil;&otilde;es frequentes na intensidade dos sintomas. Sendo assim, seguir o tratamento de modo correto e adequado, tomando uma s&eacute;rie de cuidados no dia a dia tendem a reduzir os sintomas e trazer mais qualidade de vida aos pacientes.</p>
			<p>Acho importante ressaltar, que ao realizar os tratamentos e manter os devidos cuidados, a pessoa que foi diagnosticada com fibromialgia pode levar uma vida normal, ou seja, sem perdes suas capacidades funcionais.</p>
			<p>Dessa maneira, eu dou algumas dicas para enfrentar essa doen&ccedil;a de cabe&ccedil;a erguida e evitar os abalos causados pela mesma:</p>
			<p>&rarr; Reduzir o estresse di&aacute;rio, coloque no seu dia a dia atividades que lhe d&atilde;o prazer &ndash; como ouvir m&uacute;sica enquanto trabalha, por exemplo;</p>
			<p>&rarr; Preze por uma boa noite de sono, isso evitar&aacute; que a fadiga extrema n&atilde;o apare&ccedil;a no dia seguinte;</p>
			<p>&rarr; Exercite-se de modo regular, mas procure uma atividade f&iacute;sica que lhe d&ecirc; prazer;</p>
			<p>&rarr; Mantenha sua rotina &ndash; encontre os amigos, continue indo ao cinema, planeje viagens;</p>
			<p>&rarr; Alimente-se de modo estrat&eacute;gico &ndash; a alimenta&ccedil;&atilde;o sempre pode ser utilizada com efeito medicinal.</p>
			<p>Com isso chegamos ao final da nossa primeira s&eacute;rie de relat&oacute;rios sobre a fibromialgia.</p>
			<p>Nesse relat&oacute;rio mostramos tudo sobre esse problema de sa&uacute;de. O que &eacute;, quais s&atilde;o os seus sintomas, como &eacute; feito seu diagn&oacute;stico, quais os tratamentos poss&iacute;veis e como ter uma vida normal ap&oacute;s ter sido diagnosticado com fibromialgia.</p>
			<p>No pr&oacute;ximo relat&oacute;rio sobre Fibromialgia irei falar sobre sua epidemiologia, seus n&uacute;meros como um todo e mostrarei que a doen&ccedil;a apresenta diferentes n&iacute;veis de dores. Portanto, fiquem ligados.</p>


		</div>
	</div>
	<!-- fim modulos -->


</div>
<foote>
	<div class="row rodape">
		<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>

</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}


<body>
</body>
</html>
