<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Dr Rocha com Você">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

</head>
	<div class="container">
        <div class="row">
            <div class="col s12 logo">
                <img src="/images/produtos/drrocha_com_voce/imagens/logo-drcomvc.png">
            </div>
        </div>
    </div>
	<div class="container-fluid">
        <hr>
    </div>
	
	<div class="container">
	<div class="row">	
	<div class="col s12 btn-inicio">
       <a href="javascript:window.history.go(-2)" class="inicio"> Inicio > </a><a href="javascript:window.history.go(-1)" class="inicio"> material 8 > </a>  relatório 2º
	</div>
	</div>
     <div class="row">
		 <div class="col s12"><div class="center-align"><img class="z-depth-4 responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/DRCOMVC_capa_relatório_dor_nas-costas.png"></div></div>		 
	</div>
		
		<!-- modulo -->
	<div class="row z-depth-4">
		<div class="col s12 ">
			<p>Ol&aacute;, aqui &eacute; o Dr. Rocha mais uma vez. Hoje darei prosseguimento sobre a fibromialgia. Ap&oacute;s ter mostrado para todos voc&ecirc;s o que &eacute; a doen&ccedil;a, quais s&atilde;o seus sintomas e tratamentos, hoje irei falar sobre quais s&atilde;o os diferentes tipos de dores apresentados pelos pacientes, n&uacute;meros absolutos da doen&ccedil;a, al&eacute;m de sua epidemiologia.</p>

				<p>N&atilde;o deixem de ler mais um excelente relat&oacute;rio falando sobre esse comum problema de sa&uacute;de.</p>

				<p>Como havia citado no primeiro relat&oacute;rio, a fibromialgia &eacute; uma condi&ccedil;&atilde;o de sa&uacute;de com extrema dor debilitante mais do que difundida. Atualmente, esse problema de sa&uacute;de est&aacute; presente ao redor do mundo em uma parcela vari&aacute;vel entre 0,5% a 10% da popula&ccedil;&atilde;o mundial, ou seja, um n&uacute;mero relativamente elevado.</p>

				<p>Dentre os sintomas apresentados pelos portadores dessa temida e inc&ocirc;moda doen&ccedil;a, a dor realmente &eacute; o que mais preocupa seus portadores, uma vez que esse sintoma em especifico tem um alto poder de debilita&ccedil;&atilde;o.</p>

				<p>Os demais sintomas como, ansiedade, depress&atilde;o, fadiga tamb&eacute;m s&atilde;o debilitantes, &eacute; claro, por&eacute;m a principal caracter&iacute;stica da fibromialgia &eacute; a dor. E &eacute; exatamente sobre dor que irei falar no primeiro t&oacute;pico desse incr&iacute;vel relat&oacute;rio.</p>

				<h4><b>Dor &eacute; a principal queixa dos pacientes</b></h4>

				<p>As circunst&acirc;ncias n&atilde;o s&atilde;o classificadas de maneira formal com base em nenhum crit&eacute;rio. Contudo, existem acompanhamentos do desenvolvimento da doen&ccedil;a que classificam a fibromialgia com base no tipo e na intensidade da dor que os pacientes podem sentir.</p>

				<p>A dor da fibromialgia &eacute; acompanhada de uma s&eacute;rie de preju&iacute;zos na qualidade de vida dos pacientes que s&atilde;o diagnosticados com a doen&ccedil;a. S&atilde;o comuns queixas que abordam dificuldades para manter uma vida normal.</p>

				<p>Normalmente, pacientes portadores de fibromialgia relatam uma qualidade de vida totalmente comprometida. Por isso, estudos analisando intensidades de dores causadas pelas doen&ccedil;as v&ecirc;m crescendo cada vez mais.</p>

				<p>Esse tipo de pesquisa visa nortear profissionais da sa&uacute;de a melhor atenderem seus pacientes e com isso trazer mais alegria, bem-estar e principalmente qualidade de vida aos portadores da fibromialgia.</p>

				<h4><b>Diferentes tipos de dores causadas pela fibromialgia</b></h4>

				<p>Os diferentes tipos de dores causadas pela fibromialgia s&atilde;o:</p>

				<p><b>&rarr; Hiperalgesia</b></p>

				<p>Esse &eacute; uma amplifica&ccedil;&atilde;o de dor um tanto quanto t&iacute;pica observada na fibromialgia, nesse tipo, o feltro da dor &eacute; muito maior do que seu est&iacute;mulo</p>

				<p><b>&rarr;&nbsp;</b><b>Parestesia</b></p>

				<p>Nesse tipo de dor, as termina&ccedil;&otilde;es nervosas sofrem est&iacute;mulos de maneira autom&aacute;tica, o que faz com que os pacientes possam sentir um formigamento, muito semelhante a queima&ccedil;&atilde;o. Normalmente quem sofre esse tipo de dor, relata que h&aacute; um rastejamento da dor, ou seja, a sensa&ccedil;&atilde;o de dor se locomove de um lugar para o outro, sendo uma sensa&ccedil;&atilde;o extremamente dolorosa.</p>

				<div class="video-container">
                 <iframe src="https://player.vimeo.com/video/235403221" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </div>

				<h4><b>Alodinia</b></h4>

				<p>Esse tipo de dor &eacute; muito semelhante as dores apresentadas por pacientes que sofrem de Esclerose M&uacute;ltipla. A dor alodinia se manifesta de maneira um tanto quanto rigorosa com um simples toque, press&atilde;o suave da roupa ou ent&atilde;o qualquer tipo de toque no paciente.</p>

				<p>A dor alodinia pode ser t&aacute;til, ou seja, causada diretamente pela dor do toque ou da press&atilde;o aplicada, ou ent&atilde;o ser mec&acirc;nica, ou seja, causada por algo que se move sobre a pele dos pacientes.</p>

				<p>Al&eacute;m disso, esse tipo de dor pode ocorrer tamb&eacute;m por varia&ccedil;&otilde;es t&eacute;rmicas, onde varia&ccedil;&otilde;es de temperatura, tanto para frio, quanto para calor, podem fazer com que os pacientes sintam dores desgastantes.</p>

				<h4><b>Outros tipos</b></h4>

				<p>Al&eacute;m dos tipos que acabei de mostrar, os pacientes diagnosticados com fibromialgia podem sentir outros tipos de dor que incluem a dor cortante, a dor ardente e at&eacute; mesmo a dor aleat&oacute;rio que tende a se mover dos membros superiores para os inferiores e vice-versa.</p>

				<p>&Eacute; comum tamb&eacute;m o relato de pacientes que dizem sentir dores quando s&atilde;o submetidos a est&iacute;mulos de situa&ccedil;&otilde;es que julgam ser incomodas, como sons altos e repetitivos, ou ent&atilde;o o simples piscar de luzes brilhantes que estimulam o surgimento e trazem &agrave; tona o sentimento de dor.</p>

				<h4><b>N&uacute;meros sobre a fibromialgia no mundo</b></h4>

				<p>A fibromialgia possui presen&ccedil;a mundial, ou seja, ela n&atilde;o est&aacute; condicionada a apenas determinadas popula&ccedil;&otilde;es, como pode ocorrer em algumas doen&ccedil;as. Nos Estados Unidos, essa doen&ccedil;a acomete entre 2% e 10% da popula&ccedil;&atilde;o geral de todas as idades. No pa&iacute;s norte-americano mais de 5 milh&otilde;es de pessoas j&aacute; foram diagnosticadas com essa condi&ccedil;&atilde;o de sa&uacute;de.</p>

				<p>Na Inglaterra h&aacute; pouco mais de 1,7 milh&otilde;es de pessoas s&atilde;o portadores da doen&ccedil;a. Em pa&iacute;ses orientais a doen&ccedil;a acomete cerca de 2% a 4% da popula&ccedil;&atilde;o adulta. J&aacute; aqui no Brasil a doen&ccedil;a n&atilde;o &eacute; t&atilde;o frequente, ou seja, apenas cerca de 3% dos brasileiros foram diagnosticados como portadores da fibromialgia.</p>

				<h4><b>Mulheres s&atilde;o mais afetadas</b></h4>

				<p>O sexo feminino &eacute; muito mais suscet&iacute;vel ao desenvolvimento da fibromialgia do que o sexo masculino. As mulheres s&atilde;o de 5 a 9 vezes mais afetadas pelo problema de sa&uacute;de do que os homens.</p>

				<p>A idade predominante do surgimento dos primeiros sintomas varia entre 20 e 50 anos de idade, embora existam relatos de que crian&ccedil;as com 2 anos de idade j&aacute; tenham sido diagnosticadas com a doen&ccedil;a.</p>

				<p>H&aacute; relatos m&eacute;dicos de jovens com menos 20 anos, assim como idosos acima dos 60 anos que foram diagnosticados como portadores dessa doen&ccedil;a.</p>

				<h4><b>Fibromialgia pode afetar trabalho e qualidade de vida</b></h4>

				<p>Uma pessoa adulta diagnosticada com fibromialgia faltam em m&eacute;dia 17 dias ao seu trabalho durante o ano. Para efeito de compara&ccedil;&atilde;o, uma pessoa adulta que n&atilde;o possui essa condi&ccedil;&atilde;o, falta apenas 6 dias durante o mesmo per&iacute;odo.</p>

				<p>A fibromialgia &eacute; uma doen&ccedil;a que est&aacute; associada de maneira direta com a perda de produtividade, al&eacute;m de baixos n&iacute;veis de percep&ccedil;&atilde;o, bem-estar e qualidade de vida entre os pacientes portadores.</p>

				<h4><b>Estudos apontam linha t&ecirc;nue com a depress&atilde;o</b></h4>

				<p>Pacientes portadores da doen&ccedil;a foram submetidos a uma autoavalia&ccedil;&atilde;o no que diz respeito a qualidade de vida, felicidade e bem estar, em uma escala que variava de 1 a 10 em um estudo conduzido pela Universidade da Calif&oacute;rnia &ndash; EUA.&nbsp; A m&eacute;dia obtida na escala foi de 4,8. O mesmo estudo consistiu em analisar pessoas que n&atilde;o possu&iacute;am a doen&ccedil;a com a mesma escala, e o resultado obtido foi de 8,6.</p>

				<p>Esse estudo serviu basicamente para refor&ccedil;ar a ideia de que a fibromialgia est&aacute; intimamente relacionada &agrave; quadros de depress&atilde;o.</p>

				<h4><b>Hospitaliza&ccedil;&otilde;es e visitas m&eacute;dicas mais frequentes</b></h4>

				<p>Planos de sa&uacute;de e hospitais apontam que pacientes com fibromialgia s&atilde;o pacientes com alta probabilidade de interna&ccedil;&otilde;es mais frequentes. Cada paciente diagnosticado com a doen&ccedil;a sofrem em m&eacute;dia uma hospitaliza&ccedil;&atilde;o a cada tr&ecirc;s anos. Por serem mais suscet&iacute;veis, as mulheres possuem uma taxa de hospitaliza&ccedil;&atilde;o maior do que os homens.</p>

				<p>Al&eacute;m das interna&ccedil;&otilde;es, o n&uacute;mero de pacientes que passam por consultas m&eacute;dicas supera o n&uacute;mero de 5 milh&otilde;es em todo o mundo. Isso acontece devido &agrave; grande varia&ccedil;&atilde;o dos sintomas que podem ser de diferentes graus de severidade e com isso debilitar rapidamente todo e qualquer paciente portador da doen&ccedil;a. Por isso visitas regulares ao m&eacute;dico de confian&ccedil;a s&atilde;o importantes.</p>

				<h4><b>Taxas de mortalidade</b></h4>

				<p>Quando se fala em mortalidade, a diferen&ccedil;a entre taxas de &oacute;bitos entre pacientes que apresentam fibromialgia e aqueles que n&atilde;o possuem a doen&ccedil;a s&atilde;o pouco vari&aacute;veis. De acordo com neurologistas especialistas na doen&ccedil;a, os riscos de morte podem aumentar devido &agrave; fatores associados &agrave; presen&ccedil;a da doen&ccedil;a como depress&atilde;o, ou morte devido a ferimentos, uma vez que pacientes com dores extremas tendem a se lesionar na tentativa de al&iacute;vios psicol&oacute;gicos com rela&ccedil;&atilde;o &agrave; dor.</p>

				<p>Por isso que os tratamentos n&atilde;o medicamentosos s&atilde;o de suma import&acirc;ncia para tratamento dessa doen&ccedil;a, o alivio psicol&oacute;gico/psiqui&aacute;trico auxilia no controle do quadro da fibromialgia.</p>

				<p>Al&eacute;m disso, atividades f&iacute;sicas e alimenta&ccedil;&atilde;o adequada s&atilde;o extremamente importantes para todos os pacientes diagnosticados com essa condi&ccedil;&atilde;o.</p>

				<p>Com isso chegamos ao fim do segundo relat&oacute;rio sobre fibromialgia. No terceiro e &uacute;ltimo relat&oacute;rio irei falar como atividades f&iacute;sicas e principalmente o consumo de determinados alimentos podem fazer a diferen&ccedil;a na vida de pessoas que foram diagnosticadas com a doen&ccedil;a.</p>

				<p>Encontro voc&ecirc;s no pr&oacute;ximo relat&oacute;rio da nossa s&eacute;rie sobre fibromialgia. At&eacute; l&aacute;.</p>
		</div>
	</div>
		<!-- fim modulos -->

	</div>
	<foote>
	<div class="row rodape">
	<div class="col s12 center-align"><img class="responsive-img" src="/images/produtos/drrocha_com_voce/imagens/relatorios_img/logo-drrocha.png"></div>
	</div>
		
</foote>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css_drcv_rel %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<!--<link rel="stylesheet" href="/build/css/main.min.css">-->
<link rel="stylesheet" href="/build/css/css_drcv/materialize.min.css">
<link rel="stylesheet" href="/build/css/css_drcv/estilo.css">
<link rel="stylesheet" href="/build/css/css_drcv/relatorios.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.drcv_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/drrocha_com_voce/relatorio.min.js"></script>

<script type="text/javascript" src="/build/js_drrocha/libs/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/bootstrap.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/js.storage.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/progressbar.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/flipclock.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.mask.js"></script>
<script type="text/javascript" src="/build/js_drrocha/libs/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/build/js_drrocha/produtos/drrocha_com_voce/relatorio.js"></script>
{% endif %}
	
	

<body>
</body>
</html>
