<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Bem + Mulher">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

    <title>
        Relatório 2 | Bem + Mulher
    </title>




</head>



<body data-spy="scroll" data-offset="400">


<div class="navbar navbar-default" style="background-color: #ffffff;">
    <div class="navbar-header pull-left">
        <img id="logoproduto" class="img-responsive img-center" src="/images/produtos/{{ keyword }}/logo.png" alt=""/>
        <div class="clearfix"></div>
        <a class="backarrow" href="" onclick="window.history.go(-1); return false;">
            <i class="fa fa-chevron-left"></i> VOLTAR
        </a>
    </div>

    <div class="navbar-header pull-right" style="color: #000000;">
        <p style="text-transform: uppercase; font-size: 20px; line-height: 1.42857143; padding-top: 10px; padding-bottom: 0; margin-right: 25px; margin-bottom: 0; font-weight: bold;">
            <span style="color: #89008d;">Bem +</span> <span class="firstname" style="color: #b3aaf6;"></span>
        </p>
        <p>
            Seja bem-vinda!
        </p>
    </div>
</div>



<section class="white-bg" style="margin-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 margin-b30">
                <h2 class="purple margin-b20">
                    Síndrome do ovário policístico II tipos
                </h2>


                <p>
                    No relatório anterior mostrei para vocês o que era a Síndrome do Ovário Policístico
                    e contei também a história de Andressa, cujo tratamento era errôneo com relação a
                    principal causa da doença.
                </p>

                <p>
                    No presente relatório irei mostrar que diferente do que muita gente pensa e
                    até mesmo acredita existem diferentes tipos dessa síndrome se manifestar.
                    Convido você, cara leitora, a pensar comigo de modo diferente sobre essa típica
                    doença que acomete um grande número de mulheres.
                </p>

                <p>
                    Síndrome do Ovário Policístico – Vários Fatores
                </p>

                <p>
                    Essa síndrome não se trata de apenas um problema, ou seja, não é e nem
                    deve ser considerada uma única doença.
                </p>

                <p>
                    A Síndrome do Ovário Policístico é na verdade uma série de sintomas.
                    O principal dos sintomas é a falta de capacidade do organismo desregulado em
                    ovular de maneira regular. A falha na ovulação é uma consequência direta da
                    deficiência de hormônios como estradiol e também progesterona e da grande
                    presença de testosterona, que resulta em sintomas secundários como oleosidade,
                    acne e surgimento de pelos em lugares que antes não existiam.
                </p>

                <p>
                    Apesar de muitas pessoas acreditarem que esse problema de saúde aja de
                    maneira igual em todas as mulheres, isso não é verdade. Cada caso é único, e
                    cada razão do desenvolvimento desse problema de saúde em mulheres é extremamente particular.
                </p>

                <p>
                    Uma dica que gosto de dar para a maioria de minhas alunas e pacientes,
                    é a seguinte: Não tenha pressa em aceitar um diagnóstico de Síndrome do Ovário Policístico.
                </p>

                <p>
                    O diagnóstico preciso e apropriado requer uma série de exames de sangue que
                    mostre de maneira detalhada uma série de alterações hormonais, como alta taxa de
                    testosterona e níveis baixos de estradiol, prolactina e FSH, por exemplo. Isso
                    sem contar na necessidade de se averiguar os índices de glicemia em jejum,
                    colesterol total e suas frações e o mais importante – avaliar se há algum
                    indício de resistência insulínica.
                </p>

                <p>
                    Jamais, em hipótese alguma, aceite um diagnóstico dado apenas através de exame
                    físico e realização de ultrassonografia. É exatamente por ter uma série de causas
                    (e consequências) que há diferentes tipos da doença, que mostrarei quais são,
                    logo a seguir, nesse relatório.
                </p>

                <p>
                    Diferentes tipos de Síndrome do Ovário Policístico
                </p>

                <p>
                    Conforme citei anteriormente, atualmente existem quatro tipos diferentes dessa
                    síndrome que prejudica a saúde e muitas vezes o bem-estar do público feminino. São eles:
                </p>

                <ul>
                    <li>
                        Síndrome do Ovário Policístico por resistência à insulina;
                    </li>

                    <li>
                        Síndrome do Ovário Policístico por anticoncepcional – ou então pós uso de pílula;
                    </li>

                    <li>
                        Síndrome do Ovário Policístico inflamatória;
                    </li>

                    <li>
                        Síndrome do Ovário Policístico de causa escondida.
                    </li>
                </ul>


                <p>
                    A seguir falarei de modo particular sobre cada um desses tipos da doença.
                </p>


                <p>
                    Síndrome do Ovário Policístico por resistência à insulina
                </p>

                <p>
                    Quem me conhece e acompanha meus textos, artigos e estudos, sabe quanto eu prezo
                    para que o organismo não libere altas doses de insulina na corrente sanguínea. Por
                    isso prego e prezo para que o maior número de alunos pratique uma alimentação
                    inteligente e/ou então estratégica.
                </p>

                <p>
                    A insulina é um hormônio extremamente importante, mas que quando é ativado em
                    excesso, pode ocasionar uma série de consequências.
                </p>

                <p>
                    A Síndrome do Ovário Policístico por resistência à insulina é o tipo mais
                    comum da doença. As altas doses de insulina e leptina impedem a ovulação e estimulam
                    os ovários das mulheres acometidas pela doença a produzirem testosterona.
                </p>

                <p>
                    A resistência à insulina na maioria das vezes é causada pela má alimentação,
                    rica em carboidratos que aumentam o percentual de gordura corporal e pode causar
                    obesidade e uma série de problemas de saúde.
                </p>

                <p>
                    Além disso, tabagismo, alcoolismo, consumo de gorduras trans e sedentarismo
                    podem contribuir para o surgimento da resistência insulínica. Por isso é tão
                    importante realizar exames de glicose em jejum e curvas de insulina.
                </p>

                <p>
                    Síndrome do Ovário Policístico por anticoncepcional – ou então pós uso de pílula
                </p>

                <p>
                    Como muita gente sabe, a pílula suprime a ovulação, ou seja, não permite que o óvulo
                    seja liberado evitando assim uma gravidez indesejada. O uso de pílula anticoncepcional
                    é um dos métodos contraceptivos mais utilizados pelas mulheres nos dias de hoje.
                </p>

                <p>
                    Para a maioria das mulheres que fazem uso desse método, esse efeito é temporário,
                    e geralmente a ovulação vai retornar logo após o fim do uso da pílula anticoncepcional.
                    Porém, para algumas mulheres a supressão, ou seja, a pausa da ovulação pode persistir por
                    meses e até mesmo anos.
                </p>

                <p>
                    Durante esse período, não é incomum que a mulher receba um diagnóstico de
                    Síndrome do Ovário Policístico. Existem especialistas que neguem que a pílula possa
                    ser a causadora desse distúrbio de saúde, mas esse é o segundo tipo de Síndrome do Ovário
                    Policístico mais comum em consultas médicas.
                </p>

                <p>
                    Ao tratar desse assunto com muitos outros médicos a maioria concordou comigo,
                    e reforçou que pesquisas mais aprofundadas na área deveriam ser feitas.
                </p>

                <p>
                    Infelizmente é comum que mulheres que tinham períodos regulares de menstruação
                    e ovulação antes de começar a tomar pílula, apresentem variações hormonais, além
                    de dificuldade em engravidar. A pílula anticoncepcional tem o poder de alterar
                    principalmente os valores do hormônio luteinizante (LH) e prolactina.
                </p>

                <p>
                    Síndrome do Ovário Policístico inflamatória
                </p>

                <p>
                    A inflamação, também chamada na comunidade médica pelo nome de ativação imune
                    crônica é resultado direto do estresse, de toxinas ambientais, permeabilidade
                    intestinal e alimentos inflamatórios, como glúten, carboidratos simples e também caseína A1.
                </p>

                <p>
                    A inflamação é um problema típico que pode causar a Síndrome do Ovário
                    Policístico impedindo a ovulação através da anulação de receptores hormonais,
                    algo que causa uma grande variação de níveis de hormônios em todo o organismo.
                </p>

                <p>
                    Além de poder causar essa síndrome, o processo inflamatório pode causar uma
                    grande série de distúrbios de saúde, como disfunções imunes, processos infecciosos
                    recorrentes, dores de cabeça sem causa aparente, dores articulares e até mesmo erupções na pele.
                </p>

                <p>
                    O processo inflamatório pode ser facilmente observado e diagnosticado através
                    da realização de alguns exames laboratoriais, como deficiência de vitamina D,
                    contagem anormal de células sanguíneas, aumento dos níveis de proteína C reativa,
                    flora intestinal com pouca quantidade de bactérias benéficas, anticorpos tireoidianos
                    aumentados ou diminuídos e também DHEA elevado.
                </p>

                <p>
                    Síndrome do Ovário Policístico de causa escondida
                </p>

                <p>
                    Esse é o tipo da síndrome mais simples de ser resolvido entre todos que
                    apresentei nesse relatório. É um tanto quanto frequente que eu me depare com pacientes
                    que não se enquadrem nos três primeiros tipos da Síndrome que mostrei anteriormente.
                </p>

                <p>
                    Nesse último tipo de Síndrome do Ovário Policístico, normalmente há algo
                    simples que está bloqueando a ovulação da paciente. Normalmente dentro de um
                    período de até no máximo 4 meses esse tipo da doença pode ser facilmente resolvido.
                </p>

                <p>
                    As causas comuns para o desenvolvimento da síndrome do Ovário Policístico
                    de causa escondida são:
                </p>

                <ul>
                    <li>
                        Grande ingestão de soja – um alimento que reduz de maneira automática os níveis
                        de estrogênio e pode bloquear a ovulação em algumas mulheres;
                    </li>

                    <li>
                        Presença de doença tireoidiana não identificada que normalmente prejudica a
                        ovulação devido aos baixos níveis de hormônio T3;
                    </li>

                    <li>
                        Dietas pobres em zinco. Uma vez que a deficiência de zinco é capaz de fazer
                        com que os ovários não funcionem de modo correto;
                    </li>

                    <li>
                        Deficiência de iodo, uma vez que os ovários precisam de iodo para seu bom
                        funcionamento, porém é preciso cautela na ingestão desse mineral, uma vez que
                        elevadas doses também podem causar problemas à saúde;
                    </li>

                    <li>
                        Utilização de adoçantes artificiais por prejudicarem sinalização de hormônios
                        como insulina e leptina podendo resultar em uma desregulação de níveis hormonais;
                    </li>

                    <li>
                        Grande ingestão de carboidrato na dieta, elevando a glicose sanguínea e
                        contribuindo para uma desregulação hormonal no organismo.
                    </li>
                </ul>


                <p>
                    Eu digo para algumas alunas que na maioria dos casos, a Síndrome do Ovário Policístico
                    não é uma condição permanente. Porém, para que a doença seja vencida é necessário antes
                    de tudo um diagnóstico correto, para que o tratamento mais adequado seja aplicado. Somente
                    dessa forma, esse problema de saúde poderá se tornar em um problema do passado.
                </p>

                <p>
                    Nesse relatório mostrei que existem diferentes tipos de Síndrome do Ovário Policístico.
                    No relatório a seguir, mostrarei enfim quais são os tratamentos realmente eficazes para
                    enfim acabar com esse desconfortável problema de saúde.
                </p>






            </div>
        </div>
    </div>
</section>





<footer id="main-footer" class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive img-center margin-b20" src="/images/produtos/{{ keyword }}/logo.png" alt=""/>

                <p class="text-center">
                    Portal Dr. Rocha 2017
                </p>
            </div>
        </div>
    </div>
</footer>




<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<link rel="stylesheet" href="/build/css/main.min.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>



<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.bmm_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/bem_mais_mulher/relatorio.min.js"></script>
{% endif %}



</body>

</html>