<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="keywords" content="">
    <meta name="description" content="Bem + Mulher">
    <meta name="robots" content="noindex, nofollow">

    <link rel="shortcut icon" href="/images/produtos/{{ keyword }}/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/produtos/{{ keyword }}/icons/apple-touch-icon-114x114.png">

    <title>
        Relatório 1 | Bem + Mulher
    </title>




</head>



<body data-spy="scroll" data-offset="400">


<div class="navbar navbar-default" style="background-color: #ffffff;">
    <div class="navbar-header pull-left">
        <img id="logoproduto" class="img-responsive img-center" src="/images/produtos/{{ keyword }}/logo.png" alt=""/>
        <div class="clearfix"></div>
        <a class="backarrow" href="" onclick="window.history.go(-1); return false;">
            <i class="fa fa-chevron-left"></i> VOLTAR
        </a>
    </div>

    <div class="navbar-header pull-right" style="color: #000000;">
        <p style="text-transform: uppercase; font-size: 20px; line-height: 1.42857143; padding-top: 10px; padding-bottom: 0; margin-right: 25px; margin-bottom: 0; font-weight: bold;">
            <span style="color: #89008d;">Bem +</span> <span class="firstname" style="color: #b3aaf6;"></span>
        </p>
        <p>
            Seja bem-vinda!
        </p>
    </div>
</div>



<section class="white-bg" style="margin-top: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 margin-b30">
                <p class="margin-b15">
                    <a class="purple"
                       href="/files/bem_mais_mulher/modulo1/relatorio1.pdf"
                       target="_blank">
                        <i class="fa fa-print"></i> Imprimir Relatório
                    </a>
                </p>

                <h2 class="purple margin-b20">
                    Relatório Síndrome Ovário Policístico I o que é
                </h2>


                <p>
                    Olá, nessa série de relatórios voltados à saúde das mulheres falarei sobre uma
                    doença muito comum e conhecida do público feminino. Estou me referindo
                    à Síndrome do Ovário Policístico.
                </p>

                <p>
                    Nesse primeiro relatório, irei falar de modo aprofundado sobre esse delicado
                    e incômodo problema de saúde que acomete um grande número de mulheres e irei
                    contar a história de uma de minhas pacientes que foram acometidas pela
                    Síndrome do Ovário Policístico.
                </p>

                <p>
                    O que é a Síndrome do Ovário Policístico
                </p>

                <p>
                    A Síndrome do Ovário Policístico é amplamente conhecida na comunidade pela
                    sigla SOP e trata-se um distúrbio endócrino, ou seja, um distúrbio hormonal,
                    que provoca a alteração de uma série de hormônios, que levam à formação de cistos
                    nos ovários, fazendo com que eles aumentem de tamanho.
                </p>

                <p>
                    Essa doença é caracterizada pela menstruação totalmente irregular, que normalmente
                    vem acompanhada pela alta produção de um hormônio caracteristicamente masculino –
                    a testosterona, além é claro da presença de pequenos cistos nos ovários.
                </p>

                <p>
                    As causas desse distúrbio não são totalmente esclarecidas, porém há pesquisas que
                    levantam algumas hipóteses mais prováveis para que as mulheres enfrentem esse tipo de problema.
                </p>

                <p>
                    A hipótese mais aceita é que a doença tenha uma origem genética, alguns estudos
                    mostraram uma ligação entre a doença e a resistência à ação da insulina no
                    organismo – algo que aumenta o hormônio na corrente sanguínea e provocaria um
                    desequilíbrio de uma série de outros hormônios nos organismos das mulheres afetadas pelo problema.
                </p>

                <p>
                    Atualmente, a Síndrome do Ovário Policístico é a alteração hormonal mais comum
                    nas mulheres com idade fértil – atingindo entre 5 a 20% dessas.
                </p>

                <p>
                    Principais sintomas
                </p>


                <p>
                    Existem alguns sintomas clássicos que podem alertar as mulheres que sofrem com
                    a doença, porém a falta crônica da ovulação e/ou então a deficiência dela,
                    é o principal sintoma apresentado pelo público feminino acometido pelo problema.
                </p>

                <p>
                    Além do sintoma clássico que citei, outros sinais podem ajudar a detectar a doença. São eles:
                </p>

                <ul>
                   <li>
                       Atrasos dos períodos menstruais – desde a menarca, ou seja, desde a primeira menstruação;
                   </li>

                    <li>
                        Aumento de pelos em determinadas regiões do corpo como abdome, seios e rostos;
                    </li>

                    <li>
                        Obesidade sem uma causa aparente;
                    </li>

                    <li>
                        Aumento progressivo da oleosidade da pele;
                    </li>

                    <li>
                        Repentino surgimento de acne (espinhas);
                    </li>

                    <li>
                        Dificuldade para engravidar.
                    </li>
                </ul>



                <p>
                    Em casos mais graves, por conter alterações hormonais e até mesmo causar
                    resistência à insulina, a Síndrome do Ovário Policístico pode predispor a
                    paciente ao desenvolvimento do diabetes, de doenças cardiovasculares, infertilidade
                    e até mesmo câncer do endométrio. Por isso é tão importante se atentar aos sintomas e sinais.
                </p>


                <p>
                    Realizando o diagnóstico
                </p>

                <p>
                    Como saber se realmente tenho a Síndrome do Ovário Policístico?". Essa é uma
                    dúvida um tanto quanto comum de um grande número de mulheres que apresentam os
                    sintomas clássicos dos problemas.
                </p>

                <p>
                    Para que um diagnóstico correto da doença seja totalmente confirmado, é necessária
                    a realização de alguns exames. Entre eles posso citar o exame clínico; o ultrassom
                    ginecológico, além é claro da realização de alguns exames laboratoriais.
                </p>


                <p>
                    Através da ultrassonografia da região da pelve, a doença pode ser facilmente
                    notada pelo surgimento de ovários com volumes aumentados e pela grande presença
                    de folículos, ou seja, pequenos cistos, de pequenas dimensões ao mesmo tempo na
                    superfície de cada ovário.
                </p>

                <p>
                    Caso a mulher não seja virgem, normalmente os ginecologistas dão preferência
                    à realização de um ultrassom transvaginal.
                </p>

                <p>
                    É de suma importância ressaltar que esses resultados não se aplicam às mulheres
                    que estejam tomando pílula anticoncepcional. Se houver um folículo dominante,
                    ou então um corpo lúteo, é de suma importância repetir o ultrassom em outro
                    ciclo menstrual, para que o diagnóstico seja feito de modo correto e totalmente adequado.
                </p>

                <p>
                    Outro importante exame laboratorial que tem grande peso para o diagnóstico da
                    doença é a dosagem de testosterona total. Como citei anteriormente, nessa síndrome,
                    os hormônios masculinos tendem a se mostrar mais elevados que o normal.
                </p>

                <p>
                    Além da testosterona, a dosagem de glicemia sérica e a curva de insulina
                    também merecem atenção especial, uma vez que a doença pode ter relação
                    com resistência à insulina.
                </p>

                <p>
                    Mulheres que apresentam apenas sinais da Síndrome do Ovário Policístico
                    no exame de imagem, mas que não tenha nenhuma desordem de ovulação,
                    menstruação, ou então não apresentam aumento dos níveis de hormônios
                    masculinos, não devem ser consideradas como portadoras dessa doença.
                </p>

                <p>
                    Exames auxiliares que podem contribuir para aceleração do diagnóstico
                </p>

               <p>
                   Como já mostrei, a síndrome do Ovário Policístico é uma doença causada pelo
                   desequilíbrio hormonal na mulher. Embora tenha sintomas clássicos algumas vezes
                   ela pode ser totalmente assintomática.
               </p>

                <p>
                    As mulheres geralmente descobrem que são portadoras da síndrome entre
                    os 20 e 30 anos de idade, porém, os primeiros sintomas podem aparecer
                    ainda na adolescência. É muito comum que médicos consigam diagnosticar a
                    Síndrome através das histórias e do exame físico, porém existem diversos exames
                    auxiliares que acelerar para que o diagnóstico da doença seja feito.
                </p>

                <p>
                    Exames de sangue auxiliares auxiliam na verificação de uma série de hormônios
                    femininos, como: Estrogênio; folículo estimulante (FSH); luteinizante; testosterona
                    e também a prolactina.
                </p>

                <p>
                    A síndrome do Ovário policístico pode ainda contribuir para o aumento dos
                    níveis de colesterol total, do colesterol ruim, o LDL oxidado e ainda diminuir
                    os níveis do bom colesterol, o HDL. Por isso, realizar exames de triglicérides,
                    bem como colesterol total e frações, é algo de grande auxilio para os médicos,
                    além de ser benéfico para a saúde da paciente.
                </p>

                <p>
                    O Caso de Andressa
                </p>

                <p>
                    Como médico, estou sempre me deparando com novos desafios em minha profissão.
                    Em mais um dia de trabalho, recebi em meu consultório uma paciente jovem, de 28 anos,
                    casada que possuía o belo desejo de se tornar mãe.
                </p>

                <p>
                    Ela fora diagnosticada anteriormente com a Síndrome do Ovário Policístico,
                    depois que começou a apresentar menstruação irregular e alteração em alguns exames
                    hormonais, principalmente a testosterona e o estrogênio.
                </p>

                <p>
                    Sua principal queixa para mim era de que, mesmo realizando o tratamento indicado
                    a dificuldade para engravidar persistia e ela já não sabia mais o que fazer
                    tampouco como proceder para resolução desse caso.
                </p>

                <p>
                    Dessa forma, fui questionando Andressa sobre algumas possíveis alterações que
                    ela poderia ter reparado em seu corpo, ou então organismo e ela citou que
                    notou algumas diferenças.
                </p>

                <p>
                    Ela me contou que ganhou peso de maneira relativamente estranha, ela notou também
                    um escurecimento da pele em regiões de dobras, principalmente nos braços, atrás da
                    perna, axilas e também atrás do pescoço e se deparou durante o banho com a presença
                    de pequenas protuberâncias na região da axila e do pescoço semelhantes a verrugas,
                    mas que na verdade pareciam um excesso de pele.
                </p>

                <p>
                    Eu observei os sinais mostrados por ela e a questionei se ela havia realizado
                    exames de glicose sanguínea em jejum e também da curva de insulina. Ela me respondeu
                    que não. Fiquei extremamente preocupado, pois esses eram sinais clássicos de
                    resistência à insulina que tendem a agravar a doença.
                </p>

                <p>
                    Orientei Andressa para que fizesse os exames o mais rápido possível e que
                    voltasse assim que tivesse os resultados em mãos, para enfim sabermos se ela
                    tinha ou não resistência insulínica.
                </p>

                <p>
                    Passados alguns dias, voltei a encontrar Andressa e ela trouxe o resultado dos
                    exames que eu havia solicitado anteriormente e o resultado mostrou exatamente o
                    que eu suspeitava: Ela tinha resistência à insulina, pois os exames estavam alterados.
                </p>

                <p>
                    O tratamento para doença não fazia efeito e ela não conseguia engravidar pelo
                    simples fato de estar se tratando visando simplesmente a regulação de hormônios e não da insulina.
                </p>

                <p>
                    Sendo assim, observei as reais necessidades de Andressa, no que dizia respeito
                    a controle de índices de glicose sanguínea, resistência insulínica e alimentação.
                </p>

                <p>
                    Em um curto espaço de tempo sua glicemia em jejum havia se normalizado e
                    a resistência à insulina havia desaparecido. Ou seja, a doença estava controlada.
                    Com o passar do tempo, recebi um e-mail dela, dizendo que enfim, havia engravidado e
                    que estava muito feliz com essa nova fase que se iniciava em sua vida.
                </p>

                <p>
                    Isso só reforça o pensamento de que quando uma doença desse porte é
                    diagnosticada, todos os parâmetros possíveis a serem analisados devem ser
                    levados em consideração. E que a alimentação correta muitas vezes é a
                    solução simples para um problema complexo.
                </p>

                <p>
                    No próximo relatório irei falar mais detalhadamente sobre os diferentes
                    tipos da síndrome e como reconhecer cada tipo através de sinais,
                    sintomas e exames laboratoriais.
                </p>


            </div>
        </div>
    </div>
</section>





<footer id="main-footer" class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive img-center margin-b20" src="/images/produtos/{{ keyword }}/logo.png" alt=""/>

                <p class="text-center">
                    Portal Dr. Rocha 2017
                </p>
            </div>
        </div>
    </div>
</footer>



<!-- CSS files -->
{% if (env == 'development') %}
{% for file in assets.main.css %}
<link rel="stylesheet" href="{{ file }}">
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<link rel="stylesheet" href="/build/css/main.min.css">
{% endif %}

<link href='//fonts.googleapis.com/css?family=Lato:400,300,700,900' rel='stylesheet' type='text/css'>


<!-- JS files -->
{% if (env == 'development') %}
{% for file in assets.main.js %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% for file in assets.main.bmm_relatoriojs %}
<script type="text/javascript" src="{{file}}"></script>
{% endfor %}
{% endif %}

{% if (env == 'production') %}
<script type="text/javascript" src="/build/js/main.min.js"></script>
<script type="text/javascript" src="/build/js/produtos/bem_mais_mulher/relatorio.min.js"></script>
{% endif %}



</body>

</html>